[unit_type]
    id=AE Devling Flappers
    name= _ "Devling Flappers"
    race=AE devling
    ignore_race_traits=yes
    {TRAIT_BEEFY}
    {TRAIT_BRAINY}
    {TRAIT_BRAWNY}
    {TRAIT_FEARLESS}
    image="units/devlings/flappers.png"
    ellipse="misc/ellipse-nozoc"
    #profile=misc/kapoue.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=26
    movement_type=devlingflyer
    movement=8
    experience=36
    level=1
    alignment=chaotic
    advances_to=AE Devling Flyers
    cost=13
    usage=scout
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
Some devilings are of a slightly different breed, and grow wings, and can spit fire."
    {DEFENSE_ANIM "units/devlings/flappers.png" "units/devlings/flappers.png" {SOUND_LIST:ORC_SMALL_HIT} }
    die_sound={SOUND_LIST:ORC_DIE}

    [attack]
        name=glaive
        description= _ "mini-glaive"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
    [attack]
        name=breath
        description= _ "breath"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=5
        number=3
    [/attack]

    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=300
            image="units/devlings/flappers-stand-1.png"
        [/frame]
        [frame]
            duration=300
            image="units/devlings/flappers-stand-2.png"
        [/frame]
        [frame]
            duration=300
            image="units/devlings/flappers-stand-3.png"
        [/frame]
        [frame]
            duration=300
            image="units/devlings/flappers-stand-4.png"
        [/frame]
        [frame]
            duration=300
            image="units/devlings/flappers-stand-3.png"
        [/frame]
        [frame]
            duration=300
            image="units/devlings/flappers-stand-2.png"
        [/frame]
        [frame]
            duration=300
            image="units/devlings/flappers-stand-1.png"
        [/frame]
    [/idle_anim]

    [event]
        name=prerecruit
        first_time_only=no
        [filter]
            [filter_wml]
                [modifications]
                    [trait]
                        id=greedy
                    [/trait]
                [/modifications]
            [/filter_wml]
        [/filter]
        # set upkeep to 1
        {VARIABLE unit.upkeep 1}
        [unstore_unit]
            variable=unit
            find_vacant=no
        [/unstore_unit]
    [/event]
[/unit_type]
