[unit_type]
    id=AE Devling Flyers
    name= _ "Devling Flyers"
    race=AE devling
    {TRAIT_FEARLESS}
    image="units/devlings/flyers.png"
    ellipse="misc/ellipse"
    #profile=misc/kapoue.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=37
    movement_type=devlingflyer
    movement=9
    experience=78
    level=2
    alignment=chaotic
    advances_to=AE Devling Attackers
    cost=27
    usage=scout
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
Devilings are dangerous without wings, and even more dangerous with."
    {DEFENSE_ANIM "units/devlings/flyers.png" "units/devlings/flyers.png" {SOUND_LIST:ORC_SMALL_HIT} }
    die_sound={SOUND_LIST:ORC_DIE}

    [attack]
        name=glaive
        description= _ "mini-glaive"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=breath
        description= _ "breath"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=6
        number=4
    [/attack]
[/unit_type]
