#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_khthon_Ipoten
    name= _ "Ipoten"
    race=AE khthon
    image="units/khthon/ipoten.png"
    small_profile="portraits/nightmare.png~CROP(25,25,330,330)~SCALE(205,205)"
    profile="portraits/nightmare.png"
    hitpoints=48
    movement_type=AE_arc_khthonfoot
    movement=8
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=36
    usage=scout
    undead_variation=saurian
    description= _ "Ipoten maintain their unusual interest in the arcane arts, an observer could mistakenly assign human motives to their behaviour."
    {DEFENSE_ANIM "units/khthon/ipoten.png" "units/khthon/ipoten.png" horse-hit-1.ogg}
    die_sound=horse-die.ogg
    [abilities]
        {ABILITY_REGENERATES}
        #        {ABILITY_NIGHTSTALK}
    [/abilities]
    [resistance]
        pierce=90
        arcane=70
    [/resistance]
    [defense]
        forest=40
        hills=40
        mountains=40
        fungus=40
    [/defense]
    [movement_costs]
        cave=1
        fungus=2
        frozen=1
        mountains=2
        swamp_water=1
        #        deep_water=1
    [/movement_costs]
    [attack]
        name=bite
        description=_"bite"
        icon=attacks/fangs.png
        type=arcane
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=kick
        description= _ "kick"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=18
        number=2
    [/attack]
    {AE_WEAPON_VECTOR 11 1 40}
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        hits=yes
        [frame]
            begin=0
            end=200
            image="units/khthon/ipoten.png"
            sound=horse-canter.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        hits=no
        [frame]
            begin=0
            end=200
            image="units/khthon/ipoten.png"
            sound=horse-canter.wav
        [/frame]
    [/attack_anim]
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/khthon/ipoten.png"
        [/frame]
    [/movement_anim]
[/unit_type]
