#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_khthon_Nightmare
    name= _ "Nightmare"
    race=AE khthon
    image="units/khthon/nightmare.png"
    profile="portraits/nightmare.png"
    hitpoints=36
    movement_type=AE_arc_khthonfoot
    movement=9
    experience=54
    level=2
    alignment=neutral
    advances_to=AE_arc_khthon_Ipoten
    cost=28
    usage=scout
    undead_variation=saurian
    description= _ "Contrary to what one might expect of a plague, Khthon do have individual personalities and some are more otherworldly than others.  While they do not use the written records and philters of Necromancy, the knowledge seekers are drawn to the mysteries of the phantoms and spirits, and have mastered some of the undead fighting techniques."
    {DEFENSE_ANIM "units/khthon/nightmare.png" "units/khthon/nightmare.png" horse-hit-1.ogg}
    die_sound=horse-die.ogg
    [abilities]
        {AE_ARCHAIC_ABILITY_SELFHEAL}
        {ABILITY_NIGHTSTALK}
    [/abilities]
    [resistance]
        pierce=100
        arcane=70
    [/resistance]
    [defense]
        forest=40
        hills=40
        mountains=40
        fungus=40
    [/defense]
    [movement_costs]
        cave=1
        fungus=2
        frozen=1
        mountains=2
        swamp_water=1
    [/movement_costs]
    [attack]
        name=bite
        description= _ "Bite"
        icon=attacks/fangs.png
        type=arcane
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=kick
        description= _ "Kick"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=12
        number=2
    [/attack]
    {AE_WEAPON_VECTOR 9 1 35}
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        hits=yes
        [frame]
            begin=0
            end=200
            image="units/khthon/nightmare.png"
            sound=horse-canter.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        hits=no
        [frame]
            begin=0
            end=200
            image="units/khthon/nightmare.png"
            sound=horse-canter.wav
        [/frame]
    [/attack_anim]
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/khthon/nightmare.png"
        [/frame]
    [/movement_anim]
    
[/unit_type]
