#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Ophis
    name= _ "Ophis"
    race=AE khthon
    image="units/khthon/ophis.png"
    #	profile=portraits/orthrus.png
    hitpoints=63
    movement_type=khthontail
    movement=6
    experience=64
    level=2
    alignment=chaotic
    advances_to=AE Ophis_Magnum
    cost=28
    usage=scout
    description= _ "The Khthon spirit has begun to transform its bovine victim. The hindquarters become more snake-like, and the coil increases the strike range. The combination of hoofs amd serpent tail also allows it to quickly weave through almost any terrain."
    die_sound=drake-die.ogg
    [resistance]
        impact=70
        pierce=90
        cold=80
        blade=80
    [/resistance]
    [abilities]
        {AE_ARCHAIC_ABILITY_SELFHEAL}
    [/abilities]
    [attack]
        name=horns
        description= _ "Horns"
        type=pierce
        range=melee
        damage=14
        number=2
        icon=attacks/blank-attack.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    {AE_WEAPON_VECTOR 16 1 25}
    [defend]
        offset=0.0~-0.05:126,-0.05~0.0:126
        start_time=-126
        [frame]
            duration=1
            image=units/khthon/ophis.png
        [/frame]
        [frame]
            duration=100
            image=units/khthon/ophis.png
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image=units/khthon/ophis.png
                sounds={SOUND_LIST:DRAKE_HIT}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image=units/khthon/ophis.png
            [/frame]
        [/else]
        [frame]
            duration=1
            image=units/khthon/ophis.png
        [/frame]
    [/defend]

    [attack_anim]
        [filter_attack]
            name=horns
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/khthon/ophis.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                image="units/khthon/ophis.png"
                sound=club.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                image="units/khthon/ophis.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
            image="units/khthon/ophis.png"
        [/frame]
    [/attack_anim]
    
[/unit_type]
