#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_khthon_Pegusa
    name= _ "Pegusa"
    race=AE khthon
    image="units/khthon/pegusa.png"
    #	profile=portraits/orthrus.png
    hitpoints=35
    movement_type=AE_arc_khthonfoot
    movement=10
    experience=60
    level=2
    alignment=chaotic
    advances_to=AE_arc_khthon_Hypergusa
    cost=28
    usage=scout
    description= _ "The Khthon spirit has begun to transform its equine victim.  Salivary glands can now produce a spittle that is thick and adhesive, which can cause quite a distraction for any target."
    die_sound=drake-die.ogg
    [abilities]
        {AE_ARCHAIC_ABILITY_SELFHEAL}
    [/abilities]
    [movement_costs]
        mountains=2
        swamp_water=1
    [/movement_costs]
    [defense]
        hills=40
        mountains=40
    [/defense]
    [attack]
        name=kick
        description= _ "Kick"
        type=impact
        range=melee
        damage=10
        number=2
        icon=attacks/blank-attack.png
    [/attack]
    [attack]
        name=spit
        description= _ "Spit"
        type=impact
        range=ranged
        damage=6
        number=2
        icon=attacks/waterspray.png
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    {AE_WEAPON_VECTOR 16 1 25}
    [defend]
        offset=0.0~-0.05:126,-0.05~0.0:126
        start_time=-126
        [frame]
            duration=1
            image=units/khthon/pegusa.png
        [/frame]
        [frame]
            duration=100
            image=units/khthon/pegusa.png
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image=units/khthon/pegusa.png
                sounds={SOUND_LIST:DRAKE_HIT}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image=units/khthon/pegusa.png
            [/frame]
        [/else]
        [frame]
            duration=1
            image=units/khthon/pegusa.png
        [/frame]
    [/defend]

    [attack_anim]
        [filter_attack]
            name=kick
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/khthon/pegusa.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                image="units/khthon/pegusa.png"
                sound="horse-canter.wav"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                image="units/khthon/pegusa.png"
                sound="horse-canter.wav"
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
            image="units/khthon/pegusa.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=spit
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/water-spray.png"
            image_diagonal="projectiles/water-spray.png"
        [/missile_frame]
        [frame]
            begin=-200
            end=-100
            image="units/khthon/pegusa.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                image="units/khthon/pegusa.png"
                sound="hiss-big.wav"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                image="units/khthon/pegusa.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
            image="units/khthon/pegusa.png"
        [/frame]
    [/attack_anim]
    
[/unit_type]
