#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Clockwork Contraption
    name= _ "Contraption"
    experience=22
    advances_to=AE Clockwork Golem
    hitpoints=21
    movement=7
    race=mechanical
    image="units/mechanical-clockwork/contraption.png"
    ellipse="misc/ellipse-nozoc"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=0
    alignment=neutral
    movement_type=clockworkrobot
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    cost=12
    usage=scout
    description= _ "This unit is from Feudal Era. It's coding and art were done by Turin and Various others.
 
These strange creatures are the primary inhabitants of the cities of the clockwork dwarves; they outnumber the dwarves themselves. Close inspection has revealed startling truths about these strange creatures: they have not flesh and blood but gears and springs. On the field of battle, they are employed by the dwarves as scouts, and their mechanical legs carry them quickly and nimbly across almost any terrain."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}
    [attack]
        name=slam
        description= _ "slam"
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=slam
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]
[/unit_type]
