#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Entertainer
    name= _ "female^Entertainer"
    race=AE Slavers
    gender=female
    image="units/slavers/entertainer.png"
    ellipse="misc/ellipse-nozoc"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=15
    movement_type=healfoot
    movement=6
    experience=20
    level=0
    alignment=chaotic
    advances_to=AE Slaver Dancer,AE Slaver Harlot
    cost=10
    usage=healer
    description= _ "Slavers often find that female slaves are unable to perform hard labor as well as the more physically attuned males. In this they generally prefer to use them as a morale boost, keeping the slaves in better health and happier."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARM}+{SPECIAL_NOTES_HEALS}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [attack]
        name=kiss
        description= _ "kiss"
        icon=attacks/curse.png
        type=impact
        damage=3
        number=1
        range=melee
    [/attack]
    [attack]
        name=woo
        description= _ "woo"
        icon=attacks/curse.png
        type=cold
        range=ranged
        damage=3
        number=4
    [/attack]
    {DEFENSE_ANIM "units/slavers/entertainer.png" "units/slavers/entertainer.png" {SOUND_LIST:ELF_FEMALE_HIT} }
[/unit_type]
