#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Courtesan
    name= _ "female^Courtesan"
    race=AE Slavers
    gender=female
    image="units/slavers/courtesan.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=52
    movement_type=healfoot
    movement=6
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=40
    usage=healer
    description= _ "Courtesans are what most wesnothian men dream about. Literally. "+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARM}+{SPECIAL_NOTES_DISTRACT}+{SPECIAL_NOTES_SKIRMISHER}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_DISTRACT}
        {ABILITY_HEALS}
        {ABILITY_CHARM}
    [/abilities]
    [attack]
        name=kiss
        description= _ "kiss"
        icon=attacks/curse.png
        type=impact
        damage=3
        number=4
        range=melee
    [/attack]
    [attack]
        name=woo
        description= _ "woo"
        icon=attacks/curse.png
        type=cold
        range=ranged
        damage=5
        number=5

    [/attack]
    {DEFENSE_ANIM "units/slavers/courtesan.png" "units/slavers/courtesan.png" {SOUND_LIST:ELF_FEMALE_HIT} }
[/unit_type]
