#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Subjugater
    name= _ "Subjugator"
    race=AE Slavers
    image="units/slavers/subjugator.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=subjfoot
    movement=4
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=30
    usage=fighter
    description= _ "Subjugators are feared throughout most societies, because of the crack of his whip breaks not only freedom, but hope."
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/slavers/subjugator.png" "units/slavers/subjugator.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=whip
        description= _ "whip"
        icon=attacks/whip.png
        type=impact
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Slaver Slave)}
            {WEAPON_SPECIAL_DREAD}
        [/specials]
    [/attack]
    [attack]
        name=whip
        description= _ "whip"
        icon=attacks/whip.png
        type=blade
        range=melee
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_DREAD}
        [/specials]
    [/attack]
    [attack]
        name=net
        description= _ "net"
        icon=attacks/net.png
        type=impact
        range=ranged
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Slaver Slave)}
        [/specials]
    [/attack]
[/unit_type]
