#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Tracker
    name= _ "Tracker"
    race=AE Slavers
    image="units/slavers/tracker.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=30
    movement_type=trackfoot
    movement=6
    experience=42
    level=1
    alignment=chaotic
    advances_to=AE Slaver Trailer,AE Slaver Gatherer
    cost=20
    usage=archer
    description= _ "Without someone watching over the slaves, they would easily get away or slack off when working. In this way, Slaveholders are an important part of every slave camp because they keep it organized, and add more slaves to its ranks."
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/slavers/tracker.png" "units/slavers/tracker.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=fist
        description= _ "fist"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=2
        number=2
    [/attack]
    [attack]
        name=net
        description= _ "net"
        icon=attacks/net.png
        type=impact
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Slaver Slave)}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/net.png
        type=pierce
        range=ranged
        damage=6
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
