#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Gatherer
    name= _ "Gatherer"
    race=AE Slavers
    image="units/slavers/gatherer.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=45
    movement_type=trackfoot
    movement=7
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=32
    usage=archer
    description= _ "Without someone watching over the slaves, they would easily get away or slack off when working. In this way, Slaveholders are an important part of every slave camp because they keep it organized, and add more slaves to its ranks."
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/slavers/gatherer.png" "units/slavers/gatherer.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=fist
        description= _ "fist"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=4
        number=3
    [/attack]
    [attack]
        name=net
        description= _ "net"
        icon=attacks/net.png
        type=impact
        range=ranged
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Slaver Slave)}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
[/unit_type]
