#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Stalker
    name= _ "Stalker"
    race=AE Slavers
    image="units/slavers/stalker.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=54
    movement_type=trackfoot
    movement=7
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=12
    usage=archer
    description= _ "Without someone watching over the slaves, they would easily get away or slack off when working. In this way, Slaveholders are an important part of every slave camp because they keep it organized, and add more slaves to its ranks."
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/slavers/stalker.png" "units/slavers/stalker.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=dagger
        description= _ "dagger"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=net
        description= _ "net"
        icon=attacks/net.png
        type=impact
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Slaver Slave)}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=10
        number=4
    [/attack]
[/unit_type]
