#textdomain wesnoth-units

[unit_type]
    id=AE Slaver Shouldermount
    name= _ "Shouldermount"
    race=monster
    image="units/slavers/elderhawk.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=42
    movement_type=birdfoot
    movement=9
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=34
    undead_variation=drake
    usage=scout
    description= _ ""
    get_hit_sound={SOUND_LIST:GRYPHON_HIT}
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=beak
        description= _ "beak"
        icon=attacks/beak.png
        type=pierce
        range=melee
        damage=12
        number=2
    [/attack]
[/unit_type]
