#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Retriever
    name= _ "Retriever"
    race=monster
    image="units/slavers/retriever.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=40
    movement_type=retrievefoot
    movement=8
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=mounted
    cost=35
    usage=scout
    description= _ "Some mutts are taught not to kill, but to clamp down on the leg or arm of prey, so to stop them to capture them easily."
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    die_sound=wolf-die.wav
    {DEFENSE_ANIM "units/slavers/retriever.png" "units/slavers/retriever.png" wolf-hit.wav }
    [attack]
        name=fangs
        description= _ "fangs"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=Lockjaw
        description= _ "Lockjaw"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=10
        number=2
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Slaver Slave)}
        [/specials]
    [/attack]
[/unit_type]
