#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Provoker
    name= _ "Provoker"
    race=AE Slavers
    image="units/slavers/provoker.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=54
    movement_type=holdfoot
    movement=5
    experience=69
    level=2
    alignment=chaotic
    advances_to=AE Slaver Abuser
    cost=24
    usage=fighter
    description= _ "Provokers carry large sharp sticks, easily able to break the skin of a slave on contact, they aren't very careful with them either. Noones ever seen a provokers face and lived."
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/slavers/provoker.png" "units/slavers/provoker.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=9
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
