#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Dwarvish Runemaster
    name= _ "Dwarvish Runemaster"
    race=dwarf
    image=units/dwarves/runemaster2.png
    profile="portraits/runemaster.png"
    hitpoints=57
    movement_type=dwarvishfoot
    [resistance]
        blade=50
        pierce=60
        impact=60
    [/resistance]
    movement=4
    level=3
    alignment=neutral
    cost=50
    usage=fighter
    experience=220
    advances_to=AE Dwarvish Arcanister
    {MAGENTA_IS_THE_TEAM_COLOR}
    undead_variation=dwarf
    description= _ "This unit is from Extended Era. It's coding and art were done by the Various people who created Extended Era.
 
Except for those with almost supernatural skill, the highest rank a runecrafter can rise to is that of the Dwarvish Runemaster. Striking blows nearly as powerful as those of the best warriors, they would be fearsome without their craft, but with it they are also nigh on invincible, since their runes cause the physical blows of their enemies to deal less damage than would be expected."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/runemaster2-defend.png" "units/dwarves/runemaster2.png" {SOUND_LIST:DWARF_HIT} }

    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/transparent/runemaster.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/transparent/runemaster.png"
    [/portrait]

    [attack]
        name=hammer
        description= _ "hammer"
        icon=attacks/runic-hammer.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=21
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image=units/dwarves/runemaster2-attack1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image=units/dwarves/runemaster2-attack2.png
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image=units/dwarves/runemaster2-attack2.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
