[unit_type]
    id=AE_mag_Tharis_Dark_Warrior
    name= _ "Dark Warrior"
    race=AE_mag_Tharis_race
    image="units/warlocks/darkwarrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=32
    movement_type=AE_mag_Tharis_defoot
    movement=6
    experience=48
    level=1
    alignment=chaotic
    advances_to=AE_mag_Tharis_Commander,AE_mag_Tharis_Dark_Slayer
    cost=15
    usage=fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
."
    # NOTICE +{SPECIAL_NOTES_NOCOUNTERATTACK}
    die_sound={SOUND_LIST:ELF_HIT}
    #{DEFENSE_ANIM "units/warlocks/darkwarrior-attack2.png" "units/warlocks/darkwarrior-attack1.png" {SOUND_LIST:ELF_HIT} }
    [abilities]
        #{ABILITY_SKIRMISHER}
    [/abilities]
    [resistance]
        fire=90
        arcane=90
    [/resistance]
    [defense]
        village=40
    [/defense]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=-125
            image="units/warlocks/darkwarrior.png"
        [/frame]
        [frame]
            begin=-125
            end=0
            image="units/warlocks/darkwarrior-move-s1.png"
            offset=0.0~-0.5
        [/frame]
        [frame]
            begin=0
            end=125
            image="units/warlocks/darkwarrior-move-s2.png"
            offset=-0.5~0.0
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/warlocks/darkwarrior.png"
        [/frame]
    [/defend]
    [defend]
        hits=hit
        [frame]
            begin=-126
            end=-125
            image="units/warlocks/darkwarrior.png"
        [/frame]
        [frame]
            begin=-125
            end=0
            image="units/warlocks/darkwarrior-move-s1.png"
            offset=0.0~-0.2
        [/frame]
        [frame]
            begin=0
            end=125
            image="units/warlocks/darkwarrior-move-s2.png"
            offset=-0.2~0.0
            sound={SOUND_LIST:ELF_HIT}
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/warlocks/darkwarrior.png"
        [/frame]
    [/defend]
    [movement_anim]
        direction=n,nw,ne
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-9.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-move-n.png"
        [/frame]
    [/movement_anim]
    [movement_anim]
        direction=s,sw,se
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-move-s1.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-move-s2.png"
        [/frame]
    [/movement_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-1.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-2.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-3.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-4.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-5.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-6.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-7.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-8.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-9.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-10.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-11.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-12.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-13.png"
        [/frame]
        [frame]
            duration=75
            image="units/warlocks/darkwarrior-attack-1.png"
        [/frame]
    [/idle_anim]
    [attack]
        name=daggers
        description= _ "daggers"
        icon=attacks/dagger-orcish.png
        type=blade
        range=melee
        damage=4
        number=4
        [specials]
            {WEAPON_SPECIAL_AE_NOCOUNTERATTACK}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=daggers
        [/filter_attack]
        hits=yes
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-1.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-2.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-3.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-4.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-5.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-6.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-7.png"
            sound=dagger-swish.wav
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-8.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-9.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-10.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-11.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-12.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-13.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-1.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-1.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-2.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-3.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-4.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-5.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-6.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-7.png"
            sound=dagger-swish.wav
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-8.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-9.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-10.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-11.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-12.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-13.png"
        [/frame]
        [frame]
            duration=25
            image="units/warlocks/darkwarrior-attack-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=daggers
        [/filter_attack]
        hits=no
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-1.png"
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-2.png"
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-3.png"
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-4.png"
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-5.png"
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-6.png"
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-7.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-8.png"
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-9.png"
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-10.png"
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-11.png"
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-12.png"
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-13.png"
        [/frame]
        [frame]
            duration=50
            image="units/warlocks/darkwarrior-attack-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=daggers
        [/filter_attack]
        hits=kill
        direction=ne,nw
        start_time=-225
        [frame]
            offset=0.0~0.3
            duration=75
            image="units/warlocks/darkwarrior-attack-1.png"
        [/frame]
        [frame]
            offset=0.3~0.5
            duration=75
            image="units/warlocks/darkwarrior-attack-2.png"
        [/frame]
        [frame]
            offset=0.5~0.8
            duration=75
            image="units/warlocks/darkwarrior-attack-3.png"
        [/frame]
        [frame]
            offset=0.8
            duration=400
            image="units/warlocks/darkwarrior-kill-ne1.png"
        [/frame]
        [frame]
            offset=0.8
            duration=100
            image="units/warlocks/darkwarrior-kill-ne2.png"
            sound=dagger-swish.wav
        [/frame]
        [frame]
            offset=0.8
            duration=300
            image="units/warlocks/darkwarrior-kill-ne3.png"
        [/frame]
        [frame]
            offset=0.8
            duration=100
            image="units/warlocks/darkwarrior-kill-ne1.png"
        [/frame]
        [frame]
            offset=0.8~0.5
            duration=75
            image="units/warlocks/darkwarrior-attack-3.png"
        [/frame]
        [frame]
            offset=0.5~0.3
            duration=75
            image="units/warlocks/darkwarrior-attack-2.png"
        [/frame]
        [frame]
            offset=0.3~0.0
            duration=75
            image="units/warlocks/darkwarrior-attack-1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
