#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Courier
    name= _ "female^Courier"
    race=AE Windsong
    gender=female
    image="units/windsong/courier.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {DEFENSE_ANIM "units/windsong/courier.png" "units/windsong/courier.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    hitpoints=34
    movement_type=windsongcourier
    movement=8
    experience=44
    level=1
    alignment=neutral
    advances_to=AE Reaver,AE Emissary
    cost=17
    usage=scout
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
Unlike most other peoples, the Windsong possess neither domesticated beasts of burden or mechanical transports. The former due to the icy conditions of their homeland, and the latter due to their distaste for machines. Instead, some girls devote themselves to learning the levitation ciphers. There are many benefits to this, rough terrain poses little impediment, as does ice and water, and delicate loads can be carried quickly. Their devotion to levitation denies them access to the more directly dangerous ciphers, so they carry a bow and hit their opponents with small rocks if they come too close. Their skill at manipulating gravity makes their arrows uncannily accurate."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [attack]
        name=crush
        description= _ "crush"
        icon=attacks/glaive.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=3
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/windsong/courier.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-200
            end=0
            image="units/windsong/courier.png"
        [/frame]
    [/attack_anim]
[/unit_type]
