#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Emissary
    name= _ "female^Emissary"
    race=AE Windsong
    gender=female
    image="units/windsong/emissary.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {DEFENSE_ANIM "units/windsong/emissary.png" "units/windsong/emissary.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    hitpoints=42
    movement_type=windsongcourier
    movement=10
    experience=150
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=34
    usage=scout
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
Those Couriers who show themselves to be intelligent and reliable are elevated to the position of Emissary. They are entrusted with transporting documents, precious artefacts and sometimes even Windsong council members. Freed from the physical and mental burden of maintaining large loads, an Emissary is much more agile. This allows her to wield a sword which she uses to slash at enemies in a flurry of charges. Such tactics are dangerous, so Emissaries prefer to use their original weapons if possible."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [attack]
        name=crush
        description= _ "crush"
        icon=attacks/glaive.png
        type=impact
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        damage=5
        number=4
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/windsong/emissary.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/windsong/emissary.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-200
            end=0
            image="units/windsong/emissary.png"
        [/frame]
    [/attack_anim]
[/unit_type]
