#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Reaver
    name= _ "female^Reaver"
    race=AE Windsong
    gender=female
    image="units/windsong/reaver.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {DEFENSE_ANIM "units/windsong/reaver.png" "units/windsong/reaver.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    hitpoints=48
    movement_type=windsongcourier
    movement=6
    experience=90
    level=2
    alignment=neutral
    advances_to=AE Dreadnought
    cost=34
    usage=mixed fighter
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
While Couriers in peacetime are rarely of a martial bent, war brings out hidden abilities in everyone, and some have recently chosen to bring back a covenant long lost: the order of the Reavers. Used for the heaviest assaults and sieges in ancient wars, they exchange their lightweight stones for great iron blades, crushing any who stand in the path of the Windsong."+{SPECIAL_NOTES}+{SPECIAL_NOTES_DAUNTLESS}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [abilities]
        {ABILITY_DAUNTLESS}
    [/abilities]
    [attack]
        name=crush
        description= _ "crush"
        icon=attacks/glaive.png
        type=impact
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=5
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=crush
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/windsong/reaver.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            begin=-200
            end=0
            image="units/windsong/reaver.png"
        [/frame]
    [/attack_anim]
[/unit_type]
