#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Arbiter
    name= _ "female^Arbiter"
    race=AE Windsong
    gender=female
    image="units/windsong/arbiter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {DEFENSE_ANIM "units/windsong/arbiter.png" "units/windsong/arbiter.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    hitpoints=51
    movement_type=AE smallfoot
    [resistance]
        arcane=80
        fire=90
        cold=90
    [/resistance]
    movement=5
    experience=130
    level=3
    alignment=neutral
    advances_to=AE Librarian
    cost=60
    usage=archer
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
..."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SLOW}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [attack]
        name=scythe
        description= _ "scythe"
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=scythe
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/windsong/arbiter.png"
        [/frame]
    [/attack_anim]
    [attack]
        name=cipher
        description= _ "cipher"
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=9
        number=4
    [/attack]
    {WS_SCRIBE_RUNES arbiter cipher cipher3 35}
[/unit_type]
