#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Slave
    name= _ "Slave"
    race=AE Slavers
    gender=male
    image="units/slavers/slave.png"
    ellipse="misc/ellipse-nozoc"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=20
    movement_type=slavefoot
    movement=4
    experience=22
    level=0
    alignment=neutral
    advances_to=AE Slaver Serf,AE Slaver Worker
    cost=8
    usage=fighter
    description= _ "In slave encampments, there are often thousands of people, who do all the work, and also fight to protect the encampment. They get no pay, merely the knowledge that they are alive, and the hope for a better future if they work well. While they could run away, they much more fear death than they fear life as a slave. The crack of a whip is enough to move them to whatever their master wills."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/slavers/slave.png" "units/slavers/slave.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=sickle
        description= _ "sickle"
        type=blade
        range=melee
        damage=4
        number=3
        icon=attacks/sickle.png
    [/attack]
[/unit_type]
