#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Dancer
    name= _ "female^Dancer"
    race=AE Slavers
    gender=female
    image="units/slavers/dancer.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=28
    movement_type=healfoot
    movement=6
    experience=37
    level=1
    alignment=chaotic
    advances_to=AE Slaver Entrancer
    cost=20
    usage=healer
    description= _ "Dancers are agile and petite, but while still in slavery they are not forced to entertain slaves, although they often do go after such endevours because of growing up on it." +{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARM}+{SPECIAL_NOTES_HEALS}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_1}
        {ABILITY_CURES}
        {ABILITY_CHARM}
    [/abilities]
    [attack]
        name=kiss
        description= _ "kiss"
        icon=attacks/curse.png
        type=impact
        damage=3
        number=2
        range=melee
    [/attack]
    [attack]
        name=woo
        description= _ "woo"
        icon=attacks/curse.png
        type=cold
        range=ranged
        damage=3
        number=4
        [specials]
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/slavers/dancer.png" "units/slavers/dancer.png" {SOUND_LIST:ELF_FEMALE_HIT} }
[/unit_type]
