#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Harlot
    name= _ "female^Harlot"
    race=AE Slavers
    gender=female
    image="units/slavers/harlot.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=30
    movement_type=healfoot
    movement=6
    experience=40
    level=1
    alignment=chaotic
    advances_to=AE Slaver Courtesan
    cost=10
    usage=healer
    description= _ "Many entertainers girlish wiles are easily able to not only keep slaves happy, but distract enemies as well."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARM}+{SPECIAL_NOTES_DISTRACT}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [abilities]
        {ABILITY_DISTRACT}
        {ABILITY_HEALS}
        {ABILITY_CHARM}
    [/abilities]
    [attack]
        name=kiss
        description= _ "kiss"
        icon=attacks/curse.png
        type=impact
        damage=3
        number=3
        range=melee
    [/attack]
    [attack]
        name=woo
        description= _ "woo"
        icon=attacks/curse.png
        type=cold
        range=ranged
        damage=3
        number=5
    [/attack]
    {DEFENSE_ANIM "units/slavers/harlot.png" "units/slavers/harlot.png" {SOUND_LIST:ELF_FEMALE_HIT} }
[/unit_type]
