#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Entrancer
    name= _ "female^Entrancer"
    race=AE Slavers
    gender=female
    image="units/slavers/entrancer.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=42
    movement_type=entrancefoot
    movement=7
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=40
    usage=healer
    description= _ "Entrancers mere prescense on a battlefield is enough to even make slavers fight harder for her attention." +{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARM}+{SPECIAL_NOTES_HEALS}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
        {ABILITY_CURES}
        {ABILITY_CHARM}
    [/abilities]
    {DEFENSE_ANIM "units/slavers/entrancer.png" "units/slavers/entrancer.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [attack]
        name=kiss
        description= _ "kiss"
        icon=attacks/curse.png
        type=impact
        damage=3
        number=3
        range=melee
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=woo
        description= _ "woo"
        icon=attacks/curse.png
        type=cold
        damage=4
        number=5
        range=ranged
    [/attack]
[/unit_type]
