#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Slaveholder
    name= _ "Slaveholder"
    race=AE Slavers
    image="units/slavers/slaveholder.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=38
    movement_type=holdfoot
    movement=5
    experience=49
    level=1
    alignment=chaotic
    advances_to=AE Slaver Overseer,AE Slaver Subjugater,AE Slaver Punisher
    cost=18
    usage=fighter
    description= _ "Without someone watching over the slaves, they would easily get away or slack off when working. In this way, Slaveholders are an important part of every slave camp because they keep it organized, and add more slaves to its ranks."
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/slavers/slaveholder.png" "units/slavers/slaveholder.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=whip
        description= _ "whip"
        icon=attacks/whip.png
        type=impact
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Slaver Slave)}
        [/specials]
    [/attack]
    [attack]
        name=whip
        description= _ "whip"
        icon=attacks/whip.png
        type=blade
        range=melee
        damage=10
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
