#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Punisher
    name= _ "Punisher"
    race=AE Slavers
    image="units/slavers/punisher.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=52
    movement_type=punishfoot
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=30
    usage=fighter
    description= _ "Those Slaveholders who are beyond cruel and merciless and are just plain evil are called punishers for the cruel and sometimes disturbing things they do to slaves. Armed with whips, torches, and who knows what else, they're a mighty frightful sight."+{SPECIAL_NOTES}+{SPECIAL_NOTES_TERROR}
    [abilities]
        {ABILITY_TERROR_LEVEL_2}
    [/abilities]
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/slavers/punisher.png" "units/slavers/punisher.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=whip
        description= _ "whip"
        icon=attacks/whip.png
        type=impact
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Slaver Slave)}
        [/specials]
    [/attack]
    [attack]
        name=whip
        description= _ "whip"
        icon=attacks/whip.png
        type=blade
        range=melee
        damage=17
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=whip
        description= _ "torch"
        icon=attacks/torch.png
        type=fire
        range=melee
        damage=10
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
