#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Master
    name= _ "Slavemaster"
    race=AE Slavers
    image="units/slavers/slavemaster.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=76
    movement_type=holdfoot
    movement=6
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=12
    usage=fighter
    description= _ "You aren't reading this description, because if I actually explained the biography of this unit, you would have nightmares."
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/slavers/slavemaster.png" "units/slavers/slavemaster.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=whip
        description= _ "whip"
        icon=attacks/whip.png
        type=impact
        range=melee
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Slaver Slave)}
        [/specials]
    [/attack]
    [attack]
        name=whip
        description= _ "whip"
        icon=attacks/whip.png
        type=blade
        range=melee
        damage=16
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
