#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Elder Hawk
    name= _ "Elder Hawk"
    race=falcon
    image="units/slavers/elderhawk.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=30
    movement_type=birdfoot
    movement=9
    experience=38
    level=1
    alignment=neutral
    advances_to=AE Slaver Shouldermount
    cost=10
    undead_variation=drake
    usage=scout
    description= _ ""
    get_hit_sound={SOUND_LIST:GRYPHON_HIT}
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=beak
        description= _ "beak"
        icon=attacks/beak.png
        type=pierce
        range=melee
        damage=8
        number=2
    [/attack]
[/unit_type]
