#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slaver Abuser
    name= _ "Abuser"
    race=AE Slavers
    image="units/slavers/abuser.png"
    ellipse="misc/ellipse"
    profile="portraits/orcs/transparent/grunt-3.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=69
    movement_type=holdfoot
    movement=5
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=13
    usage=fighter
    description= _ "Abusers are merciless slaverunners who want nothing but the best from their kidnappees. They've had their face covered so long, some slaves say that the abusers face has grown pale and dead looking"
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "units/slavers/abuser.png" "units/slavers/abuser.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=11
        number=4
        [specials]
        [/specials]
    [/attack]
[/unit_type]
