#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Vampire Bat
    [base_unit]
        id=Vampire Bat
    [/base_unit]
    [defense]
        village=40
    [/defense]
    [resistance]
        cold=70
    [/resistance]
    {TRAIT_VAMPIRE}
    hide_help=yes
    undead_variation=null
    advances_to=AE Blood Bat
[/unit_type]
