#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Tribe Boomerang Thrower
    name= _ "Boomerang Thrower"
    race=AE Tribalist
    gender=male
    image="units/tribe/boomerangthrower.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=30
    movement_type=tribefoot2
    movement=6
    experience=42
    level=1
    alignment=neutral
    advances_to=AE Tribe Ranger
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=17
    usage=archer
    description= _ "
"

    [resistance]
        blade=110
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=boomerang
        description= _ "Boomerang"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]

    [attack]
        name=boomerang
        description= _ "Boomerang"
        icon=attacks/blank-attack.png
        type=impact
        range=ranged
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_SPINNING}
        [/specials]
    [/attack]

[/unit_type]
