#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Tribe Native
    name= _ "Native"
    race=AE Tribalist
    gender=male
    image="units/tribe/native.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=54
    movement_type=tribefoot
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=16
    usage=archer
    description= _ "
"

    [resistance]
        blade=110
    [/resistance]

    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description= _ "Fist"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=5
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bow
        description= _ "Bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=7
        number=7
        [specials]
        [/specials]
    [/attack]
[/unit_type]
