#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Tribe Dartsman
    name= _ "Dartsman"
    race=AE Tribalist
    gender=male
    image="units/tribe/dartsman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=30
    movement_type=tribefoot
    movement=5
    experience=44
    level=1
    alignment=neutral
    advances_to=AE Tribe Hunter
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=15
    usage=archer
    description= _ "
"

    [resistance]
        blade=110
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description= _ "Fist"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=2
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Blowgun
        description= _ "Blowgun"
        icon=attacks/dagger-thrown-poison-orcish.png
        type=pierce
        range=ranged
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
[/unit_type]
