#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Tribe Rowboat
    name= _ "Rowboat"
    race=AE Tribalist
    gender=male
    image="units/tribe/rowboat.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=34
    movement_type=tribeboat
    movement=6
    experience=37
    level=1
    alignment=neutral
    advances_to=AE Tribe Fishing Boat,AE Tribe Canoe
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=17
    usage=scout
    description= _ "
"

    [resistance]
        blade=100
        fire=120
        impact=90
        pierce=80
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Oar
        description= _ "Oar"
        icon=attacks/club.png
        type=impact
        range=melee
        damage=7
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=bow
        description= _ "Bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=6
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
