#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Tribe Voodoo Doctor
    name= _ "Voodoo Doctor"
    race=AE Tribalist
    gender=male
    image="units/tribe/voodoodoctor.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=tribefoot3
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=18
    usage=mixedfighter
    description= _ "
"

    [resistance]
        cold=80
    [/resistance]

    [abilities]
        {ABILITY_HEALS}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Staff
        description= _ "Staff"
        icon=attacks/staff-plague.png
        type=impact
        range=melee
        damage=6
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Staffd
        description= _ "Staff"
        icon=attacks/staff-plague.png
        type=arcane
        range=melee
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=Curse
        description= _ "Curse"
        icon=attacks/curse.png
        type=cold
        range=ranged
        damage=8
        number=5
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=Voodoop
        description= _ "Voodoo"
        icon=attacks/curse.png
        type=pierce
        range=ranged
        damage=10
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Voodoof
        description= _ "Voodoo"
        icon=attacks/curse.png
        type=fire
        range=ranged
        damage=15
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
