#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Tribe Endemic
    name= _ "Endemic"
    race=AE Tribalist
    gender=male
    image="units/tribe/endemic.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=tribefoot
    movement=6
    experience=80
    level=2
    alignment=neutral
    advances_to=AE Tribe Indigenous
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=25
    usage=fighter
    description= _ "
"

    [resistance]
        blade=100
        pierce=90
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=7
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear-orcish.png
        type=pierce
        range=ranged
        damage=8
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
