#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Tribe Chieftain
    name= _ "Chieftain"
    race=AE Tribalist
    gender=male
    image="units/tribe/chieftain.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=60
    movement_type=tribefoot
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=14
    usage=fighter
    description= _ "
"

    [resistance]
        blade=100
    [/resistance]

    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_3}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=13
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear-orcish.png
        type=pierce
        range=ranged
        damage=11
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
