#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_stf_triththa_Cuttle_Fish
    [base_unit]
        id=Cuttle Fish
    [/base_unit]
    race=AE_stf_triththa_cuttlefish
    advances_to=AE_stf_triththa_Armored_Cuttle_Fish
    description= _ "This unit is from The Era of Strife. It's coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others."
[/unit_type]
