#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Hive Ant
    name= _ "Ant"
    race=Hive
    gender=male
    image="units/hive/ant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=38
    movement_type=hivefoot
    movement=5
    experience=40
    level=1
    alignment=neutral
    advances_to=AE Hive Soldier Ant,AE Hive Fire Ant
    die_sound=hiss-big.wav
    cost=15
    usage=fighter
    description= _ "
"

    [resistance]
        fire=110
        blade=90
        impact=110
        pierce=90
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Bite
        description= _ "Bite"
        icon=attacks/fangs-spider.png
        type=blade
        range=melee
        damage=7
        number=3
        [specials]
        [/specials]
    [/attack]

    [attack]
        name=Sting
        description= _ "Sting"
        icon=attacks/sting.png
        type=pierce
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
[/unit_type]
