#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_hive_Queen
    name= _ "Queen"
    race=AE_mrc_hive_race
    gender=female
    image="units/hive/queen.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=44
    movement_type=AE_mrc_hive_hivequeen
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=AE_mrc_hive_Overmind
    die_sound=hiss-big.wav
    cost=40
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"+{SPECIAL_NOTES_INSPIRE}+{SPECIAL_NOTES_CURES}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_PLAGUE_HIVE_GNAT}

    [resistance]
        fire=120
        impact=110
    [/resistance]

    [abilities]
        {ABILITY_CURES}
        {ABILITY_AE_GEN_INSPIRE}
    [/abilities]

    #{DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Sting
        description= _ "Sting"
        icon=attacks/sting.png
        type=pierce
        range=melee
        damage=16
        number=1
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=Infect
        description= _ "Infect"
        icon=attacks/bolas.png
        type=pierce
        range=ranged
        damage=10
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE_mrc_hive_Gnat)}
        [/specials]
    [/attack]
	{AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
