#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Hive Queen
    name= _ "Queen"
    race=Hive
    gender=female
    image="units/hive/queen.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=44
    movement_type=hivequeen
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=AE Hive Overmind
    die_sound=hiss-big.wav
    cost=40
    usage=fighter
    description= _ "
"+{SPECIAL_NOTES_INSPIRE}+{SPECIAL_NOTES_CURES}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_PLAGUE_HIVE_GNAT}

    [resistance]
        fire=120
        impact=110
    [/resistance]

    [abilities]
        {ABILITY_CURES}
        {ABILITY_INSPIRE}
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Sting
        description= _ "Sting"
        icon=attacks/sting.png
        type=pierce
        range=melee
        damage=20
        number=1
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=Infect
        description= _ "Infect"
        icon=attacks/bolas.png
        type=pierce
        range=ranged
        damage=10
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Hive Gnat)}
        [/specials]
    [/attack]
[/unit_type]
