#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Hive Firefly
    name= _ "Firefly"
    race=Hive
    gender=male
    image="units/hive/firefly.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=34
    movement_type=hivelightfly
    movement=6
    experience=55
    level=1
    alignment=neutral
    advances_to=AE Hive Lanterbug
    die_sound=hiss-big.wav
    cost=16
    usage=fighter
    description= _ "
"

    [resistance]
        fire=50
        impact=130
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Tackle
        description= _ "Tackle"
        icon=attacks/rock_thrown.png
        type=impact
        range=melee
        damage=4
        number=4
        [specials]
        [/specials]
    [/attack]
[/unit_type]
