#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Hive Gnat
    name= _ "Gnat"
    race=Hive
    gender=male
    image="units/hive/gnat.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse-nozoc"
    hitpoints=16
    movement_type=hivelightfly
    movement=8
    experience=12
    level=0
    alignment=neutral
    advances_to=AE Hive Fly,AE Hive Mosquito
    die_sound=hiss-big.wav
    cost=10
    usage=scout
    description= _ "
"

    [resistance]
        fire=80
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Bother
        description= _ "Bother"
        icon=attacks/rock_thrown.png
        type=impact
        range=melee
        damage=2
        number=5
        [specials]
        [/specials]
    [/attack]
[/unit_type]
