#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Hive Fly
    name= _ "Fly"
    race=Hive
    gender=male
    image="units/hive/fly.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=28
    movement_type=hivelightfly
    movement=10
    experience=43
    level=1
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=hiss-big.wav
    cost=15
    usage=scout
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Bother
        description= _ "Bother"
        icon=attacks/rock_thrown.png
        type=impact
        range=melee
        damage=2
        number=8
        [specials]
        [/specials]
    [/attack]
[/unit_type]
