#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Dire Wolf
    name= _ "Dire Wolf"
    race=AE warg
    image="units/wargs/dire_wolf.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=44
    movement_type=wolffoot
    movement=9
    experience=150
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=26
    usage=scout
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
Something about the warg bleeds into the wolves they tame, causing them to grow larger, and stronger. These wolves, known as dire wolves provide swift sure firepower to the wargs arsenal."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    {DEFENSE_ANIM "units/wargs/dire_wolf.png" "units/wargs/dire_wolf.png" ugg.wav}

    [attack]
        name=bite
        description= _ "bite"
        type=blade
        range=melee
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        icon=attacks/fangs-animal.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/wargs/dire_wolf.png"
            sound=wolf-bite.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
