#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Fire Sprite2
    name= _ "Flame Sprite"
    race=AE dryad
    image="units/wargs/flame_sprite.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=27
    movement_type=Wispfly
    movement=6
    experience=72
    level=2
    alignment=chaotic
    advances_to=AE Fire Sprite3
    cost=34
    usage=archer
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
..."
    {DEFENSE_ANIM "units/wargs/flame_sprite.png" "units/wargs/flame_sprite.png" wail.wav }
    die_sound=wail.wav
    undead_variation=human

    [attack]
        name=sprite punch
        description= _ "sprite punch"
        type=impact
        range=melee
        damage=4
        number=2
        icon=attacks/touch-faerie.png
    [/attack]
    [attack]
        name=flame toss
        description= _ "sapphire flame"
        type=fire
        range=ranged
        damage=5
        number=6
        icon=attacks/faerie-fire.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sprite punch
        [/filter_attack]
        hits=no
        [frame]
            begin=-50
            end=100
            image="units/wargs/flame_sprite.png"
            sound=miss-1.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sprite punch
        [/filter_attack]
        hits=yes
        [frame]
            begin=-50
            end=100
            image="flame_sprite.png"
            sound=sword-1.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=flame toss
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/wargs/flame_sprite.png"
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/wargs/flame_sprite.png"
                sound=magic-faeriefire-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
