#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Blackfur
    name= _ "Blackfur"
    race=AE warg
    image="units/wargs/blackfur.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=33
    movement_type=wolffoot
    movement=5
    experience=42
    level=1
    alignment=chaotic
    advances_to=AE Black_Hunter
    cost=20
    usage=fighter
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
There is a rare breed of warg with black fur and a slight build. Although not as physicaly strong as the normal kind, foes have learned to fear the sudden death that could await in any dark shadow."
    {DEFENSE_ANIM "units/wargs/blackfur.png" "units/wargs/blackfur.png" ugg.wav}

    [attack]
        name=claws
        description= _ "claws"
        type=blade
        range=melee
        damage=5
        number=3
        icon=attacks/claws-animal.png

        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/wargs/blackfur.png"
            sound=wolf-bite.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
