#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Water_Nymph
    name= _ "Water Nymph"
    race=AE dryad
    image="units/wargs/water_nymph2.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=35
    movement_type=Dryad
    movement=5
    experience=150
    level=2
    alignment=neutral
    advances_to=null
    cost=24
    usage=fighter
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
..."
    {DEFENSE_ANIM "units/wargs/water_shyde.png" "units/wargs/water_shyde.png" ugg.wav}

    [attack]
        name=entangle
        description= _ "entangle"
        type=impact
        range=melee
        damage=5
        number=4
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=entangle
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/wargs/water_shyde.png"
            sound=entangle.wav
        [/frame]
    [/attack_anim]
[/unit_type]
