#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Cult Freak
    name= _ "Freak"
    race=AE Mutant
    gender=male
    image="units/cult/freak.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=38
    movement_type=cultmutantheavy
    movement=4
    experience=42
    level=1
    alignment=chaotic
    advances_to=AE Cult Miscreation
    die_sound={SOUND_LIST:TROLL_DIE}
    cost=17
    usage=heavy
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:TROLL_HIT} }

    [attack]
        name=Fist
        description= _ "Fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=9
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
