#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Cult Montrosity
    name= _ "Monstrosity"
    race=AE Mutant
    gender=male
    image="units/cult/monstrosity.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=69
    movement_type=cultmutantheavy
    movement=4
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:TROLL_DIE}
    cost=17
    usage=heavy
    description= _ "
"

    [resistance]
        pierce=60
        blade=60
        cold=80
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:TROLL_HIT} }

    [attack]
        name=Fist
        description= _ "Fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=15
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-drake.png
        type=pierce
        range=melee
        damage=20
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
