#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Cult Beacon
    name= _ "Beacon"
    race=AE Cult
    gender=male
    image="units/cult/beacon.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=65
    movement_type=cultfoot
    movement=8
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=15
    usage=fighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}

    [resistance]
        blade=110
        pierce=100
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Torch
        description= _ "Torch"
        icon=attacks/torch.png
        type=fire
        range=melee
        damage=14
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bow
        description= _ "Bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=Bow
        description= _ "Bow"
        icon=attacks/bow.png
        type=fire
        range=ranged
        damage=14
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
