#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Cult Transformation
    name= _ "Transformation"
    race=AE Mutant
    gender=male
    image="units/cult/transformed.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=58
    movement_type=cultmutantfoot
    movement=5
    experience=72
    level=2
    alignment=chaotic
    advances_to=AE Cult Mutant
    die_sound=hiss-die.wav
    cost=25
    usage=fighter
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" hiss-hit.wav }

    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=6
        number=5
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=13
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
