#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Arcane Rune Transcriber
    name= _ "Arcane Rune Transcriber"
    race=AE Enchanters
    gender=male
    image="units/enchanters/runeinterpreterb.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=45
    movement_type=enchantfoot
    movement=5
    experience=105
    level=2
    alignment=neutral
    advances_to=AE Enchanter Arcane Rune Splicer,AE Enchanter Rune Purist,AE Enchanter Rune Mage
    cost=40
    usage=mixed fighter
    description= _ ""
    [abilities]
        {ABILITY_CURES}
    [/abilities]
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "enchanters/runeinterpreterb.png" "enchanters/runeinterpreterb.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=chisel
        description= _ "chisel"
        icon=attacks/javelin-human.png
        type=pierce
        range=melee
        damage=7
        number=1
    [/attack]
    [attack]
        name=firerune
        description= _ "fire rune"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=7
        number=4
    [/attack]
    [attack]
        name=lightrune
        description= _ "light rune"
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=2
        number=10
    [/attack]
[/unit_type]
