#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_enchanters_Elemental_Rune_Interpreter
    name= _ "Elemental Rune Interpreter"
    race=AE_mrc_enchanters_race
    gender=male
    image="units/enchanters/runeinterpretera.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=48
    movement_type=AE_mrc_enchantfoot
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=AE_mrc_enchanters_Cold_Rune_Splicer,AE_mrc_enchanters_Ice_Rune_Improver,AE_mrc_enchanters_Rune_Mage
    cost=40
    usage=mixed fighter
    description={AE_MRC_UNIT_NOTICE}+""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "enchanters/runeinterpretera.png" "enchanters/runeinterpretera.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=chisel
        description= _ "chisel"
        icon=attacks/javelin-human.png
        type=pierce
        range=melee
        damage=7
        number=1
    [/attack]
    [attack]
        name=firerune
        description= _ "fire rune"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=7
        number=4
    [/attack]
    [attack]
        name=icerune
        description= _ "ice rune"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=3
        number=6
    [/attack]
[/unit_type]
