#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Arcane Rune Splicer
    name= _ "Arcane Rune Splicer"
    race=AE Enchanters
    gender=male
    image="units/enchanters/runesplicerb.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=48
    movement_type=enchantfoot
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=20
    usage=mixed fighter
    description= _ ""
    [abilities]
        {ABILITY_CURES}
    [/abilities]
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "enchanters/runesplicerb.png" "enchanters/runesplicerb.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=chisel
        description= _ "chisel"
        icon=attacks/javelin-human.png
        type=pierce
        range=melee
        damage=7
        number=1
    [/attack]
    [attack]
        name=firerune
        description= _ "fire rune"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=7
        number=4
    [/attack]
    [attack]
        name=lightrune
        description= _ "light rune"
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=3
        number=10
    [/attack]
    [attack]
        name=holyfirerune
        description= _ "holyfire rune"
        icon=attacks/faerie-fire.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=14
        number=3
    [/attack]
[/unit_type]
