#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Cold Rune Splicer
    name= _ "Cold Rune Splicer"
    race=AE Enchanters
    gender=male
    image="units/enchanters/runesplicera.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=56
    movement_type=enchantfoot
    movement=5
    experience=105
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=20
    usage=mixed fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "enchanters/runesplicera.png" "enchanters/runesplicera.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=chisel
        description= _ "chisel"
        icon=attacks/javelin-human.png
        type=pierce
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=firerune
        description= _ "fire rune"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=9
        number=4
    [/attack]
    [attack]
        name=icerune
        description= _ "ice rune"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=4
        number=6
    [/attack]
    [attack]
        name=waterrune
        description= _ "water rune"
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=12
        number=3
    [/attack]
[/unit_type]
