#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Armorer
    name= _ "Armorer"
    race=AE Enchanters
    image="units/enchanters/armorer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=38
    movement_type=sellfoot
    movement=4
    experience=43
    level=1
    alignment=neutral
    advances_to=AE Enchanter Arsenal
    undead_variation=dwarf
    cost=19
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "enchanters/armorer.png" "enchanters/armorer.png" {SOUND_LIST:DWARF_HIT} }
    {DEFENSE_ANIM_RANGE "enchanters/armorer.png" "enchanters/armorer.png" {SOUND_LIST:DWARF_HIT} ranged}
    [resistance]
        blade=70
        arcane=80
        fire=110
        pierce=70
        impact=90
    [/resistance]
    [attack]
        name=mace
        description= _ "mace"
        type=impact
        range=melee
        damage=10
        number=2
        icon=attacks/mace.png
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        type=pierce
        range=melee
        [special]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/special]
        damage=7
        number=3
        icon=attacks/spear.png
    [/attack]
[/unit_type]
