#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Arsenal
    name= _ "Arsenal"
    race=AE Enchanters
    image="units/enchanters/arsenal.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=53
    movement_type=sellfoot
    movement=4
    experience=72
    level=2
    alignment=neutral
    advances_to=AE Enchanter Stockpiler
    undead_variation=dwarf
    cost=29
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "enchanters/arsenal.png" "enchanters/arsenal.png" {SOUND_LIST:DWARF_HIT} }
    {DEFENSE_ANIM_RANGE "enchanters/arsenal.png" "enchanters/arsenal.png" {SOUND_LIST:DWARF_HIT} ranged}
    [resistance]
        blade=70
        arcane=80
        fire=110
        pierce=70
        impact=90
    [/resistance]
    [attack]
        name=mace
        description= _ "mace"
        type=impact
        range=melee
        damage=17
        number=2
        icon=attacks/mace-spiked.png
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        type=pierce
        range=melee
        [special]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/special]
        damage=12
        number=3
        icon=attacks/spear.png
    [/attack]
    [attack]
        name=sword
        description= _ "sword"
        type=blade
        range=melee
        damage=9
        number=4
        icon=attacks/sword-human.png
    [/attack]
[/unit_type]
