#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Sellsoul
    name= _ "Sellsoul"
    race=AE Enchanters
    image="units/enchanters/sacrificier.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=65
    movement_type=sellfoot
    movement=4
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=19
    usage=fighter
    description= _ ""
    {CURSEDSWORD_SPECIAL_EVENT (AE Enchanter Sellsoul)}
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "enchanters/sacrificier.png" "enchanters/sacrificier.png" {SOUND_LIST:ORC_HIT} }
    [attack]
        name=cursedsword
        description= _ "cursed sword"
        icon=attacks/baneblade.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_CURSED}
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        damage=15
        number=3
    [/attack]
[/unit_type]
