#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_enchanters_Apacalyptic
    name= _ "Apocalyptic"
    race=AE_mrc_enchanters_race
    image="units/enchanters/apocalyptic.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=100
    movement_type=AE_mrc_enchanters_cursefoot
    movement=4
    experience=150
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=59
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+""

    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "enchanters/apocalyptic.png" "enchanters/apocalyptic.png" {SOUND_LIST:ORC_HIT} }
    [attack]
        name=cursedsword
        description= _ "cursed sword"
        icon=attacks/baneblade.png
        type=blade
        range=melee
        [specials]
            {AE_MRC_WEAPON_SPECIAL_CURSED}
        [/specials]
        damage=20
        number=4
    [/attack]
    [attack]
        name=cursedsword
        description= _ "cursed sword"
        icon=attacks/baneblade.png
        type=blade
        range=ranged
        [specials]
            {AE_MRC_WEAPON_SPECIAL_CURSED}
        [/specials]
        damage=15
        number=1
    [/attack]
[/unit_type]
