#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Fabricator
    name= _ "Fabricator"
    race=AE Enchanters
    image="units/enchanters/fabricator.png"
    profile="portraits/Tristan_Millner/dwarven-fighter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=68
    movement_type=enchantfoot
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=16
    usage=fighter
    description= _ "These superb Forges are the masters of their craft, capable of creating weapons with uncannily powerful abilities. To achieve the rank of Fabricator a Forge is required to create his masterpiece, traditionally a weapon of unusual power and durability. As well, Fabricators are masterful warriors on the field of battle after years of experience in the field. They lead the troops under their command by example, protecting the men around them with their abilities and crushing anyone in their path."+{SPECIAL_NOTES}+{SPECIAL_NOTES_PROTECTION}+{SPECIAL_NOTES_LEADERSHIP}

    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_3}
        {ABILITY_PROTECTION_LEVEL_3}
    [/abilities]

    [resistance]
        blade=80
        impact=80
        pierce=80
    [/resistance]

    die_sound={SOUND_LIST:DWARF_DIE}

    {DEFENSE_ANIM "enchanters/fabricator.png" "enchanters/fabricator.png" {SOUND_LIST:DWARF_HIT} }
    {DEFENSE_ANIM_RANGE "enchanters/fabricator.png" "enchanters/fabricator.png" {SOUND_LIST:DWARF_HIT} ranged}

    [attack]
        name=hammer
        description= _ "hammer"
        type=impact
        range=melee
        damage=22
        number=2
    [/attack]
[/unit_type]
