#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Reducter
    name= _ "Reductor"
    race=AE Enchanters
    image="units/enchanters/reductor.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=30
    movement_type=reductfoot
    movement=6
    experience=60
    level=1
    alignment=neutral
    advances_to=AE Enchanter Titan,AE Enchanter Featherlite
    cost=16
    usage=fighter
    description= _ "Reductors are very talented enchanters who are perplexed by the weight of objects. They often tinker with metals to make lightweight hybrid metals through magic and science. Those who are good at said tasks often make lightweight armor that protects them as much as more encumbering light armors"
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=saber
        description= _ "saber"
        icon=attacks/saber-human.png
        type=blade
        damage=3
        number=5
        range=melee
    [/attack]
[/unit_type]
