#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Featherlite
    name= _ "Featherlite"
    race=AE Enchanters
    image="units/enchanters/featherlite.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=reductfoot
    movement=7
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=28
    usage=fighter
    description= _ "Some reductors learn to lighten hybrid metals so much that its lighter than a feather, and you can move faster when wearing it, instead of slower."
    die_sound={SOUND_LIST:HUMAN_DIE}

    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=saber
        description= _ "saber"
        icon=attacks/saber-human.png
        type=blade
        damage=5
        number=6
        range=melee
    [/attack]
[/unit_type]
