#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Clearbow
    name= _ "Clearbow"
    race=AE Enchanters
    gender=male
    image="units/enchanters/clearbow.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=enchantfoot
    movement=5
    experience=82
    level=2
    alignment=neutral
    advances_to=AE Enchanter Crystalbow
    undead_variation=archer
    cost=30
    usage=archer
    description= _ "Enchanters often track down competitive archers to practice their forging with, they've created a confound weapon to make for them, which needs no projectile because it makes its own magical arrows of light"
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=short sword
        description= _ "short sword"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow.png
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=8
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/lightbeam.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=7
        number=4
    [/attack]
    {DEFENSE_ANIM_RANGE "enchanters/clearbow" "enchanters/clearbow.png" {SOUND_LIST:HUMAN_HIT} melee}
    {DEFENSE_ANIM_RANGE "enchanters/clearbow.png" "enchanters/clearbow.png" {SOUND_LIST:HUMAN_HIT} ranged}
[/unit_type]
