#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Incinerator
    name= _ "Incinerator"
    race=AE Enchanters
    gender=male
    image="units/enchanters/incinerator.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=enchantfoot
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=archer
    cost=15
    usage=archer
    description= _ "Most archers aren't used to their arrows bursting into flame, but Incinerators are quite happy with it, these aspiring arsonists love the smell of burning flesh, and are quite good at finding it."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=short sword
        description= _ "short sword"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=4
        number=4
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=12
        number=4
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        type=fire
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=22
        number=2
    [/attack]
    {DEFENSE_ANIM_RANGE "enchanters/incinerator.png" "enchanters/incinerator.png" {SOUND_LIST:HUMAN_HIT} melee}
    {DEFENSE_ANIM_RANGE "enchanters/incinerator.png" "enchanters/incinerator.png" {SOUND_LIST:HUMAN_HIT} ranged}
[/unit_type]
