#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Floating Sword
    name= _ "Floating Sword"
    race=undead
    image="units/enchanters/floatingsword.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=23
    movement_type=floatfoot
    movement=8
    experience=40
    level=1
    alignment=neutral
    advances_to=AE Enchanter Magic Sword,AE Enchanter Possessed Sword,AE Enchanter Shifting Sword
    cost=20
    usage=scout
    description= _ "Enchanters have learned to use their arcane arts to bewitch swords, giving them a limited will of their own and the ability to hover in the air. These flying blades are highly resistant to conventional weapons, and can make mincemeat out of most soldiers in open terrain."
    die_sound=wail-long.wav
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=4
        number=4
    [/attack]
[/unit_type]
