#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Excalibur
    name= _ "Excalibur"
    race=undead
    image="units/enchanters/excalibur.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=55
    movement_type=floatfoot
    movement=8
    experience=150
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=20
    usage=scout
    description= _ "Some of the most well-crafted Floating Swords eventually achieve the status of an Excalibur, a soul-sword pressured through magic and experience into a holy killing machine. Losing their aversion of arcane magics, which usually unwind the enchantments around a soul-sword and destroy it, these bright blades float across the field of battle and dispatch their foes with machine-like precision and uncanny accuracy. An Excalibur is also capable of firing short bursts of its own intrinsic magic at enemies, a useful ability in crowded battlefields."
    die_sound=wail-long.wav
    [resistance]
        arcane=80
    [/resistance]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=11
        number=5
    [/attack]
    [attack]
        name=lightbeam
        description= _ "lightbeam"
        icon=attacks/lightbeam.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=5
        number=4
    [/attack]
[/unit_type]
