[unit_type]
    id=AE_mag_Runemasters_Rune_Artist
    name= _ "Rune Artist"
    race=dwarf
    image="units/ancient_dwarves/runeartist.png"
    profile="portraits/ancient-dwarves/runeartist.png~RC(magenta>black)"
    hitpoints=58
    movement_type=dwarvishfoot
    movement=4
    level=3
    alignment=neutral
    cost=48
    usage=mixed fighter
    experience=135
    advances_to=AE_mag_Runemasters_Runemaster
    undead_variation=dwarf
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/ancient_dwarves/runeartist-attack1.png" "units/ancient_dwarves/runeartist.png" {SOUND_LIST:DWARF_HIT} }
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=100
    [/resistance]
    [attack]
        name=hammer
        description= _ "runic hammer"
        type=impact
        range=melee
        damage=18
        number=2
        icon="attacks/hammer-dwarven-runic.png"
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=runes
        description= _ "runes"
        type=fire
        range=ranged
        damage=9
        number=3
        icon="attacks/rune.png"
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=thunder
        description= _ "lightning bolt"
        type=fire
        range=ranged
        damage=38
        number=1
        icon="attacks/lightning.png"
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image=units/ancient_dwarves/runeartist-attack1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                image=units/ancient_dwarves/runeartist-attack2.png
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                image=units/ancient_dwarves/runeartist-attack2.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image=units/ancient_dwarves/runeartist-attack1.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=thunder
        [/filter_attack]
        [if]
            direction=ne,nw,n
            missile_start_time=-150
            [missile_frame]
                duration=250
                image="halo/magicgreat-n-1.png"
                image_diagonal="halo/magicgreat-ne-1.png"
                #halo=halo/mage-halo1.png,halo/mage-halo2.png,halo/mage-halo3.png,halo/mage-halo4.png,halo/mage-halo5.png
                #halo_x,halo_y=7,-17
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-1.png"
                offset=1.0
                sound=explosion.ogg
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-2.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-3.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-4.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-5.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-6.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-7.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-8.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-9.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-10.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-11.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-12.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-13.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-14.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-15.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-16.png"
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            direction=se,sw,s
            missile_start_time=-150
            [missile_frame]
                duration=250
                image="projectiles/lightning-n.png"
                image_diagonal="projectiles/lightning-ne.png"
                #halo=halo/mage-halo1.png,halo/mage-halo2.png,halo/mage-halo3.png,halo/mage-halo4.png,halo/mage-halo5.png
                #halo_x,halo_y=7,-17
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-1.png~FL(vert)"
                offset=1.0
                sound=explosion.ogg
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-2.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-3.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-4.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-5.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-6.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-7.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-8.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-9.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-10.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-11.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-12.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-13.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-14.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-15.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-16.png~FL(vert)"
                offset=1.0
            [/missile_frame]
        [/else]
        [frame]
            begin=-400
            end=-200
            image="units/ancient_dwarves/runeartist-attack1.png"
        [/frame]
        [frame]
            begin=-200
            end=-50
            image="units/ancient_dwarves/runeartist-attack2.png"
        [/frame]
        [frame]
            begin=-50
            end=50
            image="units/ancient_dwarves/runeartist-attack1.png"
        [/frame]
        [frame]
            begin=50
            end=150
            image="units/ancient_dwarves/runeartist.png"
        [/frame]
    [/attack_anim]
    # The three variations for the north direction:
    {RUNE_ARTIST_RUNES n 0 -72}
    # The three variations for the south direction:
    {RUNE_ARTIST_RUNES s 0 72}
    # And so on...
    {RUNE_ARTIST_RUNES se 54 36}
    {RUNE_ARTIST_RUNES sw 54 36}
    {RUNE_ARTIST_RUNES ne 54 -36}
    {RUNE_ARTIST_RUNES nw 54 -36}
[/unit_type]
