[unit_type]
    id=AE_mag_Runemasters_Technician
    name= _ "Technician"
    race=dwarf
    image="units/ancient_dwarves/technician.png"
    profile="portraits/ancient-dwarves/technician.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=45
    movement_type=dwarvishfoot
    movement=4
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=25
    usage=fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Blessed with remarkable deftness with their fingers, these Technicians refute all that demean their race as heavy handed, drunkards, and if any liquor is to found on them, then it is only within the strong spirits which they employ in continuous campaign against rust.

Despite their scarcity, they serve as important a role as the standardized teams of Mechanics, and are capable of repairing all but the most severe damage upon any mechanical unit. More importantly, such is their proficiency in their line of work that they have been able to spare time to dedicate on converting those tools that they work with into deadly weapons that are more than a match for any who attempt to harry them."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/ancient_dwarves/technician-defend.png" "units/ancient_dwarves/technician-defend.png" {SOUND_LIST:DWARF_HIT}}
    #{DEFENSE_ANIM_RANGE "units/ancient_dwarves/technician-defend.png" "units/ancient_dwarves/technician.png" {SOUND_LIST:DWARF_HIT} ranged}
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=100
    [/resistance]
    [abilities]
        {ABILITY_AE_REPAIR8}
    [/abilities]
    [standing_anim]
        [frame]
            begin=0
            end=100
            image="units/ancient_dwarves/technician.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/ancient_dwarves/technician2.png"
        [/frame]
    [/standing_anim]
    [attack]
        name=saw
        description= _ "saw"
        icon="attacks/saw.png"
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=key
        description= _ "key"
        icon="attacks/adkey.png"
        type=impact
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=screwdriver
        description= _ "screwdriver"
        icon="attacks/screwdriver.png"
        type=pierce
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=burner
        description= _ "burner"
        icon="attacks/burner.png"
        type=fire
        range=melee
        damage=6
        number=4
    [/attack]
    [attack]
        name=bomb
        description= _ "grenade"
        icon="attacks/bomb.png"
        type=fire
        range=ranged
        damage=25
        number=1
        [specials]
            {AE_WEAPON_SPECIAL_GRENADE}
            {WEAPON_SPECIAL_ATTACK_ONLY}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=saw
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/ancient_dwarves/technician-blade.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/ancient_dwarves/technician-blade.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/ancient_dwarves/technician-blade.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/ancient_dwarves/technician-blade.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=screwdriver
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/ancient_dwarves/technician-pierce.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/ancient_dwarves/technician-pierce.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/ancient_dwarves/technician-pierce.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/ancient_dwarves/technician-pierce.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=key
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/ancient_dwarves/technician-impact.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/ancient_dwarves/technician-impact.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/ancient_dwarves/technician-impact.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/ancient_dwarves/technician-impact.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=burner
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/ancient_dwarves/technician-fire.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/ancient_dwarves/technician-fire.png"
                sound=fire.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/ancient_dwarves/technician.png"
                sound=fire.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/ancient_dwarves/technician-fire.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bomb
        [/filter_attack]
        [if]
            direction=ne,nw
            missile_start_time=-300
            [missile_frame]
                duration=300
                image="halo/bomb.png"
                image_diagonal="halo/bomb.png"
                offset=0.0~0.9
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-1.png"
                offset=1.0
                sound=explosion.ogg
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-2.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-3.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-4.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-5.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-6.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-7.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-8.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-9.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-10.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-11.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-12.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-13.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-14.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-15.png"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-16.png"
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            direction=se,sw
            missile_start_time=-300
            [missile_frame]
                duration=300
                image="halo/bomb.png"
                image_diagonal="halo/bomb.png"
                offset=0.0~0.9
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-1.png~FL(vert)"
                offset=1.0
                sound=explosion.ogg
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-2.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-3.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-4.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-5.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-6.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-7.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-8.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-9.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-10.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-11.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-12.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-13.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-14.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-15.png~FL(vert)"
                offset=1.0
            [/missile_frame]
            [missile_frame]
                duration=60
                halo="projectiles/fireball-impact-16.png~FL(vert)"
                offset=1.0
            [/missile_frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            image="units/ancient_dwarves/technician-impact.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/ancient_dwarves/technician-impact.png"
                sound=explosion.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/ancient_dwarves/technician-impact.png"
                sound=explosion.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/ancient_dwarves/technician-impact.png"
        [/frame]
    [/attack_anim]
[/unit_type]
