#textdomain wesnoth-Ageless_Era

##### | Ageless Heros - MP Era

#define BFW_FACTIONS_HERO
AE Loyalists Heroes,AE Rebels Heroes,AE Northerners Heroes,AE Undead Heroes,AE Knalgan Alliance Heroes,AE Drakes Heroes,AE Khalifate Heroes #enddef
#define BEEM_FACTIONS_HERO
AE Anakes Heroes,AE Calidonians Heroes,AE Wood Warriors Heroes #enddef
#define EE_FACTIONS_HERO
AE LoyalistsEE Heroes,AE Sylvans Heroes,AE Dwarves Heroes,AE Outlaws Heroes,AE NorthernersEE Heroes,AE UndeadEE Heroes,AE Chaos Heroes,AE Kalifa Heroes,AE Dark Elves Heroes #enddef
#define AE_FACTIONS_HERO
AE Yokai Heroes,AE Dark Legion Heroes,AE Desert Elves,AE Steelhive Heroes #enddef
#define ME_FACTIONS_HERO
AE HighlandersME Heroes,AE Enchanters Heroes,AE Avians Heroes,AE Slavers Heroes,AE Mercenaries,AE Equestrians Heroes,AE Emperor_s Guard Heroes,AE Oracles Heroes,AE Holyorder Heroes,AE Cult Heroes,AE Fanatics Heroes,AE Tribe Heroes,AE Hive Heroes,AE Blight Heroes,AE Infernai Heroes,AE Refugees Heroes #enddef
#define BMR_FACTIONS_HERO
AE Khthon Heroes,AE Phantom Heroes,AE Despair Heroes,AE Primeval Heroes,AE South-Seas Heroes,AE Ukians Heroes,AE Northerner Orcs Heroes #enddef
#define EFM_FACTIONS_HERO
AE Highlanders Heroes,AE Imperialists Heroes,AE SeaState Heroes,AE Darklanders Heroes,AE_Dalefolk,AE_Freemen,AE_Pygmies,AE_Whites #enddef
#define EoM_FACTIONS_HERO
AE Celestials Heroes,AE Devlings Heroes,AE Elementals Heroes,AE Therians Heroes,AE Vampires Heroes,AE Wargs Heroes,AE Windsong Heroes #enddef
#define EoS_FACTIONS_HERO
AE Eventide Heroes,AE Triththa Heroes,AE Free Saurians Heroes,AE Eltireans Heroes,AE Minotaurs Heroes #enddef
#define EoMa_FACTIONS_HERO
AE Barbarians Heroes,AE Darkblood Heroes,AE Sky_Kingdom Heroes,AE Kharos Heros,AE Runemasters Heroes,AE Al-Kamija Heroes,AE Tharis Heroes,AE destroyers #enddef
#define FE_FACTIONS_HERO
AE Aragwaithi Heroes,AE Ceresians League Heroes,AE Clockwork Dwarves Heroes,AE High Elves Heroes,AE Orcish Khaganates Heroes #enddef
#define IE_FACTIONS_HERO
AE Arendians Heroes,AE Cavernei Heroes,AE Issaelfr Heroes,AE Lavinian Legion Heroes,AE Marauders Heroes,AE Orcei Gladiatores Heroes,AE Sidhe Heroes #enddef
#define EotF_FACTIONS_HERO
AE Brungar Heroes,AE Welkin Heroes #enddef

[era]
    id=Ageless Heroes
    name= _ "@Ageless Heroes"
    require_era=yes
	[event]
		name=prestart
		[set_variable]
			name=era_id
			value="Ageless Heroes"
		[/set_variable]
	[/event]
    {~add-ons/Ageless_Era/eras/era_events.cfg}

	{RANDOM_SIDE}
    {RANDOM_WITHOUT {BFW_FACTIONS_HERO} Default}
	{RANDOM_WITHOUT ({BFW_FACTIONS_HERO},{EE_FACTIONS_HERO}) Default+EE}
	{RANDOM_ONLY {BFW_FACTIONS_HERO} Default}
    {HEROS_SIDE BFW}
	{RANDOM_ONLY {EE_FACTIONS_HERO} EE}
    {HEROS_SIDE EE}
	{RANDOM_ONLY {BMR_FACTIONS_HERO} BMR}
    {HEROS_SIDE BMR}
	{RANDOM_ONLY {EFM_FACTIONS_HERO} EFM}
    {HEROS_SIDE EFM}
	{RANDOM_ONLY {EotF_FACTIONS_HERO} EotF}
    {HEROS_SIDE EotF}
	{RANDOM_ONLY {BEEM_FACTIONS_HERO} BEEM}
    {HEROS_SIDE BEEM}
	{RANDOM_ONLY {AE_FACTIONS_HERO} AE}
    {HEROS_SIDE AE}
	{RANDOM_ONLY {EoM_FACTIONS_HERO} EoM}
    {HEROS_SIDE EoM}
	{RANDOM_ONLY {IE_FACTIONS_HERO} IE}
    {HEROS_SIDE IE}
	{RANDOM_ONLY {FE_FACTIONS_HERO} FE}
    {HEROS_SIDE FE}
	{RANDOM_ONLY {EoS_FACTIONS_HERO} EoS}
    {HEROS_SIDE EoS}
	{RANDOM_ONLY {EoMa_FACTIONS_HERO} EoMa}
    {HEROS_SIDE EoMa}
	{RANDOM_ONLY {ME_FACTIONS_HERO} ME}
    {HEROS_SIDE ME}
[/era]
