#textdomain wesnoth-Ageless_Era

##### | Ageless RPG Era - MP Faction

#define BFW_FACTIONS_RPG
AE Loyalists,AE Rebels,AE Northerners,AE Undead,AE Knalgan Alliance,AE Drakes,AE Khalifate #enddef
#define BEEM_FACTIONS_RPG
AE Anakes,AE Calidonians,AE Wood Warriors #enddef
#define EE_FACTIONS_RPG
AE LoyalistsEE,AE Sylvans,AE Dwarves,AE Outlaws,AE NorthernersEE,AE UndeadEE,AE Chaos,AE Kalifa,AE Dark Elves #enddef
#define AE_FACTIONS_RPG
AE Yokai,AE Dark Legion,AE Desert Elves,AE Steelhive #enddef
#define ME_FACTIONS_RPG
AE HighlandersME,AE Enchanters,AE Avians,AE Slavers,AE Mercenaries,AE Equestrians,AE Emperor_s Guard,AE Oracles,AE Holyorder,AE Cult,AE Fanatics,AE Tribe,AE Hive,AE Blight,AE Infernai,AE Refugees #enddef
#define BMR_FACTIONS_RPG
AE Khthon,AE Phantom,AE Despair,AE Primeval,AE South-Seas,AE Ukians,AE Northerner Orcs #enddef
#define EFM_FACTIONS_RPG
AE Highlanders,AE Imperialists,AE SeaStates,AE Darklanders,AE_Dalefolk,AE_Freemen,AE_Pygmies,AE_Whites #enddef
#define EoM_FACTIONS_RPG
AE Celestials,AE Devlings,AE Elementals,AE Therians,AE Vampires,AE Wargs,AE Windsong #enddef
#define EoS_FACTIONS_RPG
AE Eventide,AE Triththa,AE Free Saurians,AE Eltireans,AE Minotaurs #enddef
#define EoMa_FACTIONS_RPG
AE Barbarians,AE Dark Blood Alliance,AE Sky Kingdom,AE Kharos Heros,AE Runemasters,AE Al-Kamija,AE Tharis,AE destroyers #enddef
#define FE_FACTIONS_RPG
AE Aragwaithi,AE Ceresians League,AE Clockwork Dwarves,AE High Elves,AE Orcish Khaganates #enddef
#define IE_FACTIONS_RPG
AE Arendians,AE Cavernei,AE Issaelfr,AE Lavinian Legion,AE Marauders,AE Orcei Gladiatores,AE Sidhe #enddef
#define EotF_FACTIONS_RPG
AE Brungar,AE Welkin #enddef

[era]
    id=Ageless RPG Era
    name= _ "@Ageless RPG Era"
    require_era=yes
	[event]
		name=prestart
		[set_variable]
			name=era_id
			value="Ageless RPG Era"
		[/set_variable]
	[/event]
    {~add-ons/Ageless_Era/eras/era_events.cfg}

	{RANDOM_SIDE}
    {RANDOM_WITHOUT {BFW_FACTIONS_RPG} Default}
	{RANDOM_WITHOUT ({BFW_FACTIONS_RPG},{EE_FACTIONS_RPG}) Default+EE}
	{RANDOM_ONLY {BFW_FACTIONS_RPG} Default}
    {MP_RPG_SIDE BFW}
	{RANDOM_ONLY {EE_FACTIONS_RPG} EE}
    {MP_RPG_SIDE EE}
	{RANDOM_ONLY {BMR_FACTIONS_RPG} BMR}
    {MP_RPG_SIDE BMR}
	{RANDOM_ONLY {EFM_FACTIONS_RPG} EFM}
    {MP_RPG_SIDE EFM}
	{RANDOM_ONLY {EotF_FACTIONS_RPG} EotF}
    {MP_RPG_SIDE EotF}
	{RANDOM_ONLY {BEEM_FACTIONS_RPG} BEEM}
    {MP_RPG_SIDE BEEM}
	{RANDOM_ONLY {AE_FACTIONS_RPG} AE}
    {MP_RPG_SIDE AE}
	{RANDOM_ONLY {EoM_FACTIONS_RPG} EoM}
    {MP_RPG_SIDE EoM}
	{RANDOM_ONLY {IE_FACTIONS_RPG} IE}
    {MP_RPG_SIDE IE}
	{RANDOM_ONLY {FE_FACTIONS_RPG} FE}
    {MP_RPG_SIDE FE}
	{RANDOM_ONLY {EoS_FACTIONS_RPG} EoS}
    {MP_RPG_SIDE EoS}
	{RANDOM_ONLY {EoMa_FACTIONS_RPG} EoMa}
    {MP_RPG_SIDE EoMa}
	{RANDOM_ONLY {ME_FACTIONS_RPG} ME}
    {MP_RPG_SIDE ME}
	
[/era]
