#textdomain wesnoth-Ageless_Era

##### | Ageless Era - MP Era

#define BFW_FACTIONS
AE Loyalists,AE Rebels,AE Northerners,AE Undead,AE Knalgan Alliance,AE Drakes,AE Khalifate Default #enddef
#define BEEM_FACTIONS
AE Anakes Default,AE Calidonians,AE Wood Warriors #enddef
#define EE_FACTIONS
AE Loyalists Default,AE Sylvans Default,AE Dwarves Default,AE Outlaws Default,AE Northerners Default,AE Undead Default,AE Chaos Default,AE Kalifa Default,AE Dark Elves Default #enddef
#define AE_FACTIONS
AE Yokai Default,AE Dark Legion Default,AE Desert Elves,AE Steelhive Default #enddef
#define ME_FACTIONS
Highlanders,Enchanters,Avians,Slavers,Mercenaries,Equestrians,Emperor_s Guard,Oracles,Holyorder,Cult,fanatics,Tribe,Hive,Blight,Infernai,Refugees #enddef
#define BMR_FACTIONS
AE Khthon Default,AE Phantom Default,AE Despair Default,AE Primeval Default,AE South_Seas Default,AE Ukians Default,AE Northerner Orcs Default #enddef
#define EFM_FACTIONS
AE Highlanders,AE Imperialists,AE Sea States,AE Darklanders,AE_Dalefolk,AE_Freemen,AE_Pygmies,AE_Whites #enddef
#define EoM_FACTIONS
AE celestials,AE devlings,AE elementals,AE therians,AE vampires,AE Wargs Default,AE Windsong Default #enddef
#define EoS_FACTIONS
AE Eventide,AE Triththa,AE Free Saurians,AE Eltireans,AE minotaurs #enddef
#define EoMa_FACTIONS
AE barbarians,AE darkblood,AE skykingdom,AE Kharos,AE Runemasters,AE Al-Kamija,AE tharis,AE destroyers #enddef
#define FE_FACTIONS
AE Aragwaithi,AE Ceresians League,AE Clockwork Dwarves,AE High Elves,AE Orcish Khaganates #enddef
#define IE_FACTIONS
AE Arendians,AE Cavernei,AE Issaelfr,AE Lavinian Legion,AE Marauders,AE Orcei Gladiatores,AE Sidhe #enddef
#define EotF_FACTIONS
AE Brungar,AE Welkin #enddef
[era]
    id=Ageless Era
    name= _ "@Ageless Era"
    require_era=yes
	[event]
		name=prestart
		[set_variable]
			name=era_id
			value="Ageless Era"
		[/set_variable]
	[/event]
    {~add-ons/Ageless_Era/eras/era_events.cfg}
	{RANDOM_SIDE}
    {RANDOM_WITHOUT {BFW_FACTIONS} Default}
	{RANDOM_WITHOUT ({BFW_FACTIONS},{EE_FACTIONS}) Default+EE}
	{RANDOM_ONLY {BFW_FACTIONS} Default}
    {MP_DEFAULT_SIDE BFW}
	{RANDOM_ONLY {EE_FACTIONS} EE}
    {MP_DEFAULT_SIDE EE}
	{RANDOM_ONLY {BMR_FACTIONS} BMR}
    {MP_DEFAULT_SIDE BMR}
	{RANDOM_ONLY {EFM_FACTIONS} EFM}
    {MP_DEFAULT_SIDE EFM}
	{RANDOM_ONLY {EotF_FACTIONS} EotF}
    {MP_DEFAULT_SIDE EotF}
	{RANDOM_ONLY {BEEM_FACTIONS} BEEM}
    {MP_DEFAULT_SIDE BEEM}
	{RANDOM_ONLY {AE_FACTIONS} AE}
    {MP_DEFAULT_SIDE AE}
	{RANDOM_ONLY {EoM_FACTIONS} EoM}
    {MP_DEFAULT_SIDE EoM}
	{RANDOM_ONLY {IE_FACTIONS} IE}
    {MP_DEFAULT_SIDE IE}
	{RANDOM_ONLY {FE_FACTIONS} FE}
    {MP_DEFAULT_SIDE FE}
	{RANDOM_ONLY {EoS_FACTIONS} EoS}
    {MP_DEFAULT_SIDE EoS}
	{RANDOM_ONLY {EoMa_FACTIONS} EoMa}
    {MP_DEFAULT_SIDE EoMa}
	{RANDOM_ONLY {ME_FACTIONS} ME}
    {MP_DEFAULT_SIDE ME}
[/era]
