# wmllint: no translatables

[unit_type]
    [base_unit]
        id=Skeleton
    [/base_unit]
    id=AE Skeleton
    advances_to=Revenant,Deathblade,Chocobone,AE Death Baron
    hide_help=yes
    description= _ "This unit is from Extended Era. It's coding and art were done by the Various people who created Extended Era."
[/unit_type]
