# wmllint: no translatables

[unit_type]
    [base_unit]
        id=Dark Adept
    [/base_unit]
    id=AE Dark Adept
    advances_to=AE Dark Sorcerer
    hide_help=yes
    description= _ "This unit is from Extended Era. It's coding and art were done by the Various people who created Extended Era."
[/unit_type]
