#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Oracle Scholar
    name= _ "Scholar"
    race=AE Oracles
    gender=male
    image="units/oracles/scholar.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse-nozoc"
    hitpoints=10
    movement_type=disciplefoot
    movement=6
    experience=6
    level=0
    alignment=neutral
    advances_to=AE Oracle Sage,AE Oracle Magnomancer,AE Oracle Summoner,AE Oracle Scientist
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=9
    usage=mixedfighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Study
        description= _ "Study"
        icon=attacks/gaze.png
        type=fire
        range=ranged
        damage=0
        number=0
        [specials]
        [/specials]
    [/attack]
[/unit_type]
