#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Oracle Scrapshifter
    name= _ "Scrapshifter"
    race=AE Oracles
    gender=male
    image="units/oracles/scrapshifter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=disciplefoot
    movement=4
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=34
    usage=mixedfighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}

    [resistance]
        pierce=60
        blade=70
        impact=80
    [/resistance]

    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Metalfist
        description= _ "Metalfist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=20
        number=2
        [specials]
            {WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]
    [attack]
        name=Metalshardsb
        description= _ "Metalshards"
        icon=attacks/dagger-thrown-human.png
        type=blade
        range=ranged
        damage=5
        number=10
        [specials]
            {WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]
    [attack]
        name=Metalshards
        description= _ "Metalshards"
        icon=attacks/dagger-thrown-human.png
        type=pierce
        range=ranged
        damage=5
        number=8
        [specials]
            {WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]
[/unit_type]
