#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Oracle Beholder
    name= _ "Beholder"
    race=monster
    gender=male
    image="units/oracles/beholder.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=30
    movement_type=beholderfoot
    movement=8
    experience=41
    level=1
    alignment=chaotic
    advances_to=AE Oracle Evileye
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=18
    usage=scout
    description= _ "Through years of studying the summoning art, summoners have been able to concoct hundreds of creatures. Beholders, while physically frail and not combat worthy, were found useful by the headmasters of the Oracles facilities. They were originally used to scout out areas large and isolated enough for schools to be built on. Though when a single unwanted person might stumble upon a university of magic, beholders are sent out to find and eliminate them by staring the life out of them, or strangulating them with their tentacles."

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Tentacle
        description= _ "Tentacle"
        icon=attacks/tentacle.png
        type=impact
        range=melee
        damage=5
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Stare
        description= _ "Stare"
        icon=attacks/gaze.png
        type=cold
        range=ranged
        damage=7
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
