#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Oracle Evileye
    name= _ "Evileye"
    race=monster
    gender=male
    image="units/oracles/evileye.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=45
    movement_type=beholderfoot
    movement=10
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=34
    usage=scout
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Tentacle
        description= _ "Tentacle"
        icon=attacks/tentacle.png
        type=impact
        range=melee
        damage=10
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Stare
        description= _ "Stare"
        icon=attacks/gaze.png
        type=cold
        range=ranged
        damage=9
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
