#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_oracles_Blindman
    name= _ "Blindman"
    race=AE_mrc_oracles_race
    gender=male
    image="units/oracles/blindman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=35
    movement_type=AE_mrc_oracles_blindfoot
    movement=4
    experience=37
    level=1
    alignment=neutral
    advances_to=AE_mrc_oracles_Master
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=13
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"+{SPECIAL_NOTES_COUNTER}
    # NOTICE +{SPECIAL_NOTES_BLIND}

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description={STR_FIST}
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=6
        number=5
        [specials]
            {WEAPON_SPECIAL_COUNTER}
            {AE_MRC_WEAPON_SPECIAL_BLIND}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Fist
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/oracles/blindman.png"
            sound=fist.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
