#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_primeval_Gyre_Striker
    name= _ "Gyre Striker"
    race=AE primeval
    gender=female
    image="units/primeval/gyrepacter.png"
    # this may get updated someday, but not today...
    profile="portraits/striker.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=55
    movement_type=AE_arc_primevalfast
    movement=7
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=40
    usage=scout
    description= _ "This unit is from Archaic Era. It's coding and art were done by doofus-01.
 
Primeval Gyre Strikers...
Special Note:"+{SPECIAL_NOTES_REGENERATES}
    die_sound=lich-die.ogg
    [resistance]
        impact=80
    [/resistance]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=flail
        description= _ "Flail"
        type=impact
        range=melee
        damage=10
        number=4
        icon=attacks/mace-and-chain.png
    [/attack]

    #    [standing_anim]
    start_time=0
    #	    [filter]
    #		[filter_adjacent]
    #		    is_enemy="yes"
    #		    count=0
    #		[/filter_adjacent]
    #	    [/filter]
    [frame]
        duration=125
        image="units/primeval/gyrepacter-s1.png"
    [/frame]
    [frame]
        duration=125
        image="units/primeval/gyrepacter-s2.png"
    [/frame]
    [frame]
        duration=125
        image="units/primeval/gyrepacter-v.png"
    [/frame]
    [frame]
        duration=125
        image="units/primeval/gyrepacter-s4.png"
    [/frame]
    [frame]
        duration=125
        image="units/primeval/gyrepacter-s3.png"
    [/frame]
    [frame]
        duration=125
        image="units/primeval/gyrepacter-v.png"
    [/frame]
    #    [/standing_anim]

    [defend]
        start_time=-126
        [if]
            hits=hit,kill
            offset=0.-~-0.08:126, -0.08~0.0:126
            [frame]
                duration=1
                image="units/primeval/gyrepacter.png"
            [/frame]
            [frame]
                duration=50
                image="units/primeval/gyrepacter-defend1b.png"
            [/frame]
            [frame]
                duration=75
                image="units/primeval/gyrepacter-defend1b.png"
                sound={SOUND_LIST:HUMAN_FEMALE_HIT}
            [/frame]
            [frame]
                duration=125
                image="units/primeval/gyrepacter-defend2.png"
            [/frame]
            [frame]
                duration=1
                image="units/primeval/gyrepacter.png"
            [/frame]
        [/if]
        [else]
            hits=miss
            offset=0.-~-0.08:126, -0.08~0.0:126
            [frame]
                duration=1
                image="units/primeval/gyrepacter.png"
            [/frame]
            [frame]
                duration=50
                image="units/primeval/gyrepacter-defend1b.png"
            [/frame]
            [frame]
                duration=75
                image="units/primeval/gyrepacter-defend1b.png"
            [/frame]
            [frame]
                duration=125
                image="units/primeval/gyrepacter-defend2.png"
            [/frame]
            [frame]
                duration=1
                image="units/primeval/gyrepacter.png"
            [/frame]
        [/else]
    [/defend]

    [attack_anim]
        [filter_attack]
            name=flail
        [/filter_attack]
        start_time=-680
        offset=0.0:450,0.0~-0.05:80, -0.05~0.6:150, 0.6~0.0:351
        [frame]
            duration=80
            image="units/primeval/gyrepacter-s1.png"
        [/frame]
        [frame]
            duration=80
            image="units/primeval/gyrepacter-s2.png"
        [/frame]
        [frame]
            duration=80
            image="units/primeval/gyrepacter-v.png"
        [/frame]
        [frame]
            duration=70
            image="units/primeval/gyrepacter-s4.png"
        [/frame]
        [frame]
            duration=70
            image="units/primeval/gyrepacter-s3.png"
        [/frame]
        [frame]
            duration=70
            image="units/primeval/gyrepacter-v.png"
        [/frame]
        [frame]
            duration=80
            image="units/primeval/gyrepacter-attack-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=150
                image="units/primeval/gyrepacter-attack-1b.png"
                sound=flail.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=150
                image="units/primeval/gyrepacter-attack-1b.png"
                sound=flail-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/primeval/gyrepacter-attack-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/primeval/gyrepacter-defend1.png"
        [/frame]
        [frame]
            duration=1
            image="units/primeval/gyrepacter.png"
        [/frame]
    [/attack_anim]
[/unit_type]
