#textdomain wesnoth-Archaic_Era

[unit_type]
    id=Primeval Dogface
    name= _ "Dogface"
    race=primeval
    image="units/primeval/dogface.png"
    small_profile="portraits/dogface.png~CROP(100,70,330,330)~SCALE(205,205)"
    profile="portraits/dogface.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=56
    movement_type=primevalstrong
    movement=5
    experience=65
    level=2
    alignment=chaotic
    advances_to=Primeval Warrior
    cost=25
    usage=fighter
    description= _ "Like the experienced chakram throwers, the Primeval soldiers wear some sort of visor. Though it simply looks like a piece of metal strapped across the eyes, the visor appears to assist the fighter in targeting the enemy.
Special Note:" {SPECIAL_NOTES_REGENERATES} + {SPECIAL_NOTES_MARKSMAN}
    die_sound=lich-die.ogg
    [resistance]
        blade=80
        impact=80
    [/resistance]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=axe
        description={STR_AXE}
        type=blade
        range=melee
        damage=18
        number=2
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        icon=attacks/BMRaxe.png
    [/attack]
    # fix this defense
    {DEFENSE_ANIM "units/primeval/dogface-defend.png" "units/primeval/dogface.png" {SOUND_LIST:TROLL_HIT}}
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        [frame]
            begin=-230
            end=-150
            image="units/primeval/dogface.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=-70
                image="units/primeval/dogface.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=-70
                image="units/primeval/dogface.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=-70
            end=10
            image="units/primeval/dogface.png"
        [/frame]
        [frame]
            begin=10
            end=90
            image="units/primeval/dogface.png"
        [/frame]
    [/attack_anim]
[/unit_type]
