#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Minuti Khampsa Audentis
    name= _ "Khampsa Audentis"
    race=AE minuti
    image="units/orcs-minuti/khampsa-audentis.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=minutirider
    movement=8
    experience=50
    {AMLA_DEFAULT}
    level=3
    alignment=neutral
    advances_to=null
    cost=55
    usage=swimmer
    description= _ "This unit is from Imperial Era. It's coding and art were done by Turin and Various others.
 
A Khampsa of great ferocity becomes known as a Khampsa Audentis, the latter term referring to its bold and audacious behavior."
    [attack]
        name=bite
        description= _ "bite"
        type=blade
        range=melee
        damage=13
        number=3
        icon=attacks/fangs.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]
[/unit_type]
