#textdomain wesnoth-Ageless_Era

### | Archiac Era Custom Default Factions

## | Khthon - Default

[multiplayer_side]
    id=AE Khthon Default
    name= _ "BMR - Khthon"
    image=units/khthon/nightmare.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_khthon_Pyradalon
    leader=AE_arc_khthon_Pyradalon,AE_arc_khthon_Katoblepon,AE_arc_khthon_Pegusa,AE_arc_khthon_Prokyon,AE_arc_khthon_Nightmare, AE_arc_khthon_Ophis
    recruit=AE_arc_khthon_Yak, AE_arc_khthon_Ram, AE_arc_khthon_Timber_Wolf, AE_arc_khthon_Horse, AE_arc_khthon_Afflicted_Woodsman,AE_arc_khthon_Terrapin

    terrain_liked=Aa,Ff,Hh,Ha,Rd
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Phantoms - Default

[multiplayer_side]
    id=AE Phantom Default
    name= _ "BMR - Phantom"
    image=units/phantom/mummy-king.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_phantom_Tomb_Sentinel
    leader=AE_arc_phantom_Tomb_Sentinel,AE_arc_phantom_Archer,AE_arc_phantom_Stalker,AE_arc_phantom_Mummy_Unbound, AE_arc_phantom_Wing_Dancer
    recruit=AE_arc_phantom_Mummy,AE_arc_phantom_Feather_Dancer,AE_arc_phantom_Tomb_Guard,AE_arc_phantom_Huntress,AE_arc_phantom_Spirit_Dove, AE_arc_phantom_Vapor

    terrain_liked=Ds,Ff,Hh,Uu,Rd
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Despair - Default

[multiplayer_side]
    id=AE Despair Default
    name= _ "BMR - Despair"
    image=units/despair/phantomslayer.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_despair_Shroud
    leader=AE_arc_despair_Dullohan,AE_arc_despair_Horseman,AE_arc_despair_Midnight_Beauty,AE_arc_despair_White_Lady,AE_arc_despair_Soldier

    recruit=AE_arc_despair_Unease,AE_arc_despair_Cloak,AE_arc_despair_Spearman,AE_arc_despair_Rider,AE_arc_despair_Statue,AE_arc_despair_Widow

    terrain_liked=Ds,Ff,Hh,Uu,Rd
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Primeval - Default

[multiplayer_side]
    id=AE Primeval Default
    name= _ "BMR - Primeval"
    image=units/primeval/warrior.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_primeval_Driver
    leader=AE_arc_primeval_Driver,AE_arc_primeval_Ironwheel, AE_arc_primeval_Hektor, AE_arc_primeval_Escort, AE_arc_primeval_Dogface, AE_arc_primeval_Primevalist_Monk, AE_arc_primeval_Primeval_Brightshield, AE_arc_primeval_Primevalist_Fanatic
    recruit=AE_arc_primeval_Fighter, AE_arc_primeval_Primevalist_Follower, AE_arc_primeval_Slow_Foot, AE_arc_primeval_Swiftfoot, AE_arc_primeval_Cutter

    terrain_liked=Aa,Ff,Hh,Ha,Rd
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | South-Seas

[multiplayer_side]
    id=AE South_Seas Default
    name= _ "BMR - South-Seas"
    image=units/south-seas/wolf.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_south_seas_Sea_Rover
    leader=AE_arc_south_seas_Seahag, AE_arc_south_seas_Able_Seaman, AE_arc_south_seas_Demolitionist, AE_arc_south_seas_Wind_Caller, AE_arc_south_seas_Diver,AE_arc_south_seas_Salvager

    recruit=AE_arc_south_seas_Seaman,AE_arc_south_seas_Lore_Caster,AE_arc_south_seas_Swimmer,AE_arc_south_seas_Arsonist,AE_arc_south_seas_Shoreman

    terrain_liked=Ds,Ff,Hh,Ww,Rd
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Ukians - Default

[multiplayer_side]
    id=AE Ukians Default
    name= _ "BMR - Ukians"
    image=units/ukians/subcommander.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_ukians_Ukian_Officer
    leader=AE_arc_ukians_Ukian_Signalman, AE_arc_ukians_Ukian_Seeress, AE_arc_ukians_Ukian_Hawkeye,AE_arc_ukians_Northern_Soldier, AE_arc_ukians_Sheriff, AE_arc_ukians_Northern_Ranger
    recruit=AE_arc_ukians_Ukian_Regular, AE_arc_ukians_Ukian_Runner, AE_arc_ukians_Ukian_Archer, AE_arc_ukians_Dog, AE_arc_ukians_Vassal, AE_arc_ukians_Northern_Fighter

    terrain_liked=Aa,Ai,Aa^Fpa,Ha,Ff
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Northern Orcs

[multiplayer_side]
    id=AE Northerner Orcs Default
    name= _ "BMR - Northerner Orcs"
    image=units/orcs/maurader.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Orcish Warrior
    leader=Orcish Warrior,Orcish Ruler,AE_arc_orcs_Orcish_Fireline,AE_arc_orcs_Orcish_Marauder,AE_arc_orcs_Cavalry,Troll,Troll Rocklobber,Orcish Crossbowman,Orcish Slayer
    recruit=AE_arc_orcs_Orcish_Grunt,Troll Whelp,Wolf Rider,Orcish Archer,Orcish Assassin,Goblin Spearman,AE_arc_orcs_Marabou_Stork, AE_arc_orcs_Orcish_Raider, AE_arc_orcs_Orcish_Rider, Orcish Leader

    terrain_liked=Hh, Ha, Mm, Ss
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
