#textdomain wesnoth-Ageless_Era

### | Era of Strife Custom Default Factions

## | Eventide - Default

[multiplayer_side]
    id=AE Eventide
    name= _ "EOS - Eventide"
    image=units/eventide/Diu_Bowmistress.png
    type=AE DiuBowMistress
    leader=AE DiuBowMistress,AE ArcaneArcher,AE NoctMacelord,AE Dreadlord,AE EventideAlchemist
    recruit=AE DiuBowmaid,AE NoctMaceman,AE Swabbie,AE EventideHerbalist,AE Desperado,AE Auxilary
    terrain_liked=Dd^Vda,Rd,Dd,Gs^Ft,Dd^Vdt
    [ai]
        recruitment_pattern=fighter,fighter,archer,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Triththa - Default

[multiplayer_side]
    id=AE Triththa
    name= _ "EOS - Triththa"
    image=units/dwarves/ballista.png
    type=AE Dwarvish Runesmith
    leader=Dwarvish Steelclad,AE Dwarvish Runefighter,AE Dwarvish Compounder,AE Dwarvish Runesmith,AE Dwarvish Armorer,AE Dwarvish Charger,AE Dwarvish Guard
    random_leader=Dwarvish Steelclad,AE Dwarvish Runefighter,AE Dwarvish Compounder,AE Dwarvish Runesmith,AE Dwarvish Armorer
    recruit=AE_TR Dwarvish Fighter,AE Dwarvish Crossbowman,AE Dwarvish Smith,AE Dwarvish Ballista,AE Dwarvish Rusher,AE Dwarvish Shieldman,AE Dwarvish Plainsrider,AE Young Cuttle Fish
    terrain_liked=Hh, Ha, Mm
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Free Saurians - Default

[multiplayer_side]
    id=AE Free Saurians
    name= _ "EOS - Free Saurians"
    image=units/saurians/wise.png
    type=AE Saurian Mystic
    leader=AE Saurian Mystic, AE Saurian Healer,AE Saurian Frosty,AE Saurian Elementalist, AE Saurian Warrior, AE Saurian Killer, AE Swamp Fighter,AE Saurian Warrior AuxE,AE Saurian Duelist AuxE
    recruit=AE Saurian Sage, AE Saurian Mage, AE Free Saurian Skirmisher, AE Saurian Knife thrower, AE Swamp Saurian, AE Free Spider, AE Saurian Lizard Rider, AE Saurian Trainee,AE Saurian Brave AuxE,AE Saurian Gladiator AuxE
    [ai]
        recruitment_pattern=fighter,healer,scout,fighter,archer,mixed fighter,trainee,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Eltireans - Default

[multiplayer_side]
    id=AE Eltireans
    name= _ "EOS - Eltireans"
    image=units/eltireans/fury.png
    type=AE Eltirean Fury
    leader=AE Eltirean Fury,AE Eltirean Knight of the Sun,AE Eltirean Pyromancer,AE Eltirean Hydromancer,AE Eltirean Patrol Captain,AE Eltirean Calmblade,AE Eltirean Crusher
    recruit=AE Eltirean Knight Errant,AE Eltirean Glory Seeker,AE Eltirean Elementalist,AE Eltirean Disciple,AE Eltirean Wind Rider,AE Eltirean Ladyofwar
    terrain_liked=Dd^Vda,Rd,Dd,Gs^Ft,Dd^Vdt
    [ai]
        recruitment_pattern=fighter,archer,fighter,archer,healer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Minotaurs - Default

[multiplayer_side]
    id=AE minotaurs
    name= _ "EOS - Minotaurs"
    image=units/minotaurs/mystic.png
    type=AE Minotaur Mystic
    leader=AE Minotaur Rouser,AE Minotaur Savage,AE Minotaur Warlock,AE Minotaur Mystic,AE Gnoll Sharpshooter,AE Minotaur Slayer
    recruit=AE Minotaur Shaman,AE Minotaur Gore,AE Minotaur Behemoth,AE Gnoll,AE Boar Rider,AE Minotaur Cutthroat
    terrain_liked=Gs^Fp, Gg, Hh, Mm, Md
    [ai]
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
