#textdomain wesnoth-Ageless_Era

### | Era of Myths Custom Default Factions

## | Celestials - Heros

[multiplayer_side]
    id=AE_side_myh_celestials
    name= _ "EOM - Celestials"
    image="units/celestials/claimant.png"
    type=AE_myh_celestials_Claimant
    leader=AE_myh_celestials_Claimant,AE_myh_celestials_Divine_Knight,AE_myh_celestials_Protector,AE_myh_celestials_Keeper,AE_myh_celestials_Great_Wizard,AE_myh_celestials_Mystic,AE_myh_celestials_Militant

    recruit=AE_myh_celestials_Messenger,AE_myh_celestials_Light_Spirit,AE_myh_celestials_Crusader,AE_myh_celestials_Legionnaire,AE_myh_celestials_Wizard,AE_myh_celestials_Zealot
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Devlings - Heros

[multiplayer_side]
    id=AE_side_myh_devlings
    name= _ "EOM - Devlings"
    image="units/devlings/offenders.png"
    type=AE_myh_devilings_Offenders
    leader=AE_myh_devilings_Soldier,AE_myh_devilings_Warrior,AE_myh_devilings_Offenders
    recruit=AE_myh_devilings_Flappers,AE_myh_devilings_Sneak,AE_myh_devilings_Cursers,AE_myh_devilings_Overgrown_Devling,AE_myh_devilings_Nailers
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,archer,mixed fighter,fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Therians - Heros

[multiplayer_side]
    id=AE_side_myh_therians
    name= _ "EOM - Therians"
    image="units/shifters/defender.png~TC(1,magenta)"
    type=AE_myh_therians_Defender
    leader=AE_myh_therians_Mage,AE_myh_therians_Shaman,AE_myh_therians_Aura_Monk,AE_myh_therians_Defender,AE_myh_therians_Therian_Wildcat,AE_myh_therians_Cobra
    recruit=AE_myh_therians_Therian_Cat,AE_myh_therians_Falcon_Therian,AE_myh_therians_Serpent_Therian,AE_myh_therians_Apprentice,AE_myh_therians_Monk,AE_myh_therians_Guard,AE_myh_wargs_Water_Dryad
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Vampires - Heros

[multiplayer_side]
    id=AE_side_myh_vampires
    name= _ "EOM - Vampires"
    image="units/vampires/noble.png"
    type=AE_myh_vampires_Noble
    leader=AE_myh_vampires_Noble,AE_myh_vampires_Mistress,AE_myh_vampires_Duelist,AE_myh_vampires_Flesh_Artisan,AE_myh_vampires_Blood_Manipulator,AE_myh_vampires_Half_Blood
    recruit=AE_myh_vampires_Gargoyle,AE_myh_vampires_Blood_Hulk,AE_myh_vampires_Fledgeling,AE_myh_vampires_Blood_Apprentice,AE_myh_vampires_Thin_Blood,AE_myh_vampires_Vampire_Bat,AE_myh_vampires_Bloodborn,AE_myh_vampires_Succubus
    terrain_liked=FHS
    [ai]
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,fighter,tank
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Warg - Default

[multiplayer_side]
    id=AE_side_myh_wargs
    name= _ "EOM - Wargs"
    image="units/wargs/warrior.png"
    type=AE_myh_wargs_Warrior_Warg
    leader=AE_myh_wargs_Warrior_Warg,AE_myh_wargs_Changeling,AE_myh_wargs_Fire_Sprite2,AE_myh_wargs_Black_Hunter
    recruit=AE_myh_wargs_Stalker,AE_myh_wargs_Wolf_Cub,AE_myh_wargs_Shapeshifter,AE_myh_wargs_Blackfur,AE_myh_wargs_Fire_Sprite,AE_myh_wargs_Warrior_Wolf
    terrain_liked=FHS
    [ai]
        recruitment_pattern=fighter,scout,fighter,archer,scout,fighter,tank
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Windsong - Default

[multiplayer_side]
    id=AE_side_myh_windsong
    name= _ "EOM - Windsong"
    image="units/windsong/prophet.png~TC(1,magenta)"
    type=AE_myh_windsong_Prophetess
    leader=AE_myh_windsong_Savant,AE_myh_windsong_Prophetess,AE_myh_windsong_Skyrunner,AE_myh_windsong_Lorekeeper,AE_myh_windsong_Heretic,AE_myh_windsong_Reaver

    recruit=AE_myh_windsong_Scribe,AE_myh_windsong_Seeker,AE_myh_windsong_Weaver,AE_myh_windsong_Gatekeeper,AE_myh_windsong_Courier,AE_myh_windsong_Sky_Shard
    terrain_liked=Aa, Ha, Ww
    [ai]
        recruitment_pattern=mixed fighter,archer,scout,fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
