#textdomain wesnoth-Ageless_Era

### | Feudal Era Custom Default Factions

## | Aragwaithi - Default

[multiplayer_side]
    id=AE Aragwaithi
    name= _ "Feudal - Aragwaithi"
    image=units/human-aragwaithi/flagbearer.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Aragwaithi Flagbearer
    leader=AE Aragwaithi Flagbearer,AE Aragwaithi Longswordsman,AE Aragwaithi Guard,AE Aragwaithi Pikeman,AE Aragwaithi Wizard,AE Aragwaithi Strongbow
    recruit=AE Aragwaithi Archer,AE Aragwaithi Swordsman,AE Aragwaithi Spearman,AE Aragwaithi Warlock,AE Aragwaithi Scout, AE Aragwaithi Eagle Rider
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Ceresian League - Default

[multiplayer_side]
    id=AE Ceresians League
    name= _ "Feudal - Ceresian League"
    image=units/human-ceresians/lieutenant.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Ceresian Lieutenant
    leader=AE Ceresian Lieutenant,AE Ceresian Man_at_Arms,AE Ceresian Espadachino,AE Ceresian Arbalestier,AE Ceresian Deacon
    random_leader=AE Ceresian Lieutenant,AE Ceresian Man_at_Arms,AE Ceresian Espadachino,AE Ceresian Deacon
    recruit=AE Ceresian Corporal,AE Ceresian Yeoman,AE Ceresian Crossbowman,AE Ceresian Squire,AE Ceresian Cavalryman,AE Ceresian Acolyte,AE Ceresian Novice
    terrain_liked=Gs,Hh,Rr,Ww
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer,healer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Clockwork Dwarves - Default

[multiplayer_side]
    id=AE Clockwork Dwarves
    name= _ "Feudal - Clockwork Dwarves"
    image="units/dwarves-clockwork/marshal.png~TC(1,magenta)"
    type=AE Clockwork Marshal
    leader=AE Clockwork Marshal,AE Clockwork Miasmist,AE Clockwork Gunner,AE Clockwork Rambler,AE Clockwork Oiler,AE Clockwork Steel Eagle
    recruit=AE Clockwork Triggerman,AE Clockwork Soldier,AE Clockwork Wanderer,AE Clockwork Greaser,AE Clockwork Contraption,AE Clockwork Wooden Bird
    [ai]
        recruitment_pattern=archer,fighter,fighter,healer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | High Elves - Default

[multiplayer_side]
    id=AE High Elves
    name= _ "Feudal - High Elves"
    image="units/elves-high/feyblade-se.png~TC(1,magenta)"
    type=AE High Elven Feyblade
    leader=AE High Elven Chasseur,AE High Elven Feyblade,AE High Elven Enchantress,AE High Elven Schiltron,AE High Elven Shieldbearer,AE High Elven Glavier
    recruit=AE High Elven Archer,AE High Elven Charger,AE High Elven Sorceress,AE High Elven Faerie Warrior,AE High Elven Spearman,AE High Elven Horse Archer,AE High Elven Charger
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Orcish Khaganates - Default

[multiplayer_side]
    id=AE Orcish Khaganates
    name= _ "Feudal - Orcish Khaganates"
    image="units/orcs-khaganate/juggernaut.png~TC(1,magenta)"
    type=AE Khaganate Vanguard
    leader=AE Khaganate Vanguard,AE Khaganate Juggernaut,AE Khaganate Drover,AE Khaganate Outcast,AE Khaganate Rigid,AE Khaganate Bladesman,AE Khaganate Spearman
    random_leader=AE Khaganate Vanguard,AE Khaganate Juggernaut,AE Khaganate Drover,AE Khaganate Outcast,AE Khaganate Bladesman,AE Khaganate Spearman
    recruit=AE Khaganate Warrior,AE Khaganate Shieldbearer,AE Khaganate Herder,AE Khaganate Hunter,AE Khaganate Spearhead
    terrain_liked=Ss,Hh,Ha,Ww
    [ai]
        recruitment_pattern=fighter,fighter,scout,defender,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
#                                                                         #
#                          U N I T   T R E E S                            #
#                                                                         #
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

### | Ceresian League Unit Tree

#Yeoman -> Pikeman -> Halberdier
#       -> Mounted Infantryman
#
#       -> Espadachino -> Rodelero*
#Squire -> Man-at-Arms -> Champion
#       -> Knight Errant -> Knight Commander
#Cavalryman -> Stradioto -> Cavaliero
#
#Crossbowman -> Arbalestier -> Master Arbalestier
#            -> Mounted Crossbowman -> Cranequinier*
#
#Acolyte -> Deacon -> Monsignor -> Metropolitan
#        -> Order Knight -> Knight Raetian
#
#Novice -> Monk -> Pellegrino
#
#Corporal -> Lieutenant -> Condottiero

### | High Elves Unit Tree

#Spearman -> Schiltron -> Fouchardier
#         -> Shieldbearer -> Aegis
#
#Archer -> Chasseur -> Tireur d'Elite
#
#Charger -> Cuirassier -> Cataphract -- heavy cavalry, like mainline Knight
#        -> Lancier -> Gendarme -- like mainline Lancer
#        -> Cavalier -> Escrimeur -- loses charge, gains resistance to pierce, has sword and crossbow
#
#Horse Archer -> Savari -> Voltigeur -- horse archer, has spear and bow
#             -> Coutillier -> Chevauleger -- loses bow, has spear and sword, has great speed but low resistances
#
#Faerie Warrior -> Feyblade -> Sylvanus -- male warrior-mage line
#
#Sorceress -> Enchantress -> Sylph -- like wood-elf sorceress line
#
#Initiate -> Priestess -> Diviner -- mermaid-like, though they're still elves
#         -> Enchantress -> Siren
