#textdomain wesnoth-Ageless_Era

### | Era of Magic Custom Default Factions

## | Summoners - Default

[multiplayer_side]
    id=AE_side_mag_alkamija
    name= "EoMa - " + _ "Al-Kamija"
    image="units/summoners/summonerIII.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Al_Kamija_Summoner
    leader=AE_mag_Al_Kamija_Summoner,AE_mag_Al_Kamija_Great_Jinn,AE_mag_Al_Kamija_RhamiDatu,AE_mag_Al_Kamija_RhamiKai
    random_leader=AE_mag_Al_Kamija_Summoner,AE_mag_Al_Kamija_Great_Jinn,AE_mag_Al_Kamija_RhamiDatu,AE_mag_Al_Kamija_RhamiKai
    recruit=AE_mag_Al_Kamija_Novice_Summoner,AE_mag_Al_Kamija_Dimensional_Gate,AE_mag_Al_Kamija_Jinn,AE_mag_Al_Kamija_Rhami,AE_mag_Al_Kamija_Fire_Elemental,AE_mag_Al_Kamija_Water_Elemental,AE_mag_Al_Kamija_Camel_Rider,AE_mag_Al_Kamija_Carpet_Rider
    music=""
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,mixed fighter,archer,archer,scout,scout,scout,healer,gate
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Barbarians - Default

[multiplayer_side]
    id=AE_side_mag_barbarians
    name= "EoMa - " + _ "Barbarians"
    image="units/barbarians/barbarianking.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Barbarians_Barbarian
    leader=AE_mag_Barbarians_Barbarian,AE_mag_Barbarians_Fire_Cyclops,AE_mag_Barbarians_Mighty_Cyclops,AE_mag_Barbarians_Troll_Fire_Wizard,AE_mag_Barbarians_Troll_Warbanner,AE_mag_Barbarians_Orcish_Warbanner
    random_leader=AE_mag_Barbarians_Barbarian,AE_mag_Barbarians_Fire_Cyclops,AE_mag_Barbarians_Mighty_Cyclops,AE_mag_Barbarians_Troll_Fire_Wizard,AE_mag_Barbarians_Troll_Warbanner,AE_mag_Barbarians_Orcish_Warbanner
    recruit=AE_mag_Barbarians_Cyclops,AE_mag_Barbarians_Orcish_Warrior,AE_mag_Barbarians_Goblin_Runt,AE_mag_Barbarians_Goblin_Kamikaze,AE_mag_Barbarians_Goblin_Warbanner,AE_mag_Barbarians_Goblin_Archer,AE_mag_Barbarians_Roc_Rider,AE_mag_Barbarians_Troll_Sorcerer,AE_mag_Barbarians_Barbarian_Berserker
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dark Blood Alliance - Default

[multiplayer_side]
    id=AE_side_mag_darkblood
    name= "EoMa - " + _ "Dark Blood Alliance"
    image="units/darkblood/chosenofforest.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Darkblood_Clan_Leader
    leader=AE_mag_Darkblood_Clan_Leader,AE_mag_Darkblood_Corrupted_Shaman,AE_mag_Darkblood_Great_Pikeman,AE_mag_Darkblood_Crossbowman
    random_leader=AE_mag_Darkblood_Clan_Leader,AE_mag_Darkblood_Corrupted_Shaman,AE_mag_Darkblood_Great_Pikeman,AE_mag_Darkblood_Crossbowman
    recruit=AE_mag_Darkblood_Toad,AE_mag_Darkblood_Saurian_Pikeman,AE_mag_Darkblood_Shaman_Adept,AE_mag_Darkblood_Shooter,AE_mag_Darkblood_Wyvern,AE_mag_Darkblood_Wyvern_Rider,AE_mag_Darkblood_Salamander
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter,scout,healer,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Destroyers - Default

[multiplayer_side]
    id=AE_side_mag_destroyers
    name= "EoMa - " + _ "Destroyers"
    image="units/destroyers-omens/obliterator.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Destroyers_Punisher
    leader=AE_mag_Destroyers_Punisher,AE_mag_Destroyers_Legendary_Cyclops,AE_mag_Destroyers_Atokpi_Samurai,AE_mag_Destroyers_Mara,AE_mag_Destroyers_Bone_Golem
    random_leader=AE_mag_Destroyers_Atokpi_Samurai,AE_mag_Destroyers_Mara,AE_mag_Destroyers_Bone_Golem,AE_mag_Destroyers_Punisher,AE_mag_Destroyers_Legendary_Cyclops
    recruit=AE_mag_Destroyers_Pirafly,AE_mag_Destroyers_Atokpi,AE_mag_Destroyers_Nightmare,AE_mag_Destroyers_Beast,AE_mag_Destroyers_Omen,AE_mag_Destroyers_Cyclops_Skeleton
    [ai]
        recruitment_pattern=scout,warrior,warrior,warrior,archer,archer,mixed fighter,mixed fighter
    [/ai]
[/multiplayer_side]

## | Kharos - Default

[multiplayer_side]
    id=AE_side_mag_kharos
    name= "EoMa - " + _ "Kharos"
    image="units/kharos/inspired.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Kharos_Cleric
    leader=AE_mag_Kharos_Cleric,AE_mag_Kharos_Inspired,AE_mag_Kharos_Sun_Follower,AE_mag_Kharos_Brown_Warrior,AE_mag_Kharos_Revenger,AE_mag_Kharos_Protector

    recruit=AE_mag_Kharos_White_Warrior,AE_mag_Kharos_Adept_of_Light,AE_mag_Kharos_Shielder,AE_mag_Kharos_Slicer,AE_mag_Kharos_Cavalry_Archer,AE_mag_Kharos_Sun_Follower,AE_mag_Kharos_War_Banner,AE_mag_Kharos_Sister_of_Light
    music=""
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,healer,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Runemasters - Default

[multiplayer_side]
    id=AE_side_mag_runemasters
    name= "EoMa - " + _ "Runemasters"
    image="units/ancient_dwarves/runemaster-thunder-1.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Runemasters_Runesmith
    leader=AE_mag_Runemasters_Runesmith,AE_mag_Runemasters_Dwarvish_Heavy_Warrior,AE_mag_Runemasters_Dwarvish_Tank,AE_mag_Runemasters_Technician
    random_leader=AE_mag_Runemasters_Runesmith,AE_mag_Runemasters_Dwarvish_Heavy_Warrior,AE_mag_Runemasters_Dwarvish_Tank,AE_mag_Runemasters_Technician
    recruit=AE_mag_Runemasters_Striding_Machine,AE_mag_Runemasters_Steam_Ulfserker,AE_mag_Runemasters_Dwarvish_Warrior,AE_mag_Runemasters_Mechanic,AE_mag_Runemasters_Runeadept,AE_mag_Runemasters_Balloon
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Enlightened Ones - Default

[multiplayer_side]
    id=AE_side_mag_skykingdom
    name= "EoMa - " + _ "Sky Kingdom"
    image="units/enlightened/master-of-elements1.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Sky_Kingdom_Sorcerer
    leader=AE_mag_Sky_Kingdom_Sorcerer,AE_mag_Sky_Kingdom_War_Mage,AE_mag_Sky_Kingdom_Mage_of_Fire,AE_mag_Sky_Kingdom_Mage_of_Water,AE_mag_Sky_Kingdom_Mage_of_Air,AE_mag_Sky_Kingdom_Black_Mage,AE_mag_Sky_Kingdom_Mystical_Warrior,AE_mag_Sky_Kingdom_Sculptor

    recruit=AE_mag_Sky_Kingdom_Battlemage,AE_mag_Sky_Kingdom_Subversive_Mage,AE_mag_Sky_Kingdom_Elementalist,AE_mag_Sky_Kingdom_Golem,AE_mag_Sky_Kingdom_Mu,AE_mag_Sky_Kingdom_Hidden_Face,AE_mag_Sky_Kingdom_Magical_Eye
    music=""
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Warlocks - Default

[multiplayer_side]
    id=AE_side_mag_tharis
    name= "EoMa - " + _ "Tharis"
    image="units/warlocks/greatwarlock.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Tharis_Dark_Wizard
    leader=AE_mag_Tharis_Dark_Wizard,AE_mag_Tharis_Dark_Witch,AE_mag_Tharis_Commander,AE_mag_Tharis_Dark_Slayer,AE_mag_Tharis_Great_Hunter

    recruit=AE_mag_Tharis_Disciple,AE_mag_Tharis_Witch,AE_mag_Tharis_Dark_Warrior,AE_mag_Tharis_Hydra,AE_mag_Tharis_Dark_Hunter,Vampire Bat,AE_mag_Tharis_Bladedancer
    music=""
    terrain_liked=gcs
    [ai]
        recruitment_pattern=archer,archer,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
