#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Fanatic Camel Knight
    name= _ "Camel Knight"
    race=AE Fanatics
    gender=male
    image="units/fanatics/camelknight.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=74
    movement_type=camelfoot
    movement=7
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=16
    usage=scout
    description= _ "
"

    [resistance]
        blade=80
        impact=70
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=15
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
