#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Fanatic Master Genie
    name= _ "Master Genie"
    race=Djinn
    gender=male
    image="units/fanatics/mastergenie.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=38
    movement_type=fanagenie
    movement=6
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=50
    usage=mixedfighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_PROTECTION}+{SPECIAL_NOTES_CURES}+{SPECIAL_NOTES_MAGICAL}

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_CURES}
        {ABILITY_ALLIED_PROTECTION_LEVEL_2}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Scimitar
        description= _ "Scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=10
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Lightning
        description= _ "Lightning"
        icon=attacks/lightning.png
        type=fire
        range=ranged
        damage=11
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=Iceball
        description= _ "Snowball"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
[/unit_type]
