#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Archer
    name= _ "Archer"
    race=AE Avians
    image="units/avians/archer.png"
    hitpoints=32
    movement_type=Avianmedwing
    movement=5
    experience=46
    level=1
    alignment=neutral
    advances_to=AE Avian Hawkeye,AE Avian Bombardier
    cost=17
    usage=archer
    undead_variation=gryphon
    description= _ "Most large winged Avians are not able to carry bows and fly at the same time, in this way those who have smaller wings can shoot shortbows, but they still have to fly slow because of the clumsy bow getting in the way of their wings."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=7
        number=3
    [/attack]
    {DEFENSE_ANIM "units/avians/archer.png" "units/avians/archer.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
