#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_avians_Bowflurry
    name= _ "Bowflurry"
    race=AE_mrc_avians_race
    image="units/avians/bowflurry.png"
    hitpoints=70
    movement_type=AE_mrc_avians_Avianmedwing
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=47
    usage=archer
    undead_variation=gryphon
    description={AE_MRC_UNIT_NOTICE}+"Humans are very superstitious creatures. When fighting against Avians, they often runhome, with arrows in their armor, screaming something about it raining arrows from the sky. Silly humans, hahaha."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=10
        number=5
    [/attack]
    {DEFENSE_ANIM "units/avians/bowflurry.png" "units/avians/bowflurry.png" {SOUND_LIST:GRYPHON_HIT} }
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
