#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Eagle Eye
    name= _ "Eagle Eye"
    race=AE Avians
    image="units/avians/hawkeye.png"
    hitpoints=62
    movement_type=Avianmedwing
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=17
    usage=archer
    undead_variation=gryphon
    description= _ "After learning the ropes of a crossbow, it tends to seem that crossbows were MADE for Avians. They're small, and fire powerful shots from one hand, and with enough practice Avian archers can easily load 3 large bolts into a crossbow in the time it takes most archers to load two into a regular bow."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=15
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/avians/hawkeye.png" "units/avians/hawkeye.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
