#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Watchman
    name= _ "Watchman"
    race=AE Avians
    image="units/avians/watchman.png"
    hitpoints=34
    movement_type=Avianmedwing
    movement=5
    experience=42
    level=1
    alignment=neutral
    advances_to=AE Avian Nestguard,AE Avian Bladewing,AE Avian Savior
    cost=16
    usage=fighter
    undead_variation=gryphon
    description= _ "Avians live in the mountains, often in small cliff colonies. Their young and eggs are cared for and nurtured by the mothers in a compound nest, which is guarded at all times by the warrior class males."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=2
        number=3
    [/attack]
    {DEFENSE_ANIM "units/avians/watchman.png" "units/avians/watchman.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
