#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Bladewing
    name= _ "Bladewing"
    race=AE Avians
    image="units/avians/bladewing.png"
    hitpoints=58
    movement_type=Avianmedwing
    movement=6
    experience=82
    level=2
    alignment=neutral
    advances_to=AE Avian Razorwing
    cost=29
    usage=fighter
    undead_variation=gryphon
    description= _ "Avians have very powerful wings, but none so powerful as what the humans call bladewings. These powerful warriors are able to create powerful vaccuums of air which slash enemies at a distance by flapping their wings at mach speeds."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=16
        number=2
    [/attack]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=5
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=5
        number=3
    [/attack]
    [attack]
        name=sonicboom
        description= _ "Sonicboom"
        icon=attacks/dark-missile.png
        type=blade
        range=ranged
        damage=13
        number=1
    [/attack]
    [resistance]
        blade=90
    [/resistance]
    {DEFENSE_ANIM "units/avians/bladewing.png" "units/avians/bladewing.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
