#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Nestguard
    name= _ "Nestguard"
    race=AE Avians
    image="units/avians/nestguard.png"
    hitpoints=52
    movement_type=Avianmedwing
    movement=4
    experience=77
    level=2
    alignment=neutral
    advances_to=AE Avian Shell
    cost=29
    usage=fighter
    undead_variation=gryphon
    description= _ "While most Avians are unable to wear armor and fly, some of the more skilled warriors learned that the light but durable shells of the eggs are fair enough protection to guard them from some damage."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=12
        number=2
    [/attack]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=6
        number=5
    [/attack]
    [resistance]
        pierce=70
        impact=110
        blade=80
    [/resistance]
    {DEFENSE_ANIM "units/avians/nestguard.png" "units/avians/nestguard.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
