#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Savior
    name= _ "Savior"
    race=AE Avians
    image="units/avians/savior.png"
    hitpoints=50
    movement_type=Avianmedwing
    movement=6
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=32
    usage=fighter
    undead_variation=gryphon
    description= _ "When an Avian covers up his birdlike legs, to most humans he will seem merely to be a human with wings. The first Avians to wear leg coverings were mistaken for what is in human mythology an Angel. It gets to many Avians heads when they are worshiped by a complete other species, and they soon take to these myths and grow to be saviors of mankind, carrying blessed swords and dropping much of their Avian heritidge to be Birds of Legend."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [attack]
        name=Holysword
        description= _ "Holysword"
        icon=attacks/sword-holy.png
        type=arcane
        range=melee
        damage=6
        number=5
    [/attack]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=7
        number=3
    [/attack]
    [resistance]
        arcane=40
    [/resistance]
    {DEFENSE_ANIM "units/avians/savior.png" "units/avians/savior.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
