#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Razorwing
    name= _ "Razorwing"
    race=AE Avians
    image="units/avians/razorwing.png"
    hitpoints=76
    movement_type=Avianmedwing
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=17
    usage=fighter
    undead_variation=gryphon
    description= _ "Bladewings who learn to master their wings are able to flap their wings hard enough to disembody enemies with a single powerful flap of their wings."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=20
        number=2
    [/attack]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=9
        number=5
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=8
        number=3
    [/attack]
    [attack]
        name=sonicboom
        description= _ "Sonicboom"
        icon=attacks/dark-missile.png
        type=blade
        range=ranged
        damage=19
        number=1
    [/attack]
    [resistance]
        blade=70
    [/resistance]
    {DEFENSE_ANIM "units/avians/razorwing.png" "units/avians/razorwing.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
