#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Broadwing
    name= _ "Broadwing"
    race=AE Avians
    image="units/avians/broadwing.png"
    hitpoints=38
    movement_type=Avianlrgwing
    movement=5
    experience=58
    level=1
    alignment=neutral
    advances_to=AE Avian Skylord,AE Avian Skyterror
    cost=20
    usage=fighter
    undead_variation=gryphon
    description= _ "The larger an avians wings are, the more looked up to they are. Broadwings are specially bred to make the biggest wings possible, because the larger the wings of your child, the more likely your pampered nobility of a son will give you some of his eligability and high class priviledges. Though they are pampered, they still have the most powerful wings of the Avians, and are able to create massive bursts of air which can knock even the heaviest warriors onto their backs."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
    [/abilities]
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=5
        number=4
    [/attack]
    [attack]
        name=northwind
        description= _ "northwind"
        icon=attacks/dark-missile.png
        type=cold
        range=ranged
        damage=9
        number=2
    [/attack]
    {DEFENSE_ANIM "units/avians/broadwing.png" "units/avians/broadwing.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
