#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Winged Baron
    name= _ "Winged Baron"
    race=AE Avians
    image="units/avians/wingedbaron.png"
    hitpoints=68
    movement_type=Avianlrgwing
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=17
    usage=fighter
    undead_variation=gryphon
    description= _ "The most noble of the Avians are often called kings of the sky for good reason."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_3}
    [/abilities]
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=11
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=northwind
        description= _ "northwind"
        icon=attacks/dark-missile.png
        type=cold
        range=ranged
        damage=14
        number=3
    [/attack]
    {DEFENSE_ANIM "units/avians/wingedbaron.png" "units/avians/wingedbaron.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
