#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_avians_Jackdaw
    name= _ "Jackdaw"
    race=AE_mrc_avians_race
    image="units/avians/jackdaw.png"
    hitpoints=32
    movement_type=AE_mrc_avians_Aviansmlwing
    movement=8
    experience=50
    level=1
    alignment=neutral
    advances_to=AE_mrc_avians_Crow,AE_mrc_avians_Owl
    cost=19
    usage=scout
    undead_variation=gryphon
    description={AE_MRC_UNIT_NOTICE}+"Jackdaws are quite small. Even for civilian class avians. They also have the smallest wingspan, and are unable to make gusts of wind yet. But are so small and light that they are still faster than the average Avian."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]

    {DEFENSE_ANIM "units/avians/jackdaw.png" "units/avians/jackdaw.png" {SOUND_LIST:GRYPHON_HIT} }
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
