#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Crow
    name= _ "Crow"
    race=AE Avians
    image="units/avians/crow.png"
    hitpoints=40
    movement_type=Aviansmlwing
    movement=9
    experience=70
    level=2
    alignment=neutral
    advances_to=AE Avian Raven
    cost=31
    usage=scout
    undead_variation=gryphon
    description= _ "Eventually, jackdaws can grow to be muscular enough to need stronger wings to carry them, while small, these stronger wings can create gusts of similar strength to weaker of the larger winged Avians. They make up for their poor wingspans with sharper claws and cunning wits."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=4
        number=3
    [/attack]
    {DEFENSE_ANIM "units/avians/crow.png" "units/avians/crow.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
