#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Ironbeak
    name= _ "Ironbeak"
    race=AE Avians
    image="units/avians/ironbeak.png"
    hitpoints=54
    movement_type=AvianIron
    movement=4
    experience=90
    level=2
    alignment=lawful
    advances_to=AE Avian Steelbeak
    cost=28
    usage=fighter
    undead_variation=gryphon
    description= _ "Most Avians aren't able to carry much more than their bodyweight with their legs, and fly most of the time. Grounded avians are unable to fly, and must walk at all times, this causes them to be able to lift much heavier weapons and armor than other avians."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=mace
        description= _ "mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=17
        number=2
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=3
    [/attack]
    {DEFENSE_ANIM "units/avians/ironbeak.png" "units/avians/ironbeak.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
