#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Pigeon
    name= _ "Pigeon"
    race=AE Avians
    image="units/avians/pigeon.png"
    hitpoints=34
    movement_type=Aviansmlwing
    movement=6
    experience=35
    level=1
    alignment=neutral
    advances_to=AE Avian Dove,AE Avian Sparrow,AE Avian Hummingbird
    cost=17
    usage=fighter
    undead_variation=gryphon
    description= _ "Avians are generally classed by wingsize, the smaller your wings the lower your class, while Grounded Avians are the lowest class, the smallwinged civilian avians are often looked down upon just as much if not more because their general lack in fighting ability. Though not powerful, they are quite quick on their feet... err wings."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=2
        number=5
    [/attack]
    {DEFENSE_ANIM "units/avians/pigeon.png" "units/avians/pigeon.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
