#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_avians_Pigeon
    name= _ "Pigeon"
    race=AE_mrc_avians_race
    image="units/avians/pigeon.png"
    hitpoints=34
    movement_type=AE_mrc_avians_Aviansmlwing
    movement=6
    experience=35
    level=1
    alignment=neutral
    advances_to=AE_mrc_avians_Dove,AE_mrc_avians_Sparrow,AE_mrc_avians_Hummingbird
    cost=17
    usage=fighter
    undead_variation=gryphon
    description={AE_MRC_UNIT_NOTICE}+"Avians are generally classed by wingsize, the smaller your wings the lower your class, while Grounded Avians are the lowest class, the smallwinged civilian avians are often looked down upon just as much if not more because their general lack in fighting ability. Though not powerful, they are quite quick on their feet... err wings."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=2
        number=5
    [/attack]
    {DEFENSE_ANIM "units/avians/pigeon.png" "units/avians/pigeon.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
