#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Falcon
    name= _ "Falcon"
    race=AE Avians
    image="units/avians/falcon.png"
    hitpoints=58
    movement_type=Aviansmlwing
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=53
    usage=fighter
    undead_variation=gryphon
    description= _ "Falcons are the second largest of the civilian class of Avians. They've learned quite well how to use their powerful legs to slash at enemies, even without military training they're on par with most humans, at the least."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=11
        number=4
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=5
        number=5
    [/attack]
    {DEFENSE_ANIM "units/avians/falcon.png" "units/avians/falcon.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
