#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_chs_chaos_empire_Arbalestier
    name= _ "Arbalestier"
    race=human
    image="units/human-chaos/crossbowman-arbalestier.png"
    profile="portraits/chaos/crossbow.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=58
    movement_type=smallfoot
    movement=6
    experience=150
    {AMLA_DEFAULT}
    level=3
    alignment=chaotic
    advances_to=null
    cost=56
    usage=archer
    [defense]
        sand=60
    [/defense]
    [resistance]
        blade=80
    [/resistance]
    undead_variation=archer
    # wmllint: notecheck off
    description={AE_EOC_UNIT_NOTICE}+"FIXME" # wmllint: ignore no spellcheck
    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=8
        number=3
        icon=attacks/sword-human.png
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-iron.png
        type=pierce
        range=ranged
        damage=13
        number=3
    [/attack]

    {DEFENSE_ANIM "units/human-chaos/crossbowman-arbalestier.png" "units/human-chaos/crossbowman-arbalestier.png" {SOUND_LIST:HUMAN_HIT} }

    {GENERIC_SWORD_ANIM sword "units/human-chaos/crossbowman-arbalestier.png"}

    {GENERIC_CROSSBOW_ANIM (name=crossbow) "units/human-chaos/crossbowman-arbalestier.png"}
[/unit_type]
