#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_chs_chaos_empire_Crossbowman
    name= _ "Crossbowman"
    race=human
    image="units/human-chaos/crossbowman.png"
    profile="portraits/chaos/crossbowman.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=smallfoot
    movement=6
    experience=70
    level=2
    alignment=chaotic
    advances_to=AE_chs_chaos_empire_Arbalestier
    cost=36
    usage=archer
    [defense]
        sand=60
    [/defense]
    [resistance]
        blade=90
    [/resistance]
    undead_variation=archer
    description={AE_EOC_UNIT_NOTICE}+"Unlike their comrades, the Chaos Longbowmen, who only seek greater power with their bows, these archers decide to seek power in a more balanced fashion. Due to this, they are trained to be adept with both their axes and their crossbows.

Such training results in a warrior adept with fighting at both close and ranged combat, and are especially dangerous at night, due to the fact that they were trained to fight in the freezing darkness."
    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=6
        number=3
        icon=attacks/sword-human.png
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=9
        number=3
    [/attack]

    {DEFENSE_ANIM "units/human-chaos/crossbowman.png" "units/human-chaos/crossbowman.png" {SOUND_LIST:HUMAN_HIT} }

    {GENERIC_SWORD_ANIM sword "units/human-chaos/crossbowman.png"}

    {GENERIC_CROSSBOW_ANIM (name=crossbow) "units/human-chaos/crossbowman.png"}
[/unit_type]
