#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_chs_chaos_empire_Bowman
    name= _ "Chaos Bowman"
    race=human
    image="units/human-chaos/bowman.png"
    profile="portraits/chaos/bowman.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=33
    movement_type=smallfoot
    movement=5
    experience=42
    level=1
    alignment=chaotic
    advances_to=AE_chs_chaos_empire_Crossbowman,AE_chs_chaos_empire_Longbowman
    undead_variation=archer
    cost=14
    usage=archer
    [defense]
        sand=60
    [/defense]
    description={AE_EOC_UNIT_NOTICE}+"The backbones of most armies are soldiers capable of using ranged weapons of sorts. The bow is the cheapest, yet effective, weapon that a military can afford for beginners in their lines. Bowmen are usually given a short sword to defend themselves if that should ever be necessary; they are instructed not to engage enemies in close combat.

Bowmen serving the forces of Chaos are trained for moving and attacking covered by the black shroud of night. This causes great difficulty to most adversaries, as they are often adapted to fight under the light of the two suns, over the sands; their lack of protection against the freezing cold of night is also an advantage for AE_chs_chaos_empire_Bowmen."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=short sword
        description={STR_SHORT_SWORD}
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=4
        number=2
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        icon=attacks/bow-short-reinforced.png
        type=pierce
        range=ranged
        damage=6
        number=3
    [/attack]

    {DEFENSE_ANIM "units/human-chaos/bowman.png" "units/human-chaos/bowman.png" {SOUND_LIST:HUMAN_HIT}}

    {GENERIC_SWORD_ANIM (short sword) "units/human-chaos/bowman.png"}

    {GENERIC_BOW_ANIM bow "units/human-chaos/bowman.png"}
[/unit_type]
