#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_chs_chaos_empire_Longbowman
    name= _ "Chaos Longbowman"
    race=human
    image="units/human-chaos/longbowman.png"
    profile="portraits/chaos/longbowman.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=51
    movement_type=smallfoot
    movement=5
    experience=70
    level=2
    alignment=chaotic
    advances_to=AE_chs_chaos_empire_Heavy_Longbowman
    undead_variation=archer
    cost=26
    usage=archer
    [defense]
        sand=60
    [/defense]
    # wmllint: notecheck off
    description={AE_EOC_UNIT_NOTICE}+"FIXME" # wmllint: ignore no spellcheck
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]

    {DEFENSE_ANIM "units/human-chaos/longbowman.png" "units/human-chaos/longbowman.png" {SOUND_LIST:HUMAN_HIT}}

    {GENERIC_SWORD_ANIM sword "units/human-chaos/longbowman.png"}

    {GENERIC_BOW_ANIM bow "units/human-chaos/longbowman.png"}
[/unit_type]
