#wmllint: no translatables

[unit_type]
    [base_unit]
        id=Dwarvish Fighter
    [/base_unit]
    id=Dwarvish Fighter_EoC
    advances_to=Dwarvish Steelclad,Dwarvish Runesmith_EoC
[/unit_type]

[unit_type]
    [base_unit]
        id=Dwarvish Runesmith
    [/base_unit]
    id=Dwarvish Runesmith_EoC
    advances_to=Dwarvish Runemaster_EoC
[/unit_type]

[unit_type]
    [base_unit]
        id=Dwarvish Runemaster
    [/base_unit]
    id=Dwarvish Runemaster_EoC
    advances_to=Dwarvish Arcanister
    experience=210
[/unit_type]

[unit_type]
    [base_unit]
        id=Dwarvish Thunderer
    [/base_unit]
    id=Dwarvish Thunderer_EoC
    advances_to=Dwarvish Thunderguard,Dwarvish Flamethrower
[/unit_type]
