#textdomain wesnoth-Ageless_Era
[unit_type]
    id=Dwarvish Commander
    name= _ "Dwarvish Commander"
    race=dwarf
    image="units/dwarves/commander.png"
    profile="portraits/dwarves/lord.png"
    small_profile="portraits/dwarves/lord.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=75
    movement_type=dwarvishfoot
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    usage=mixed fighter
    description="TODO"
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/commander.png" "units/dwarves/commander.png" {SOUND_LIST:DWARF_HIT}}
    [resistance]
        blade=70
        pierce=70
        impact=70
    [/resistance]
    [attack]
        name=hammer
        description={STR_HAMMER}
        icon=attacks/hammer-dwarven.png
        type=impact
        range=melee
        damage=12
        number=3
    [/attack]
    [attack]
        name=thunderstick
        description={STR_THUNDERSTICK}
        type=pierce
        range=ranged
        damage=15
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-275
        offset=0.0~0.3,0.3~0.6,0.6~0.3,0.3~0.0

        [frame]
            image="units/dwarves/commander.png:550"
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=thunderstick
        [/filter_attack]
        start_time=-750

        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 0 0}
            direction=s
            hits=yes
            [frame]
                image="units/dwarves/commander.png:800"
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=s
            hits=no
            [frame]
                image="units/dwarves/commander.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH 0 0}
            direction=ne,nw
            hits=yes
            [frame]
                image="units/dwarves/commander.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=ne,nw
            hits=no
            [frame]
                image="units/dwarves/commander.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 0 0}
            direction=n
            hits=yes
            [frame]
                image="units/dwarves/commander.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=n
            hits=no
            [frame]
                image="units/dwarves/commander.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH 0 0}
            direction=se,sw
            hits=yes
            [frame]
                image="units/dwarves/commander.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=se,sw
            hits=no
            [frame]
                image="units/dwarves/commander.png:800"
            [/frame]
        [/else]

        {SOUND:HIT_AND_MISS thunderstick.ogg thunderstick-miss.ogg -250}
    [/attack_anim]
[/unit_type]
