#textdomain wesnoth-Ageless_Era
[unit_type]
    id=Dwarvish Smith
    name= _ "Dwarvish Smith"
    race=dwarf
    image="units/dwarves/smith.png"
    profile="portraits/dwarves/fighter.png"
    small_profile="portraits/dwarves/fighter.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=36
    movement_type=dwarvishfoot
    movement=4
    experience=46
    level=1
    alignment=neutral
    advances_to=Dwarvish Runesmith_EoC,Dwarvish Soldier
    cost=17
    usage=mixed fighter
    description="TODO"
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/smith-defend-2.png" "units/dwarves/smith-defend-1.png" {SOUND_LIST:DWARF_HIT}}
    [attack]
        name=hammer
        description={STR_HAMMER}
        icon=attacks/hammer-dwarven.png
        type=impact
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=thunderstick
        description={STR_THUNDERSTICK}
        type=pierce
        range=ranged
        damage=8
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-350
        offset=0.0~0.3,0.3~0.6,0.6~0.3,0.3~0.0

        [frame]
            image="units/dwarves/smith.png:40"
        [/frame]
        [frame]
            image="units/dwarves/smith-hammer-[1~6].png:100"
        [/frame]
        [frame]
            image="units/dwarves/smith.png:100"
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -75}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=thunderstick
        [/filter_attack]
        start_time=-750

        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 0 0}
            direction=s
            hits=yes
            [frame]
                image="units/dwarves/smith-thunderstick.png:800"
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=s
            hits=no
            [frame]
                image="units/dwarves/smith-thunderstick.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH 0 0}
            direction=ne,nw
            hits=yes
            [frame]
                image="units/dwarves/smith-thunderstick.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=ne,nw
            hits=no
            [frame]
                image="units/dwarves/smith-thunderstick.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 0 0}
            direction=n
            hits=yes
            [frame]
                image="units/dwarves/smith-thunderstick.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=n
            hits=no
            [frame]
                image="units/dwarves/smith-thunderstick.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH 0 0}
            direction=se,sw
            hits=yes
            [frame]
                image="units/dwarves/smith-thunderstick.png:800"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=se,sw
            hits=no
            [frame]
                image="units/dwarves/smith-thunderstick.png:800"
            [/frame]
        [/else]

        {SOUND:HIT_AND_MISS thunderstick.ogg thunderstick-miss.ogg -250}
    [/attack_anim]
[/unit_type]
