#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Equestrian Black Knight
    name= _ "Black Knight"
    race=AE Equestrians
    gender=male
    image="units/equestrians/blackknight.png"
    ellipse="misc/ellipse"
    hitpoints=58
    movement_type=chargefoot
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=horse-die.ogg
    cost=40
    usage=fighter
    description= _ ""+{SPECIAL_NOTES}+{SPECIAL_NOTES_TERROR}

    [resistance]
        blade=70
        impact=60
        pierce=80
    [/resistance]

    [abilities]
        {ABILITY_TERROR_LEVEL_2}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HORSE_HIT} }

    [attack]
        name=Sword
        description= _ "Sword"
        icon=attacks/greatsword-orcish.png
        type=blade
        range=melee
        damage=18
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Flail
        description= _ "Flail"
        icon=attacks/morning-star.png
        type=impact
        range=melee
        damage=13
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Lance
        description= _ "Lance"
        icon=attacks/lance.png
        type=pierce
        range=melee
        damage=30
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
