#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Equestrian Pegasus Knight
    name= _ "Pegasus Knight"
    race=AE Equestrians
    gender=male
    image="units/equestrians/pegasusknight.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=49
    movement_type=pegasusfoot
    movement=9
    experience=64
    level=2
    alignment=lawful
    advances_to=AE Equestrian Silver Pegasus
    die_sound=horse-die.ogg
    cost=34
    usage=scout
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HORSE_HIT} }

    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=6
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Javelin
        description= _ "Javelin"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=6
        number=2
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
