#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Equestrian Rider
    name= _ "Rider"
    race=AE Equestrians
    gender=male
    image="units/equestrians/rider.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=35
    movement_type=equestrianfoot
    movement=8
    experience=34
    level=1
    alignment=lawful
    advances_to=AE Equestrian Equestrian
    die_sound=horse-die.ogg
    cost=17
    usage=fighter
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HORSE_HIT} }

    [attack]
        name=Sword
        description= _ "Sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=6
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
