#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Kalifa Mubarizan
    name= _ "Mubarizan"
    race=AE kalifa
    image="units/human-kalifa/mubarizan.png"
    hitpoints=53
    movement_type=AE kalifaarmoredfoot
    movement=5
    experience=150
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=35
    usage=fighter
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "This unit is from Extended Era. It's coding and art were done by the Various people who created Extended Era.
 
Mubarizan take pride in always manning the front lines of an offensive. They regularly take down heavily fortified castles and seldom fail to inflict grievous losses on their foemen."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_FIRSTSTRIKE}
    get_hit_sound={SOUND_LIST:HUMAN_HIT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=spear
        description= _ "spear"
        type=pierce
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=long sword
        description= _ "long sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=0
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=0
                sound=spear-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=200
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=long sword
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=200
        [/frame]
    [/attack_anim]
[/unit_type]
