#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Kalifa Life Guard
    name= _ "Life Guard"
    race=AE kalifa
    image="units/human-kalifa/life-guard.png"
    hitpoints=65
    movement_type=AE kalifaarmoredhorse
    movement=6
    experience=150
    level=3
    alignment=lawful
    {MAGENTA_IS_THE_TEAM_COLOR}
    advances_to=null
    {AMLA_DEFAULT}
    cost=80
    usage=archer
    undead_variation=mounted
    description= _ "This unit is from Extended Era. It's coding and art were done by the Various people who created Extended Era.
 
Only the greatest mounter warriors in the land are taken into the Life Guard."
    get_hit_sound={SOUND_LIST:HORSE_HIT}
    die_sound=horse-die.ogg
    [attack]
        name=lance
        description= _ "lance"
        type=pierce
        range=melee
        damage=26
        number=2
    [/attack]
    [attack]
        name=mace
        description= _ "mace"
        type=impact
        range=melee
        damage=14
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=lance
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            sound=horse-canter.wav
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=100
                sound=spear.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=100
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=0
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=0
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=150
        [/frame]
    [/attack_anim]
[/unit_type]
