#textdomain wesnoth-units
[unit_type]
    id=AE_ext_monsters_Bigfoot
    name= _ "Bigfoot"
    race=monster
    image="units/monsters/bigfoot-new.png"
    hitpoints=50
    movement_type=largefoot
    movement=4
    experience=50
    level=1
    alignment=neutral
    advances_to=AE_ext_monsters_Baby_Yeti
    cost=18
    undead_variation=troll
    usage=fighter
    description= _ "This is custom unit. Its coding and art were done by Ravana."
    die_sound=yeti-die.ogg
    {DEFENSE_ANIM "units/monsters/bigfoot-new.png" "units/monsters/bigfoot-new.png" yeti-hit.ogg }
    [movement_costs]
        frozen=1
    [/movement_costs]
    [defense]
        frozen=40
    [/defense]
    [resistance]
        cold=50
        fire=80
        pierce=80
        impact=80
        arcane=100
    [/resistance]
    [attack]
        name=fist
        description=_"fist"
        icon=attacks/fist-yeti.png
        type=impact
        range=melee
        damage=12
        number=2
    [/attack]
[/unit_type]
