#textdomain WarOfTheGods-units
[unit_type]
    id=AE_ext_monsters_Giant_Rat_Trio
    name= _ "Giant Rat Trio"
    race=monster
    undead_variation=human
    num_traits=1
    ignore_global_traits=yes
    {TRAIT_HEALTHY}
    {TRAIT_STRONG}
    image="units/monsters/giant-rat-triple.png"
    hitpoints=44
    movement_type=rodentfoot
    movement=7
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=37
    usage=scout
    description= _ "Given an adequate supply of food, some rats can grow to truly impressive sizes. They can also grow quite aggressive, and are even more dangerous in larger groups."
    {DEFENSE_ANIM "units/monsters/giant-rat-triple-defend-2.png" "units/monsters/giant-rat-triple-defend-1.png" {SOUND_LIST:BAT_HIT} }
    die_sound=bat-flapping.wav
    [death]
        [frame]
            duration=100
            image="units/monsters/giant-rat-triple-die-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-rat-triple-die-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-rat-triple-die-3.png"
        [/frame]
    [/death]
    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    [attack]
        name=bite
        description=_ "bite"
        icon="attacks/fangs-animal.png"
        type=blade
        range=melee
        damage=2
        number=10
    [/attack]
    [attack]
        name=tail attack
        description=_ "tail attack"
        icon="attacks/rat_tail.png"
        type=impact
        range=ranged
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        start_time=-500
        [frame]
            duration=100
            image="units/monsters/giant-rat-triple-attack-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-rat-triple-attack-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-rat-triple-attack-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-rat-triple-attack-4.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/monsters/giant-rat-triple-attack-5.png"
                sound=bite-small.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/monsters/giant-rat-triple-attack-5.png"
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/monsters/giant-rat-triple-attack-6.png"
        [/frame]
        [frame]
            duration=100
            image="units/monsters/giant-rat-triple-attack-7.png"
        [/frame]
    [/attack_anim]
[/unit_type]
