[unit_type]
    id=AE_mag_Sky_Kingdom_Deadly_Eye
    name= _ "Deadly Eye"
    race=mechanical
    image="units/enlightened/de.png"
    hitpoints=25
    movement_type=fly
    movement=8
    experience=50
    level=1
    alignment=neutral
    advances_to=null
    cost=16
    usage=scout
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Deadly Eyes are Magical Eyes that have somehow evolved. They can now solidify their auras, and use them like a fan of knives."+{SPECIAL_NOTES}
    #get_hit_sound=silence.ogg
    die_sound=silence.ogg
    {AMLA_DEFAULT}
    [resistance]
        cold=120
    [/resistance]
    [defense]
        deep_water=40
        shallow_water=40
        reef=40
        swamp_water=40
        flat=40
        sand=40
        forest=40
        hills=40
        mountains=40
        village=40
        castle=40
        frozen=40
        unwalkable=40
    [/defense]
    [idle_anim]
        start_time=0
        [frame]
            duration=100
            image="units/enlightened/de.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/de-idle1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/de-idle2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/de.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/de-idle1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/de-idle2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/de.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/de-idle1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/de-idle2.png"
        [/frame]
    [/idle_anim]
    [attack]
        name=blades
        description= _ "blades"
        icon=attacks/glaive.png
        type=blade
        range=melee
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_AE_PRECISION}
        [/specials]
    [/attack]
    [attack]
        name=eye
        description= _ "eye"
        icon=attacks/gaze.png
        type=arcane
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_AE_PRECISION}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=blades
        [/filter_attack]
        [frame]
            begin=-400
            end=-300
            image="units/enlightened/de-idle1.png"
        [/frame]
        [frame]
            begin=-300
            end=-200
            image="units/enlightened/de-idle2.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/enlightened/de.png"
        [/frame]
        [frame]
            begin=-100
            end=0
            image="units/enlightened/de-idle1.png"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/enlightened/de-idle2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/enlightened/de.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/enlightened/de-idle1.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/enlightened/de-idle2.png"
        [/frame]
    [/attack_anim]
    # The three variations for the north direction:
    {DE_LASER 1 n 0 -32}
    # The three variations for the south direction:
    {DE_LASER 2 s 0 32}
    # And so on...
    {DE_LASER 3 ne 27 -18}
    {DE_LASER 3 nw 27 -18}
    {DE_LASER 4 se 27 18}
    {DE_LASER 4 sw 27 18}
[/unit_type]
