[unit_type]
    id=AE_mag_Sky_Kingdom_Golem
    name= _ "Golem"
    race=mechanical
    image="units/enlightened/golem.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=mountainfoot
    movement=4
    experience=50
    level=1
    alignment=neutral
    advances_to=AE_mag_Sky_Kingdom_Golem_boss
    cost=22
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Golem is a powerful monster from Abyss. It is made of stone and it always charges at enemies three times. That's enough to kill everyone."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}
    #die_sound={SOUND_LIST:HUMAN_DIE}
    usage=fighter
    #{DEFENSE_ANIM "units/enlightened/golem.png" "units/enlightened/golem.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=70
        pierce=60
        impact=115
        fire=60
        cold=60
        arcane=60
    [/resistance]
    [defense]
        deep_water=80
        shallow_water=80
        swamp_water=80
        flat=70
        sand=70
        forest=70
        hills=70
        mountains=70
        village=70
        castle=60
        cave=70
        frozen=70
        unwalkable=70
        impassable=70
        fungus=70
    [/defense]
    [attack]
        name=charge
        description= _ "charge"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=charge
        [/filter_attack]
        hits=no
        [frame]
            begin=-230
            end=-100
            image="units/enlightened/golem.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/enlightened/golem.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/enlightened/golem.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=charge
        [/filter_attack]
        hits=yes
        [frame]
            begin=-230
            end=-100
            image="units/enlightened/golem.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/enlightened/golem.png"
            sound=mace.wav
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/enlightened/golem.png"
        [/frame]
    [/attack_anim]
    [death]
        [filter_attack]
            type=blade
        [/filter_attack]
        start_time=0
        [frame]
            duration=100
            image="units/enlightened/golem-blade1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-blade2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-blade3.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-blade4.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-blade5.png"
        [/frame]
    [/death]
    [death]
        [filter_attack]
            type=impact
        [/filter_attack]
        start_time=0
        [frame]
            duration=100
            image="units/enlightened/golem-impact1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-impact2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-impact3.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-impact4.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-impact5.png"
        [/frame]
    [/death]
    [death]
        [filter_attack]
            type=fire
        [/filter_attack]
        start_time=0
        [frame]
            duration=100
            image="units/enlightened/golem-fire1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-fire2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-fire3.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-fire4.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-fire5.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-fire6.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-fire7.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-fire8.png"
        [/frame]
    [/death]
    [death]
        [filter_attack]
            type=arcane
        [/filter_attack]
        start_time=0
        [frame]
            duration=100
            image="units/enlightened/golem-arcane1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-arcane2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-arcane3.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-arcane4.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-arcane5.png"
        [/frame]
    [/death]
    [death]
        [filter_attack]
            type=cold
        [/filter_attack]
        start_time=0
        [frame]
            duration=100
            image="units/enlightened/golem-cold1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-cold2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-cold3.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-cold4.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-cold5.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/golem-cold6.png"
        [/frame]
    [/death]
[/unit_type]
