[unit_type]
    id=AE_mag_Sky_Kingdom_Magical_Eye
    name= _ "Magical Eye"
    race=mechanical
    image="units/enlightened/me.png"
    hitpoints=15
    movement_type=fly
    movement=8
    experience=20
    level=0
    alignment=neutral
    advances_to=AE_mag_Sky_Kingdom_Deadly_Eye
    cost=12
    usage=scout
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Magical Eyes are a breed of constructs Enlightened Magi often animate. These Eyes are surrounded by a gold aura, focusing its powers through their gaze, and usually 'seeing' and therefore hitting their enemies often."
    #get_hit_sound=silence.ogg
    die_sound=silence.ogg
    [resistance]
        cold=120
    [/resistance]
    [defense]
        deep_water=40
        shallow_water=40
        reef=40
        swamp_water=40
        flat=40
        sand=40
        forest=40
        hills=40
        mountains=40
        village=40
        castle=40
        frozen=40
        unwalkable=40
    [/defense]
    [idle_anim]
        start_time=0
        [frame]
            duration=100
            image="units/enlightened/me.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/me-idle1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/me-idle2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/me.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/me-idle1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/me-idle2.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/me.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/me-idle1.png"
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/me-idle2.png"
        [/frame]
    [/idle_anim]
    [attack]
        name=eye
        description= _ "eye"
        icon=attacks/gaze.png
        type=arcane
        range=ranged
        damage=4
        number=3
        [specials]
            {WEAPON_SPECIAL_AE_PRECISION}
        [/specials]
    [/attack]
    # The three variations for the north direction:
    {ME_LASER 1 n 0 -32}
    # The three variations for the south direction:
    {ME_LASER 2 s 0 32}
    # And so on...
    {ME_LASER 3 ne 27 -18}
    {ME_LASER 3 nw 27 -18}
    {ME_LASER 4 se 27 18}
    {ME_LASER 4 sw 27 18}
[/unit_type]
