[unit_type]
    id=AE_mag_Sky_Kingdom_Master_of_Air
    name= _ "Master of Air"
    race=human
    image="units/enlightened/master-of-air2.png"
    hitpoints=50
    movement_type=fly
    movement=10
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=scout
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
This is the fastest mage in the era. When he is under attack, he creates a powerful hurricane which is very good protection against pierce attacks."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_AE_SUMMON_MOA}
        {ABILITY_SKIRMISHER}
    [/abilities]
    [resistance]
        pierce=10
    [/resistance]
    [standing_anim]
        [frame]
            duration=150
            image="units/enlightened/master-of-air1.png"
        [/frame]
        [frame]
            duration=150
            image="units/enlightened/master-of-air2.png"
        [/frame]
        [frame]
            duration=150
            image="units/enlightened/master-of-air3.png"
        [/frame]
        [frame]
            duration=150
            image="units/enlightened/master-of-air2.png"
        [/frame]
    [/standing_anim]
    [idle_anim]
        [frame]
            duration=150
            image="units/enlightened/master-of-air-defend1.png"
        [/frame]
        [frame]
            duration=150
            image="units/enlightened/master-of-air-defend2.png"
        [/frame]
        [frame]
            duration=150
            image="units/enlightened/master-of-air-defend3.png"
        [/frame]
    [/idle_anim]

    [idle_anim]
        [frame]
            duration=75
            image="units/enlightened/master-of-air1.png"
            halo=halo/ring1.png
        [/frame]
        [frame]
            duration=75
            image="units/enlightened/master-of-air1.png"
            halo=halo/ring2.png
        [/frame]
        [frame]
            duration=75
            image="units/enlightened/master-of-air2.png"
            halo=halo/ring3.png
        [/frame]
        [frame]
            duration=75
            image="units/enlightened/master-of-air2.png"
            halo=halo/ring4.png
        [/frame]
        [frame]
            duration=75
            image="units/enlightened/master-of-air3.png"
            halo=halo/ring5.png
        [/frame]
        [frame]
            duration=75
            image="units/enlightened/master-of-air3.png"
            halo=halo/ring6.png
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/master-of-air-magic1.png"
            halo=halo/ring7.png
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/master-of-air-magic2.png"
            halo=halo/ring8.png
        [/frame]
        [frame]
            duration=100
            image="units/enlightened/master-of-air-magic3.png"
            halo=halo/ring6.png
        [/frame]
        [frame]
            duration=75
            image="units/enlightened/master-of-air1.png"
            halo=halo/ring5.png
        [/frame]
        [frame]
            duration=75
            image="units/enlightened/master-of-air1.png"
            halo=halo/ring4.png
        [/frame]
        [frame]
            duration=75
            image="units/enlightened/master-of-air2.png"
            halo=halo/ring3.png
        [/frame]
        [frame]
            duration=75
            image="units/enlightened/master-of-air2.png"
            halo=halo/ring2.png
        [/frame]
        [frame]
            duration=75
            image="units/enlightened/master-of-air3.png"
            halo=halo/ring1.png
        [/frame]
    [/idle_anim]

    [defend]
        [frame]
            begin=-126
            end=-125
            image="units/enlightened/master-of-air2.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/enlightened/master-of-air-defend1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/enlightened/master-of-air-defend2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/enlightened/master-of-air-defend3.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/enlightened/master-of-air2.png"
        [/frame]
    [/defend]
    [attack]
        name=short circuit
        description= _ "short circuit"
        icon=attacks/short-circuit.png
        type=impact
        range=melee
        damage=12
        number=1
    [/attack]
    [attack]
        name=sparks
        description= _ "sparks"
        icon=attacks/lightning.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=3
        number=10
    [/attack]
    [attack]
        name=thunder
        description= _ "thunder"
        icon=attacks/lightning.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=9
        number=3
    [/attack]
    [attack]
        name=eye
        description= _ "eye of the storm"
        icon=attacks/eyeofstorm.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=30
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=short circuit
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/enlightened/master-of-air2.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/enlightened/master-of-air-magic1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/enlightened/master-of-air-magic2.png"
            sound=magic-dark.ogg
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/enlightened/master-of-air-magic3.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/enlightened/master-of-air2.png"
        [/frame]
    [/attack_anim]
    # The three variations for the north direction:
    {ELDER_MAGE_LIGHTNING_BOLTS 1 n 0 -210}
    {ELDER_MAGE_LIGHTNING_BOLTS 2 n 0 -210}
    {ELDER_MAGE_LIGHTNING_BOLTS 3 n 0 -210}
    # The three variations for the south direction:
    {ELDER_MAGE_LIGHTNING_BOLTS 1 s 0 -72}
    {ELDER_MAGE_LIGHTNING_BOLTS 2 s 0 -72}
    {ELDER_MAGE_LIGHTNING_BOLTS 3 s 0 -72}
    # And so on...
    {ELDER_MAGE_LIGHTNING_BOLTS 1 se 54 -104}
    {ELDER_MAGE_LIGHTNING_BOLTS 2 se 54 -104}
    {ELDER_MAGE_LIGHTNING_BOLTS 3 se 54 -104}
    {ELDER_MAGE_LIGHTNING_BOLTS 1 sw 54 -104}
    {ELDER_MAGE_LIGHTNING_BOLTS 2 sw 54 -104}
    {ELDER_MAGE_LIGHTNING_BOLTS 3 sw 54 -104}
    {ELDER_MAGE_LIGHTNING_BOLTS 1 ne 54 -176}
    {ELDER_MAGE_LIGHTNING_BOLTS 2 ne 54 -176}
    {ELDER_MAGE_LIGHTNING_BOLTS 3 ne 54 -176}
    {ELDER_MAGE_LIGHTNING_BOLTS 1 nw 54 -176}
    {ELDER_MAGE_LIGHTNING_BOLTS 2 nw 54 -176}
    {ELDER_MAGE_LIGHTNING_BOLTS 3 nw 54 -176}

    [attack_anim]
        [filter_attack]
            name=sparks
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=75
            image="halo/circuit-n1.png"
            image_diagonal="halo/circuit-ne1.png"
            offset=0.5
        [/missile_frame]
        [missile_frame]
            duration=75
            image="halo/circuit-n2.png"
            image_diagonal="halo/circuit-ne2.png"
            offset=0.5
        [/missile_frame]
        [missile_frame]
            duration=75
            image="halo/circuit-n3.png"
            image_diagonal="halo/circuit-ne3.png"
            offset=0.5
        [/missile_frame]
        start_time=-225
        [frame]
            duration=75
            image="units/enlightened/master-of-air-magic1.png"
            sound=magic-dark.ogg
        [/frame]
        [frame]
            duration=75
            imaster="units/enlightened/master-of-air-magic2.png"
        [/frame]
        [frame]
            duration=75
            imaster="units/enlightened/master-of-air-magic3.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=eye
        [/filter_attack]
        direction=n,ne,nw
        missile_start_time=-1175
        [missile_frame]
            duration=75
            halo=halo/ring1.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring2.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring3.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring4.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring5.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=100
            halo=halo/ring6.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=100
            halo=halo/ring7.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=100
            halo=halo/ring8.png
            offset=1.0
        [/missile_frame]

        [missile_frame]
            duration=75
            halo=halo/ring-a.png
            sound=magic-darg.ogg
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring-b.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring-c.png
            sound=magic-darg.ogg
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring-a.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring-b.png
            sound=magic-darg.ogg
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring-c.png
            offset=1.0
        [/missile_frame]

        [missile_frame]
            duration=50
            halo=halo/ring-exp-1.png
            halo_x,halo_y=0,-32
            offset=1.0
            sound=explosion.ogg
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-2.png
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-3.png
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-4.png
            halo_x,halo_y=0,-32
            offset=1.0
            sound=explosion.ogg
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-5.png
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-6.png
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-7.png
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-8.png
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-9.png
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-10.png
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-11.png
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-12.png
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-13.png
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-14.png
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]

        start_time=-1175
        [frame]
            duration=150
            image="units/enlightened/master-of-air-magic1.png"
        [/frame]
        [frame]
            duration=150
            imaster="units/enlightened/master-of-air-magic2.png"
        [/frame]
        [frame]
            duration=150
            imaster="units/enlightened/master-of-air-magic3.png"
        [/frame]
        [frame]
            duration=150
            image="units/enlightened/master-of-air-magic1.png"
        [/frame]
        [frame]
            duration=150
            imaster="units/enlightened/master-of-air-magic2.png"
        [/frame]
        [frame]
            duration=150
            imaster="units/enlightened/master-of-air-magic3.png"
        [/frame]
        [frame]
            duration=150
            image="units/enlightened/master-of-air-magic1.png"
        [/frame]
        [frame]
            duration=150
            imaster="units/enlightened/master-of-air-magic2.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=eye
        [/filter_attack]
        direction=s,se,sw
        missile_start_time=-1175
        [missile_frame]
            duration=75
            halo=halo/ring1.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring2.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring3.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring4.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring5.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=100
            halo=halo/ring6.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=100
            halo=halo/ring7.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=100
            halo=halo/ring8.png
            offset=1.0
        [/missile_frame]

        [missile_frame]
            duration=75
            halo=halo/ring-a.png
            sound=magic-darg.ogg
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring-b.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring-c.png
            sound=magic-darg.ogg
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring-a.png
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring-b.png
            sound=magic-darg.ogg
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=75
            halo=halo/ring-c.png
            offset=1.0
        [/missile_frame]

        [missile_frame]
            duration=50
            halo=halo/ring-exp-1.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
            sound=explosion.ogg
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-2.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-3.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-4.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
            sound=explosion.ogg
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-5.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-6.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-7.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-8.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-9.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-10.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-11.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-12.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-13.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=50
            halo=halo/ring-exp-14.png~FL(vert)
            halo_x,halo_y=0,-32
            offset=1.0
        [/missile_frame]

        start_time=-1175
        [frame]
            duration=150
            image="units/enlightened/master-of-air-magic1.png"
        [/frame]
        [frame]
            duration=150
            imaster="units/enlightened/master-of-air-magic2.png"
        [/frame]
        [frame]
            duration=150
            imaster="units/enlightened/master-of-air-magic3.png"
        [/frame]
        [frame]
            duration=150
            image="units/enlightened/master-of-air-magic1.png"
        [/frame]
        [frame]
            duration=150
            imaster="units/enlightened/master-of-air-magic2.png"
        [/frame]
        [frame]
            duration=150
            imaster="units/enlightened/master-of-air-magic3.png"
        [/frame]
        [frame]
            duration=150
            image="units/enlightened/master-of-air-magic1.png"
        [/frame]
        [frame]
            duration=150
            imaster="units/enlightened/master-of-air-magic2.png"
        [/frame]
    [/attack_anim]
[/unit_type]
