#textdomain wesnoth-Ageless_Era

# NOTE - To skip a line in a message just add a space to the next line.

#define AE_VERSION_NUMBER
4.13.1 #enddef

[event]
    name=start
    [message]
        speaker=narrator
        image="portraits/me.png"
        caption= _  "Ageless Era {AE_VERSION_NUMBER}"
        message= _ "
This era is a compilation of all the factions and eras on the add-on server. Feedback is greatly appreciated whether it be bug reports, balancing suggestions, or just your opinion of the era. (See bottom for details)"+

        _"
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - -
<span font='Times New Roman 40 bold'> UPDATES/NOTES:</span>"+"

{~add-ons/Ageless_Era/changelog.txt}

 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - 
To get help you can contact one of us on the forums with the usernames <span style='oblique'>mnewton1</span> or <span style='oblique'>AlaskanAvenger</span> or <span style='oblique'>Ravana</span> or you can post in my thread in the Factions and Era Development sub-forum here: http://bit.ly/AgelessEra"
    [/message]
[/event]

[event]
    name=prestart
    [set_variable]
        name=era_version
        value={AE_VERSION_NUMBER}
    [/set_variable]
[/event]

{STORY_ERA_EVENTS}

[event]
	name = "start"
	[lua]
	code = <<			
		wesnoth.dofile "~add-ons/Ageless_Era/data/version.lua"
		
		wesnoth.wml_actions.store_version = function(cfg)
			wesnoth.set_variable(cfg.variable, AE_local_version)
		end

		wesnoth.wml_actions.foreach_side = function(cfg)
			local side_var = cfg.variable or "i"
			for i, v in ipairs(wesnoth.sides) do
				wesnoth.set_variable(side_var, v.side)
				wesnoth.wml_actions.command(cfg)
			end
		end
	>>
	[/lua]
	[store_version]
		variable = "AE_local_version"
	[/store_version]
	[set_global_variable]
		from_local = "AE_local_version"
		to_global = "AE_local_version"
		namespace = "AE_version_num_check"
		immediate = yes
		side = "global"
	[/set_global_variable]
	[foreach_side]
		variable = "AE_var_side"
		[get_global_variable]
			to_local = "AE_remote_version"
			from_global = "AE_local_version"
			namespace = "AE_version_num_check"
			immediate = yes
			side = "$AE_var_side"
		[/get_global_variable]
		[lua]
			code = <<
			wesnoth.set_variable("AE_debug_versions_side_"..wesnoth.get_variable("AE_var_side"),wesnoth.get_variable("AE_remote_version"))
			if wesnoth.get_variable("AE_remote_version") == wesnoth.get_variable("era_version") then
			
			else
				wesnoth.message("Side "..wesnoth.get_variable("AE_var_side").." uses Ageless version "..wesnoth.get_variable("AE_remote_version").." but only version "..wesnoth.get_variable("era_version").." is accepted")
			end
			>>
		[/lua]
	[/foreach_side]
	{CLEAR_VARIABLE AE_local_version,AE_remote_version,AE_var_side}
[/event]
