#textdomain wesnoth-Ageless_Era

# NOTE - To skip a line in a message just add a space to the next line.

#define AE_VERSION_NUMBER
4.14 #enddef
#define AE_VERSION_STRING
4_14 #enddef

[event]
    name=prestart
    [set_variable]
        name=era_version
        value={AE_VERSION_NUMBER}
    [/set_variable]
[/event]

# show changelog only once at start
[event]
    name=start
    # shows only once host has already closed his menu.. prestart is even worse.. at least happens rarely enough
    [get_global_variable]
        to_local = "AE_seen_changelog"
        from_global = seen_changelog{AE_VERSION_STRING}
        namespace = "AE_"
        immediate = yes
        side = global
    [/get_global_variable]
    [if]
        [variable]
            name=AE_seen_changelog
            not_equals=yes
        [/variable]
        [then]
            [lua]
                code=<<
					wesnoth.fire_event("AE_show_changelog")
				>>
            [/lua]
            {VARIABLE AE_seen_changelog yes}
            [set_global_variable]
                from_local = "AE_seen_changelog"
                to_global = seen_changelog{AE_VERSION_STRING}
                namespace = "AE_"
                immediate = yes
                side = global
            [/set_global_variable]
        [/then]
    [/if]
    {CLEAR_VARIABLE AE_seen_changelog}
[/event]

[event]
    name=preload
    first_time_only=no
    [lua]
        code=<<
local last_mouse_over_time
local mouseover_counter = 0

function wesnoth.game_events.on_event()
	if wesnoth.current.event_context.name == "select" then
		local time = wesnoth.get_time_stamp()
		if last_mouse_over_time and ((time - last_mouse_over_time) > 2000) then
			mouseover_counter = 0
			unit1_moused_over_x = nil; unit1_moused_over_y = nil
			unit2_moused_over_x = nil; unit2_moused_over_y = nil
		end
		last_mouse_over_time = time
		local du = wesnoth.get_displayed_unit()
		if du then
			if (du.x == unit2_moused_over_x) and (du.y == unit2_moused_over_y) then
				mouseover_counter = mouseover_counter + 1
				unit1_moused_over_x = unit2_moused_over_x
				unit1_moused_over_y = unit2_moused_over_y
				unit2_moused_over_x = du.x
				unit2_moused_over_y = du.y
				if mouseover_counter > 2 then
					mouseover_counter = 0
					wesnoth.fire_event("AE_show_changelog")
				end
			else
				unit2_moused_over_x = du.x
				unit2_moused_over_y = du.y
			end
		end	
	end
end
	>>
    [/lua]
[/event]
[event]
    name=AE_show_changelog
    first_time_only=no
    # more complex menu can be added now
    [message]
        speaker=narrator
        image="portraits/me.png"
        caption= _  "Ageless Era {AE_VERSION_NUMBER}"
        message= _ "
This era is a compilation of all the factions and eras on the add-on server. Feedback is greatly appreciated whether it be bug reports, balancing suggestions, or just your opinion of the era. (See bottom for details)"+

        _"
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - -
<span font='Times New Roman 40 bold'> UPDATES/NOTES:</span>"+"

{~add-ons/Ageless_Era/changelog.txt}

 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - 
To get help you can contact one of us on the forums with the usernames <span style='oblique'>mnewton1</span> or <span style='oblique'>AlaskanAvenger</span> or <span style='oblique'>Ravana</span> or you can post in my thread in the Factions and Era Development sub-forum here: http://bit.ly/AgelessEra"
    [/message]
[/event]

# images
{STORY_ERA_EVENTS}

# version check
[event]
    name = "start"
    [lua]
        code = <<
		wesnoth.dofile "~add-ons/Ageless_Era/data/version.lua"
		
		wesnoth.wml_actions.store_version = function(cfg)
			wesnoth.set_variable(cfg.variable, AE_local_version)
		end

		wesnoth.wml_actions.foreach_side = function(cfg)
			local side_var = cfg.variable or "i"
			for i, v in ipairs(wesnoth.sides) do
				wesnoth.set_variable(side_var, v.side)
				wesnoth.wml_actions.command(cfg)
			end
		end
	>>
    [/lua]
    [store_version]
        variable = "AE_local_version"
    [/store_version]
    [set_global_variable]
        from_local = "AE_local_version"
        to_global = "AE_local_version"
        namespace = "AE_"
        immediate = yes
        side = "global"
    [/set_global_variable]
    [foreach_side]
        variable = "AE_var_side"
        [get_global_variable]
            to_local = "AE_remote_version"
            from_global = "AE_local_version"
            namespace = "AE_"
            immediate = yes
            side = "$AE_var_side"
        [/get_global_variable]
        [lua]
            code = <<
			wesnoth.set_variable("AE_debug_versions_side_"..wesnoth.get_variable("AE_var_side"),wesnoth.get_variable("AE_remote_version"))
			if wesnoth.get_variable("AE_remote_version") == wesnoth.get_variable("era_version") then
			
			else
				wesnoth.message("Side "..wesnoth.get_variable("AE_var_side").." uses Ageless version "..wesnoth.get_variable("AE_remote_version").." but only host version "..wesnoth.get_variable("era_version").." is accepted")
			end
			>>
        [/lua]
    [/foreach_side]
    {CLEAR_VARIABLE AE_local_version,AE_remote_version,AE_var_side}
[/event]
