#textdomain wesnoth-Ageless_Era

# NOTE - To skip a line in a message just add a space to the next line.

[event]
    name=start
    [message]
        speaker=narrator
        image="portraits/me.png"
        caption= _  "Ageless Era 4.12.1"
        message= _ "
This era is a compilation all the factions and eras on the add-on server. Feedback is greatly appreciated whether it be bug reports, balancing suggestions, or just your opinion of the era. (See bottom for details)"+

        _"
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - -
<span font='Times New Roman 40 bold'> UPDATES/NOTES:</span>"+"

{~add-ons/Ageless_Era/changelog.txt}

 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - 
To get help you can contact one of us on the forums with the usernames <span style='oblique'>mnewton1</span> or <span style='oblique'>AlaskanAvenger</span> or <span style='oblique'>Ravana</span> or you can post in my thread in the Factions and Era Development sub-forum here: http://bit.ly/AgelessEra"
    [/message]
[/event]

{STEELHIVE_ERA_EVENTS}
{EOTF_ERA_EVENTS}
{STORY_ERA_EVENTS}
