#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Cult Cultist
    name= _ "Cultist"
    race=AE Cult
    gender=male
    image="units/cult/cultist.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=26
    movement_type=cultlightfoot
    movement=6
    experience=38
    level=1
    alignment=chaotic
    advances_to=AE Cult Covert,AE Cult Overt
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=14
    usage=fighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Dagger
        description= _ "Dagger"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=3
        number=4
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
[/unit_type]
