#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Cult Covert
    name= _ "Covert"
    race=AE Cult
    gender=male
    image="units/cult/covert.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=36
    movement_type=cultlightfoot
    movement=6
    experience=64
    level=2
    alignment=chaotic
    advances_to=AE Cult Executioner,AE Cult Spy
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=34
    usage=fighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Dagger
        description= _ "Dagger"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
[/unit_type]
