#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_cult_Executioner
    name= _ "Executioner"
    race=AE_mrc_cult_race
    gender=male
    image="units/cult/executioner.png"
	profile="portraits/cult/executioner.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=58
    movement_type=AE_mrc_cultlightfoot
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=44
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Dagger
        description= _ "Dagger"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Dagger
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/cult/executioner.png"
            sound=dagger-swish.wav
        [/frame]
    [/attack_anim]
[/unit_type]
