#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Cult Exile
    name= _ "Exile"
    race=AE Cult
    gender=male
    image="units/cult/exile.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=34
    movement_type=exilefoot3
    movement=6
    experience=42
    level=1
    alignment=neutral
    advances_to=AE Cult Banished,AE Cult Lonewolf
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=14
    usage=fighter
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Trudgeon
        description= _ "Trudgeon"
        icon=attacks/club-small.png
        type=impact
        range=melee
        damage=7
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
