#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_cult_Condemned
    name= _ "Condemned"
    race=AE_mrc_cult_race
    gender=male
    image="units/cult/condemned.png"
    profile="portraits/cult/condemned.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=74
    movement_type=AE_mrc_exilefoot2
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=44
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Mace
        description={STR_MACE}
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=16
        number=3
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=Mace
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/cult/condemned.png"
            sound=mace.wav
        [/frame]
    [/attack_anim]
[/unit_type]
