#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Cult Mutant
    name= _ "Mutant"
    race=AE Mutant
    gender=male
    image="units/cult/mutant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=76
    movement_type=cultmutantfoot
    movement=5
    experience=124
    level=3
    alignment=chaotic
    advances_to=AE Cult Inhuman
    die_sound=hiss-die.wav
    cost=15
    usage=fighter
    description= _ "
"

    [resistance]
        cold=90
        impact=90
        pierce=70
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" hiss-hit.wav }

    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=9
        number=5
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=13
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bite
        description= _ "Bite"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=25
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
