#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Cult Sewer Slider
    name= _ "Sewer Slider"
    race=AE Mutant
    gender=male
    image="units/cult/sewerslider.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=48
    movement_type=cultswim
    movement=7
    experience=68
    level=2
    alignment=chaotic
    advances_to=AE Cult Slither
    die_sound=hiss-die.wav
    cost=30
    usage=fighter
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_SLOUGHBLEND}
    [/abilities]

    {DEFENSE_ANIM "" "" hiss-hit.wav }

    [attack]
        name=Tail
        description= _ "Tail"
        icon=attacks/tail-dragon.png
        type=impact
        range=melee
        damage=22
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bite
        description= _ "Bite"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Sludge
        description= _ "Sludge"
        icon=attacks/mud-glob.png
        type=impact
        range=ranged
        damage=4
        number=4
        [specials]
        [/specials]
    [/attack]
[/unit_type]
