#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_cult_Waylayer
    name= _ "Waylayer"
    race=AE_mrc_cult_race
    gender=male
    image="units/cult/waylayer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=58
    movement_type=AE_mrc_cultbushfoot
    movement=6
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=18
    usage=archer
    description={AE_MRC_UNIT_NOTICE}+"
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_AMBUSH}

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_AMBUSH}
        {AE_MRC_ABILITY_SLOUGHBLEND}
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Dagger
        description= _ "Dagger"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=5
        number=4
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=Bow
        description= _ "Bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=11
        number=4
        [specials]
            {AE_MRC_ABILITY_SURPRISE}
        [/specials]
    [/attack]
[/unit_type]
