[unit_type]
    id=AE_mag_Barbarians_Ancient_Cyclops
    name= _ "Ancient Cyclops"
    race=AE_mag_Barbarians_cyclop_race
    image="units/barbarians/ancientcyclop.png"
    profile="portraits/barbarians/ancientcyclops.png"
    hitpoints=70
    movement_type=largefoot
    [resistance]
        blade=65
        pierce=65
        impact=75
        arcane=90
    [/resistance]
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=46
    usage=archer
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}
    die_sound={SOUND_LIST:OGRE_DIE}
    [abilities]
        #{ABILITY_I8PARALYZE}
    [/abilities]
    [attack]
        name=fist
        description={STR_FIST}
        type=impact
        range=melee
        damage=8
        number=3
        icon="attacks/fist-human.png"
    [/attack]
    [attack]
        name=eye
        description= _ "eye"
        type=fire
        range=ranged
        damage=25
        number=1
        icon="attacks/gaze.png"
        [specials]
            {WEAPON_SPECIAL_AE_PRECISION}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/barbarians/ancientcyclop.png" "units/barbarians/ancientcyclop.png" {SOUND_LIST:OGRE_HIT} }
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [frame]
            begin=-325
            end=-250
            image="units/barbarians/ancientcyclop-attack-1.png"
        [/frame]
        [frame]
            begin=-250
            end=-150
            image="units/barbarians/ancientcyclop-attack-1.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/barbarians/ancientcyclop-attack-2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/barbarians/ancientcyclop-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/barbarians/ancientcyclop-attack-2.png"
                sound=fist.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/barbarians/ancientcyclop.png"
        [/frame]
    [/attack_anim]

    # The three variations for the north direction:
    {ACYCLOP_LASER 1 n -2 -32}
    # The three variations for the south direction:
    {ACYCLOP_LASER 2 s -2 32}
    # And so on...
    {ACYCLOP_LASER 3 ne 27 -22}
    {ACYCLOP_LASER 3 nw 27 -22}
    {ACYCLOP_LASER 4 se 27 14}
    {ACYCLOP_LASER 4 sw 27 14}
    [idle_anim]
        start_time=0
        [frame]
            duration=300
            image="units/barbarians/ancientcyclop-idle1.png"
        [/frame]
        [frame]
            duration=300
            image="units/barbarians/ancientcyclop-idle2.png"
        [/frame]
        [frame]
            duration=200
            image="units/barbarians/ancientcyclop-idle3.png"
        [/frame]
        [frame]
            duration=200
            image="units/barbarians/ancientcyclop-idle4.png"
        [/frame]
        [frame]
            duration=200
            image="units/barbarians/ancientcyclop-idle5.png"
        [/frame]
        [frame]
            duration=200
            image="units/barbarians/ancientcyclop-idle1.png"
        [/frame]
    [/idle_anim]
[/unit_type]
