[unit_type]
    id=AE_mag_Barbarians_Cyclops
    name= _ "Cyclops"
    race=AE_mag_Barbarians_cyclop_race
    image="units/barbarians/cyclop.png"
    profile="portraits/barbarians/cyclops.png"
    hitpoints=45
    movement_type=largefoot
    [resistance]
        arcane=90
    [/resistance]
    movement=5
    experience=48
    level=1
    alignment=neutral
    advances_to=AE_mag_Barbarians_Fire_Cyclops,AE_mag_Barbarians_Mighty_Cyclops,AE_mag_Barbarians_Cyclops_Breaker
    cost=18
    usage=fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Cumbersome and lacking fine intellect the Cyclop race had been driven near to extinction before becoming a part of the barbarian horde. Two centuries later and these lumbering beasts have flourished, growing in both strength and number. Some say that it was a strange magic which bound the Cyclops to their new allegiance and is perhaps a reason for their increased power. One thing about these beasts is a certainty, when facing one in combat it is best not to get hit."
    die_sound={SOUND_LIST:OGRE_DIE}
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    [attack]
        name=fist
        description={STR_FIST}
        type=impact
        range=melee
        damage=5
        number=3
        icon="attacks/fist-human.png"
        [specials]
            {WEAPON_SPECIAL_AECONCENTRATED}
            #{WEAPON_SPECIAL_AE_BLOODLUST}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/barbarians/cyclop-defend.png" "units/barbarians/cyclop-defend.png" {SOUND_LIST:OGRE_HIT} }
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [frame]
            begin=-325
            end=-250
            image="units/barbarians/cyclop-attack-1.png"
        [/frame]
        [frame]
            begin=-250
            end=-150
            image="units/barbarians/cyclop-attack-1.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/barbarians/cyclop-attack-2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/barbarians/cyclop-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/barbarians/cyclop-attack-2.png"
                sound=fist.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/barbarians/cyclop-attack-3.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [frame]
            begin=-325
            end=-250
            image="units/barbarians/cyclop-attack-4.png"
        [/frame]
        [frame]
            begin=-250
            end=-150
            image="units/barbarians/cyclop-attack-4.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/barbarians/cyclop-attack-5.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/barbarians/cyclop-attack-6.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/barbarians/cyclop-attack-6.png"
                sound=fist.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/barbarians/cyclop-attack-7.png"
        [/frame]
    [/attack_anim]

    [victory_anim]
        start_time=0
        [frame]
            duration=200
            image="units/barbarians/cyclop-victory-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/barbarians/cyclop-victory-2.png"
        [/frame]
        [frame]
            duration=700
            image="units/barbarians/cyclop-victory-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/barbarians/cyclop-victory-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/barbarians/cyclop-victory-1.png"
        [/frame]
    [/victory_anim]

    [idle_anim]
        start_time=0
        [frame]
            duration=100
            image="units/barbarians/cyclop-idle1.png"
        [/frame]
        [frame]
            duration=150
            image="units/barbarians/cyclop-idle2.png"
        [/frame]
        [frame]
            duration=150
            image="units/barbarians/cyclop-idle3.png"
        [/frame]
        [frame]
            duration=200
            image="units/barbarians/cyclop-idle2.png"
        [/frame]
        [frame]
            duration=150
            image="units/barbarians/cyclop-idle3.png"
        [/frame]
        [frame]
            duration=200
            image="units/barbarians/cyclop-idle2.png"
        [/frame]
        [frame]
            duration=100
            image="units/barbarians/cyclop-idle1.png"
        [/frame]
    [/idle_anim]
    #{CONCENTRATED_EVENTS}
    #{BLOODLUST_EVENTS "AE_mag_Barbarians_Cyclops"}
[/unit_type]
