[unit_type]
    id=AE_mag_Barbarians_Fire_Cyclops
    name= _ "Fire Cyclops"
    race=AE_mag_Barbarians_cyclop_race
    image="units/barbarians/firecyclop.png"
    profile="portraits/barbarians/firecyclops.png"
    hitpoints=55
    movement_type=largefoot
    [resistance]
        blade=75
        pierce=75
        impact=85
        arcane=90
    [/resistance]
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=AE_mag_Barbarians_Ancient_Cyclops
    cost=30
    usage=archer
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}
    die_sound={SOUND_LIST:OGRE_DIE}
    [idle_anim]
        start_time=0
        [frame]
            duration=100
            image="units/barbarians/firecyclop-idle1.png"
        [/frame]
        [frame]
            duration=150
            image="units/barbarians/firecyclop-idle2.png"
        [/frame]
        [frame]
            duration=150
            image="units/barbarians/firecyclop-idle3.png"
        [/frame]
        [frame]
            duration=200
            image="units/barbarians/firecyclop-idle2.png"
        [/frame]
        [frame]
            duration=150
            image="units/barbarians/firecyclop-idle3.png"
        [/frame]
        [frame]
            duration=200
            image="units/barbarians/firecyclop-idle2.png"
        [/frame]
        [frame]
            duration=100
            image="units/barbarians/firecyclop-idle1.png"
        [/frame]
    [/idle_anim]
    [attack]
        name=fist
        description={STR_FIST}
        type=impact
        range=melee
        damage=7
        number=3
        icon="attacks/fist-human.png"
    [/attack]
    [attack]
        name=eye
        description= _ "eye"
        type=fire
        range=ranged
        damage=18
        number=1
        icon="attacks/gaze.png"
        [specials]
            {WEAPON_SPECIAL_AE_PRECISION}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/barbarians/firecyclop-defend.png" "units/barbarians/firecyclop-defend.png" {SOUND_LIST:OGRE_HIT} }
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [frame]
            begin=-325
            end=-250
            image="units/barbarians/firecyclop-attack-1.png"
        [/frame]
        [frame]
            begin=-250
            end=-150
            image="units/barbarians/firecyclop-attack-1.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/barbarians/firecyclop-attack-2.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/barbarians/firecyclop-attack-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/barbarians/firecyclop-attack-2.png"
                sound=fist.ogg
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/barbarians/firecyclop-attack-3.png"
        [/frame]
    [/attack_anim]
    # The three variations for the north direction:
    {FCYCLOP_LASER 1 n 0 -32}
    # The three variations for the south direction:
    {FCYCLOP_LASER 2 s 0 32}
    # And so on...
    {FCYCLOP_LASER 3 ne 27 -18}
    {FCYCLOP_LASER 3 nw 27 -18}
    {FCYCLOP_LASER 4 se 27 18}
    {FCYCLOP_LASER 4 sw 27 18}
[/unit_type]
