[unit_type]
    id=AE_mag_Barbarians_Mighty_Cyclops
    name= _ "Mighty Cyclops"
    race=AE_mag_Barbarians_cyclop_race
    image="units/barbarians/mighty.png"
    profile="portraits/barbarians/cyclops.png"
    hitpoints=60
    movement_type=largefoot
    [resistance]
        arcane=90
    [/resistance]
    movement=5
    experience=120
    level=2
    alignment=neutral
    advances_to=AE_mag_Barbarians_Raging_Cyclops
    cost=30
    usage=fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
."
    die_sound={SOUND_LIST:OGRE_DIE}
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    [attack]
        name=tree
        description= _ "tree"
        type=impact
        range=melee
        damage=17
        number=2
        icon="attacks/tree.png"
        [specials]
            {WEAPON_SPECIAL_AE_CLEAVE}
            #{WEAPON_SPECIAL_I8CONCENTRATED2}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/barbarians/mighty-defend.png" "units/barbarians/mighty-defend.png" {SOUND_LIST:OGRE_HIT} }
    [attack_anim]
        [filter_attack]
            name=tree
        [/filter_attack]
        start_time=-635
        [frame]
            duration=100
            image="units/barbarians/mighty-s1.png"
        [/frame]
        [frame]
            duration=100
            image="units/barbarians/mighty-s2.png"
        [/frame]
        [frame]
            duration=100
            image="units/barbarians/mighty-s3.png"
        [/frame]
        [frame]
            duration=100
            image="units/barbarians/mighty-s4.png"
        [/frame]
        [frame]
            duration=85
            image="units/barbarians/mighty-s5.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/mighty-s6.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=75
                image="units/barbarians/mighty-s7.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=75
                image="units/barbarians/mighty-s7.png"
                sound=mace.wav
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/barbarians/mighty-s8.png"
        [/frame]
        [frame]
            duration=100
            image="units/barbarians/mighty-s9.png"
        [/frame]
        [frame]
            duration=135
            image="units/barbarians/mighty-s10.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/mighty-s11.png"
        [/frame]
        [frame]
            duration=85
            image="units/barbarians/mighty-s12.png"
        [/frame]
        [frame]
            duration=100
            image="units/barbarians/mighty-s2.png"
        [/frame]
        [frame]
            duration=100
            image="units/barbarians/mighty-s1.png"
        [/frame]
    [/attack_anim]
    #{WEAPON_SPECIAL_I8CLEAVE_EVENT (tree)}
    #{CONCENTRATED2_EVENTS "AE_mag_Barbarians_Mighty_Cyclops"}
[/unit_type]
