[unit_type]
    id=AE_mag_Barbarians_Raging_Cyclops
    name= _ "Raging Cyclops"
    race=AE_mag_Barbarians_cyclop_race
    image="units/barbarians/madcyclop.png"
    profile="portraits/barbarians/cyclops.png"
    hitpoints=75
    movement_type=largefoot
    [resistance]
        arcane=90
    [/resistance]
    movement=5
    experience=130
    level=3
    alignment=neutral
    advances_to=AE_mag_Barbarians_Cyclops_Destroyer
    cost=46
    usage=fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
."
    die_sound={SOUND_LIST:OGRE_DIE}
    [abilities]
        {ABILITY_AE_FURIOUSDEATH18}
    [/abilities]
    [death]
        start_time=0
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s1.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s2.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s3.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s4.png"
        [/frame]
        [frame]
            duration=60
            image="units/barbarians/madcyclop-s5.png"
        [/frame]
        [frame]
            duration=50
            image="units/barbarians/madcyclop-s6.png"
        [/frame]
        [frame]
            duration=50
            image="units/barbarians/madcyclop-s7.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=50
                image="units/barbarians/madcyclop-s8.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            [frame]
                duration=50
                image="units/barbarians/madcyclop-s8.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s9.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s10.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s11.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s12.png"
        [/frame]
        [frame]
            duration=60
            image="units/barbarians/madcyclop-s13.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s14.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s15.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s3.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s2.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s1.png"
        [/frame]
    [/death]
    [attack]
        name=treemad
        description= _ "tree"
        type=impact
        range=melee
        damage=25
        number=2
        icon="attacks/tree.png"
        [specials]
            {WEAPON_SPECIAL_AE_CLEAVE}
            #{ABILITY_AE_BATTLEFRENZY}
        [/specials]
    [/attack]
    [attack]
        name=tree2
        description= _ "tree thrown"
        type=pierce
        range=ranged
        damage=18
        number=1
        icon="attacks/tree.png"
    [/attack]
    {DEFENSE_ANIM "units/barbarians/madcyclop-attack-1.png" "units/barbarians/madcyclop-attack-1.png" {SOUND_LIST:OGRE_HIT} }
    [attack_anim]
        [filter_attack]
            name=treemad
        [/filter_attack]
        start_time=-710
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s1.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s2.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s3.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s4.png"
        [/frame]
        [frame]
            duration=60
            image="units/barbarians/madcyclop-s5.png"
        [/frame]
        [frame]
            duration=50
            image="units/barbarians/madcyclop-s6.png"
        [/frame]
        [frame]
            duration=50
            image="units/barbarians/madcyclop-s7.png"
        [/frame]
        [if]
            hit=no
            [frame]
                duration=50
                image="units/barbarians/madcyclop-s8.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            [frame]
                duration=50
                image="units/barbarians/madcyclop-s8.png"
                sound=mace.wav
            [/frame]
        [/else]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s8.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s9.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s10.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s11.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s12.png"
        [/frame]
        [frame]
            duration=60
            image="units/barbarians/madcyclop-s13.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s14.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s15.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s3.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s2.png"
        [/frame]
        [frame]
            duration=75
            image="units/barbarians/madcyclop-s1.png"
        [/frame]
    [/attack_anim]
    # The three variations for the north direction:
    {MADCYCLOP_RANGED s n 0 0}
    # The three variations for the south direction:
    {MADCYCLOP_RANGED s s 0 0}
    # And so on...
    {MADCYCLOP_RANGED s ne 0 0}
    {MADCYCLOP_RANGED s nw 0 0}
    {MADCYCLOP_RANGED s se 0 0}
    {MADCYCLOP_RANGED s sw 0 0}

    #{WEAPON_SPECIAL_I8CLEAVE2_EVENT (treemad)}
    #{CONCENTRATED3_EVENTS "AE_mag_Barbarians_Raging_Cyclops"}
    #{BLOODLUST2_EVENTS "AE_mag_Barbarians_Raging_Cyclops"}
[/unit_type]
