[unit_type]
    id=AE_mag_Barbarians_Troll_Sorcerer
    name= _ "Troll Sorcerer"
    race=troll
    image=units/barbarians/shaman.png
    profile="portraits/trolls/troll-shaman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    hitpoints=34
    movement_type=largefoot
    [resistance]
        pierce=90
        fire=80
        cold=80
        arcane=80
    [/resistance]
    movement=5
    experience=50
    level=1
    alignment=chaotic
    advances_to=AE_mag_Barbarians_Troll_Fire_Wizard,AE_mag_Barbarians_Troll_Warbanner
    cost=22
    usage=mixed fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
The Trolls within the Barbarian horde do not practice magic as it is known to most races of the world although it easily could be confused for such. Rather the rough skin of these mysterious creatures when brought into rapid contact with itself can spark, igniting any flammable materials around them. Thus with a snap of the fingers trolls can ignite the small bundles of straw held within their palms before flinging them at the enemy. Such is the preternatural aim of the Troll Sorcerers that no matter where the target is hiding they will unerringly seek it out."+{SPECIAL_NOTES}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_MAGICAL}
    {DEFENSE_ANIM "units/barbarians/shaman-melee-1.png" "units/barbarians/shaman.png" {SOUND_LIST:TROLL_HIT} }
    die_sound={SOUND_LIST:TROLL_DIE}
    #melee attack should be worse than troll rocklobber,
    #since shaman has such a better ranged attack
    [idle_anim]
        start_time=0
        [frame]
            duration=100
            image=units/barbarians/shaman-magic-1.png
        [/frame]
        [frame]
            duration=100
            image=units/barbarians/shaman-magic-2.png
        [/frame]
        [frame]
            duration=100
            image=units/barbarians/shaman-magic-3.png
        [/frame]
        [frame]
            duration=100
            image=units/barbarians/shaman-magic-1.png
        [/frame]
        [frame]
            duration=100
            image=units/barbarians/shaman-magic-2.png
        [/frame]
        [frame]
            duration=100
            image=units/barbarians/shaman-magic-3.png
        [/frame]
        [frame]
            duration=100
            image=units/barbarians/shaman-magic-1.png
        [/frame]
        [frame]
            duration=100
            image=units/barbarians/shaman-magic-2.png
        [/frame]
        [frame]
            duration=100
            image=units/barbarians/shaman-magic-3.png
        [/frame]
    [/idle_anim]
    [attack]
        name=fist
        description={STR_FIST}
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=flame blast
        description= _ "flame blast"
        icon=attacks/fireball.png
        type=fire
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [frame]
            begin=-150
            end=0
            image=units/barbarians/shaman-melee-1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                sound=fist.ogg
                begin=0
                end=150
                image=units/barbarians/shaman-melee-2.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={SOUND_LIST:MISS}
                begin=0
                end=150
                image=units/barbarians/shaman-melee-2.png
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=flame blast
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}

        [frame]
            sound=fire.wav
            begin=-200
            end=-150
            image=units/barbarians/shaman-magic-1.png
        [/frame]
        [frame]
            begin=-150
            end=-100
            image=units/barbarians/shaman-magic-2.png
        [/frame]
        [frame]
            begin=-150
            end=-50
            image=units/barbarians/shaman-magic-3.png
        [/frame]
        [frame]
            begin=-50
            end=0
            image=units/barbarians/shaman.png
        [/frame]
    [/attack_anim]
    [standing_anim]
        start_time=0
        [frame]
            duration=100
            image=units/barbarians/shaman.png
        [/frame]
        [frame]
            duration=100
            image=units/barbarians/shaman2.png
        [/frame]
        [frame]
            duration=100
            image=units/barbarians/shaman3.png
        [/frame]
    [/standing_anim]
[/unit_type]
