#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_agl_frozen_frost_lanceman
    name= _ "Frost Lanceman"
    race=AE_human_frozen
    image="units/frozen/frost_lanceman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=55
    movement_type=frozen_smallfoot
    movement=5
    experience=72
    level=2
    alignment=neutral
    advances_to=AE_agl_frozen_frost_lance_master
    cost=35
    usage=fighter
    description=_ "This units coding is by ChaosRider and art by Zerovirus
"
    {DEFENSE_ANIM "units/frozen/frost_lanceman.png" "units/frozen/frost_lanceman.png" {SOUND_LIST:HUMAN_HIT}}
    [abilities]
        {ABILITY_FROZENHOME_VALUE 4}
    [/abilities]
    die_sound=human-die.ogg

    [resistance]
        blade=90
        pierce=80
        impact=110
        fire=120
        cold=40
        arcane=120
    [/resistance]

    [attack]
        name=spear
        description=_ "spear"
        type=pierce
        range=melee
        damage=8
        number=4
        icon=attacks/pike-ice.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=cold_spear
        description=_ "cold spear"
        type=cold
        range=melee
        damage=6
        number=4
        icon=attacks/pike-ice.png
    [/attack]
    [attack]
        name=thrown_spear
        description=_ "thrown spear"
        type=pierce
        range=ranged
        damage=11
        number=1
        icon=attacks/spear-pilum.png
    [/attack]
[/unit_type]
