#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Tomb Spirit Dove
    name= _ "Sprit Dove"
    race=AE phantom_spirit
    image="units/phantom/spirit_dove.png"
    #    profile="portraits/.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=20
    movement_type=phantom_spirit
    movement=8
    experience=40
    level=1
    alignment=neutral
    advances_to=AE Tomb Spirit Jay
    cost=12
    usage=scout
    description= _ "..."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
        {AE_ARCHAIC_ABILITY_HEALS 2}
    [/abilities]
    [defend]
        start_time=-126
        [if]
            hits=hit,kill
            offset=0.0~-0.05:126,-0.05~0.0:126
            alpha=0.8~0.5:126,0.5~0.8:126
            [frame]
                duration=1
                image="units/phantom/spirit_dove.png"
            [/frame]
            [frame]
                duration=100
                image="units/phantom/spirit_dove.png"
            [/frame]
            [frame]
                duration=150
                image="units/phantom/spirit_dove.png"
                sound={SOUND_LIST:GRYPHON_HIT}
            [/frame]
            [frame]
                duration=1
                image="units/phantom/spirit_dove.png"
            [/frame]
        [/if]
        [else]
            hits=miss
            offset=0.0~-0.1:126,-0.1~0.0:126
            alpha=0.8~0.25:126,0.25~0.8:126
            [frame]
                duration=1
                image="units/phantom/spirit_dove.png"
            [/frame]
            [frame]
                duration=100
                image="units/phantom/spirit_dove.png"
            [/frame]
            [frame]
                duration=150
                image="units/phantom/spirit_dove.png"
            [/frame]
            [frame]
                duration=1
                image="units/phantom/spirit_dove.png"
            [/frame]
        [/else]
    [/defend]
    [attack]
        name=beak
        description=_"Beak"
        icon=attacks/beak.png
        type=pierce
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=talon
        description=_"Talon"
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        start_time=-500
        offset=0.0~1.0:425,0.0:225
        alpha=0.8~0.0:425,0.0~0.8:225

        [frame]
            duration=25
            image="units/phantom/spirit_dove.png"
        [/frame]
        [frame]
            duration=175
            image="units/phantom/spirit_dove.png"
        [/frame]
        [frame]
            duration=175
            image="units/phantom/spirit_dove.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                image="units/phantom/spirit_dove.png"
                duration=100
                sound=claws.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                image="units/phantom/spirit_dove.png"
                duration=100
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            image="units/phantom/spirit_dove.png"
            duration=75
        [/frame]
        [frame]
            image="units/phantom/spirit_dove.png"
            duration=75
        [/frame]
        [frame]
            image="units/phantom/spirit_dove.png"
            duration=25
        [/frame]
    [/attack_anim]

    {AE_PHANTOM_STAND_BOB spirit_dove}
[/unit_type]
