#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Clockwork Automaton
    name= _ "Automaton"
    hitpoints=39
    movement=7
    race=mechanical
    image="units/mechanical-clockwork/automaton.png"
    ellipse="misc/ellipse-nozoc"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=2
    zoc=no
    alignment=neutral
    experience=100
    advances_to=null
    {AMLA_DEFAULT}
    movement_type=clockworkrobot
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    cost=12
    usage=fighter
    description= _ "This unit is from Feudal Era. It's coding and art were done by Turin and Various others.
 
These are the most formidable contraptions ever faced: they have reached their peak of physical prowess, and with it, they grow an extra pair of limbs, which they use to scuttle like spiders, leap like frogs, and rend their foes like the merciless killers they are."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}
    [attack]
        name=slam
        description= _ "slam"
        type=impact
        range=melee
        damage=7
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=slam
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]
[/unit_type]
