#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Clockwork Golem
    name= _ "Golem"
    experience=44
    advances_to=AE Clockwork Automaton
    hitpoints=30
    movement=7
    race=mechanical
    image="units/mechanical-clockwork/golem.png"
    ellipse="misc/ellipse-nozoc"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=1
    zoc=no
    alignment=neutral
    movement_type=clockworkrobot
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    cost=12
    usage=scout
    description= _ "This unit is from Feudal Era. It's coding and art were done by Turin and Various others.
 
These are 'adult' contraptions, and as such, somewhat larger. However, they do not loose the mobility of their earlier years. These bizarre animals use their sticklike arms to bludgeon their foes to death, and their mercilessness is feared by all."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}
    [attack]
        name=slam
        description= _ "slam"
        type=impact
        range=melee
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=slam
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]
[/unit_type]
