#textdomain wesnoth-Ageless_Era

### | Calydonians

## | Calydonians Races

[race]
    id=AE Calydonians
    male_name= _ "race^AE Calydonian Human"
    female_name= _ "race+female^AE Calydonian Human"
    plural_name= _ "race^AE Calydonian Humans"
    num_traits=2
    markov_chain_size=3
    {CALYDONIANS_NAMES}
    description= _ "This race is from BEEM. It's coding and art were done by Voodoo, Baro_st, Tydeus, Dibs, and various others.
 
Hellenic people get together in the calydonian Hegemony after many centuries of war between city-state. The calydonian domination transformed the hellenic people in a warlike population, perfectly organized in a warlike and expansionist society.
Thanks to a strong feeling of belonging to the state and a good organisation of the conscription and training of the soldiers, Calydonians managed to establish themselves as rulers of the other population of Hellas: Thracians and Dardanians.
The relationships between the Calydonians and the other civilisations have always been difficult because of the xenophobia of this population which has fought lots of wars which turned the Calydonians into terrific fighters: firm and disciplined on the battlefield, they often manage to defeat even well-organized armies.
Despite the strong feeling of belonging to the native country that unites all the Calydonians, the calydonian Hegemony allowed the populations who live in the small islands near Hellas to be independent if they gave military support to the Hegemony. The same relationship of cooperation was then established with the other populations living in Hellas and nowadays all the island is controlled, directly or indirectly, by the calydonian Hegemony."
[/race]

## | Calydonians Movement Types

[movetype]
    name=AE greekhorse
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=100
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=60
        sand=70
        forest=70
        hills=60
        mountains=50
        village=60
        castle=60
        cave=70
        frozen=80
        impassable=10
        fungus=80
        unwalkable=80
    [/defense]

    [resistance]
        blade=80
        pierce=130
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE hippiconico
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=100
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=60
        sand=70
        forest=70
        hills=60
        mountains=50
        village=60
        castle=60
        cave=70
        frozen=80
        impassable=10
        fungus=80
        unwalkable=80
    [/defense]

    [resistance]
        blade=80
        pierce=130
        impact=80
        fire=110
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE hetaroico
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=100
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=60
        sand=70
        forest=70
        hills=60
        mountains=50
        village=60
        castle=60
        cave=70
        frozen=80
        impassable=10
        fungus=80
        unwalkable=80
    [/defense]

    [resistance]
        blade=80
        pierce=130
        impact=80
        fire=110
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE hippo
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=100
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=60
        sand=70
        forest=70
        hills=60
        mountains=50
        village=60
        castle=60
        cave=70
        frozen=80
        impassable=10
        fungus=80
        unwalkable=80
    [/defense]

    [resistance]
        blade=80
        pierce=130
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE epihippo
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=100
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=60
        sand=70
        forest=70
        hills=60
        mountains=50
        village=60
        castle=60
        cave=70
        frozen=80
        impassable=10
        fungus=80
        unwalkable=80
    [/defense]

    [resistance]
        blade=80
        pierce=130
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE peltyco
    [movement_costs]
        deep_water=100
        shallow_water=3
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=70
        flat=60
        sand=70
        forest=50
        hills=30
        mountains=40
        village=40
        castle=40
        cave=70
        frozen=70
        impassable=10
        fungus=50
        unwalkable=80
    [/defense]

    [resistance]
        blade=110
        pierce=80
        impact=120
        fire=110
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE dardanian
    [movement_costs]
        deep_water=100
        shallow_water=3
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=60
        sand=80
        forest=50
        hills=40
        mountains=40
        village=40
        castle=40
        cave=70
        frozen=70
        impassable=10
        fungus=50
        unwalkable=80
    [/defense]

    [resistance]
        blade=110
        pierce=110
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE dardanianrav
    [movement_costs]
        deep_water=100
        shallow_water=3
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=60
        sand=80
        forest=50
        hills=40
        mountains=40
        village=40
        castle=40
        cave=70
        frozen=70
        impassable=10
        fungus=50
        unwalkable=80
    [/defense]

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE dardanianpill
    [movement_costs]
        deep_water=100
        shallow_water=3
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=60
        sand=80
        forest=50
        hills=40
        mountains=40
        village=40
        castle=40
        cave=70
        frozen=70
        impassable=10
        fungus=50
        unwalkable=80
    [/defense]

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE hoplitical
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=3
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=90
        swamp_water=90
        flat=70
        sand=90
        forest=60
        hills=50
        mountains=60
        village=50
        castle=50
        cave=80
        frozen=80
        impassable=10
        fungus=70
        unwalkable=80
    [/defense]

    [resistance]
        blade=80
        pierce=90
        impact=80
        fire=110
        cold=100
        arcane=90
    [/resistance]
[/movetype]

[movetype]
    name=AE polemarchical
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=3
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=90
        swamp_water=90
        flat=70
        sand=90
        forest=60
        hills=50
        mountains=60
        village=50
        castle=50
        cave=80
        frozen=80
        impassable=10
        fungus=70
        unwalkable=80
    [/defense]

    [resistance]
        blade=70
        pierce=90
        impact=80
        fire=110
        cold=100
        arcane=90
    [/resistance]
[/movetype]

[movetype]
    name=AE diarchical
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=3
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=90
        swamp_water=90
        flat=70
        sand=90
        forest=60
        hills=50
        mountains=60
        village=50
        castle=50
        cave=80
        frozen=80
        impassable=10
        fungus=70
        unwalkable=80
    [/defense]

    [resistance]
        blade=70
        pierce=90
        impact=80
        fire=110
        cold=100
        arcane=90
    [/resistance]
[/movetype]

[movetype]
    name=AE tassiarchical
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=3
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=90
        swamp_water=90
        flat=70
        sand=90
        forest=60
        hills=50
        mountains=60
        village=50
        castle=50
        cave=80
        frozen=80
        impassable=10
        fungus=70
        unwalkable=80
    [/defense]

    [resistance]
        blade=80
        pierce=90
        impact=80
        fire=110
        cold=100
        arcane=90
    [/resistance]
[/movetype]

[movetype]
    name=AE strategical
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=3
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=90
        swamp_water=90
        flat=70
        sand=90
        forest=60
        hills=50
        mountains=60
        village=50
        castle=50
        cave=80
        frozen=80
        impassable=10
        fungus=70
        unwalkable=80
    [/defense]

    [resistance]
        blade=80
        pierce=90
        impact=80
        fire=110
        cold=100
        arcane=90
    [/resistance]
[/movetype]

[movetype]
    name=AE greekarcher
    [movement_costs]
        deep_water=100
        shallow_water=3
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable=100
        impassable=100
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=70
        flat=60
        sand=70
        forest=50
        hills=40
        mountains=40
        village=40
        castle=40
        cave=70
        frozen=70
        impassable=10
        fungus=60
        unwalkable=80
    [/defense]

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE tetical
    [movement_costs]
        deep_water=100
        shallow_water=3
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable=100
        impassable=100
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=50
        sand=80
        forest=40
        hills=30
        mountains=40
        village=40
        castle=40
        cave=70
        frozen=70
        impassable=10
        fungus=60
        unwalkable=80
    [/defense]

    [resistance]
        blade=120
        pierce=120
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE gymnetical
    [movement_costs]
        deep_water=100
        shallow_water=3
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable=100
        impassable=100
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=50
        sand=80
        forest=40
        hills=30
        mountains=40
        village=40
        castle=40
        cave=70
        frozen=70
        impassable=10
        fungus=60
        unwalkable=80
    [/defense]

    [resistance]
        blade=120
        pierce=110
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE rhodian
    [movement_costs]
        deep_water=100
        shallow_water=3
        swamp_water=3
        flat=1
        sand=3
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=2
        unwalkable=100
        impassable=100
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=50
        sand=80
        forest=40
        hills=30
        mountains=40
        village=40
        castle=40
        cave=70
        frozen=70
        impassable=10
        fungus=60
        unwalkable=80
    [/defense]

    [resistance]
        blade=120
        pierce=110
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE dioian
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=4
        flat=1
        sand=4
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=70
        sand=80
        forest=70
        hills=60
        mountains=50
        village=50
        castle=50
        cave=80
        frozen=70
        impassable=10
        fungus=70
        unwalkable=80
    [/defense]

    [resistance]
        blade=90
        pierce=120
        impact=90
        fire=100
        cold=80
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE vetdioian
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=4
        flat=1
        sand=4
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=70
        sand=80
        forest=70
        hills=60
        mountains=50
        village=50
        castle=50
        cave=80
        frozen=70
        impassable=10
        fungus=70
        unwalkable=80
    [/defense]

    [resistance]
        blade=80
        pierce=120
        impact=90
        fire=100
        cold=80
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=AE cooldioian
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=4
        flat=1
        sand=4
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable=100
        impassable=100
        fungus=3
    [/movement_costs]

    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=80
        flat=70
        sand=80
        forest=70
        hills=60
        mountains=50
        village=50
        castle=50
        cave=80
        frozen=70
        impassable=10
        fungus=70
        unwalkable=80
    [/defense]

    [resistance]
        blade=90
        pierce=110
        impact=90
        fire=100
        cold=80
        arcane=80
    [/resistance]
[/movetype]
