#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Demon Dog
    name= _ "Demon Dog"
    race=Infernai
    gender=male
    image="units/fiends/demondog.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=27
    movement_type=infernaidog
    movement=8
    experience=29
    level=1
    alignment=chaotic
    advances_to=AE Infernai Hell Hound
    die_sound=wolf-die.wav
    cost=14
    usage=scout
    description= _ "While humans generally thought of animals as pure and innocent. It has been found that even animals have sinful tendencies, hounds seem to be some of the larger varieties found. In the hellish afterlife, hounds tend to have fiery qualities and increased aggression, along with a taste for the living."

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" wolf-hit.wav }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=4
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Firebreath
        description= _ "Firebreath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=5
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
