#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Hell Dweller
    name= _ "Hell Dweller"
    race=Infernai
    gender=male
    image="units/fiends/helldweller.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=36
    movement_type=infernaicave
    movement=5
    experience=42
    level=1
    alignment=chaotic
    advances_to=AE Infernai Troglodyte
    die_sound={SOUND_LIST:ORC_DIE}
    cost=16
    usage=fighter
    description= _ "Humans occasionally are sent to hell through both body and soul, but the human body is not built for the extreme heat of hell. It causes the eyes and skin to burn away, leaving a charred and broken body which takes a long time to attune itself to its eternal damnation. When infernai first came upon these withered men, they were unable to move because of pain, they found this very entertaining, and began keeping them as pets. Through long years of their endless afterlife, they can eventually regain their ability to move. While their infernai masters had beaten them for most of their pethood, they had been unable to feel pain because of the lack of nerves in their skinless bodies. Their immunity to pain would make them great soldiers in the arise of hell."

    [resistance]
        arcane=90
        cold=120
        fire=100
        blade=120
        impact=80
        pierce=90
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:ORC_HIT} }

    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
[/unit_type]
