#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Infernal Troglodyte
    name= _ "Infernal Troglodyte"
    race=Infernai
    gender=male
    image="units/fiends/infernaltroglodyte.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=68
    movement_type=infernaicave
    movement=5
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:ORC_DIE}
    cost=13
    usage=fighter
    description= _ "Years of fighting in hell cause a hell dweller to gain a red hue to their newly formed skin. Long-term contact of their blood to the pure sin in a demonhorn has caused their skin to reform with infernai like properties."

    [resistance]
        arcane=90
        cold=120
        fire=70
        impact=70
        pierce=80
        blade=110
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:ORC_HIT} }

    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=11
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
[/unit_type]
