#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Fiend
    name= _ "Fiend"
    race=Infernai
    gender=male
    image="units/fiends/fiend.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=36
    movement_type=infernaifoot
    movement=5
    experience=40
    level=1
    alignment=chaotic
    advances_to=AE Infernai Demon,AE Infernai Archfiend,AE Infernai Sadist
    die_sound=drake-die.ogg
    cost=15
    usage=fighter
    description= _ "While in most religions infernai are thought to be fallen souls of human, they actually are completely soulless. Infernai are solidified sin, which has taken the form of flesh and blood. Because of the amount of evil within them they are generically loving of pain and suffering, and feed on other peoples misery."

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:DRAKE_HIT} }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-flaming.png
        type=blade
        range=melee
        damage=5
        number=4
        [specials]
        [/specials]
    [/attack]
[/unit_type]
