#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Scamp
    name= _ "Scamp"
    race=Infernai
    gender=male
    image="units/fiends/scamp.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=26
    movement_type=infernaifoot
    movement=6
    experience=42
    level=1
    alignment=chaotic
    advances_to=AE Infernai Familiar
    die_sound={SOUND_LIST:GOBLIN_DIE}
    cost=
    usage=fighter
    description= _ "Occasionally an imp is strong enough to escape hell and survive on the surface. They still aren't strong enough to kill things by their own hand, so they generally have to survive by stealing from humans. Thier mischievous ways have deemed them scamps among humans, and they tend to gain slight magical qualities from the sin accumulated in human homes, allowing them to throw uncontrollable fireballs."

    [resistance]
        fire=55
        cold=80
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:GOBLIN_HIT} }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-flaming.png
        type=blade
        range=melee
        damage=4
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Fireball
        description= _ "Fireball"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=9
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
