#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Archfiend
    name= _ "Archfiend"
    race=Infernai
    gender=male
    image="units/fiends/archfiend.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=infernaifoot
    movement=6
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=drake-die.ogg
    cost=26
    usage=fighter
    description= _ " Some Fiends cannot grow larger horns because of absorbing a pure soul. These fiends are generally called archfiends, and while larger and stronger than the average fiend, they are despized and prejudiced by other infernai because of the absorption of purity. This isolation has given them a rare ability taught by lucifer, fury, allowing them to fight unerringly after slaying an opponent."

    [resistance]
        blade=70
    [/resistance]

    [abilities]
        {PK_ABILITY_FURY}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:DRAKE_HIT} }

    [attack]
        name=Scythe
        description= _ "Scythe"
        icon=attacks/scythe.png
        type=blade
        range=melee
        damage=8
        number=4
        [specials]
        [/specials]
    [/attack]
[/unit_type]
