#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Demon
    name= _ "Demon"
    race=Infernai
    gender=male
    image="units/fiends/demon.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=57
    movement_type=infernaifoot
    movement=5
    experience=83
    level=2
    alignment=chaotic
    advances_to=AE Infernai Devil,AE Infernai Horned One
    die_sound=drake-die.ogg
    cost=25
    usage=fighter
    description= _ "Younger fiends are rarely able to conjure hellfire, but after enough time feeding on sin and souls, their horns and bodies may grow larger allowing them to learn the art of hellfire from the mighty lucifer."

    [resistance]
		fire=45
    [/resistance]

    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:DRAKE_HIT} }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-flaming.png
        type=blade
        range=melee
        damage=7
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Fireball
        description= _ "Fireball"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=6
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
