#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Incubus
    name= _ "Incubus"
    race=Infernai
    gender=male
    image="units/fiends/incubus.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=68
    movement_type=infernaifoot
    movement=5
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:ORC_DIE}
    cost=16
    usage=archer
    description= _ "With age the fire that surrounds a gog will consume them and combine with their body. They become hot to the touch and their bodies glow red hot, because of their moveable hell-like heat these incubus are used as something of a lamp to keep fiends warm outside of hell."

    [resistance]
        fire=30
        cold=140
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:ORC_HIT} }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-flaming.png
        type=blade
        range=melee
        damage=14
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Fireball
        description= _ "Fireball"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=16
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Deathgaze
        description= _ "Deathgaze"
        icon=attacks/gaze.png
        type=arcane
        range=ranged
        damage=20
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
