#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Ifreet Sultan
    name= _ "Ifreet Sultan"
    race=Djinn
    gender=male
    image="units/fiends/ifreetsultan.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=48
    movement_type=infernaifly
    movement=6
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=13
    usage=mixedfighter
    description= _ "
"

    [resistance]
        arcane=120
        blade=60
        impact=60
        pierce=60
        fire=30
        cold=120
    [/resistance]

    [abilities]
        {ABILITY_CURES}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Scimitar
        description= _ "Scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Fireball
        description= _ "Fireball"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=13
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=Temptation
        description= _ "Temptation"
        icon=attacks/gaze.png
        type=arcane
        range=ranged
        damage=32
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
