#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Possessed
    name= _ "Possessed"
    race=Infernai
    gender=male
    image="units/fiends/possessed.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=42
    movement_type=infernaiheavy
    movement=5
    experience=40
    level=2
    alignment=chaotic
    advances_to=AE Infernai Dominated
    die_sound=drake-die.ogg
    cost=14
    usage=fighter
    description= _ "
"

    [resistance]
        arcane=90
        blade=90
        cold=110
        fire=100
        impact=90
        pierce=90
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:DRAKE_HIT} }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-flaming.png
        type=blade
        range=melee
        damage=5
        number=5
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
    [/attack]
[/unit_type]
