#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Dominated
    name= _ "Dominated"
    race=Infernai
    gender=male
    image="units/fiends/dominated.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=60
    movement_type=infernaiheavy
    movement=5
    experience=60
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=drake-die.ogg
    cost=40
    usage=fighter
    description= _ "
"

    [resistance]
        arcane=90
        blade=80
        cold=110
        fire=100
        impact=80
        pierce=80
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:DRAKE_HIT} }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-flaming.png
        type=blade
        range=melee
        damage=7
        number=5
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
    [/attack]
[/unit_type]
