#textdomain wesnoth-Ageless_Era
[unit_type]
    [base_unit]
        id=Wose
    [/base_unit]
    id=AE Wose
    advances_to=Elder Wose,AE Wose Shaman
    hide_help=yes
    description= _ "This unit is from Extended Era. It's coding and art were done by the Various people who created Extended Era."
[/unit_type]
