#textdomain wesnoth-multiplayer

### | Default Era Factions

## | Loyalists - Default

[multiplayer_side]
    id=AE Loyalists
    name= _ "Default - Loyalists"
    image="units/human-loyalists/lieutenant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Lieutenant
    leader=Lieutenant,Swordsman,Pikeman,Javelineer,Shock Trooper,Longbowman,White Mage,Red Mage
    random_leader=Lieutenant,Swordsman,Pikeman,Javelineer,Longbowman,White Mage,Red Mage
    recruit=Cavalryman,Horseman,Spearman,Fencer,Heavy Infantryman,Bowman,Mage,Merman Fighter
    terrain_liked=Gg, Ww, Wo
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Rebels - Default

[multiplayer_side]
    id=AE Rebels
    name= _ "Default - Rebels"
    image="units/elves-wood/captain.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Elvish Captain
    leader=Elvish Captain,Elvish Hero,Elvish Ranger,Elvish Marksman,Elvish Druid,Elvish Sorceress,White Mage,Red Mage,Elder Wose
    random_leader=Elvish Captain,Elvish Hero,Elvish Ranger,Elvish Marksman,Elvish Druid,Elvish Sorceress,White Mage,Red Mage
    recruit=Elvish Fighter,Elvish Archer,Mage,Elvish Shaman,Elvish Scout,Wose,Merman Hunter
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Northerners - Default

[multiplayer_side]
    id=AE Northerners
    name= _ "Default - Northerners"
    image="units/orcs/warrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Orcish Warrior
    leader=Orcish Warrior,Troll,Troll Rocklobber,Orcish Crossbowman,Orcish Slayer
    recruit=Orcish Grunt,Troll Whelp,Wolf Rider,Orcish Archer,Orcish Assassin,Naga Fighter,Goblin Spearman
    terrain_liked=Hh, Ha, Mm, Ss
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Undead - Default

[multiplayer_side]
    id=AE Undead
    name= _ "Default - Undead"
    image="units/undead-necromancers/dark-sorcerer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Dark Sorcerer
    leader=Dark Sorcerer,Revenant,Deathblade,Bone Shooter,Necrophage
    random_leader=Dark Sorcerer,Revenant,Deathblade,Bone Shooter
    recruit=Skeleton,Skeleton Archer,Walking Corpse,Ghost,Vampire Bat,Dark Adept,Ghoul
    terrain_liked=Ss, Hh, Ha, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,fighter,scout,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Knalgan Alliance

[multiplayer_side]
    id=AE Knalgan Alliance
    name= _ "Default - Knalgan Alliance"
    image="units/dwarves/steelclad.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Dwarvish Steelclad
    leader=Dwarvish Steelclad,Dwarvish Thunderguard,Dwarvish Stalwart,Rogue,Trapper
    recruit=Dwarvish Guardsman,Dwarvish Fighter,Dwarvish Ulfserker,Dwarvish Thunderer,Thief,Poacher,Footpad,Gryphon Rider
    terrain_liked=Hh, Ha, Mm
    [ai]
        [aspect]
            id=recruitment_pattern
            [facet]
                value=fighter,fighter,fighter,mixed fighter,archer,scout
            [/facet]
        [/aspect]
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Drakes - Default

[multiplayer_side]
    id=AE Drakes
    name= _ "Default - Drakes"
    image="units/drakes/flare.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Drake Flare
    leader=Drake Flare,Fire Drake,Drake Arbiter,Drake Thrasher,Drake Warrior,Saurian Oracle,Saurian Soothsayer
    random_leader=Drake Flare,Fire Drake,Drake Arbiter,Drake Thrasher,Drake Warrior
    recruit=Drake Burner,Drake Clasher,Drake Glider,Drake Fighter,Saurian Skirmisher,Saurian Augur
    terrain_liked=Hh, Ha, Ds, Ss
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Khalifate - Default

#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=AE Khalifate Default
    name= _"Default - Khalifate"
    image="units/khalifate/muharib.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE muharib
    leader=AE muharib, AE ghazi, AE mudafi, AE monawish, AE tabib
    random_leader=AE muharib, AE ghazi, AE mudafi, AE monawish, AE tabib
    recruit=AE jundi, AE arif, AE khaiyal, AE rami, AE hakim, AE naffat, AE falcon
    terrain_liked=Ss, Hh, Ha, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,fighter,scout,archer
    [/ai]
[/multiplayer_side]
