#textdomain wesnoth-Ageless_Era

### | Imperial Era Custom Default Factions

## | Arendians - Default

[multiplayer_side]
    id=AE Arendians
    name= _ "Imper - Arendians"
    image="units/human-arendians/feather-bow.png~TC(1,magenta)"
    type=AE Arendian Feather Bow
    leader=AE Arendian Feather Bow,AE Arendian Chief,AE Arendian Hunter,AE Arendian Shaman,AE Arendian Mounted Warrior,AE Arendian Wanderer,AE Arendian Warrior,AE Arendian Bowknight

    recruit=AE Arendian Archer,AE Arendian Bowrider,AE Arendian Druid,AE Arendian Horseman,AE Arendian Swordsman,AE Arendian Falcon
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Cavernei - Default

[multiplayer_side]
    id=AE Cavernei
    name= _ "Imper - Cavernei"
    image="units/dwarves-cavernei/observer.png~TC(1,magenta)"
    type=AE Cavernei Steelclad
    leader=AE Cavernei Steelclad,AE Cavernei Thunderguard,AE Cavernei Stalwart,AE Cavernei Journeymann,AE Cavernei Observer,AE Cavernei Eagle Master

    recruit=AE Cavernei Guardsman,AE Cavernei Fighter,AE Cavernei Thunderer,AE Cavernei Eagle Rider,AE Cavernei Watcher
    terrain_liked=hHm
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

[event]
    name=new turn
    [store_unit]
        [filter]
            canrecruit=yes
        [/filter]
        variable=counttemp
    [/store_unit]
    [set_variable]
        name=temp
        value=0
    [/set_variable]
    [while]
        [variable]
            name=counttemp.length
            greater_than="$temp"
        [/variable]
        [do]
            [set_variable]
                name=temp
                add=1
            [/set_variable]
            [store_side]
                side=$temp
                variable=sidetemp
            [/store_side]
            [if]
                [have_unit]
                    side=$temp
                    type=Cavernei Steelclad,Cavernei Thunderguard,Cavernei Stalwart
                [/have_unit]
                [then]
                    [set_variable]
                        name=sidetemp.income
                        increase=2
                    [/set_variable]
                    [modify_side]
                        side=$temp
                        income=$sidetemp.income
                    [/modify_side]
                [/then]
            [/if]
        [/do]
    [/while]
    [clear_variable]
        name=counttemp
    [/clear_variable]
    [clear_variable]
        name=sidetemp
    [/clear_variable]
    [clear_variable]
        name=temp
    [/clear_variable]
[/event]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Issaelfr - Default

[multiplayer_side]
    id=AE Issaelfr
    name= _ "Imper - Issaelfr"
    image="units/elves-frost/ice-roamer.png~TC(1,magenta)"
    type=AE Frost Elf Ice Roamer
    leader=AE Frost Elf Gelus,AE Frost Elf Mountaineer,AE Frost Elf Glaivier,AE Frost Elf Ice Roamer
    recruit=AE Frost Elf Archer,AE Frost Elf Bladesman,AE Frost Elf Mistral Magus,AE Frost Elf Yak Rider,AE Seal
    terrain_liked=ghHS
    [ai]
        recruitment_pattern=fighter,mixed fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Lavinian Legion - Default

[multiplayer_side]
    id=AE Lavinian Legion
    name= _ "Imper - Lavinian Legion"
    image="units/human-lavinians/decurion.png~TC(1,magenta)"
    type=AE Lavinian Decurion
    leader=AE Lavinian Decurion,AE Lavinian Propugnator,AE Lavinian Signifer,AE Lavinian Rorarius,AE Lavinian Siege Archer,AE Lavinian Velite,AE Lavinian Funditor

    recruit=AE Lavinian Legionnaire,AE Lavinian Bowman,AE Lavinian Auxiliary,AE Nemidian Horseman,AE Nemidian River Calf,AE Lavinian Skirmisher,AE Lavinian Slinger,AE Lavinian Light Infantryman
    terrain_liked=ghH
    [ai]
        recruitment_pattern=fighter,mixed fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Marauders - Default

[multiplayer_side]
    id=AE Marauders
    name= _ "Imper - Marauders"
    image="units/human-marauders/pillager.png~TC(1,magenta)"
    type=AE Marauder Pillager
    leader=AE Marauder Jarl,AE Marauder Pillager,AE Marauder Hunter,AE Marauder Raider,AE Marauder Seeress,AE Marauder Shieldmaiden
    recruit=AE Marauder Warrior,AE Marauder Scout,AE Marauder Axeman,AE Marauder Crusher,AE Marauder Boatsman,AE Marauder Fay
    terrain_liked=hHmw
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Orcei Gladiatores - Default

[multiplayer_side]
    id=AE Orcei Gladiatores
    name= _ "Imper - Orcei Gladiatores"
    image="units/orcs-magni/hoplomachus.png~TC(1,magenta)"
    type=AE Magni Paegniarius
    leader=AE Magni Paegniarius,AE Magni Bestiarius,AE Magni Murmillo,AE Magni Provocator,AE Magni Dimacherius,AE Magni Hoplomachus,AE Magni Secutor,AE Magni Thraex
    recruit=AE Magni Pugnator,AE Magni Gallus,AE Magni Samnis,AE Minuti Piscator,AE Minuti Latronis,AE Minuti River Lizard,AE Minuti Venator,AE Minuti Retiarius,AE Minuti Laquerius,AE Minuti Essedarius
    terrain_liked=hHm
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Sidhe - Default

[multiplayer_side]
    id=AE Sidhe
    name= _ "Imper - Sidhe"
    image="units/elves-wild/thunderblade.png~TC(1,magenta)"
    type=AE Wild Elf Bladespinner
    leader=AE Wild Elf Bladespinner,AE Wild Elf Veiledblade,AE Wild Elf Herald,AE Wild Elf Tracker,AE Wild Elf Windlasher,AE Wild Elf Warmage,AE Wild Elf Snowdancer,AE Bear

    recruit=AE Wild Elf Fury,AE Wild Elf Warrior,AE Wild Elf Wanderer,AE Wild Elf Raindancer,AE Sidhe Warrior Spirit,AE Young Bear,AE Wild Elf Hoarfroster
    terrain_liked=fFwc
    [ai]
        recruitment_pattern=fighter,fighter,fighter,scout,archer,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
#                                                                         #
#                          U N I T   T R E E S                            #
#                                                                         #
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

# | Orcish units [Orcei Magni]
# | Pugnator -> Paegniarius -> Brutal Paegniarius
# |          -> Bestiarius -> Feral Bestiarius
# |
# | Gallus -> Murmillo -> Murmillo Leonis
# |        -> Provocator -> Provocator Leonis
# |        -> Dimacherius -> Dimacherius Fortis
# |
# | Samnis -> Hoplomachus -> Hoplomachus Fortis
# |        -> Secutor -> Secutor Leonis
# |        -> Thraex -> Thraex Paratus
# |
# | Goblin Units [Orcei Minuti]
# | Piscator -> Retiarius -> Fleet Retiarius
# |          -> Laquerius -> Laquerius Faber
# |
# | Latronis -> Venator -> Venator Faber
# |          -> Essedarius -> Essedarius Vulpis
# |
# | River Lizard -> Khampsa -> Khampsa Audentis
