#textdomain wesnoth-Ageless_Era

### | BEEM Custom Default Factions

## | Anakes - Default

[multiplayer_side]
    id=AE Anakes Default
    name= _ "BEEM - Anakes"
    image="units/anakes/daemon_fly1.png~RC(magenta>red)"
    type=AE Anakes Daemon
    leader=AE Anakes Daemon,AE Anakes Slaughterer,AE Anakes Heretic,AE Anakes Spellcaster,AE Anakes Hierophant,AE Anakes Sharp Eye,AE Anakes Devil,AE Anakes Stormbringer
    recruit=AE Anakes Damned,AE Anakes Initiate,AE Anakes Heterodox,AE Anakes Leech Rider,AE Anakes Sniper,AE Anakes Imp,AE Anakes Cursed
    terrain_liked=	Hh,	Mm,	Gg,	Ch
    [ai]
        recruitment_pattern=fighter,fighter,scout,scout,archer,archer,mixed fighter,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Calidonians - Default

[multiplayer_side]
    id=AE Calidonians
    name= _ "BEEM - Calydonians"
    image="units/calydonians/strategos.png~RC(magenta>red)"

    type=AE Tassiarch
    leader=AE Tassiarch,AE Polemarch,AE Toxotes,AE Dardanian Pillager
    recruit=AE Hoplite,AE Teti,AE Prodromoi,AE Dioian Swordsman,AE Peltast,AE Dardanian Warrior
    terrain_liked=	Hh,	Mm,	Gg,	Ch
    [ai]
        recruitment_pattern=fighter,fighter,scout,scout,archer,archer,mixed_fighter,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Wood Warriors - Default

[multiplayer_side]
    id=AE Wood Warriors
    name= _ "BEEM - Wood Warriors"
    image="units/wood_warriors/fauno/fauno_tiratore_scelto.png~RC(magenta>red)"
    type=AE Faun_Sharpshooter
    leader="AE Golem_Wood_Defender,AE Woods_Druid,AE Bigfoot,AE Fatal_Tangle,AE Faun_Captain,AE Faun_Sharpshooter"
    random_leader="AE Golem_Wood_Defender,AE Woods_Druid,AE Bigfoot,AE Fatal_Tangle,AE Faun_Captain,AE Faun_Sharpshooter"
    recruit=AE Explorer_Puck,AE Swamp_Explorer,AE Little_Golem,AE Exiled_Alchemist,AE Carnivore_Plant,AE Young_Bigfoot,AE Young_Faun
    terrain_liked=Gg, Ww, Wo
    [ai]
        recruitment_pattern=fighter,scout,fighter,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
