#textdomain wesnoth-Ageless_Era

### | Era of Magic Custom Default Factions

## | Loyalist - Default

[multiplayer_side]
    id=AE Loyalists Default
    name= _ "EE - Loyalists"
    image="units/human-loyalists/lieutenant.png~RC(magenta>red)"
    type=Lieutenant
    leader=Lieutenant,Swordsman,Pikeman,Javelineer,Shock Trooper,Longbowman,White Mage,Red Mage
    random_leader=Lieutenant,Swordsman,Pikeman,Javelineer,Longbowman,Red Mage

    recruit=Cavalryman,Horseman,Spearman,Fencer,Heavy Infantryman,Bowman,Mage,Sergeant,Peasant,Merman Fighter,Merman Hunter,Mermaid Initiate

    terrain_liked=Gg,Ww,Wo
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Sylvans - Default

[multiplayer_side]
    id=AE Sylvans Default
    name= _ "EE - Sylvans"
    image="units/elves-wood/captain.png~RC(magenta>red)"
    type=Elvish Captain
    leader=Elvish Captain,Elvish Hero,Elvish Ranger,Elvish Marksman,AE Fire Faerie,Elvish Druid,Elvish Sorceress,Elder Wose,AE Wose Shaman
    recruit=Elvish Fighter,Elvish Archer,AE Sprite,Elvish Shaman,Elvish Scout,AE Wose,Merman Fighter,Merman Hunter,Mermaid Initiate
    terrain_liked=Gs^Fp,Aa^Fpa,Ss,Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dwarves - Default

[multiplayer_side]
    id=AE Dwarves Default
    name= _ "EE - Dwarves"
    image="units/dwarves/steelclad.png~RC(magenta>red)"
    type=Dwarvish Steelclad
    leader=Dwarvish Steelclad,Dwarvish Thunderguard,AE Dwarvish Flamethrower,Dwarvish Stalwart,AE Dwarvish Runesmith,Dwarvish Pathfinder

    recruit=Dwarvish Guardsman,AE Dwarvish Fighter,Dwarvish Ulfserker,AE Dwarvish Thunderer,Dwarvish Scout,AE Dwarvish Gyrocopter,AE Dwarvish Steamwheel
    terrain_liked=Hh,Ha,Mm
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,scout,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Outlaws - Default

[multiplayer_side]
    id=AE Outlaws Default
    name= _ "EE - Outlaws"
    image="units/human-outlaws/rogue.png~RC(magenta>red)"
    type=Rogue
    leader=Trapper,AE Outlaw Shadow Mage,Bandit,Rogue,Ogre,AE Outlaw Princess

    recruit=Thief,Poacher,Footpad,Thug,AE Outlaw Brigand,AE Outlaw Rogue Mage,Ruffian,Young Ogre,AE Naga Fighter,AE Naga Hunter
    terrain_liked=Hh,Ha,Mm
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Northerners - Default

[multiplayer_side]
    id=AE Northerners Default
    name= _ "EE - Northerners"
    image="units/orcs/warrior.png~RC(magenta>red)"
    type=Orcish Warrior
    leader=AE Orcish Ruler,Orcish Warrior,AE Orcish Elder,Troll,Troll Rocklobber,AE Troll Shaman,Orcish Crossbowman,Orcish Slayer
    recruit=Orcish Grunt,AE Troll Whelp,Wolf Rider,Orcish Archer,Orcish Assassin,Goblin Spearman,AE Orcish Shaman,AE Naga Fighter,AE Naga Guardian,AE Naga Hunter,AE Orcish Leader
    terrain_liked=Hh,Ha,Mm,Ss
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,scout,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Undead - Default

[multiplayer_side]
    id=AE Undead Default
    name= _ "EE - Undead"
    image=units/undead-skeletal/revenant.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Revenant
    leader=AE Dark Sorcerer,Revenant,AE Death Baron,Deathblade,Bone Shooter,Necrophage
    recruit=AE Skeleton,Skeleton Archer,Walking Corpse,Ghost,Vampire Bat,Ghoul,AE Dark Adept
    terrain_liked=Ss,Hh,Ha,Ww
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Chaos - Default

[multiplayer_side]
    id=AE Chaos Default
    name= _ "EE - Chaos"
    image="units/chaos/magus.png~RC(magenta>red)"
    type=AE Chaos Magus
    leader=AE Greater Mutation,AE Chaos Knight,AE Chaos Magus,AE Chaos Armorer,AE Chaos Daemon,AE Greater Crab
    random_leader=AE Chaos Knight,AE Chaos Magus,AE Chaos Knight,AE Chaos Daemon
    recruit=AE Chaos Hound,AE Lesser Daemon,AE Lesser Mutation,AE Chaos Invader,AE Chaos Invoker,AE Chaos Headhunter,AE Lesser Crab
    terrain_liked=Ss,Hh,Ha,Ww
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,frenzy,archer,scout,mutant,crab
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
#define UNUSED
    ## | Kalifa - Default

    [multiplayer_side]
        id=AE Kalifa Default
        name= _ "EE - Kalifa"
        image="units/human-kalifa/ghazi.png~RC(magenta>red)"
        type=AE Kalifa Ghazi
        leader=AE Kalifa Ghazi,AE Kalifa Naffatun,AE Kalifa Arif,AE Kalifa Mubarizan,AE Kalifa Rami al Nuri,AE Kalifa Ekim Haram,AE Kalifa Ghaznid
        recruit=AE Kalifa Falcon,AE Kalifa Ahadath,AE Kalifa Karadis,AE Kalifa Ghulam,AE Kalifa Rami,AE Kalifa Amir,AE Kalifa Ekim
        terrain_liked=Hh,Ha,Ds,Dd,Mm,Dd^Do
        [ai]
            recruitment_pattern=archer,mixed fighter,fighter,healer,scout
        [/ai]
    [/multiplayer_side]
#enddef
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dark Elves - Default

[multiplayer_side]
    id=AE Dark Elves Default
    name= _ "EE - Dark Elves"
    image="units/elves-dark/captain.png~RC(magenta>red)"
    type=AE Dark Elf Captain
    leader=AE Dark Elf Captain,AE Dark Elf Warrior,AE Dark Elf Sorcerer,AE Dark Elf Sorceress,AE Dark Elf Shadow,AE Dark Elf Lord,AE_ext_dark_elves_Mistral_Wyrm
    recruit=AE Dark Elf Fighter,AE Dark Elf Hunter,AE Dark Elf Wizard,AE Dark Elf Lizard Rider,AE Dark Elf Enchantress,AE Dark Elf Noble,Vampire Bat,AE_ext_dark_elves_Ice_Wyrm
    terrain_liked=Ss,Hh,Ha,Ww,Uu
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,scout,mixed fighter,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
