#textdomain wesnoth-Ageless_Era

### | Era of Magic Custom Default Factions

## | Barbarians - Default

[multiplayer_side]
    id=AE barbarians
    name= _ "EoMa - Barbarians"
    image="units/barbarians/barbarianking.png~RC(magenta>red)"
    type=AE Barbarian_OrcishBarbarian
    leader=AE Barbarian_OrcishBarbarian,AE Barbarian_CyclopFire,AE Barbarian_CyclopMighty,AE Barbarian_TrollFireWizard,AE Barbarian_TrollWarbanner,AE Barbarian_OrcishWarbanner
    random_leader=AE Barbarian_OrcishBarbarian,AE Barbarian_CyclopFire,AE Barbarian_CyclopMighty,AE Barbarian_TrollFireWizard,AE Barbarian_TrollWarbanner,AE Barbarian_OrcishWarbanner
    recruit=AE Barbarian_Cyclop,AE Barbarian_OrcishWarrior,AE Barbarian_GoblinRunt,AE Barbarian_GoblinKamikaze,AE Barbarian_GoblinWarbanner,AE Barbarian_GoblinArcher,AE Barbarian_RocRider,AE Barbarian_TrollSorcerer,AE Barbarian_OrcishBerserker
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dark Blood Alliance - Default

[multiplayer_side]
    id=AE darkblood
    name= _ "EoMa - Dark Blood Alliance"
    image="units/darkblood/chosenofforest.png~RC(magenta>red)"
    type=AE Clan Leader
    leader=AE Clan Leader,AE DarkShaman,AE GreatLancer,AE Crossbowman
    random_leader=AE Clan Leader,AE DarkShaman,AE GreatLancer,AE Crossbowman
    recruit=AE Toad,AE Lancer,AE ShamanAdept,AE Shooter,AE Wyvern,AE WyvernLancerRecruit,AE ZSalamander
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter,scout,healer,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Enlightened Ones - Default

[multiplayer_side]
    id=AE skykingdom
    name= _ "EoMa - Sky Kingdom"
    image="units/enlightened/master-of-elements1.png~RC(magenta>red)"
    type=AE enlightened_archmage
    leader=AE enlightened_archmage,AE enlightened_spellsword,AE enlightened_mage_of_fire,AE enlightened_mage_of_water,AE enlightened_mage_of_air,AE enlightened_blackmage,AE enlightened_mysticwarrior,AE_Sculptor

    recruit=AE enlightened_battlemage,AE enlightened_subversivemage,AE Elementalist,AE Golem,AE Mu,AE enlightened_hiddenface,AE MagicalEye
    music=""
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Kharos - Default

[multiplayer_side]
    id=AE Kharos
    name= _ "EoMa - Kharos"
    image="units/kharos/inspired.png~RC(magenta>red)"
    type=AE Kharos_LightCleric
    leader=AE Kharos_LightCleric,AE Kharos_LightInspired,AE Kharos_SunFollower,AE Kharos_SunBrownwarrior,AE Kharos_SunRevenger,AE Kharos_SunProtector

    recruit=AE Kharos_SunWhitewarrior,AE Kharos_LightAdept,AE Kharos_SunShielder,AE Kharos_SunSlicer,AE Kharos_SunCavalryArcher,AE Kharos_SunFollower,AE Kharos_Warbanner,AE Kharos_LightSister
    music=""
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,healer,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Runemasters - Default

[multiplayer_side]
    id=AE Runemasters
    name= _ "EoMa - Runemasters"
    image="units/ancient_dwarves/runemaster-thunder-1.png~RC(magenta>red)"
    type=AE maRuneSmith
    leader=AE maRuneSmith,AE dHeavyWarrior,AE mecTank,AE rTechnician
    random_leader=AE maRuneSmith,AE dHeavyWarrior,AE mecTank,AE rTechnician
    recruit=AE mecSM,AE SteamaUlfserker,AE dWarrior,AE rMechanic,AE maRuneAdept,AE mbBaloon
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Summoners - Default

[multiplayer_side]
    id=AE Al-Kamija
    name= _ "EoMa - Al-Kamija"
    image="units/summoners/summonerIII.png~RC(magenta>red)"
    type=AE SummonerII
    leader=AE SummonerII,AE Jinn_Great,AE RhamiDatu,AE RhamiKai
    random_leader=AE SummonerII,AE Jinn_Great,AE RhamiDatu,AE RhamiKai
    recruit=AE Summoner,AE Enchanted,AE Jinn,AE Rhami,AE Elemental_fire,AE Elemental_water,AE CamelRider,AE CarpetRider
    music=""
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,mixed fighter,archer,archer,scout,scout,scout,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Warlocks - Default

[multiplayer_side]
    id=AE tharis
    name= _ "EoMa - Tharis"
    image="units/warlocks/greatwarlock.png~RC(magenta>red)"
    type=AE Tharis_Darkwizard
    leader=AE Tharis_Darkwizard,AE Tharis_Shadowwitch,AE Tharis_Commander,AE Tharis_Slayer,AE Tharis_GreatHunter

    recruit=AE Tharis_Disciple,AE Tharis_Witch,AE Tharis_Darkwarrior,AE Tharis_Hydra,AE Tharis_Hunter,Vampire Bat,AE Tharis_Bladedancer
    music=""
    terrain_liked=gcs
    [ai]
        recruitment_pattern=archer,archer,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Destroyers - Default

[multiplayer_side]
    id=AE destroyers
	image="units/destroyers-omens/obliterator.png~RC(magenta>red)"
    name=_"EoMa - Destroyers"
    type=AE_Punisher
    leader=AE_Punisher,AE_Legendary_Cyclops,AE_Atokpi_Samurai,AE_Mara,AE_Bone_Golem
    random_leader=AE_Atokpi_Samurai,AE_Mara,AE_Bone_Golem,AE_Punisher,AE_Legendary_Cyclops
    recruit=AE_Pirafly,AE_Atokpi,AE_Nightmare,AE_Beast,AE_Omen,AE_Cyclops_Skeleton
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter
    [/ai]
[/multiplayer_side]
