#textdomain wesnoth-Ageless_Era

### | Era of Myths Custom Default Factions

## | Celestials - Heros

[multiplayer_side]
    id=AE celestials
    name= _ "EOM - Celestials"
    image="units/celestials/claimant.png"
    type=AE Celestial Claimant
    leader=AE Celestial Claimant,AE Celestial Divine_Knight,AE Celestial Protector,AE Celestial Keeper,AE Celestial Great_Wizard,AE Celestial Mystic,AE Celestial Militant

    recruit=AE Celestial Messenger,AE Celestial Light_Spirit,AE Celestial Crusader,AE Celestial Legionnaire,AE Celestial Wizard,AE Celestial Zealot
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Devlings - Heros

[multiplayer_side]
    id=AE devlings
    name= _ "EOM - Devlings"
    image="units/devlings/offenders.png"
    type=AE Devling Offenders
    leader=AE Devling Soldier,AE Devling Warrior,AE Devling Offenders
    recruit=AE Devling Flappers,AE Devling Sneak,AE Devling Cursers,AE Overgrown Devling,AE Devling Nailers
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,archer,mixed fighter,fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## Elementals - Heros

[multiplayer_side]
    id=AE elementals
    name= _ "EOM - Elementals"
    image="units/elementals/golem.png"
    type=AE Rock Golem
    leader=AE Fire Wisp,AE Vine Tiger,AE Undine,AE Ice Crab,AE Zephyr,AE Rock Golem,AE Living Furnace

    recruit=AE Unicorn,AE Tidal,AE Animated Rock,AE Magic Servant,AE Vine Beast,AE Brazier Creation
    terrain_liked=FHS
    [ai]
        recruitment_pattern=fighter,scout,mixed fighter,mixed fighter,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Therians - Heros

[multiplayer_side]
    id=AE therians
    name= _ "EOM - Therians"
    image="units/shifters/defender.png~TC(1,magenta)"
    type=AE Therian Defender
    leader=AE Therian Mage,AE Therian Shaman,AE Aura Monk,AE Therian Defender,AE Jaguar Therian,AE Cobra
    recruit=AE Leopard Therian,AE Falcon Therian,AE Serpent Therian,AE Therian Apprentice,AE Therian Monk,AE Therian Guard
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Vampires - Heros

[multiplayer_side]
    id=AE vampires
    name= _ "EOM - Vampires"
    image="units/vampires/noble.png"
    type=AE Noble
    leader=AE Noble,AE Mistress,AE Duelist,AE Flesh Artisan,AE Blood Manipulator,AE Half Blood
    recruit=AE gargoyle,AE Blood Hulk,AE Fledgeling,AE Blood Apprentice,AE Thin Blood,AE Vampire Bat,AE Bloodborn,AE Succubus
    terrain_liked=FHS
    [ai]
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,fighter,tank
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Warg - Default

[multiplayer_side]
    id=AE Wargs Default
    name= _ "EOM - The Warg"
    image="units/wargs/warrior.png"
    type=AE Warrior Warg
    leader=AE Warrior Warg,AE Changeling,AE Fire Sprite2,AE Bear,AE Black_Hunter
    recruit=AE Stalker,AE Wolf Cub,AE Shapeshifter,AE Young Bear,AE Blackfur,AE Fire Sprite,AE Warrior_Wolf
    terrain_liked=FHS
    [ai]
        recruitment_pattern=fighter,scout,fighter,archer,scout,fighter,tank
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Windsong - Default

[multiplayer_side]
    id=AE Windsong Default
    name= _ "EOM - Windsong"
    image="units/windsong/prophet.png~TC(1,magenta)"
    type=AE Prophetess
    leader=AE Savant,AE Prophetess,AE Skyrunner,AE Lorekeeper,AE Heretic,AE Reaver

    recruit=AE Scribe,AE Seeker,AE Weaver,AE Gatekeeper,AE Courier,AE Sky_Shard
    terrain_liked=Aa, Ha, Ww
    [ai]
        recruitment_pattern=mixed fighter,archer,scout,fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
