#textdomain wesnoth-Ageless_Era

### | Archiac Era Custom Default Factions

## | Welkin - Default

[multiplayer_side]
    id=AE Brungar
    name= _ "EotF - Brungar"
    image=units/Brungar/Council_Member.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Dwarvish Huntsman
    leader=AE Wave Rider,AE Ice Apprentice,AE Crocodile Rider,AE Dwarvish Huntsman,AE Experienced Tamer,AE Council Elder,AE Harpoon Specialist,AE Herbicider,AE Herbalist
    recruit=AE Undecided Student,AE Alligator Rider,AE Dwarvish Hunter,AE Baby Sea Turtle,AE Amateur Tamer,AE Crab,AE Council Member,AE Harpoonier,AE Sting Ray
    [ai]
        recruitment_pattern=fighter,fighter,scout,mixed_fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Brungar - Default

[multiplayer_side]
    id=AE Welkin
    name= _ "EotF - Welkin"
    image=units/Welkin/Mentor.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Mentor
    leader=AE Mentor,AE Grand Flyer,AE Whirlwind,AE Talon Warrior,AE Midnight Stalker,AE Golden Guard,AE Sentinel of the Moon,AE Elder Sage,AE Battle Sage,AE Pyroation,AE Quickdraw,AE Shadow Raider,AE Twilight Slayer
    recruit=AE Flyer,AE Luna Protector,AE Flurry,AE Moonlight Glider,AE Sage,AE Neophyte,AE Guardian of Day,AE Star Shooter
    [ai]
        recruitment_pattern=fighter,fighter,scout,mixed_fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
