#textdomain wesnoth-Ageless_Era

### | Mercenaries Era Custom Default Factions

## | Highlanders

[multiplayer_side]
    id=Highlanders
    name= _ "ME - Highlanders"
    image="units/highlanders/barbarian.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Highlander Barbarian
    leader=AE Highlander Barbarian,AE Highlander Pilferer,AE Highlander Hulk,AE Highlander Stonethrower,AE Highlander Bagplayer,AE Highlander Hatchet Thrower,AE Highlander Woodsman,AE Highlander Amputator,AE Highlander Combatmedic

    recruit=AE Highlander Nord,AE Highlander Drunkard,AE Highlander Giant,AE Highlander Contestant,AE Highlander Pipeman,AE Highlander Forester,AE Highlander Fieldmedic,AE Highlander Valkyrie,AE Highlander Warrior Spirit
    terrain_liked=Aa, Hh, Mnt
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Enchanters

[multiplayer_side]
    id=Enchanters
    name= _ "ME - Enchanters"
    image="units/enchanters/forge.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Enchanter Forge
    leader=AE Enchanter Forge,AE Enchanter Cursedhand,AE Enchanter Sacrificer,AE Enchanter Arsenal,AE Enchanter Elemental Rune Interpreter,AE Enchanter Arcane Rune Transcriber,AE Enchanter Featherlite,AE Enchanter Clearbow,AE Enchanter Blazier
    random_leader=AE Enchanter Forge,AE Enchanter Cursedhand,AE Enchanter Sacrificer,AE Enchanter Arsenal,AE Enchanter Elemental Rune Interpreter,AE Enchanter Arcane Rune Transcriber,AE Enchanter Featherlite,AE Enchanter Clearbow,AE Enchanter Blazier
    recruit=AE Enchanter Rune Apprentice,AE Enchanter Armorer,AE Enchanter Cursedsword,AE Enchanter Enchanter,AE Enchanter Reducter,AE Enchanter Hotshot,AE Enchanter Floating Sword
    terrain_liked=Ss
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,fighter,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Avians

[multiplayer_side]
    id=Avians
    name= _ "ME - Avians"
    image="units/avians/skylord.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Avian Skylord
    leader=AE Avian Skylord,AE Avian Skyterror,AE Avian Nestguard,AE Avian Bladewing,AE Avian Savior,AE Avian Ironbeak,AE Avian Hawkeye,AE Avian Sitter
    random_leader=AE Avian Skylord,AE Avian Skyterror,AE Avian Nestguard,AE Avian Bladewing,AE Avian Savior,AE Avian Ironbeak,AE Avian Hawkeye,AE Avian Sitter
    recruit=AE Avian Grounded,AE Avian Archer,AE Avian Watchman,AE Avian Mother,AE Avian Dart,AE Avian Pigeon,AE Avian Jackdaw, AE Avian Broadwing
    terrain_liked=fmg
    [ai]
        recruitment_pattern=fighter,fighter,scout,healer,archer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Slavers

[multiplayer_side]
    id=Slavers
    name= _ "ME - Slavers"
    image="units/slavers/overseer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Slaver Overseer
    leader=AE Slaver Overseer,AE Slaver Subjugater,AE Slaver Punisher,AE Slaver Trailer,AE Slaver Provoker,AE Slaver Entrancer,AE Slaver Farmhand,AE Slaver Miner
    random_leader=AE Slaver Overseer,AE Slaver Subjugater,AE Slaver Punisher,AE Slaver Trailer,AE Slaver Provoker,AE Slaver Entrancer,AE Slaver Farmhand,AE Slaver Miner
    recruit=AE Slaver Slave,AE Slaver Entertainer,AE Slaver Hawk,AE Slaver Slaveholder,AE Slaver Prodder,AE Slaver Tracker,AE Slaver Mutt
    terrain_liked=gfh
    [ai]
        recruitment_pattern=scout,fighter,archer,fighter,healer,fighter,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Mercenaries

[multiplayer_side]
    id=Mercenaries
    name= _ "ME - Mercenaries"
    image="units/mercenaries/hessian.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Mercenary Hessian
    leader=AE Mercenary Hessian,AE Mercenary Mankiller,AE Mercenary Guard,AE Mercenary Bouncer,AE Mercenary Tracer,AE Mercenary Cutthroat,AE Mercenary Isolated Mage,AE Mercenary Warrior Mage

    recruit=AE Mercenary Mercenary,AE Mercenary Rookie,AE Mercenary Hunter,AE Mercenary Brute,AE Mercenary Pickpocket,AE Mercenary Neglect Mage,AE Mercenary Rider,AE Mercenary Sailer
    terrain_liked=gfh
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,scout,mixedfighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Equestrians

[multiplayer_side]
    id=Equestrians
    name= _ "ME - Equestrians"
    image="units/equestrians/champion.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Equestrian Equestrian
    leader=AE Equestrian Equestrian,AE Equestrian Champion,AE Equestrian Paladin,AE Equestrian Mageknight,AE Equestrian Troubadour,AE Equestrian Nomad

    recruit=AE Equestrian Bronco,AE Equestrian Charger,AE Equestrian Knight,AE Equestrian Magerider,AE Equestrian Pegasus Rider,AE Equestrian Rider,AE Equestrian Searay,AE Equestrian Vagabond
    terrain_liked=gfh
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,scout,mixedfighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Emperor_s Guard

[multiplayer_side]
    id="Emperor_s Guard"
    name= _ "ME - Emperor's Guard"
    image="units/emperorguard/samuraicaptain.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type="AE Emperor_s Guard Samurai Captain"
    leader="AE Emperor_s Guard Samurai Captain,AE Emperor_s Guard Ninja Warrior,AE Emperor_s Guard Ninja Assassin,AE Emperor_s Guard Monofu,AE Emperor_s Guard Bushi,AE Emperor_s Guard Musha,AE Emperor_s Guard Starshower,AE Emperor_s Guard Kyu,AE Emperor_s Guard Kyushu"
    recruit=AE Emperor_s Guard Martial Artist,AE Emperor_s Guard Ninja,AE Emperor_s Guard Ozutsu,AE Emperor_s Guard Ryu,AE Emperor_s Guard Samurai,AE Emperor_s Guard Shuriken Thrower,AE Emperor_s Guard Yumi,AE Emperor_s Guard Mounted Samurai
    terrain_liked=gfh
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,scout,mixedfighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Oracles

[multiplayer_side]
    id=Oracles
    name= _ "ME - Oracles"
    image="units/oracles/prophet.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Oracle Prophet
    leader=AE Oracle Prophet,AE Oracle Clergyman,AE Oracle Theurgist,AE Oracle Warlock,AE Oracle Magus,AE Oracle Necromantic,AE Oracle Psychic,AE Oracle Gravitymancer,AE Oracle Guru

    recruit=AE Oracle Arbiter,AE Oracle Blindman,AE Oracle Cleric,AE Oracle Disciple,AE Oracle Beholder,AE Oracle Monk,AE Oracle Oracle,AE Oracle Scholar,AE Oracle Wizard, AE Oracle Magnomancer, AE Oracle Sage
    terrain_liked=hfc
    [ai]
        recruitment_pattern=fighter,scout,fighter,mixedfighter,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Holy Order

[multiplayer_side]
    id=Holyorder
    name= _ "ME - Holy Order"
    image="units/holyorder/justice.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Order Justice
    leader=AE Order Justice,AE Order Judgementor,AE Order Mage,AE Order Scholar,AE Order Priest,AE Order Demonslayer,AE Order Inquisition,AE Order Crusader
    recruit=AE Order Aggressor,AE Order Cleric,AE Order Interrogator,AE Order Judiciary,AE Order Mounted Officer,AE Order Officer,AE Order Student,AE Order Lightwisp,AE Order Witchhunter
    terrain_liked=hfc
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixedfighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | The Cult

[multiplayer_side]
    id=Cult
    name= _ "ME - The Cult"
    image="units/cult/rebel.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Cult Rebel
    leader=AE Cult Rebel,AE Cult Transformation,AE Cult Covert,AE Cult Lurker,AE Cult Banished,AE Cult Miscreation,AE Cult Outlaster
    recruit=AE Cult Cultist,AE Cult Exile,AE Cult Freak,AE Cult Lookout,AE Cult Recruit,AE Cult Survivor,AE Cult Sewer Swimmer,AE Cult Waiter
    terrain_liked=Ss
    [ai]
        recruitment_pattern=fighter,fighter,scout,heavy,heavy,mixedfighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Fanatics

[multiplayer_side]
    id=fanatics
    name= _ "ME - Fanatics"
    image="units/fanatics/devoted.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Fanatic Devoted
    leader=AE Fanatic Devoted,AE Fanatic Warrior,AE Fanatic Ambusher,AE Fanatic Terrorist,AE Fanatic Misinformant,AE Fanatic Thief

    recruit=AE Fanatic Bladesman,AE Fanatic Sandbow,AE Fanatic Caravan,AE Fanatic Magic Carpet,AE Fanatic Follower,AE Fanatic Genie,AE Fanatic Gossiper,AE Fanatic Streetrat
    terrain_liked=Dd, Ds, Hh
    [ai]
        recruitment_pattern=fighter,fighter,scout,fighter,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Tribe

[multiplayer_side]
    id=Tribe
    name= _ "ME - Tribalists"
    image="units/tribe/tribalist.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Tribe Tribalist
    leader=AE Tribe Tribalist,AE Tribe Endemic,AE Tribe Decapitator,AE Tribe Archer,AE Tribe Hunter,AE Tribe Medicineman,AE Tribe Witchdoctor
    recruit=AE Tribe Boomerang Thrower,AE Tribe Bowman,AE Tribe Cook,AE Tribe Dartsman,AE Tribe Rowboat,AE Tribe Scalper,AE Tribe Shaman,AE Tribe Wallaby,AE Tribe Warrior
    terrain_liked=Ff
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,archer,heavy,scout,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Hive

[multiplayer_side]
    id=Hive
    name= _ "ME - Hive"
    image="units/hive/queen.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Hive Queen
    leader=AE Hive Queen,AE Hive Prince,AE Hive Lanterbug,AE Hive Stag,AE Hive Flea,AE Hive Termite Soldier,AE Hive Soldier Ant,AE Hive Tarantula,AE Hive Fire Ant
    recruit=AE Hive Ant,AE Hive Beetle,AE Hive Drone,AE Hive Firefly,AE Hive Gnat,AE Hive Hopper,AE Hive Termite,AE Hive Spider,AE Hive Swarm
    terrain_liked=fmg
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixedfighter,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Infernai

[multiplayer_side]
    id=Infernai
    name= _ "ME - Infernai"
    image="units/fiends/demon.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Infernai Demon
    leader=AE Infernai Demon,AE Infernai Magog,AE Infernai Pit Lord,AE Infernai Tormentor,AE Infernai Master Ifreet,AE Infernai Troglodyte

    recruit=AE Infernai Demon Dog,AE Infernai Hell Dweller,AE Infernai Imp,AE Infernai Fiend,AE Infernai Gog,AE Infernai Ifreet,AE Infernai Pit Fiend,AE Infernai Lost Soul
    terrain_liked=gfh
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,scout,mixedfighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Refugees

[multiplayer_side]
    id=Refugees
    name= _ "ME - Refugees"
    image="units/refugees/sarissan.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Refugee Hoplite
    leader=AE Refugee Hoplite,AE Refugee Defender,AE Refugee Javelineer,AE Refugee Gatekeeper,AE Refugee Maceman,AE Refugee Sniper,AE Refugee Purifier,AE Refugee Arsonist
    recruit=AE Refugee Refugee,AE Refugee Cleaner,AE Refugee Courier,AE Refugee Focul,AE Refugee Guard,AE Refugee Longboat,AE Refugee Rabble,AE Refugee Sarissan,AE Refugee Sentry
    terrain_liked=Cc, Kk, Mnt, Hh
    [ai]
        recruitment_pattern=fighter,fighter,fighter,heavy,archer,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Blight

[multiplayer_side]
    id=Blight
    name= _ "ME - Blight"
    image="units/blight/zombie.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Blight Zombie
    leader=AE Blight Plagued,AE Blight Zombie,AE Blight Rancid,AE Blight Dismembered,AE Blight Mutilated Corpse,AE Blight Spore Hive,AE Blight Fleshpool
    recruit=AE Blight Charred Zombie,AE Blight Blob,AE Blight Microbe,AE Blight Parasite,AE Blight Infected,AE Blight Cadaver,AE Blight Fetid,AE Blight Host,AE Blight Infected Hound,AE Blight Dark Current
    terrain_liked=Ss
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer,fighters
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
