#define STEELHIVE_MISSILE_FRAME_WELD_FIRE N_OFFSET S_OFFSET N_DIAGONAL_OFFSET S_DIAGONAL_OFFSET
    # Animate a projectile for a weld-fire attack.
    [if]
        direction=n

        [missile_frame]
            begin=-400
            end=100
            halo=projectiles/weld-fire-n-1.png:80,projectiles/weld-fire-n-2.png:80,projectiles/weld-fire-n-3.png:80,projectiles/weld-fire-n-4.png:80,projectiles/weld-fire-n-5.png:80
            halo_x,halo_y={N_OFFSET}
        [/missile_frame]
    [/if]
    [else]
        direction=s

        [missile_frame]
            begin=-400
            end=100
            halo=projectiles/weld-fire-n-1.png:80,projectiles/weld-fire-n-2.png:80,projectiles/weld-fire-n-3.png:80,projectiles/weld-fire-n-4.png:80,projectiles/weld-fire-n-5.png:80
            halo_x,halo_y={S_OFFSET}
        [/missile_frame]
    [/else]
    [else]
        direction=ne,nw

        [missile_frame]
            begin=-400
            end=100
            halo=projectiles/weld-fire-ne-1.png:80,projectiles/weld-fire-ne-2.png:80,projectiles/weld-fire-ne-3.png:80,projectiles/weld-fire-ne-4.png:80,projectiles/weld-fire-ne-5.png:80
            halo_x,halo_y={N_DIAGONAL_OFFSET}
        [/missile_frame]
    [/else]
    [else]
        direction=se,sw

        [missile_frame]
            begin=-400
            end=100
            halo=projectiles/weld-fire-ne-1.png:80,projectiles/weld-fire-ne-2.png:80,projectiles/weld-fire-ne-3.png:80,projectiles/weld-fire-ne-4.png:80,projectiles/weld-fire-ne-5.png:80
            halo_x,halo_y={S_DIAGONAL_OFFSET}
        [/missile_frame]
    [/else]
#enddef
