#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Bombardier
    name= _ "Bombardier"
    race=AE Avians
    image="units/avians/bombardier.png"
    hitpoints=56
    movement_type=Avianmedwing
    movement=5
    experience=76
    level=2
    alignment=neutral
    advances_to=AE Avian Bowflurry
    cost=29
    usage=archer
    undead_variation=gryphon
    description= _ "While bows are very difficult for Avians to wield, some find a knack for shooting rapidly with shortbows in midflight."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=8
        number=4
    [/attack]
    {DEFENSE_ANIM "units/avians/bombardier.png" "units/avians/bombardier.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
