#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Hawkeye
    name= _ "Hawkeye"
    race=AE Avians
    image="units/avians/hawkeye.png"
    hitpoints=50
    movement_type=Avianmedwing
    movement=6
    experience=74
    level=2
    alignment=neutral
    advances_to= AE Avian Eagle Eye
    cost=32
    usage=archer
    undead_variation=gryphon
    description= _ "Avians who wield their bows well enough might find it easy to kill off an orcish crossbowman or a lieutenant. They find that crossbows, while slower than regular bows, are much more wieldy when you have big wings on both sides."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=crossbow
        description= _ "crossbow"
        icon=attacks/crossbow-orcish.png
        type=pierce
        range=ranged
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/avians/hawkeye.png" "units/avians/hawkeye.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
