#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Shell
    name= _ "Shell"
    race=AE Avians
    image="units/avians/shell.png"
    hitpoints=65
    movement_type=Avianmedwing
    movement=4
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=17
    usage=fighter
    undead_variation=gryphon
    description= _ "While it may seem abit strange to see a big feathery man walking around covered in shards of eggshell, it is no laughing matter when he's flying around beheading anyone who besets his colonies nest."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=16
        number=2
    [/attack]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=9
        number=4
    [/attack]
    [resistance]
        cold=90
        fire=90
        blade=80
        pierce=70
        impact=110
    [/resistance]
    {DEFENSE_ANIM "units/avians/shell.png" "units/avians/shell.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
