#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Skylord
    name= _ "Skylord"
    race=AE Avians
    image="units/avians/skylord.png"
    hitpoints=55
    movement_type=Avianlrgwing
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=AE Avian Winged Baron
    cost=40
    usage=healer
    undead_variation=gryphon
    description= _ "Skylords are looked up to by other avians for their enormous wings, and powerful words. They, unlike most avians, are pampered and taught many languages making them quite charismatic."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=7
        number=4
    [/attack]
    [attack]
        name=northwind
        description= _ "northwind"
        icon=attacks/dark-missile.png
        type=cold
        range=ranged
        damage=9
        number=3
    [/attack]
    {DEFENSE_ANIM "units/avians/skylord.png" "units/avians/skylord.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
