#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Skyterror
    name= _ "Skyterror"
    race=AE Avians
    image="units/avians/skyterror.png"
    hitpoints=60
    movement_type=Avianlrgwing
    movement=4
    experience=84
    level=2
    alignment=chaotic
    advances_to=AE Avian Dradnought
    cost=35
    usage=fighter
    undead_variation=gryphon
    description= _ "Hovering high over the battlefield, these flying behemoths shadow many a troop with their enormous wingspans, they unlike the more pampered of the alpha class, enjoy combat, and revel in the ability to wield their claws and rend the flesh of enemies."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
    [/abilities]
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=8
        number=4
    [/attack]
    [attack]
        name=northwind
        description= _ "northwind"
        icon=attacks/dark-missile.png
        type=cold
        range=ranged
        damage=13
        number=2
    [/attack]
    {DEFENSE_ANIM "units/avians/skyterror.png" "units/avians/skyterror.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
