#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Jackdaw
    name= _ "Jackdaw"
    race=AE Avians
    image="units/avians/jackdaw.png"
    hitpoints=32
    movement_type=Aviansmlwing
    movement=8
    experience=39
    level=1
    alignment=neutral
    advances_to=AE Avian Crow,AE Avian Owl
    cost=17
    usage=scout
    undead_variation=gryphon
    description= _ "Jackdaws are quite small. Even for civilian class avians. They also have the smallest wingspan, and are unable to make gusts of wind yet. But are so small and light that they are still faster than the average Avian."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]

    {DEFENSE_ANIM "units/avians/jackdaw.png" "units/avians/jackdaw.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
