#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Owl
    name= _ "owl"
    race=AE Avians
    image="units/avians/owl.png"
    hitpoints=45
    movement_type=Aviansmlwing
    movement=8
    experience=64
    level=2
    alignment=chaotic
    advances_to=AE Avian Nightwing
    cost=38
    usage=fighter
    undead_variation=gryphon
    description= _ "Some jackdaws don't mind not being able to blow powerful gusts of air. They notice how silent it makes their wings, and this allows them to easily sneak up on prey."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
        {ABILITY_NIGHTSTALK}
    [/abilities]
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
        range=melee
        damage=6
        number=3
    [/attack]
    {DEFENSE_ANIM "units/avians/owl.png" "units/avians/owl.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
