#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Nightwing
    name= _ "Nightwing"
    race=AE Avians
    image="units/avians/nightwing.png"
    hitpoints=42
    movement_type=Aviansmlwing
    movement=8
    experience=100
    level=3
    alignment=chaotic
    {AMLA_DEFAULT}
    advances_to=null
    cost=55
    usage=fighter
    undead_variation=gryphon
    description= _ "The nightwings are quite intelligent, and though not as intelligent as Ravens or Crows, they are easily the best at ambushing enemy soldiers, and stealthily removing them from combat, whether by slashing their back or neck open, or picking them up and dropping them off a nearby cliffside."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
        {ABILITY_NIGHTSTALK}
    [/abilities]
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
        range=melee
        damage=10
        number=3
    [/attack]
    {DEFENSE_ANIM "units/avians/nightwing.png" "units/avians/nightwing.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
