#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Raven
    name= _ "Raven"
    race=AE Avians
    image="units/avians/raven.png"
    hitpoints=48
    movement_type=Aviansmlwing
    movement=10
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=54
    usage=fighter
    undead_variation=gryphon
    description= _ "Ravens, while underprivelidged in the Avian society, are the most intelligent of avians, and also the quickest. This makes them fantastic at scouring the area for food, nesting areas, and threats."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=8
        number=5
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=5
        number=4
    [/attack]
    {DEFENSE_ANIM "units/avians/raven.png" "units/avians/raven.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
