#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Grounded
    name= _ "Grounded"
    race=AE Avians
    image="units/avians/grounded.png"
    hitpoints=36
    movement_type=AvianGrounded
    movement=4
    experience=42
    level=1
    alignment=lawful
    advances_to=AE Avian Ironbeak,AE Avian Floater
    cost=17
    usage=fighter
    undead_variation=gryphon
    description= _ "While there are few Avians who can't fly, many have their flight taken away through battlescars, such as an arrow through a wing. This is a dishonorable plight for Avians, and therefore these grounded Avians are in the lowest class of Avian society. Although they are abhorred by most Avians, they serve a big purpose in military being as they are some of the only Avians able to wear heavy metal armor."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=mace
        description= _ "mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=6
        number=3
    [/attack]
    {DEFENSE_ANIM "units/avians/grounded.png" "units/avians/grounded.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
