#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Floater
    name= _ "Floater"
    race=AE Avians
    image="units/avians/floater.png"
    hitpoints=48
    movement_type=AvianFloater
    movement=6
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=30
    usage=fighter
    undead_variation=gryphon
    description= _ "Some injured Avians get back their ability to fly after long years of rehabilitation. Though they are not able to fly as far or as high as other Avians, they are still able to wear their heavy armor after the amount of time they've adorned it. Flying low to the ground also allows them to easily spot and strike nearby enemies with pristine accuracy."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=mace
        description= _ "mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]
    {DEFENSE_ANIM "units/avians/floater.png" "units/avians/floater.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
