#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Steelbeak
    name= _ "Steelbeak"
    race=AE Avians
    image="units/avians/steelbeak.png"
    hitpoints=69
    movement_type=AvianSteel
    movement=4
    experience=120
    level=3
    alignment=lawful
    advances_to=AE Avian Diamondbeak
    cost=57
    usage=fighter
    undead_variation=gryphon
    description= _ "Avian bodies are not so similar to those of humans, and because Avians cannot wear heavy armor, there are few blacksmiths who can make full body armor for their soldiers. Seeing an Avian clad in full Steel is a rare sight, and after seeing it a first time, you'd best hope you live, and never see a second."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=mace
        description= _ "mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=22
        number=2
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=4
    [/attack]
    {DEFENSE_ANIM "units/avians/steelbeak.png" "units/avians/steelbeak.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
