#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Diamondbeak
    name= _ "Diamondbeak"
    race=AE Avians
    image="units/avians/diamondbeak.png"
    hitpoints=85
    movement_type=AvianDiamond
    movement=4
    experience=150
    level=4
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=75
    usage=fighter
    undead_variation=gryphon
    description= _ "Being as Avians live on mountains, it is not difficult for them to find volcanoes. Though most Avians avoid them, the Steelclad Avians who can tread them, find that diamonds are much better than the silly metals human talk about being good armor."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=mace
        description= _ "mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=28
        number=2
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=12
        number=4
    [/attack]
    {DEFENSE_ANIM "units/avians/diamondbeak.png" "units/avians/diamondbeak.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
