#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Avian Sitter
    name= _ "Sitter"
    race=AE Avians
    image="units/avians/sitter.png"
    hitpoints=32
    movement_type=Avianlrgwing
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=38
    usage=healer
    undead_variation=gryphon
    description= _ "While Avians do produce multiple young, even though the young aren't carried inside of them, there are still many birthfatalities among mothers. This leads some mothers to be required to carry more than just their young. These hard working females are found by humans to be some of the most caring living creatures in existance."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
        {ABILITY_CURES}
    [/abilities]
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=6
        number=4
    [/attack]
    [attack]
        name=breeze
        description= _ "breeze"
        icon=attacks/dark-missile.png
        type=cold
        range=ranged
        damage=4
        number=6
    [/attack]
    [resistance]
        cold=80
        fire=80
    [/resistance]
    {DEFENSE_ANIM "units/avians/sitter.png" "units/avians/sitter.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
