#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Dove
    name= _ "Dove"
    race=AE Avians
    image="units/avians/dove.png"
    hitpoints=48
    movement_type=Aviansmlwing
    movement=6
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=31
    usage=fighter
    undead_variation=gryphon
    description= _ "Doves, much like Saviors are found by humans to be quite pure and good at heart. They shine bright and illuminate the darkest of nights with their radiant white feathers."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
        {ABILITY_ILLUMINATES}
        {ABILITY_HEALS}
    [/abilities]
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=4
        number=5
    [/attack]
    [resistance]
        arcane=70
    [/resistance]
    {DEFENSE_ANIM "units/avians/dove.png" "units/avians/dove.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
