#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Hummingbird
    name= _ "Hummingbird"
    race=AE Avians
    image="units/avians/hummingbird.png"
    hitpoints=48
    movement_type=Aviansmlwing
    movement=8
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=30
    usage=fighter
    undead_variation=gryphon
    description= _ "Civilian class Avians are not aloud to breed with alphas, who have larger wings. This causes the civilians wings to get smaller and smaller with breeding. In general, the smallest are the Hummingbirds, whose wings are so small and quick, they can create a constant breeze, able to easily push back a human spearman and knock him down more than likely."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=4
        number=4
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=4
        number=8
    [/attack]
    [attack]
        name=breeze
        description= _ "breeze"
        icon=attacks/dark-missile.png
        type=cold
        range=ranged
        damage=3
        number=10
    [/attack]
    {DEFENSE_ANIM "units/avians/hummingbird.png" "units/avians/hummingbird.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
