#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Sparrow
    name= _ "Sparrow"
    race=AE Avians
    image="units/avians/sparrow.png"
    hitpoints=50
    movement_type=Aviansmlwing
    movement=6
    experience=70
    level=2
    alignment=neutral
    advances_to=AE Avian Passer,AE Avian Falcon
    cost=34
    usage=fighter
    undead_variation=gryphon
    description= _ "Sparrows, though they have small wings still, they are able to create many gusts of wind at the same strength of soldier class Avians."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=3
        number=5
    [/attack]
    {DEFENSE_ANIM "units/avians/sparrow.png" "units/avians/sparrow.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
