#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Avian Passer
    name= _ "Passer"
    race=AE Avians
    image="units/avians/passer.png"
    hitpoints=48
    movement_type=Aviansmlwing
    movement=7
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=58
    usage=fighter
    undead_variation=gryphon
    description= _ "The small frame of sparrows allows them to fly much faster than other Avians, and generally makes them hard for other creatures to stop from passing by."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=claws
        description= _ "claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=9
        number=4
    [/attack]
    [attack]
        name=gust
        description= _ "gust"
        icon=attacks/faerie-fire.png
        type=impact
        range=ranged
        damage=5
        number=6
    [/attack]
    {DEFENSE_ANIM "units/avians/passer.png" "units/avians/passer.png" {SOUND_LIST:GRYPHON_HIT} }
[/unit_type]
