#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Order Judgementor
    name= _ "Judgementor"
    race=AE Orderlings
    gender=male
    image="units/holyorder/judgementor.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=officerfoot
    movement=5
    experience=72
    level=2
    alignment=lawful
    advances_to=AE Order Supreme
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=26
    usage=fighter
    description= _ "Judgementors are next level of being a judiciary. They take the cases that affect the royal family or any other form of government. To this day, noone who has been judged by one of these fellows has had any other ruling thereafter."

    [resistance]
        arcane=60
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Gavel
        description= _ "Gavel"
        icon=attacks/hammer.png
        type=impact
        range=melee
        damage=12
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Judgement
        description= _ "Judgement"
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        damage=22
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
