#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Order Mounted Officer
    name= _ "Mounted Officer"
    race=AE Orderlings
    gender=male
    image="units/holyorder/mountedofficer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=36
    movement_type=officermounted
    movement=8
    experience=42
    level=1
    alignment=lawful
    advances_to=AE Order Listener
    die_sound=horse-die.ogg
    cost=17
    usage=scout
    description= _ "Mounted officers are the patrols of the officer force. They patrol the streets looking for any signs of trouble. At the first sign of wrongdoing they find the nearest officer and lead him to the perpetrator with their keen eyes and quick steeds. If there are no officers in the area, the mounted officers will subdue the perpetrator with their trusty spear, although they prefer not to because most of these officers have been given their job because of their notable cowardice."

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HORSE_HIT} }

    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear.png
        type=pierce
        range=ranged
        damage=6
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
