#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Order Lightwisp
    name= _ "Lightwisp"
    race=undead
    gender=male
    image="units/holyorder/lightwisp.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=15
    movement_type=wispfoot
    movement=8
    experience=30
    level=1
    alignment=lawful
    advances_to=AE Order Holy Spirit,AE Order Twilight
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=17
    usage=scout
    description= _ "Lightwisps are the products of the study of Order Mages in the Library Arcana. They are the spirits of the fallen aggressor brought back as spirits of light, some say that the magical byproducts from these strange rituals are dumped into the Order sewers."

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_DAYFADE}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=lightbeam
        description= _ "lightbeam"
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        damage=6
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
