#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Order Bishop
    name= _ "Bishop"
    race=AE Orderlings
    gender=male
    image="units/holyorder/bishop.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=officerfoot
    movement=5
    experience=75
    level=2
    alignment=lawful
    advances_to=AE Order Archbishop
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=35
    usage=fighter
    description= _ "Bishops act as leaders of priests when the Pope and the Archbishop are busy or indespozed, they are also the ones called upon to dispel greater evils, because they carry maces with them to smite those who oppose the Order. Bishops carry holy water and a silver cross blessed by the Pope, The cross is often used not only to dispel evil but to bless more holy water with its benign touch."

    [resistance]
        arcane=70
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Mace
        description= _ "Mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=8
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Cross
        description= _ "Cross"
        icon=attacks/blank-attack.png
        type=arcane
        range=melee
        damage=10
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Holywater
        description= _ "Holywater"
        icon=attacks/blank-attack.png
        type=arcane
        range=ranged
        damage=12
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
