#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Order Supreme
    name= _ "Supreme Judge"
    race=AE Orderlings
    gender=male
    image="units/holyorder/supremejudge.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=68
    movement_type=officerfoot
    movement=5
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=12
    usage=fighter
    description= _ "Supreme Judges are the law of the land. Only the Pope himself can overturn a decision of a Supreme Judge. If a charge is ever held against a religious figure, a Supreme Judge is called in to settle the matter."

    [resistance]
        arcane=50
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Gavel
        description= _ "Gavel"
        icon=attacks/hammer.png
        type=impact
        range=melee
        damage=18
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Judgement
        description= _ "Judgement"
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        damage=34
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
