#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Order Listener
    name= _ "Listener"
    race=AE Orderlings
    gender=male
    image="units/holyorder/Listener.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=56
    movement_type=officermounted
    movement=8
    experience=80
    level=2
    alignment=lawful
    advances_to=AE Order Eye of Fate
    die_sound=horse-die.ogg
    cost=30
    usage=scout
    description= _ "Listeners are the ears of the officer force. They patrol the streets with the mounted officers but will only report at the end of the day. They listen for any rumors of upcoming brawls or assassinations. Very little escapes their ears, and because of their keen sense of hearing they help save the lives of many."

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HORSE_HIT} }

    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=13
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Javelin
        description= _ "Javelin"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=6
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
