#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Order Law
    name= _ "Law"
    race=AE Orderlings
    gender=male
    image="units/holyorder/law.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=72
    movement_type=officerfoot
    movement=6
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=16
    usage=fighter
    description= _ "When a Justice reaches the pinnacle of his or her career, they have one of 3 choices. Laws uphold all laws in the strictest of manners. They will go out of their way to make sure all lawbreakers are brought to justice."

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Trudgeon
        description= _ "Trudgeon"
        icon=attacks/club.png
        type=impact
        range=melee
        damage=13
        number=4
        [specials]
        [/specials]
    [/attack]
[/unit_type]
