#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Order Order
    name= _ "Order"
    race=AE Orderlings
    gender=male
    image="units/holyorder/order.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=75
    movement_type=officerfoot
    movement=5
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=16
    usage=fighter
    description= _ "When a Justice reaches the pinnacle of his or her career, they have one of 3 choices. Orders are the ones who walk the middle. They are not as passionate about upholding the laws as the Laws, and they do not feel as great a need to protect the people as Peacekeepers do."

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Mace
        description= _ "Mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=17
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
