#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Order Peacekeeper
    name= _ "Peacekeeper"
    race=AE Orderlings
    gender=male
    image="units/holyorder/peacekeeper.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=68
    movement_type=officerfoot
    movement=4
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=16
    usage=fighter
    description= _ "When a Justice reaches the pinnacle of his or her career, they have one of 3 choices. Peacekeepers are the few in the force who would prefer to protect the people instead of enforcing the laws. They carry shields not for their own protection but for those around them."

    [resistance]
        blade=80
        pierce=80
        impact=80
    [/resistance]

    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Morningstar
        description= _ "Flail"
        icon=attacks/morning-star.png
        type=impact
        range=melee
        damage=12
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Shield
        description= _ "Shield"
        icon=attacks/rectangular-shield.png
        type=impact
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
[/unit_type]
