#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_holy_order_Scholar
    name= _ "Scholar"
    race=AE_mrc_holy_order_race
    gender=male
    image="units/holyorder/scholar.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=42
    movement_type=AE_mrc_holy_order_officerfoot
    movement=6
    experience=100
    level=2
    alignment=lawful
    advances_to=AE_mrc_holy_order_Wisdomkeeper
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=50
    usage=mixedfighter
    description={AE_MRC_UNIT_NOTICE}+"When a student graduates, they are given the title of scholar. They devote their lives to passing on what they know to students and learning as 	much as they can."

    [resistance]
        arcane=60
    [/resistance]

    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Lightbeam
        description= _ "Lightbeam"
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        damage=9
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
