#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Order Twilight
    name= _ "Twilight"
    race=undead
    gender=male
    image="units/holyorder/twilight.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=22
    movement_type=wispfoot
    movement=9
    experience=71
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=36
    usage=scout
    description= _ "Twilights are oddities in lightwisps. They cannot be seen during night or day, only in the in-between of twilight. They are thought to be random changes in the spirits used to make lightwisps."

    [resistance]
        fire=100
        arcane=100
    [/resistance]

    [abilities]
        {ABILITY_DAYFADE}
        {ABILITY_NIGHTSTALK}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=lightbeam
        description= _ "lightbeam"
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        damage=7
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
