#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_holy_order_Twilight
    name= _ "Twilight"
    race=undead
    gender=male
    image="units/holyorder/twilight.png"
    profile="portraits/holyorder/twilight.png~RC(magenta>black)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=22
    movement_type=AE_mrc_holy_order_wispfoot
    movement=9
    experience=71
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=36
    usage=scout
    description={AE_MRC_UNIT_NOTICE}+"Twilights are oddities in lightwisps. They cannot be seen during night or day, only in the in-between of twilight. They are thought to be random changes in the spirits used to make lightwisps."

    [resistance]
        fire=100
        arcane=100
    [/resistance]

    [abilities]
        {AE_MRC_ABILITY_DAYFADE}
        {ABILITY_NIGHTSTALK}
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=lightbeam
        description={STR_LIGHTBEAM}
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        damage=7
        number=3
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=lightbeam
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            duration=250
            image="projectiles/rocket-a-glow.png"
            image_diagonal="projectiles/rocket-a-glow.png"
            sound=magic-holy-2.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image=units/holyorder/twilight.png
        [/frame]
    [/attack_anim]
[/unit_type]
