#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Order Purifier
    name= _ "Purifier"
    race=AE Orderlings
    gender=male
    image="units/holyorder/purifier.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=68
    movement_type=officerfoot
    movement=5
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=16
    usage=archer
    description= _ "Purifiers are the highest level of witch hunters, they no longer need a crossbow of any type, because they have learned to procure a projectile of pure light from a small cross they wear on a chain around their arm. They work exclusively for the church, taking on no side jobs because of how proficient they are at their work and how rich they are already."

    [resistance]
        fire=70
        cold=90
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=dagger
        description= _ "dagger"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=Bow
        description= _ "Bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=14
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Silverbow
        description= _ "Silvercrossbow"
        icon=attacks/crossbow-orcish.png
        type=arcane
        range=ranged
        damage=21
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
