#textdomain wesnoth-Ageless_Era

# NOTE - To skip a line in a message just add a space to the next line.

#define AE_VERSION_NUMBER
4.17#enddef
#define AE_VERSION_STRING
4_17#enddef

# images
{STORY_ERA_EVENTS}
{./version_check.cfg}
{./changelogs.cfg}
{./unsynced_menu.cfg}
