#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_fanatics_Ambusher
    name= _ "Ambusher"
    race=AE_mrc_fanatics_race
    gender=male
    image="units/fanatics/ambusher.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=51
    movement_type=AE_mrc_fanatics_sandfoot
    movement=6
    experience=81
    level=2
    alignment=neutral
    advances_to=AE_mrc_fanatics_Sandskulker
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=25
    usage=archer
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
    [/resistance]

    [abilities]
        {AE_MRC_ABILITY_SANDSTALK}
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Dagger
        description= _ "Dagger"
        icon=attacks/dagger-orcish.png
        type=blade
        range=melee
        damage=10
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bow
        description= _ "Bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=9
        number=3
        [specials]
        [/specials]
    [/attack]
	{AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
