#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Fanatic Sandskulker
    name= _ "Sandskulker"
    race=AE Fanatics
    gender=male
    image="units/fanatics/sandskulker.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=66
    movement_type=sandfoot
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=17
    usage=archer
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_SANDSTALK}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Scimitar
        description= _ "Scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=12
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bow
        description= _ "Bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=12
        number=4
        [specials]
        [/specials]
    [/attack]
[/unit_type]
