#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_fanatics_Misinformant
    name= _ "Misinformant"
    race=AE_mrc_fanatics_race
    gender=male
    image="units/fanatics/misinformant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=40
    movement_type=AE_mrc_fanatics_fanafoot
    movement=6
    experience=85
    level=2
    alignment=neutral
    advances_to=AE_mrc_fanatics_Propagand
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=40
    usage=archer
    description={AE_MRC_UNIT_NOTICE}+"
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}+{SPECIAL_NOTES_PLAGUE}

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description= _ "Fist"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=6
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Rant
        description= _ "Rant"
        icon=attacks/curse.png
        type=cold
        range=ranged
        damage=3
        number=5
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
