[unit_type]
    id=AE_mag_Kharos_Prophet_of_Light
    name= _ "Prophet of Light"
    race=human
    image="units/kharos/prophetoflight.png"
    hitpoints=60
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    cost=50
    {AMLA_DEFAULT}
    usage=healer
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
.

Special Notes:"+{SPECIAL_NOTES_CURES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/kharos/prophetoflight.png" "units/kharos/prophetoflight.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [abilities]
        {ABILITY_CURES}
        {ABILITY_LEADERSHIP_LEVEL_3}
    [/abilities]
    [resistance]
        arcane=20
    [/resistance]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=150
            image="units/kharos/prophet-attack-magic-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/kharos/prophet-attack-magic-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/kharos/prophet-attack-magic-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/kharos/prophet-attack-magic-4.png"
        [/frame]
        [frame]
            duration=150
            image="units/kharos/prophet-attack-magic-5.png"
        [/frame]
        [frame]
            duration=150
            image="units/kharos/prophet-attack-magic-6.png"
        [/frame]
        [frame]
            duration=150
            image="units/kharos/prophet-attack-magic-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/kharos/prophet-attack-magic-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/kharos/prophet-attack-magic-1.png"
        [/frame]
    [/idle_anim]
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/kharos/prophet-attack-magic-6.png"
            halo=halo/holy/halo6.png
        [/frame]
    [/leading_anim]
    [healing_anim]
        [frame]
            begin=-600
            end=-500
            image="units/kharos/prophet-attack-magic-1.png"
        [/frame]
        [frame]
            begin=-500
            end=-400
            image="units/kharos/prophet-attack-magic-2.png"
        [/frame]
        [frame]
            begin=-400
            end=-300
            image="units/kharos/prophet-attack-magic-3.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=-300
            end=-200
            image="units/kharos/prophet-attack-magic-4.png"
            halo=halo/holy/halo1.png
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/kharos/prophet-attack-magic-5.png"
            halo=halo/holy/halo2.png
        [/frame]
        [frame]
            begin=-100
            end=0
            image="units/kharos/prophet-attack-magic-6.png"
            halo=halo/holy/halo3.png
        [/frame]
    [/healing_anim]
    [attack]
        name=staff
        description={STR_STAFF}
        type=impact
        range=melee
        damage=7
        number=2
        icon=attacks/staff-magic.png
    [/attack]
    [attack]
        name=lightbeam
        description={STR_LIGHTBEAM}
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=7
        number=4
    [/attack]
    [attack]
        name=lightbeam2
        description= _ "blinding light"
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=20
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            image="units/kharos/prophetoflight.png"
        [/frame]
        [frame]
            image="units/kharos/prophet-attack-staff-1.png"
        [/frame]
        [if]
            [frame]
                image="units/kharos/prophet-attack-staff-2.png"
            [/frame]
        [/if]
        [else]
            [frame]
                image="units/kharos/prophet-attack-staff-2.png"
            [/frame]
        [/else]
        [frame]
            image="units/kharos/prophet-attack-magic-1.png"
        [/frame]
        [frame]
            image="units/kharos/prophetoflight.png"
        [/frame]
    [/attack_anim]
    [filter_attack]
        name=lightbeam,lightbeam2
    [/filter_attack]
    [attack_anim]
        [missile_frame]
            begin=-180
            end=0
            image="projectiles/whitemissile-n.png"
            image_diagonal="projectiles/whitemissile-ne.png"
            #halo=halo/holy/white-mage-halo1.png,halo/holy/white-mage-halo2.png,halo/holy/white-mage-halo3.png,halo/holy/white-mage-halo4.png
        [/missile_frame]

        [frame]
            begin=-600
            end=-500
            image="units/kharos/prophet-attack-magic-1.png"
        [/frame]
        [frame]
            begin=-500
            end=-400
            image="units/kharos/prophet-attack-magic-2.png"
        [/frame]
        [frame]
            begin=-400
            end=-300
            image="units/kharos/prophet-attack-magic-3.png"
            #halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=-300
            end=-200
            image="units/kharos/prophet-attack-magic-4.png"
            #halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/kharos/prophet-attack-magic-5.png"
            #halo=halo/holy/halo6.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                image="units/kharos/prophet-attack-magic-6.png"
                sound={SOUND_LIST:HOLY}
                #halo=halo/holy/halo1.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                image="units/kharos/prophet-attack-magic-6.png"
                sound={SOUND_LIST:HOLY_MISS}
                #halo=halo/holy/halo1.png
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
