[unit_type]
    id=AE_mag_Kharos_Child_of_Light
    name= _ "Child of Light"
    race=human
    gender=female
    image="units/kharos/childoflight2.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=37
    movement_type=fly
    movement=8
    experience=100
    level=2
    alignment=lawful
    advances_to=AE_mag_Kharos_Mistress_of_Light
    cost=37
    usage=mixed fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 


Special Notes:"+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_HEALS}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/kharos/childoflight2.png" "units/kharos/childoflight3.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=40
    [/resistance]
    [abilities]
        {ABILITY_CURES}
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    [standing_anim]
        [frame]
            begin=0
            end=200
            image="units/kharos/childoflight1.png"
        [/frame]
        [frame]
            begin=200
            end=400
            image="units/kharos/childoflight2.png"
        [/frame]
        [frame]
            begin=400
            end=600
            image="units/kharos/childoflight3.png"
        [/frame]
        [frame]
            begin=600
            end=800
            image="units/kharos/childoflight2.png"
        [/frame]
    [/standing_anim]
    [attack]
        name=staff
        description= _ "light touch"
        type=arcane
        range=melee
        damage=14
        number=1
        icon=attacks/touch-faerie.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=lightbeam
        description= _ "ray of light"
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=13
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/kharos/childoflight2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=lightbeam
        [/filter_attack]

        [missile_frame]
            begin=-180
            end=0
            image="projectiles/whitemissile-n.png"
            image_diagonal="projectiles/whitemissile-ne.png"
            #halo=halo/holy/white-mage-halo1.png,halo/holy/white-mage-halo2.png,halo/holy/white-mage-halo3.png,halo/holy/white-mage-halo4.png
        [/missile_frame]
        [frame]
            begin=-300
            end=-225
            image="units/kharos/childoflight-heal1.png"
            #halo="halo/ultraheal-1.png"
        [/frame]
        [frame]
            begin=-225
            end=-150
            image="units/kharos/childoflight-heal1.png"
            halo="halo/ultraheal-1.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/kharos/childoflight-heal1.png"
            halo="halo/ultraheal-2.png"
        [/frame]
        [frame]
            begin=-75
            end=0
            image="units/kharos/childoflight-heal1.png"
            halo="halo/ultraheal-3.png"
        [/frame]
        [frame]
            begin=0
            end=75
            image="units/kharos/childoflight-heal1.png"
            halo="halo/ultraheal-4.png"
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/kharos/childoflight-heal1.png"
            halo="halo/ultraheal-5.png"
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/kharos/childoflight-heal1.png"
            #halo="halo/ultraheal-7.png"
        [/frame]
        [frame]
            begin=225
            end=300
            image="units/kharos/childoflight-heal1.png"
            #halo="halo/ultraheal-8.png"
        [/frame]
    [/attack_anim]
[/unit_type]
