[unit_type]
    id=AE_mag_Kharos_Brown_Warrior
    name= _ "Brown Warrior"
    race=human
    image="units/kharos/brownwarrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=54
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=lawful
    advances_to=AE_mag_Kharos_Plantium_Warrior
    cost=28
    usage=fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Brown warriors are equipped with a very sharp sword and a mace."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        blade=80
        pierce=80
        impact=80
    [/resistance]
    #{DEFENSE_ANIM "units/kharos/brownwarrior-defend.png" "units/kharos/brownwarrior.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=white sword
        description={STR_SWORD}
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=mace
        description={STR_MACE}
        icon=attacks/mace-spiked.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=white sword
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=-200
            image="units/kharos/brownwarrior-attack-1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/kharos/brownwarrior-attack-2.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/kharos/brownwarrior-attack-3.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/kharos/brownwarrior-attack-2.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/kharos/brownwarrior-attack-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=white sword
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=-200
            image="units/kharos/brownwarrior-attack-1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/kharos/brownwarrior-attack-2.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/kharos/brownwarrior-attack-3.png"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/kharos/brownwarrior-attack-2.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/kharos/brownwarrior-attack-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=-200
            image="units/kharos/brownwarrior-attack-1a.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/kharos/brownwarrior-attack-2a.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/kharos/brownwarrior-attack-3a.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/kharos/brownwarrior-attack-2a.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/kharos/brownwarrior-attack-1a.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=-200
            image="units/kharos/brownwarrior-attack-1a.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/kharos/brownwarrior-attack-2a.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/kharos/brownwarrior-attack-3a.png"
            sound=mace.wav
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/kharos/brownwarrior-attack-2a.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/kharos/brownwarrior-attack-1a.png"
        [/frame]
    [/attack_anim]
[/unit_type]
