[unit_type]
    id=AE_mag_Kharos_Kirios
    name= _ "Kirios"
    race=human
    image="units/kharos/kirios.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=88
    movement_type=smallfoot
    movement=5
    experience=150
    level=4
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=58
    usage=fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
The Kirios is the most powerful warrior in the Kharos nation. He is a commander-in-chief of the Kharos army. His willpower is amazing. There is no spell, which could stop him from reaching an enemy and destroy it with one single solar beam (70% reduction in spell damage)."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_REGENERATES}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [resistance]
        arcane=0
        fire=30
        cold=30
        blade=90
        pierce=90
        impact=90
    [/resistance]
    [defend]
        [frame]
            begin=-100
            end=-90
            image="units/kharos/kirios-defend.png"
        [/frame]
        [frame]
            begin=-90
            end=90
            image="units/kharos/kirios-defend.png"
        [/frame]
        [frame]
            begin=90
            end=100
            image="units/kharos/kirios-defend.png"
        [/frame]
    [/defend]
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=12
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=fusion2
        description= _ "fusion"
        type=fire
        range=ranged
        damage=9
        number=3
        icon=attacks/explosion.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=fusionbeam
        description= _ "solar beam"
        type=fire
        range=ranged
        damage=15
        number=2
        icon=attacks/solarbeam.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {AE_MAG_WEAPON_SPECIAL_BEAM 11}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        hits=miss
        [frame]
            begin=-200
            end=-100
            image="units/kharos/kirios-attack1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/kharos/kirios-attack2.png"
            sound=spear-miss.ogg
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/kharos/kirios-attack3.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/kharos/kirios-attack2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        hits=yes
        [frame]
            begin=-200
            end=-100
            image="units/kharos/kirios-attack1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/kharos/kirios-attack2.png"
            sound=spear.ogg
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/kharos/kirios-attack3.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/kharos/kirios-attack3.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fusionbeam
        [/filter_attack]
        direction=s,n
        missile_start_time=-500
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-01.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-02.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-03.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-04.png"
            sound=magic-faeriefire.ogg
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-05.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-06.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-07.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-08.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-09.png"
        [/missile_frame]
        [missile_frame]
            duration=100
            offset=0.0
            image="halo/beam-s1.png~FL(vert)"
            sound=lightning.ogg
        [/missile_frame]
        [missile_frame]
            duration=100
            offset=0.0
            image="halo/beam-s2.png~FL(vert)"
        [/missile_frame]
        [missile_frame]
            duration=100
            offset=0.0
            image="halo/beam-s1.png~FL(vert)"
        [/missile_frame]
        [missile_frame]
            duration=100
            offset=0.0
            image="halo/beam-s2.png~FL(vert)"
        [/missile_frame]
        [missile_frame]
            duration=100
            offset=0.0
            image="halo/beam-s1.png~FL(vert)"
        [/missile_frame]
        [frame]
            begin=-500
            end=-300
            image="units/kharos/kirios-attack1.png"
        [/frame]
        [frame]
            begin=-300
            end=-100
            image="units/kharos/kirios-attack2.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/kharos/kirios-attack3.png"
        [/frame]
        [frame]
            begin=100
            end=300
            image="units/kharos/kirios-attack1.png"
        [/frame]
        [frame]
            begin=300
            end=500
            image="units/kharos/kirios-attack2.png"
        [/frame]
        [frame]
            begin=500
            end=700
            image="units/kharos/kirios-attack3.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fusionbeam
        [/filter_attack]
        direction=ne,nw,se,sw
        missile_start_time=-500
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-01.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-02.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-03.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-04.png"
            sound=magic-faeriefire.ogg
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-05.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-06.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-07.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-08.png"
        [/missile_frame]
        [missile_frame]
            duration=50
            offset=0.5
            image="halo/sb-09.png"
        [/missile_frame]
        [missile_frame]
            duration=100
            offset=0.0
            image="halo/beam-ne1.png"
            sound=lightning.ogg
        [/missile_frame]
        [missile_frame]
            duration=100
            offset=0.0
            image="halo/beam-ne2.png"
        [/missile_frame]
        [missile_frame]
            duration=100
            offset=0.0
            image="halo/beam-ne1.png"
        [/missile_frame]
        [missile_frame]
            duration=100
            offset=0.0
            image="halo/beam-ne2.png"
        [/missile_frame]
        [missile_frame]
            duration=100
            offset=0.0
            image="halo/beam-ne1.png"
        [/missile_frame]
        [frame]
            begin=-500
            end=-300
            image="units/kharos/kirios-attack1.png"
        [/frame]
        [frame]
            begin=-300
            end=-100
            image="units/kharos/kirios-attack2.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/kharos/kirios-attack3.png"
        [/frame]
        [frame]
            begin=100
            end=300
            image="units/kharos/kirios-attack3.png"
        [/frame]
        [frame]
            begin=300
            end=500
            image="units/kharos/kirios-attack3.png"
        [/frame]
        [frame]
            begin=500
            end=700
            image="units/kharos/kirios-attack3.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fusion2
        [/filter_attack]
        missile_start_time=-500
        [missile_frame]
            duration=62
            offset=1.0
            image="halo/sb-01.png"
        [/missile_frame]
        [missile_frame]
            duration=62
            offset=1.0
            image="halo/sb-02.png"
        [/missile_frame]
        [missile_frame]
            duration=62
            offset=1.0
            image="halo/sb-03.png"
        [/missile_frame]
        [missile_frame]
            duration=62
            offset=1.0
            image="halo/sb-04.png"
            sound=magic-faeriefire.ogg
        [/missile_frame]
        [missile_frame]
            duration=62
            offset=1.0
            image="halo/sb-05.png"
        [/missile_frame]
        [missile_frame]
            duration=62
            offset=1.0
            image="halo/sb-06.png"
        [/missile_frame]
        [missile_frame]
            duration=62
            offset=1.0
            image="halo/sb-07.png"
        [/missile_frame]
        [missile_frame]
            duration=62
            offset=1.0
            image="halo/sb-08.png"
        [/missile_frame]
        [frame]
            begin=-500
            end=50
            image="units/kharos/kirios-attack2.png"
        [/frame]
    [/attack_anim]
    #{KIRIOS_BEAM fusionbeam 11}
[/unit_type]
