[unit_type]
    id=AE_mag_Kharos_War_Banner
    name= _ "War Banner"
    race=human
    image="units/kharos/warbanner.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=smallfoot
    movement=4
    experience=40
    level=2
    alignment=lawful
    advances_to=AE_mag_Kharos_Kharos_War_Banner
    cost=30
    usage=healer
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Kharosans use war banners to increase morale of all near troops. The War Banner shows gold sun - emblem of the Kharos nation. Two people protect the banner - one Cleric and soldier, who holds the banner. The Cleric creates a special aura, which decreases power of destructive spells casted on it."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    #die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/kharos/warbanner.png" "units/kharos/warbanner.png" sounds/silence.ogg }
    [abilities]
        #{ABILITY_HEALS}
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    [resistance]
        arcane=60
        fire=60
        cold=60
    [/resistance]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=150
            image="units/kharos/warbanner-magic-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/kharos/warbanner-magic-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/kharos/warbanner-magic-1.png"
        [/frame]
    [/idle_anim]
    [leading_anim]
        start_time=-150
        [frame]
            duration=50
            image="units/kharos/warbanner-magic-1.png"
        [/frame]
        [frame]
            duration=50
            image="units/kharos/warbanner-magic-2.png"
        [/frame]
        [frame]
            duration=50
            image="units/kharos/warbanner-magic-1.png"
        [/frame]
    [/leading_anim]
    [attack]
        name=lightbeam
        description={STR_LIGHTBEAM}
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=lightbeam
        [/filter_attack]
        [missile_frame]
            begin=-180
            end=0
            image="projectiles/whitemissile-n.png"
            image_diagonal="projectiles/whitemissile-ne.png"
            halo=halo/holy/halo1.png,halo/holy/halo2.png,halo/holy/halo3.png,halo/holy/halo4.png
        [/missile_frame]

        [frame]
            begin=-600
            end=-500
            image="units/kharos/warbanner-magic-1.png"
        [/frame]
        [frame]
            begin=-500
            end=-400
            image="units/kharos/warbanner-magic-2.png"
        [/frame]
        [frame]
            begin=-400
            end=-300
            image="units/kharos/warbanner-magic-2.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=-300
            end=-200
            image="units/kharos/warbanner-magic-2.png"
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/kharos/warbanner-magic-2.png"
            halo=halo/holy/halo6.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                image="units/kharos/warbanner-magic-1.png"
                sound={SOUND_LIST:HOLY}
                halo=halo/holy/halo1.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                image="units/kharos/warbanner-magic-1.png"
                sound={SOUND_LIST:HOLY_MISS}
                halo=halo/holy/halo1.png
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
