#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE Emperor_s Guard Shogun"
    name= _ "Shogun"
    race=AE Emperors Guard
    gender=male
    image="units/emperorguard/shogun.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=70
    movement_type=samuraimounted
    movement=8
    experience=137
    level=3
    alignment=lawful
    advances_to="AE Emperor_s Guard Daimyo"
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=19
    usage=scout
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_3}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Yari
        description= _ "Yari"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=18
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Hankyu
        description= _ "Hankyu"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=9
        number=4
        [specials]
        [/specials]
    [/attack]
[/unit_type]
