#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE Emperor_s Guard Ninja"
    name= _ "Ninja"
    race=AE Emperors Guard
    gender=male
    image="units/emperorguard/ninja.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=34
    movement_type=ninjafoot
    movement=6
    experience=46
    level=1
    alignment=chaotic
    advances_to=AE Emperor_s Guard Ninja Warrior,AE Emperor_s Guard Ninja Assassin
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=18
    usage=fighter
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Katana
        description= _ "Katana"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=9
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Kunai
        description= _ "Kunai"
        icon=attacks/dagger-thrown-human.png
        type=blade
        range=ranged
        damage=4
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
