#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE Emperor_s Guard Ninja Warrior"
    name= _ "Ninja Warrior"
    race=AE Emperors Guard
    gender=male
    image="units/emperorguard/ninjawarrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=46
    movement_type=ninjafoot
    movement=6
    experience=77
    level=2
    alignment=chaotic
    advances_to="AE Emperor_s Guard Shinobi"
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=27
    usage=fighter
    description= _ "
"

    [resistance]
        blade=100
        pierce=110
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Katana
        description= _ "Katana"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=10
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Kunai
        description= _ "Kunai"
        icon=attacks/dagger-thrown-human.png
        type=blade
        range=ranged
        damage=5
        number=4
        [specials]
        [/specials]
    [/attack]
[/unit_type]
