#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE Emperor_s Guard Ninja Assassin"
    name= _ "Ninja Assassin"
    race=AE Emperors Guard
    gender=male
    image="units/emperorguard/ninjaassassin.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=42
    movement_type=ninjafoot
    movement=7
    experience=85
    level=2
    alignment=chaotic
    advances_to="AE Emperor_s Guard Shadow Ninja"
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=28
    usage=fighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_BACKSTAB}

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Wakizashi
        description= _ "Wakizashi"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=Kunai
        description= _ "Kunai"
        icon=attacks/dagger-thrown-poison-human.png
        type=blade
        range=ranged
        damage=3
        number=5
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
[/unit_type]
