#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE Emperor_s Guard Tatsu"
    name= _ "Tatsu"
    race=monster
    gender=male
    image="units/emperorguard/tatsu.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=49
    movement_type=ryufoot
    movement=7
    experience=76
    level=2
    alignment=lawful
    advances_to="AE Emperor_s Guard Ryong"
    die_sound=drake-die.ogg
    cost=32
    usage=scout
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:DRAKE_HIT} }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=7
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Firebreath
        description= _ "Fire Breath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=7
        number=4
        [specials]
        [/specials]
    [/attack]
[/unit_type]
