#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE Emperor_s Guard Ryong"
    name= _ "Ryong"
    race=monster
    gender=male
    image="units/emperorguard/ryong.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=66
    movement_type=ryufoot
    movement=8
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=drake-die.ogg
    cost=18
    usage=scout
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:DRAKE_HIT} }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Firebreath
        description= _ "Fire Breath"
        icon=attacks/fire-breath-drake.png
        type=fire
        range=ranged
        damage=11
        number=4
        [specials]
        [/specials]
    [/attack]
[/unit_type]
