#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE Emperor_s Guard Bushi"
    name= _ "Bushi"
    race=AE Emperors Guard
    gender=male
    image="units/emperorguard/bushi.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=samuraiheavy
    movement=4
    experience=91
    level=2
    alignment=lawful
    advances_to=AE Emperor_s Guard Imperial Guard,AE Emperor_s Guard Demonic Samurai
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=32
    usage=fighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}

    [resistance]
        blade=60
        pierce=80
        impact=90
    [/resistance]

    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Yari
        description= _ "Yari"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=16
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=Daisho
        description= _ "Daisho"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=11
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
