#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE Emperor_s Guard Demonic Samurai"
    name= _ "Demonic Samurai"
    race=AE Emperors Guard
    gender=male
    image="units/emperorguard/demonicsamurai.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=60
    movement_type=samuraiheavy
    movement=4
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=18
    usage=fighter
    description= _ ""+{SPECIAL_NOTES}+{SPECIAL_NOTES_TERROR}

    [resistance]
        blade=50
        impact=90
        pierce=90
        cold=70
    [/resistance]

    [abilities]
        {ABILITY_TERROR_LEVEL_3}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Nodachi
        description= _ "Nodachi"
        icon=attacks/greatsword-orcish.png
        type=blade
        range=melee
        damage=22
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Daisho
        description= _ "Daisho"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=9
        number=5
        [specials]
        [/specials]
    [/attack]
[/unit_type]
