#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE Emperor_s Guard Starshower"
    name= _ "Starshower"
    race=AE Emperors Guard
    gender=male
    image="units/emperorguard/starshower.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=ninjafoot
    movement=6
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=32
    usage=archer
    description= _ "
"

    [resistance]
        pierce=100
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Grappling Hook
        description= _ "Grappling Hook"
        icon=attacks/sickle.png
        type=pierce
        range=melee
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=Shuriken
        description= _ "Shuriken"
        icon=attacks/dagger-thrown-human.png
        type=blade
        range=ranged
        damage=4
        number=8
        [specials]
        [/specials]
    [/attack]
[/unit_type]
