#wmllint: no translatables

[unit_type]
    [base_unit]
        id=Skeleton
    [/base_unit]
    id=Skeleton_EoC
    advances_to=Revenant, Deathblade, Death Baron
[/unit_type]

[unit_type]
    [base_unit]
        id=Dark Adept
    [/base_unit]
    id=Dark Adept_EoC
    advances_to=Dark Sorcerer_EoC
[/unit_type]

[unit_type]
    [base_unit]
        id=Dark Sorcerer
    [/base_unit]
    id=Dark Sorcerer_EoC
#ifdef DISABLE_LICH
    advances_to=Necromancer
#else
    advances_to=Necromancer, Lich_EoC
#endif
[/unit_type]

[unit_type]
    [base_unit]
        id=Lich
    [/base_unit]
    id=Lich_EoC
    experience=250
    advances_to=Ancient Lich
[/unit_type]
