[unit_type]
    id=AE Devling Attackers
    name= _ "Devling Attackers"
    race=AE devling
    {TRAIT_FEARLESS}
    image="units/devlings/attackers.png"
    ellipse="misc/ellipse"
    #profile=misc/kapoue.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=45
    movement_type=devlingflyer
    movement=10
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=39
    usage=scout
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
With uncanny speed, heated breath, and sharp weapons, even the smallest of enemies is a threat."
    {DEFENSE_ANIM "units/devlings/attackers.png" "units/devlings/attackers.png" {SOUND_LIST:ORC_SMALL_HIT} }
    die_sound={SOUND_LIST:ORC_DIE}

    [attack]
        name=glaive
        description= _ "mini-glaive"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=breath
        description= _ "breath"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=8
        number=4
    [/attack]
[/unit_type]
