[unit_type]
    id=AE Devling Warrior
    name= _ "Devling Warrior"
    race=AE devling
    {TRAIT_FEARLESS}
    image="units/devlings/warrior.png"
    ellipse="misc/ellipse"
    #profile=misc/kapoue.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=overgrownfoot
    movement=6
    experience=46
    level=2
    alignment=chaotic
    advances_to=AE Devling Hero
    cost=28
    usage=fighter
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
Much of deviling philosophy is quite simple. Life is about hurting other people as much as possible. Overgrown devilings may not be as bright as their smaller kin, but after awhile they figure out they can hurt others more if they pick up a club."
    {DEFENSE_ANIM "units/devlings/warrior.png" "units/devlings/warrior.png" {SOUND_LIST:ORC_HIT} }
    die_sound={SOUND_LIST:ORC_DIE}

    [attack]
        name=bash
        description= _ "bash"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=10
        number=3
    [/attack]
[/unit_type]
