#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Ceresian Yeoman
    name= _ "Yeoman"
    race=AE ceresian
    gender=male
    image="units/human-ceresians/yeoman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=32
    movement_type=ceresianfoot
    movement=5
    experience=34
    level=1
    alignment=lawful
    advances_to=AE Ceresian Pikeman,AE Ceresian Mounted Infantryman
    cost=13
    usage=fighter
    description= _ "This unit is from Feudal Era. It's coding and art were done by Turin and Various others.
 
Yeomen are the footsoldiers of the Ceresian armies. They are armed only with spears, but they are staunch defenders, and many battles would have been lost had it not been for the bravery of these men."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-ceresians/yeoman.png" "units/human-ceresians/yeoman.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                sound=spear.ogg
                image="units/human-ceresians/yeoman.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                sound=spear-miss.ogg
                image="units/human-ceresians/yeoman.png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
