#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Ocean Apprentice
    name= _ "Ocean Apprentice"
    race=AE Brungar
    gender=male
    image="units/Brungar/Ocean_Apprentice.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=1
    alignment=neutral
    experience=60
    advances_to=AE Wave Rider,AE Ice Apprentice
    {AMLA_DEFAULT}
    hitpoints=23
    movement=5
    movement_type=Sea_Dwarf_Foot
    cost=18
    usage=mixed_fighter
    description= _ "This unit is from the Era of the Future. It's coding, art, and ideas were done by Turuk, Mirion147, Huston, Pentarctagon, Wesfreak, Xandria, and Zerovirus.
 
Some Brungar decide that they would rather learn how to control their surroundings-the liquid water-rather than a mount. The Ocean Apprentice is the most basic of this, utilizing compressed jets of water to knock their opponents into submission. If their enemies happen to come to close to them, they rely on their fists to knock them back to where their powerful water jets can blast them back. As they learn more and more about the water around them, they come closer to deciding to use water to it's fullest, or converting it to another deadly weapon."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}

    die_sound={SOUND_LIST:DWARF_DIE}
    [attack]
        name=fist
        description= _ "fist"
        icon="attacks/fist-human.png"
        type=impact
        range=melee
        damage=5
        number=1
    [/attack]

    [attack]
        name=water jet
        description= _ "water jet"
        icon="attacks/Wave.png"
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=water jet
        [/filter_attack]
        start_time=-420

        [missile_frame]
            begin=-165
            end=0
            image="projectiles/water-spray.png"
            image_diagonal="projectiles/water-spray.png"
        [/missile_frame]
    [/attack_anim]
[/unit_type]
