# wmllint: no translatables

#define MISSILE_FRAME_COLDNESS
    # Animate an aura of coldness - used by the ice crab and ice shell
    missile_start_time=-500
    [missile_frame]
        image="projectiles/watermissile-n-[1~7].png:[250,150*2,50*4]"
        image_diagonal="projectiles/watermissile-ne-[1~7].png:[250,150*2,50*4]"
        halo=halo/elven/ice-halo[1~5,1,2,6~9].png:[100*4,50*7]
        halo_x,halo_y=0,0
    [/missile_frame]
#enddef
