#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Kalifa Elite Ghazi
    name= _ "Elite Ghazi"
    race=AE kalifa
    image="units/human-kalifa/elite-ghazi.png"
    hitpoints=65
    movement_type=AE kalifafoot
    movement=6
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    {MAGENTA_IS_THE_TEAM_COLOR}
    cost=60
    usage=mixed fighter
    description= _ "This unit is from Extended Era. It's coding and art were done by the Various people who created Extended Era.
 
The Elite Ghazi are simply heros among their people. Winner of countless combats and harbingers of victory."
    get_hit_sound={SOUND_LIST:HUMAN_HIT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=axe
        description= _ "axe"
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
    [attack]
        name=composite bow
        description= _ "composite bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=8
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=200
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=composite bow
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-200
                sound=bow-puny.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=200
                sound=bow-puny-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
