#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Kalifa Ekim Haram
    name= _ "Ekim Haram"
    race=AE kalifa
    image="units/human-kalifa/ekim-haram.png"
    hitpoints=38
    movement_type=AE kalifalightfoot
    [abilities]
        {ABILITY_CURES}
        {ABILITY_REGENERATES}
    [/abilities]
    movement=5
    [resistance]
        fire=110
    [/resistance]
    experience=150
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=35
    usage=healer
    {MAGENTA_IS_THE_TEAM_COLOR}
    description= _ "This unit is from Extended Era. It's coding and art were done by the Various people who created Extended Era.
 
These sages have reached the absolute epitome medical knowledge and freely use their herbal concoctions on themselves without fear of side-effects."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CURES}+{SPECIAL_NOTES_REGENERATES}
    get_hit_sound={SOUND_LIST:HUMAN_HIT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=mace
        description= _ "mace"
        type=impact
        range=melee
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=0
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=0
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=150
        [/frame]
    [/attack_anim]
[/unit_type]
