#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Equestrian Bull
    name= _ "Bull"
    race=monster
    gender=male
    image="units/equestrians/bull.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=60
    movement_type=bullfoot
    movement=7
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=horse-die.ogg
    cost=35
    usage=scout
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HORSE_HIT} }

    [attack]
        name=kick
        description= _ "kick"
        icon=attacks/crush-wose.png
        type=impact
        range=melee
        damage=20
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=gore
        description= _ "gore"
        icon=attacks/blank-attack.png
        type=pierce
        range=melee
        damage=25
        number=1
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
[/unit_type]
