#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Equestrian Charger
    name= _ "Charger"
    race=AE Equestrians
    gender=male
    image="units/equestrians/charger.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=38
    movement_type=chargefoot
    movement=8
    experience=45
    level=1
    alignment=lawful
    advances_to=AE Equestrian Crasher
    die_sound=horse-die.ogg
    cost=21
    usage=fighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HORSE_HIT} }

    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [attack]
        name=Trample
        description= _ "Trample"
        icon=attacks/crush-wose.png
        type=impact
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
[/unit_type]
