#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Equestrian Troubadour
    name= _ "Troubadour"
    race=AE Equestrians
    gender=male
    image="units/equestrians/troubadour.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=48
    movement_type=equestrianfoot
    movement=8
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=horse-die.ogg
    cost=45
    usage=healer
    description= _ "
"

    [resistance]
        fire=90
        cold=90
        arcane=60
    [/resistance]

    [abilities]
        {ABILITY_CURES}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HORSE_HIT} }

    [attack]
        name=Staff
        description= _ "Staff"
        icon=attacks/staff-elven.png
        type=impact
        range=melee
        damage=10
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Missile
        description= _ "Missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=Purify
        description= _ "Purify"
        icon=attacks/faerie-fire.png
        type=arcane
        range=ranged
        damage=5
        number=6
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
[/unit_type]
