#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Equestrian Silver Pegasus
    name= _ "Silver Pegasus"
    race=AE Equestrians
    gender=male
    image="units/equestrians/silverpegasus.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=56
    movement_type=pegasusfoot
    movement=10
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=horse-die.ogg
    cost=19
    usage=scout
    description= _ "
"

    [resistance]
        arcane=40
    [/resistance]

    [abilities]
        {ABILITY_HEALS}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HORSE_HIT} }

    [attack]
        name=Spear
        description= _ "Spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=7
        number=5
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Javelin
        description= _ "Javelin"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
