#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Equestrian Searay
    name= _ "Searay"
    race=AE Equestrians
    gender=male
    image="units/equestrians/searay.png"
    ellipse="misc/ellipse"
    hitpoints=36
    movement_type=mantafoot
    movement=8
    experience=38
    level=1
    alignment=lawful
    advances_to=AE Equestrian Manta
    die_sound=hiss-die.wav
    cost=16
    usage=fighter
    description= _ ""+{SPECIAL_NOTES}+{SPECIAL_NOTES_AQUATIC}+{SPECIAL_NOTES_POISON}

    [resistance]
        impact=110
    [/resistance]

    [abilities]
        {ABILITY_AQUATIC}
    [/abilities]

    {DEFENSE_ANIM "" "" hiss-hit.wav }

    [attack]
        name=Harpoon
        description= _ "Harpoon"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=9
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Sting
        description= _ "Sting"
        icon=attacks/sting.png
        type=pierce
        range=melee
        damage=8
        number=1
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=Harpoon
        description= _ "Harpoon"
        icon=attacks/pike.png
        type=pierce
        range=ranged
        damage=6
        number=3
        [specials]
        [/specials]
    [/attack]
    {ABILITY_AQUATIC_EVENT (AE Equestrian Searay)}
[/unit_type]
