#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Rune Apprentice
    name= _ "Rune Apprentice"
    race=AE Enchanters
    gender=male
    image="units/enchanters/runeapprentice.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=30
    movement_type=enchantfoot
    movement=5
    experience=60
    level=1
    alignment=neutral
    advances_to= AE Enchanter Arcane Rune Transcriber,AE Enchanter Elemental Rune Interpreter, AE Enchanter Rune Fire Specialist
    cost=21
    usage=mixed fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "enchanters/runeapprentice.png" "enchanters/runeapprentice.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=chisel
        description=_"chisel"
        icon=attacks/javelin-human.png
        type=pierce
        range=melee
        damage=7
        number=1
    [/attack]
    [attack]
        name=firerune
        description=_"fire rune"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=5
        number=4
    [/attack]
[/unit_type]
