#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Rune Fire Specialist
    name= _ "Rune Fire Specialist"
    race=AE Enchanters
    gender=male
    image="units/enchanters/runeimprovera.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=enchantfoot
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=40
    usage=mixed fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "enchanters/runeimprovera.png" "enchanters/runeimprovera.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=chisel
        description= _ "chisel"
        icon=attacks/javelin-human.png
        type=pierce
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=firerune
        description= _ "fire rune"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=4
    [/attack]
    [attack]
        name=infernorune
        description= _ "Inferno Rune"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=22
        number=1
    [/attack]
[/unit_type]
