#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Ice Rune Improver
    name= _ "Ice Rune Improver"
    race=AE Enchanters
    gender=male
    image="units/enchanters/runeimproverb.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=enchantfoot
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=20
    usage=mixed fighter
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "enchanters/runeimproverb.png" "enchanters/runeimproverb.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=chisel
        description= _ "chisel"
        icon=attacks/javelin-human.png
        type=pierce
        range=melee
        damage=9
        number=1
    [/attack]
    [attack]
        name=firerune
        description= _ "fire rune"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=4
    [/attack]
    [attack]
        name=icerune
        description= _ "ice rune"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=6
        number=5
    [/attack]
    [attack]
        name=freezerune
        description= _ "freeze rune"
        icon=attacks/iceball.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=2
        number=20
    [/attack]
[/unit_type]
