#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Rune Purist
    name= _ "Rune Purist"
    race=AE Enchanters
    gender=male
    image="units/enchanters/runeimproverc.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=enchantfoot
    movement=5
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=20
    usage=mixed fighter
    description= _ ""

    [abilities]
        {ABILITY_CURES}
    [/abilities]

    {DEFENSE_ANIM "enchanters/runeimproverc.png" "enchanters/runeimproverc.png" {SOUND_LIST:HUMAN_OLD_HIT} }

    [attack]
        name=chisel
        description= _ "chisel"
        icon=attacks/javelin-human.png
        type=pierce
        range=melee
        damage=10
        number=1
    [/attack]
    [attack]
        name=lightrune
        description= _ "light rune"
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        damage=1
        number=12
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_CONCENTRATED}
        [/specials]
    [/attack]

    {RUNE_IMPROVER_EVENTS (AE Enchanter Rune Purist)}
[/unit_type]
