#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Stockpiler
    name= _ "Stockpiler"
    race=AE Enchanters
    image="units/enchanters/stockpiler.png"
    profile="portraits/Tristan_Millner/dwarven-fighter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=68
    movement_type=sellfoot
    movement=4
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=dwarf
    cost=16
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "enchanters/stockpiler.png" "enchanters/stockpiler.png" {SOUND_LIST:DWARF_HIT} }
    {DEFENSE_ANIM_RANGE "enchanters/stockpiler.png" "enchanters/stockpiler.png" {SOUND_LIST:DWARF_HIT} ranged}
    [resistance]
        blade=70
        arcane=80
        fire=110
        pierce=70
        impact=90
    [/resistance]
    [attack]
        name=mace
        description= _ "mace"
        type=impact
        range=melee
        damage=17
        number=3
        icon=attacks/mace-spiked.png
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        type=pierce
        range=melee
        [special]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/special]
        damage=14
        number=4
        icon=attacks/spear.png
    [/attack]
    [attack]
        name=sword
        description= _ "sword"
        type=blade
        range=melee
        damage=12
        number=5
        icon=attacks/sword-human.png
    [/attack]
[/unit_type]
