#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Devilhand
    name= _ "Devilhand"
    race=AE Enchanters
    image="units/enchanters/devilhand.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=68
    movement_type=cursefoot
    movement=4
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=19
    usage=fighter
    description= _ ""
    {CURSEDSWORD_SPECIAL_EVENT (AE Enchanter Devilhand)}
    [resistance]
        blade=90
        arcane=120
        fire=110
        cold=70
    [/resistance]
    die_sound={SOUND_LIST:ORC_DIE}
    {DEFENSE_ANIM "enchanters/devilhand.png" "enchanters/devilhand.png" {SOUND_LIST:ORC_HIT} }
    [attack]
        name=cursedsword
        description= _ "cursed sword"
        icon=attacks/baneblade.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_CURSED}
        [/specials]
        damage=25
        number=2
    [/attack]
    [attack]
        name=cursedsword
        description= _ "cursed sword"
        icon=attacks/baneblade.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_CURSED}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=15
        number=3
    [/attack]
[/unit_type]
