#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Enchanter
    name= _ "Enchanter"
    race=AE Enchanters
    image="units/enchanters/enchanter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=35
    movement_type=enchantfoot
    movement=5
    experience=41
    level=1
    alignment=neutral
    advances_to=AE Enchanter Forge
    undead_variation=dwarf
    cost=15
    usage=fighter
    description= _ "Enchanters are artisans, metalworkers, and magi, forming the backbone of both their society and their army. They equip their fellow troops with the magical weapons they have wrought, and fight on the front lines themselves, using their metalworking hammers in combat as effectively as on the forge."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "enchanters/enchanter.png" "enchanters/enchanter.png" {SOUND_LIST:DWARF_HIT} }
    {DEFENSE_ANIM_RANGE "enchanters/enchanter.png" "enchanters/enchanter.png" {SOUND_LIST:DWARF_HIT} ranged}
    [attack]
        name=hammer
        description= _ "hammer"
        type=impact
        range=melee
        damage=10
        number=2
    [/attack]
[/unit_type]
