#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Crystalbow
    name= _ "Crystalbow"
    race=AE Enchanters
    gender=male
    image="units/enchanters/crystalbow.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=enchantfoot
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=archer
    cost=15
    usage=archer
    description= _ "More adept enchanters have learned to improve the clearbow by making it harden the arrows of light into crystalshards."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [attack]
        name=short sword
        description= _ "short sword"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow.png
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        range=ranged
        damage=13
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/lightbeam.png
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=8
        number=5
    [/attack]
    {DEFENSE_ANIM_RANGE "enchanters/crystalbow.png" "enchanters/crystalbow.png" {SOUND_LIST:HUMAN_HIT} melee}
    {DEFENSE_ANIM_RANGE "enchanters/crystalbow.png" "enchanters/crystalbow.png" {SOUND_LIST:HUMAN_HIT} ranged}
[/unit_type]
