#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Enchanter Possessed Sword
    name= _ "Possessed Sword"
    race=undead
    image="units/enchanters/possessedsword.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=30
    movement_type=floatfoot
    movement=10
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=34
    usage=scout
    description= _ "Possessed Swords have been infused with a soul of unusual strength, giving them a maverick disposition and lethal strength on the field. In addition to the whirling strikes characteristic of its cousins, a Possessed Sword can hurtle towards foes over long distances, burying itself to the hilt in some unwary archer or mage. Unfortunately this hurtling strike leaves the sword open for full-force retaliation."
    die_sound=wail-long.wav
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        range=melee
        damage=10
        number=2
    [/attack]
[/unit_type]
