#textdomain wesnoth-Ageless_Era

{GET_AE_UNITS EE_units/chaos}
{GET_AE_UNITS EE_units/dark_elves}
{GET_AE_UNITS EE_units/dwarves}
{GET_AE_UNITS EE_units/kalifa}
{GET_AE_UNITS EE_units/nagas}
{GET_AE_UNITS EE_units/orcs}
{GET_AE_UNITS EE_units/outlaws}
{GET_AE_UNITS EE_units/sylvan_fairies}
{GET_AE_UNITS EE_units/trolls}
{GET_AE_UNITS EE_units/undead}
{GET_AE_UNITS EE_units/woses}

[movetype]
    name=dwarvishwheel
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water=5
        reef=3
        swamp_water={UNREACHABLE}
        flat=1
        sand=3
        forest=5
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        fungus=5
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        reef=70
        swamp_water=80
        flat=60
        sand=70
        forest=70
        hills=60
        mountains=50
        village=60
        castle=50
        cave=70
        frozen=70
        unwalkable=80
        impassable=80
        fungus=70
    [/defense]
    [resistance]
        blade=80
        pierce=60
        impact=110
        fire=160
        cold=50
        arcane=70
    [/resistance]
[/movetype]
