#textdomain wesnoth-Ageless_Era

#### Fairy Robots ####

## | Fairy Races

[race]
    id=fairy
    male_name= _ "race^AE Fairy"
    female_name= _ "race+female^AE Fairy"
    plural_name= _ "race^AE Fairies"
    num_traits=2
    ignore_global_traits=yes
    description= _ "This race is from Extended Era. It's coding and art were done by the Various people who created Extended Era."
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    markov_chain_size=3
    {ELVISH_NAMES}
[/race]
