#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Blood Bat
    [base_unit]
        id=Blood Bat
    [/base_unit]
    [defense]
        village=40
    [/defense]
    [resistance]
        cold=70
    [/resistance]
    {TRAIT_VAMPIRE}
    hide_help=yes
    undead_variation=null
    advances_to=null
    {AMLA_DEFAULT}
[/unit_type]
