#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_myh_vampires_Blood_Bat
    [base_unit]
        id=Blood Bat
    [/base_unit]
    [defense]
        village=40
    [/defense]
    [resistance]
        cold=70
    [/resistance]
    {AE_TRAIT_VAMPIRE}
    hide_help=yes
    advances_to=AE_myh_vampires_Dread_Bat
    undead_variation=null
[/unit_type]
