#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE gargoyle
    name= _ "Gargoyle"
    race=AE gargoyle
    image="units/vampires/gargoyle.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=38
    movement_type=gargoyle
    movement=6
    experience=34
    level=1
    alignment=neutral
    advances_to=AE marlgoyle
    undead_variation=null
    cost=16
    usage=scout
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
Vampires can animate stone with blood. These stone creatures use the magic of blood to fly. Vampires use these creatures to guard their castles, and to provide air support/survailance to their forces. They cannot see, and thus fight equally well in all lights."
    {DEFENSE_ANIM "units/vampires/gargoyle.png" "units/vampires/gargoyle.png" {SOUND_LIST:DRAKE_HIT} }
    die_sound={SOUND_LIST:TROLL_DIE}
    [abilities]
        {ABILITY_DAUNTLESS}
    [/abilities]

    [standing_anim]
        direction=n,ne,nw,s,se,sw
        start_time=0
        [frame]
            duration=140
            image="units/vampires/gargoyle-1.png"
        [/frame]
        [frame]
            duration=80
            image="units/vampires/gargoyle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/vampires/gargoyle-3.png"
        [/frame]
        [frame]
            duration=140
            image="units/vampires/gargoyle-4.png"
        [/frame]
        [frame]
            duration=80
            image="units/vampires/gargoyle-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/vampires/gargoyle-2.png"
        [/frame]
    [/standing_anim]

    [attack]
        name=slam
        description= _ "slam"
        icon=attacks/fist.png
        type=impact
        range=melee
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=slam
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=150
            image="units/vampires/gargoyle.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=slam
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=150
            image="units/vampires/gargoyle.png"
        [/frame]
    [/attack_anim]
[/unit_type]
