#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Blood Hulk
    name= _ "Blood Hulk"
    race=AE vampire
    profile="portraits/vampires/blood_hulk.png"
    ignore_race_traits=yes
    {TRAIT_OBEDIENT2}
    {TRAIT_RESILIENT}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}

    {TRAIT_STRONG}
    image="units/vampires/blood_hulk.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=49
    movement_type=hulkfoot
    movement=4
    experience=52
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_MONSTER}
    cost=24
    usage=tank
    description= _ "This unit is from The Era of Myths. It's coding and art were done by JW, Velensk, and many others.
 
These monstrous vampires gorge themselves on the blood of their victims instead of turning them. Their appetite for blood is never sated, and with each victim they grow in strength and size. Only talented blood mages can create such monstrosities.

Special Notes:"+{SPECIAL_NOTES_REGENERATES}
    {DEFENSE_ANIM "units/vampires/blood_hulk.png" "units/vampires/blood_hulk.png" graon.wav }
    die_sound=ghoul-hit.wav
    undead_variation=human
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/vampires/transparent/blood_hulk.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/vampires/transparent/blood_hulk.png"
    [/portrait]

    [abilities]
        {ABILITY_REGENERATES}

        {ABILITY_FEEDING}
    [/abilities]

    [attack]
        name=axe
        description= _ "axe"
        type=blade
        range=melee
        damage=14
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        hits=no
        [frame]
            begin=-50
            end=100
            image="units/vampires/blood_hulk.png"
            sound={SOUND_LIST:MISS}
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        hits=yes
        [frame]
            begin=-50
            end=100
            image="units/vampires/blood_hulk.png"
            sound=axe.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
