#textdomain wesnoth-Ageless_Era

# This is a dummy unit, after recruit it will get transformed into a variation of the Noble
# currently not used

#ifdef __AE_myh_UNUSED__
[unit_type]
    do_not_list=yes
    hide_help=true
    name= _ "female^Succubus"
    id=AE_myh_Succubus_variation
    race=vampire
    gender=female
    image="units/vampires/succubus.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=AE_myh_vampfoot
    movement=5
    experience=87
    level=2
    alignment=chaotic
    #advances_to=AE_myh_Noble
    cost=31
    usage=mixed fighter

    [variation]
        variation_id=aristocrat
        #hide_help=true
    [/variation]

    [event]
        name=prerecruit
        first_time_only=no
        [modify_unit]
            [filter]
                type=AE_myh_Succubus
                x,y=$x1,$y1
            [/filter]
                variation=aristocrat
        [/modify_unit]
        [transform_unit]
            type=AE_myh_Succubus
            x,y=$x1,$y1
            transform_to=AE_myh_Noble
        [/transform_unit]
        [heal_unit]
            [filter]
                type=AE_myh_Succubus
                x,y=$x1,$y1
            [/filter]
            amount=full
            restore_statuses=no
        [/heal_unit]
    [/event]
[/unit_type]
#endif
