#textdomain wesnoth-Ageless_Era

# This is a dummy unit, after recruit it will get transformed into a variation of the Sire
# currently not used

#ifdef __AE_myh_UNUSED__
[unit_type]
    do_not_list=yes
    hide_help=true
    name= _ "female^Mistress"
    id=AE_myh_Mistress_variation
    race=vampire
    gender=female
    image="units/vampires/mistress.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=16
    movement_type=AE_myh_vampfoot
    movement=5
    experience=180
    level=3
    alignment=chaotic
    advances_to=AE_myh_Sire
    cost=4
    usage=mixed fighter
    description= {AE_EOM_UNIT_NOTICE} +  _ "Some of the beautiful vampiresses who are as powerful as a Sire and are capable of winning the love of one are given the title of 'Mistress'. These vampiresses are capable of unleashing a world of pain and suffering upon their enemies with their twin daggers and their dementing gaze. The minions and mercenaries which serve her fight significantly better whenever they around her, sometimes it is unknown whether she is leading them or the mercenaries and minions are protecting her in order to protect themselves from the wrath of the Mistress husband."
    {DEFENSE_ANIM "units/vampires/mistress.png" "units/vampires/mistress.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}

    [variation]
        variation_id=aristocrat
        #image="units/vampires/mistress.png"
        #{MAGENTA_IS_THE_TEAM_COLOR}
    [/variation]

    [event]
        name=recruit
        first_time_only=no
        [modify_unit]
            [filter]
                type=AE_myh_Mistress
                x,y=$x1,$y1
            [/filter]
                variation=aristocrat
        [/modify_unit]
        [transform_unit]
            type=AE_myh_Mistress
            x,y=$x1,$y1
            transform_to=AE_myh_Sire
        [/transform_unit]
        [heal_unit]
            [filter]
                type=AE_myh_Mistress
                x,y=$x1,$y1
            [/filter]
            amount=full
            restore_statuses=no
        [/heal_unit]
    [/event]
[/unit_type]
#endif
