#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Cuttle Fish
    [base_unit]
        id=Cuttle Fish
    [/base_unit]
    race=cuttlefish
    advances_to=AE Armored Cuttle Fish
    description= _ "This unit is from The Era of Strife. It's coding and art were done by Jami, AI, Elrias, Lizard, Quietus, Espreon, Neorice and Various others."
[/unit_type]
