#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Highlander Bartap
    name= _ "Bartap"
    race=AE Highlanders
    gender=male
    image="units/highlanders/bartap.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=65
    movement_type=highfoot
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=16
    usage=fighter
    description= _ "
"

    [resistance]
        blade=100
        impact=70
        pierce=100
        cold=70
    [/resistance]

    [abilities]
        {ABILITY_CURES}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description= _ "Fist"
        icon=attacks/fist.png
        type=impact
        range=melee
        damage=9
        number=4
        [specials]
        [/specials]
    [/attack]
[/unit_type]
