#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Highlander Coldturkey
    name= _ "Coldturkey"
    race=AE Highlanders
    gender=male
    image="units/highlanders/coldturkey.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=70
    movement_type=highfoot
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=16
    usage=fighter
    description= _ "
"+{SPECIAL_NOTES_INSPIRE}

    [resistance]
        blade=100
        impact=70
        pierce=100
        cold=60
    [/resistance]

    [abilities]
        {ABILITY_INSPIRE}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description= _ "Fist"
        icon=attacks/fist.png
        type=impact
        range=melee
        damage=10
        number=5
        [specials]
        [/specials]
    [/attack]
[/unit_type]
