#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Highlander Amputator
    name= _ "Amputator"
    race=AE Highlanders
    gender=male
    image="units/highlanders/amputator.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=highfoot
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=35
    usage=fighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_TERROR}+{SPECIAL_NOTES_HEALS}+{SPECIAL_NOTES_POISON}

    [resistance]
        blade=100
        impact=100
    [/resistance]

    [abilities]
        {ABILITY_HEALS}
        {ABILITY_TERROR_LEVEL_2}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=cleaver
        description= _ "cleaver"
        icon=attacks/cleaver.png
        type=blade
        range=melee
        damage=11
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=dagger
        description= _ "dagger"
        icon=attacks/dagger-thrown-poison-human.png
        type=blade
        range=ranged
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
[/unit_type]
