#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Highlander Behemoth
    name= _ "Behemoth"
    race=AE Highlanders
    gender=male
    image="units/highlanders/behemoth.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=66
    movement_type=giantfoot
    movement=4
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=20
    usage=fighter
    description= _ "
"

    [resistance]
        blade=80
        impact=60
        pierce=80
        cold=60
    [/resistance]

    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description= _ "Fist"
        icon=attacks/fist.png
        type=impact
        range=melee
        damage=24
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
