#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Highlander Valkyrie
    name= _ "Valkyrie"
    race=AE Highlanders
    gender=female
    image="units/highlanders/valkyrie.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=34
    movement_type=valkfoot
    movement=8
    experience=34
    level=1
    alignment=neutral
    advances_to=AE Highlander Valkyrie Warrior
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    cost=19
    usage=scout
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [attack]
        name=Claymore
        description= _ "Claymore"
        icon=attacks/greatsword-orcish.png
        type=blade
        range=melee
        damage=9
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
