#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Highlander Barbarian
    name= _ "Barbarian"
    race=AE Highlanders
    gender=male
    image="units/highlanders/barbarian.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=59
    movement_type=highfoot
    movement=5
    experience=80
    level=2
    alignment=neutral
    advances_to=AE Highlander Highlander
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=28
    usage=fighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}

    [resistance]
        blade=70
        impact=80
        pierce=90
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Axe
        description= _ "Axe"
        icon=attacks/axe.png
        type=blade
        range=melee
        damage=11
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Hatchet
        description= _ "Hatchet"
        icon=attacks/hatchet.png
        type=blade
        range=ranged
        damage=8
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
