#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Rookie
    name= _ "Rookie"
    race=AE Mercenaries
    image="units/mercenaries/rookie.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse-nozoc"
    hitpoints=18
    movement_type=mercfootsoldier
    movement=5
    experience=20
    level=0
    alignment=neutral
    advances_to=AE Mercenary Mercenary,AE Mercenary Hunter,AE Mercenary Brute,AE Mercenary Pickpocket
    cost=8
    usage=fighter
    description= _ "The life of a mercenary is neither easy or long. Most mercenaries start at the sad end of the stick, coming up from the slums of society and seeing the glory of a successful mercenary in work. Those who follow this path are called rookies. They are weak, many, and quite insignifigant in the eyes of the experts. Though afew do get lucky and scrounge up a high priced kill while following their recruiter."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "rookie.png" "rookie.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=knife
        description= _ "knife"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
[/unit_type]
