#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Mercenary
    name= _ "Mercenary"
    race=AE Mercenaries
    image="units/mercenaries/mercenary.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=35
    movement_type=mercfootsoldier
    movement=5
    experience=40
    level=1
    alignment=neutral
    advances_to=AE Mercenary Hessian,AE Mercenary Mankiller
    cost=16
    usage=fighter
    description= _ "Among the mercenaries, there are many classes of jobs and ways to complete them. The original mercenaries were merely strong fighters built to fight on whichever side payed the best. These mercs pride themselves in their proficiency with weapons and fight on high standards, and with few rules. The only rule they do follow: Rule #1 Get the kill."
	die_sound={SOUND_LIST:HUMAN_DIE}
	{DEFENSE_ANIM "mercenary.png" "mercenary.png" {SOUND_LIST:HUMAN_HIT} }
	[attack]
		name=sword
		description= _ "sword"
		icon=attacks/sword-human.png
		type=blade
		range=melee
		damage=5
		number=4
	[/attack]
	[attack]
		name=spear
		description= _ "spear"
		icon=attacks/spear.png
		type=pierce
		range=melee
		damage=6
		number=3
	[/attack]
[/unit_type]
