#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Mankiller
    name= _ "Mankiller"
    race=AE Mercenaries
    image="units/mercenaries/mankiller.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=48
    movement_type=mercfootsoldier
    movement=5
    experience=78
    level=2
    alignment=chaotic
    advances_to=AE Mercenary Slayer
    cost=28
    usage=fighter
    description= _ "Mercenaries love their weapons. This leads to them wanting to use their weapons all the time. Some become so obsessive that its quite revolting and disturbing to watch. Often they engage in conversation with their blades, which they've poured much of they money they earn from jobs on. Just so they can stain it with more blood on a daily basis."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "mankiller.png" "mankiller.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=5
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=10
        number=3
    [/attack]
[/unit_type]
