#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Man_at_Arms
    name= _ "Man-At-Arms"
    race=AE Mercenaries
    image="units/mercenaries/manatarms.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=85
    movement_type=mercfootsoldier3
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=55
    usage=fighter
    description= _ "Of All the Mercenaries there are a select few who have fought so much, that they have learned to weild every form of weaponry available to them. These fighters are so skilled that they are able to take on entire armies on their own, merely to earn their pay... in the millions."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "manatarms.png" "manatarms.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=9
        number=4
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=11
        number=3
    [/attack]
    [attack]
        name=mace
        description= _ "mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    [attack]
        name=longbow
        description= _ "longbow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=10
        number=2
    [/attack]
[/unit_type]
