#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Soldier_of_Fortune
    name= _ "Soldier-Of-Fortune"
    race=AE Mercenaries
    image="units/mercenaries/soldieroffortune.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=78
    movement_type=mercfootsoldier2
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    usage=fighter
    description= _ "Mercenaries of whom have become powerful, rich, and famous are often called Soldiers of Fortune. Soldiers who are payed so much, a days worth makes more than many a king could spare. These Soldiers are very expencive, yet their strength is quite worth the pay bolstering their walking armory."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "soldieroffortune.png" "soldieroffortune.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=11
        number=4
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=14
        number=3
    [/attack]
    [attack]
        name=mace
        description= _ "mace"
        icon=attacks/morning-star.png
        type=impact
        range=melee
        damage=20
        number=2
    [/attack]
[/unit_type]
