#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Protecter
    name= _ "Protector"
    race=AE Mercenaries
    image="units/mercenaries/protector.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=80
    movement_type=mercheavy4
    movement=5
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=40
    usage=defender
    description= _ "These Heavily armored brutes are the only of their type who wield a weapon, and the way they wield it is so crude and effective that it strikes unbearable terror into all before these masses of steel and flesh."+{SPECIAL_NOTES}+{SPECIAL_NOTES_PROTECTION}+{SPECIAL_NOTES_DREAD}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "protector.png" "protector.png" {SOUND_LIST:HUMAN_HIT} }
    [abilities]
        {ABILITY_PROTECTION_LEVEL_3}
    [/abilities]
    [attack]
        name=mace
        description= _ "mace"
        icon=attacks/morning-star.png
        type=impact
        range=melee
        damage=11
        number=4
        [specials]
            {WEAPON_SPECIAL_DREAD}
        [/specials]
    [/attack]
[/unit_type]
