#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Pickpocket
    name= _ "Pickpocket"
    race=AE Mercenaries
    image="units/mercenaries/pickpocket.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=24
    movement_type=merclight1
    movement=6
    experience=37
    level=1
    alignment=chaotic
    advances_to=AE Mercenary Slasher,AE Mercenary Cutthroat
    cost=15
    usage=fighter
    description= _ "While many rookie mercenaries find brute force their strength, some are much more cunning and learn to stealthily kill their enemies."
    [resistance]
        blade=110
        impact=110
        pierce=130
    [/resistance]
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "pickpocket.png" "pickpocket.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=knife
        description= _ "knife"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
[/unit_type]
