#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Battlemage
    name= _ "Battlemage"
    race=AE Mercenaries
    gender=male
    image="units/mercenaries/battlemage.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=68
    movement_type=mercwmage2
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=49
    usage=mixed fighter
    description= _ "The Battlemage is an awe inspiring thing, a mage covered in plated armor, heavy weapons, and a muscular profile to boot. These Hulking masses of magical mastery will burn, slash, and smash their way through enemies like nobodies business. "+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "battlemage.png" "battlemage.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack]
        name=mace
        description= _ "Mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=18
        number=2
        [specials]
            {WEAPON_SPECIAL_DREAD}
        [/specials]
    [/attack]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=9
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=missile
        description= _ "missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        damage=13
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
[/unit_type]
