#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Maneuverer
    name= _ "Maneuverer"
    race=AE Mercenaries
    image="units/mercenaries/maneuverer.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=42
    movement_type=merchorse2
    movement=7
    experience=80
    level=2
    alignment=neutral
    advances_to=AE Mercenary Guerilla Cavalry
    undead_variation=mounted
    cost=38
    usage=scout
    description= _ "Many riders learn to weave and dart through enemies and traffic to get to where they're going faster. These skilled horsemen are called Maneuverers because of their ability to travel further distances just by breeding agile horses instead of durable ones, this does come at the price of losing their steed which in most cases, is their life."
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "maneuverer.png" "maneuverer.png" {SOUND_LIST:HORSE_HIT} }
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]
[/unit_type]
