#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Seeker
    name= _ "Seeker"
    race=AE Mercenaries
    image="units/mercenaries/seeker.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=54
    movement_type=merchorse
    movement=9
    experience=78
    level=2
    alignment=neutral
    advances_to=AE Mercenary Questfinder
    undead_variation=mounted
    cost=34
    usage=scout
    description= _ "Seekers are riders who've proven they can track down marks under long periods of time, and under fire. They're durable, and much faster than their less experienced co-workers, and with this speed comes the momentum to carry a spear, and cleave through nearby enemies with their blade."
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "seeker.png" "seeker.png" {SOUND_LIST:HORSE_HIT} }
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=15
        number=2
    [/attack]
[/unit_type]
