#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Questfinder
    name= _ "Questfinder"
    race=AE Mercenaries
    image="units/mercenaries/questfinder.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=65
    movement_type=merchorse
    movement=10
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=mounted
    cost=50
    usage=scout
    description= _ "Questfinders are the most elite scouts of the Mercenary Guild,some say they are omniscient of their surroundings because even if your hiding in the dead of night immobile, they still notice you in your bush crying for your mommy."
    die_sound=horse-die.ogg
    {DEFENSE_ANIM "questfinder.png" "images/questfinder.png" {SOUND_LIST:HORSE_HIT} }
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=4
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=20
        number=2
    [/attack]
[/unit_type]
