#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Pirate
    name= _ "Pirate"
    race=AE Mercenaries
    image="units/mercenaries/pirate.png"
    ellipse="misc/ellipse"
    hitpoints=53
    movement_type=mercpire
    movement=5
    experience=78
    level=2
    alignment=chaotic
    advances_to=AE Mercenary Corsair,AE Mercenary Pirate Captain
    undead_variation=swimmer
    cost=28
    usage=fighter
    description= _ "The saltier of the sailors often find that doing the right thing isn't always... right. They've found it quite lucrative to steal from any and all that walks, swims, or flies the ocean blue, and are ready to chop anything in their way to teeny tiny bits."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "pirate.png" "pirate.png" {SOUND_LIST:DWARF_HIT} }
    [attack]
        name=Axe
        description= _ "Axe"
        icon=attacks/axe.png
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
[/unit_type]
