#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Seafarer
    name= _ "Seafarer"
    race=AE Mercenaries
    image="units/mercenaries/seafarer.png"
    ellipse="misc/ellipse"
    hitpoints=51
    movement_type=mercsail2
    movement=6
    experience=72
    level=2
    alignment=neutral
    advances_to=AE Mercenary Mariner
    undead_variation=swimmer
    cost=28
    usage=fighter
    description= _ "Seafarers are quite used to the ocean and become faster and more able bodied to fight in the water."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "seafarer.png" "seafarer.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=saber
        description= _ "Sabre"
        icon=attacks/saber-human.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    [attack]
        name=net
        description= _ "Net"
        type=impact
        range=ranged
        damage=3
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        icon=attacks/net.png
    [/attack]
[/unit_type]
