#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Mariner
    name= _ "Mariner"
    race=AE Mercenaries
    image="units/mercenaries/mariner.png"
    ellipse="misc/ellipse"
    hitpoints=58
    movement_type=mercsail3
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=swimmer
    cost=38
    usage=fighter
    description= _ "Mariners are the best sailors around. While they are quite quick and swift on the water they are also able bodied with their saber's and because of their fondness of fishing, carry around a net to bag mermen and sell them to aquariums."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "mariner.png" "mariner.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=saber
        description= _ "Sabre"
        type=blade
        range=melee
        damage=8
        number=4
        icon=attacks/saber-human.png
    [/attack]
    [attack]
        name=net
        description= _ "Net"
        type=impact
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
[/unit_type]
