#textdomain wesnoth-Ageless_Era

{GET_AE_UNITS archaic_units/}
{GET_AE_UNITS BEEM_units/}
{GET_AE_UNITS EE_units/}
{GET_AE_UNITS EFM_units/}
{GET_AE_UNITS EoM_units/}
{GET_AE_UNITS EoMa_units/}
{GET_AE_UNITS EOS_units/}
{GET_AE_UNITS EotF_units/}
{GET_AE_UNITS feudal_units/}
{GET_AE_UNITS imperial_units/}
{GET_AE_UNITS ME_units/}
{GET_AE_UNITS misc_units/}
