#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_fut_brungar_Tamed_Tentacle_of_the_Deep
    [base_unit]
        id=Tentacle of the Deep
    [/base_unit]
    hitpoints=34
    [attack]
        name=tentacle
        description={STR_TENTACLE}
        icon=attacks/tentacle.png
        type=impact
        range=melee
        damage=5
        number=3
    [/attack]
[/unit_type]
