#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_orcs_Cavalry
    name= _ "Cavalry"
    race=orc
    image="units/orcs/cavalry.png"
    hitpoints=54
    {MAGENTA_IS_THE_TEAM_COLOR}
    movement_type=AE_arc_snow_orc
    movement=6
    experience=60
    level=2
    alignment=chaotic
    advances_to=AE_arc_orcs_Orcish_Destrier
    cost=25
    usage=fighter
    undead_variation=saurian
    description= _ "This unit is from Archaic Era. It's coding and art were done by doofus-01.
 
..."
    {DEFENSE_ANIM "units/orcs/cavalry.png" "units/orcs/cavalry.png" {SOUND_LIST:ORC_HIT} }
    die_sound={SOUND_LIST:ORC_DIE}
    [attack]
        name=sword
        description= _ "Sword"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=head
        description= _ "Head"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=10
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        hits=yes
        [frame]
            begin=0
            end=200
            image="units/orcs/cavalry.png"
            sound=club.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        hits=no
        [frame]
            begin=0
            end=200
            image="units/orcs/cavalry.png"
            sound=miss-1.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        hits=yes
        [frame]
            begin=0
            end=200
            image="units/orcs/cavalry.png"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        hits=no
        [frame]
            begin=0
            end=200
            image="units/orcs/cavalry.png"
            sound={SOUND_LIST:MISS}
        [/frame]
    [/attack_anim]
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/orcs/cavalry.png"
        [/frame]
    [/movement_anim]
[/unit_type]
