#textdomain wesnoth-Era_of_the_Future

[unit_type]
    id=Dire Reaver
    name= _ "Dire Reaver"
    race=Nordhris
    gender=male
    image=units/Nordhris/Dire_Reaver.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=2
    alignment=chaotic
    experience=55
    advances_to=null
    {AMLA_DEFAULT}
    hitpoints=42
    movement=7
    movement_type=dogfoot
    cost=30
    usage=fighter
    description= _ "..."+{SPECIAL_NOTES}+{SPECIAL_NOTES_NIGHTSTALK}
    [abilities]
	{ABILITY_NIGHTSTALK}
    [/abilities]
    [attack]
        name=_ "Kusari"
        description=_"Kusari"
        icon=attacks/Kusari.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
    [attack]
        name=_ "Kusari"
        description=_ "Kusari"
        icon=attacks/Kusari.png
        type=impact
        range=ranged
	[specials]
            {WEAPON_SPECIAL_SLOW}
	[/specials]
        damage=5
        number=3
    [/attack]
[/unit_type]
