#textdomain wesnoth-Era_of_the_Future

[unit_type]
    id=Farseer
    name= _ "Farseer"
    race=Nordhris
    gender=male
    image="units/nordhris/Farseer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=2
    alignment=neutral
    experience=84
    advances_to=null
    {AMLA_DEFAULT}
    hitpoints=52
    movement=6
    movement_type=dogfoot
    cost=53
    usage=mixed_fighter
    description= _ "..."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}
    [attack]
        name=_ "Spear"
        description=_ "Spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=_"Scouting Bow"
        description=_ "Scouting Bow"
        icon=attacks/bow.png
	[specials]
            {WEAPON_SPECIAL_MARKSMAN}
	[/specials]
        type=pierce
        range=ranged
        damage=7
        number=4
    [/attack]
[/unit_type]
