#textdomain wesnoth-Era_of_the_Future

[unit_type]
    id=Frenetic Shaman
    name= _ "Frenetic Shaman"
    race=Nordhris
    gender=male
    image=units/Nordhris/Frenetic_Shaman.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=1
    alignment=chaotic
    experience=30
    advances_to=Tribal Sage
    {AMLA_DEFAULT}
    hitpoints=26
    movement=5
    movement_type=dogfoot
    cost=11
    usage=mixed_fighter
    description= _ "..."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_MAGICAL}
    [attack]
        name=_ "Tribal Hammer"
        description=_"Tribal Hammer"
        icon=attacks/Sagestaff.png
        type=impact
        range=melee
	[specials]
            {WEAPON_SPECIAL_BERSERKER}
	[/specials]
        damage=5
        number=2
    [/attack]
    [attack]
        name=_ "Bane"
        description=_ "Bane"
        icon=attacks/Bane.png
        type=arcane
        range=ranged
	[specials]
            {WEAPON_SPECIAL_MAGICAL}
	[/specials]
        damage=4
        number=4
    [/attack]
[/unit_type]
