#textdomain wesnoth-Era_of_the_Future

[unit_type]
    id=Frostdasher
    name= _ "Frostdasher"
    race=Nordhris
    gender=male
    image=units/Nordhris/Frostdasher.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=2
    alignment=neutral
    experience=47
    advances_to=Icebounder
    {AMLA_DEFAULT}
    hitpoints=38
    movement=9
    movement_type=dogfoot
    cost=28
    usage=scout
    description= _ "..."
    [attack]
        name=_ "Spear"
        description=_"Spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=_ "Scouting Bow"
        description=_ "Scouting Bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=3
        number=6
    [/attack]
[/unit_type]
