#textdomain wesnoth-Era_of_the_Future

[unit_type]
    id=Icebounder
    name= _ "Icebounder"
    race=Nordhris
    gender=male
    image="units/Nordhris/Ice_Bounder.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=3
    alignment=neutral
    experience=94
    advances_to=null
    {AMLA_DEFAULT}
    hitpoints=56
    movement=9
    movement_type=dogfoot
    cost=54
    usage=scout
    description= _ "..."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=_ "Spear"
        description=_"Spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=_ "Scouting Bow"
        description=_ "Scouting Bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=4
        number=6
    [/attack]
[/unit_type]
