#textdomain wesnoth-The_Legend_Begins

[unit_type]
    id=AE_fut_Nordhris_Greatbow
    name= _ "Northern Greatbow"
    race=AE_fut_race_Nordhris
    image="units/Nordhris/greatbow.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=54
    movement_type=AE_fut_dogfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=44
    usage=mixed fighter
    description= _ "TODO"
    die_sound=human-hit.ogg
    {DEFENSE_ANIM "units/Nordhris/greatbow.png" "units/Nordhris/greatbow.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=sword
        description= _ "sword"
        icon="attacks/sword-human.png"
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon="attacks/bow.png"
        type=pierce
        range=ranged
        damage=16
        number=3
    [/attack]
[/unit_type]
