#textdomain wesnoth-Era_of_the_Future

[unit_type]
    id=Ravager
    name= _ "Ravager"
    race=Nordhris
    gender=male
    image=units/Nordhris/Arctic_Prowler.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=2
    alignment=neutral
    experience=55
    advances_to=Snow_Stalker
    {AMLA_DEFAULT}
    hitpoints=45
    movement=5
    movement_type=dogfoot
    cost=26
    usage=fighter
    upkeep=1
    description= _ "..."

[abilities]
	{AE_ABILITY_SNOW_COVER}
[/abilities]

    [attack]
        name=_ "Claws"
        description=_"Claws"
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]
[/unit_type]
