#textdomain wesnoth-Era_of_the_Future

[unit_type]
    id=Shard Striker
    name= _ "Shard Striker"
    race=Nordhris
    gender=male
    image=units/Nordhris/Shard_Striker.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=1
    alignment=neutral
    experience=32
    advances_to=Shard Shooter
    {AMLA_DEFAULT}
    hitpoints=26
    movement=5
    movement_type=dogfoot
    cost=12
    usage=archer
    upkeep=0
    description= _ "..."
    [attack]
        name=_ "Knife"
        description=_"Knife"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=3
        number=2
    [/attack]
    [attack]
        name=_ "Bow"
        description=_ "Bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=5
        number=3
    [/attack]
[/unit_type]
