#textdomain wesnoth-Era_of_the_Future

[unit_type]
    id=Snow_Stalker
    name= _ "Snow Stalker"
    race=Nordhris
    gender=male
    image=units/destroyers-zombies/zombie-hunter.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=3
    alignment=neutral
    experience=80
    advances_to=null
    {AMLA_DEFAULT}
    hitpoints=60
    movement=5
    movement_type=dogfoot
    cost=37
    usage=fighter
    upkeep=2
    description= _ "..."

[abilities]
	{AE_ABILITY_SNOW_COVER}
[/abilities]

    [attack]
        name=_ "Razor Claws"
        description=_"Razor Claws"
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=10
        number=4
    [/attack]
[/unit_type]
