#textdomain wesnoth-Era_of_the_Future

[unit_type]
    id=Snowrunner
    name= _ "Snowrunner"
    race=Nordhris
    gender=male
    image=units/Nordhris/Snowrunner.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=1
    alignment=neutral
    experience=25
    advances_to=Frostdasher,Slaughterer,Farseer
    {AMLA_DEFAULT}
    hitpoints=22
    movement=8
    movement_type=dogfoot
    cost=14
    usage=scout
    description= _ "Not many can move swiftly with all the snow, slush and ice that accumulates across the land, but the Snowrunners, as their title suggests, can run over these elements swiftly and with ease. With their spear in hand and the bow only an arms reach away the snow runners can just as easily plug a hole in the lines or kill of an enemy as take a message miles in just a few hours."
    [attack]
        name=_ "Spear"
        description=_"Spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=_ "Scouting Bow"
        description=_ "Scouting Bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=3
        number=2
    [/attack]
[/unit_type]
