#textdomain wesnoth-Era_of_the_Future

[unit_type]
    id=AE_fut_Nordhris_Wildheart
    name= _ "Wildheart"
    race=AE_fut_race_Nordhris
    gender=male
    image=units/Nordhris/Wildheart.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    level=2
    alignment=lawful
    experience=56
    advances_to=AE_fut_Nordhris_Feralheart
    hitpoints=43
    movement=5
    movement_type=AE_fut_dogfoot
    cost=20
    usage=mixed_fighter
    description= _ "This unit is from the Era of the Future. It's coding, art, and ideas were done by Turuk, Mirion147, Huston, Pentarctagon, Wesfreak, Xandria, and Zerovirus.
 
Only the truly lucky or the truly skilled survive even a few battles as a Braveheart, however, those who do are automatically given a position of leadership among their peers. Their responsibilities range from training new recruits in the time in between battles to making sure that the Bravehearts are given adequate (sp?) food and weapons. Despite these responsibilities, the simple fact that they survived this long is enough to inspire their company to fight harder in the hope that they too could survive longer than a couple years."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    [abilities]
	{ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    [attack]
        name=_ "Broadsword"
        description=_ "Broadsword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
    [attack]
        name=_ "Majestic Bow"
        description=_ "Majestic Bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=6
        number=3
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
