#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_mag_Destroyers_Beast
    name= _ "Beast"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    num_traits=2
    {MAGENTA_IS_THE_TEAM_COLOR}
    image="units/destroyers-beasts/beast.png"
    hitpoints=35
    movement_type=undeadfoot
    movement=4
    experience=50
    level=1
    alignment=chaotic
    advances_to=AE_mag_Destroyers_Bone_Golem
    cost=14
    usage=warrior
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8."+{SPECIAL_NOTES}
    die_sound=skeleton-big-die-1.ogg
    {DEFENSE_ANIM "units/destroyers-beasts/beast.png" "units/destroyers-beasts/beast.png" skeleton-big-hit-1.ogg}
    [resistance]
        impact=90
        blade=60
        pierce=40
        arcane=130
        fire=110
        cold=100
    [/resistance]
    [abilities]
        #{ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=head
        description= _ "head"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=14
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=tail
        description={STR_TAIL}
        icon=attacks/blank-attack.png
        type=pierce
        range=melee
        damage=8
        number=2
        [specials]
        [/specials]
    [/attack]

    [recruit_anim]
        start_time=0
        [frame]
            duration=100
            image="units/destroyers-beasts/beast-recruit6.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-beasts/beast-recruit5.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-beasts/beast-recruit4.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-beasts/beast-recruit3.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-beasts/beast-recruit2.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-beasts/beast-recruit1.png"
        [/frame]
    [/recruit_anim]

    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        start_time=-400
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee1.png"
        [/frame]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee2.png"
        [/frame]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee3.png"
        [/frame]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee4.png"
        [/frame]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee5.png"
        [/frame]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee6.png"
        [/frame]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee7.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=50
                image="units/destroyers-beasts/beast-melee8.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=50
                image="units/destroyers-beasts/beast-melee8.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee7.png"
        [/frame]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee6.png"
        [/frame]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee5.png"
        [/frame]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee4.png"
        [/frame]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee3.png"
        [/frame]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee2.png"
        [/frame]
        [frame]
            duration=50
            image="units/destroyers-beasts/beast-melee1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
