#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_mag_Destroyers_Bone_Golem
    name= _ "Bone Golem"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    num_traits=2
    {MAGENTA_IS_THE_TEAM_COLOR}
    image="units/destroyers-beasts/bonegolem.png"
    hitpoints=53
    movement_type=undeadfoot
    movement=4
    experience=100
    level=2
    alignment=chaotic
    advances_to=AE_mag_Destroyers_Bone_Giant
    cost=34
    usage=warrior
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8."+{SPECIAL_NOTES}
    #die_sound=ghoul-hit.wav
    #{DEFENSE_ANIM "units/undead/ghoul-defend-2.png" "units/undead/ghoul-defend-1.png" ghoul-hit.wav }
    [resistance]
        impact=90
        blade=50
        pierce=30
        arcane=130
        fire=110
        cold=100
    [/resistance]
    [abilities]
        #{ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=head
        description= _ "head"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=22
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=tail
        description={STR_TAIL}
        icon=attacks/blank-attack.png
        type=pierce
        range=melee
        damage=8
        number=3
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        start_time=-200
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/destroyers-beasts/bonegolem.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/destroyers-beasts/bonegolem.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
