#textdomain wesnoth-units
#ifdef _UNUSED_
[unit_type]
#define I8UNIT_BODY_WALKING_CORPSE_STATS MOVTYPE_NAME MOVES_NUMBER HP_AMOUNT
    id=AE_Walking Corpse
    name= _ "Walking Corpse"
    race=undead
    {TRAIT_FEARLESS_MUSTHAVE}
    hitpoints={HP_AMOUNT}
    movement_type={MOVTYPE_NAME}
    movement={MOVES_NUMBER}
    level=0
    experience=50
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=8
    usage=fighter
    description= _ "Walking Corpses are the bodies of the dead, re-animated by dark magic. Though not especially dangerous to a trained soldier, the sight of one’s former comrades amongst their number is frightening to say the least."+{SPECIAL_NOTES}+{SPECIAL_NOTES_PLAGUE}
    [resistance]
        arcane=140
    [/resistance]
#enddef
#define I8UNIT_BODY_WALKING_CORPSE_ATTACK NAME ICON TYPE DMG NMBR
    [attack]
        name=touch
        description={NAME}
        icon=attacks/{ICON}
        type={TYPE}
        range=melee
        damage={DMG}
        number={NMBR}
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
#enddef
#define I8UNIT_BODY_WALKING_CORPSE_GRAPHICS NBASE_NAME
    image="units/destroyers-zombies/{NBASE_NAME}.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    die_sound={SOUND_LIST:ZOMBIE_WEAK_HIT}
    {DEFENSE_ANIM "units/destroyers-zombies/{NBASE_NAME}.png" "units/destroyers-zombies/{NBASE_NAME}.png" {SOUND_LIST:ZOMBIE_WEAK_HIT} }
    #"
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        [frame]
            begin=-200
            end=200
            image="units/destroyers-zombies/{NBASE_NAME}.png"
            sound=zombie-attack.wav
        [/frame]
    [/attack_anim]
#enddef
    {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie}
    {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 18}
    [movement_costs]
        deep_water=4
    [/movement_costs]
    [defense]
        deep_water=90
    [/defense]
    #Dark Blood Alliance
    [variation]
        variation_name=wyvern
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-wyvern}
        {I8UNIT_BODY_WALKING_CORPSE_STATS fly 6 25}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_FANGS} fangs.png pierce 7 2}
        [defense]
            mountains=40
        [/defense]
    [/variation]
    [variation]
        variation_name=toad
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-toad}
        {I8UNIT_BODY_WALKING_CORPSE_STATS (I8 frog) 4 35}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"paw" slam-drake.png impact 6 2}
    [/variation]
    [variation]
        variation_name=salamander
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-salamander}
        {I8UNIT_BODY_WALKING_CORPSE_STATS (I8 salamander) 6 20}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"wrist blade" dagger-orcish.png blade 5 2}
        [movement_costs]
            deep_water=3
            shallow_water=1
            swamp_water=1
            flat=1
            sand=2
            forest=2
            hills=1
        [/movement_costs]
        [defense]
            deep_water=80
            shallow_water=60
            swamp_water=40
            reef=60
            flat=50
            sand=60
            forest=50
            hills=50
            mountains=40
            village=50
            castle=50
            cave=50
            frozen=60
            fungus=60
        [/defense]
    [/variation]
    [variation]
        variation_name=dbashooter
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-shooter}
        {I8UNIT_BODY_WALKING_CORPSE_STATS lizard 4 20}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_CROSSBOW} crossbow-undead.png impact 3 2}
        [defense]
            sand=50
        [/defense]
    [/variation]
    [variation]
        variation_name=dbawarrior
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-lancer}
        {I8UNIT_BODY_WALKING_CORPSE_STATS lizard 4 24}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_SPEAR} spear.png pierce 5 2}
        [defense]
            sand=50
        [/defense]
    [/variation]
    [variation]
        variation_name=dbashaman
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-shamanadept}
        {I8UNIT_BODY_WALKING_CORPSE_STATS lizard 4 22}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_CLAWS} claws-drake.png blade 3 2}
        [defense]
            sand=50
        [/defense]
    [/variation]
    #Barbarians
    [variation]
        variation_name=cyclops
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-cyclop}
        {I8UNIT_BODY_WALKING_CORPSE_STATS largefoot 4 25}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_FIST} fist-human.png impact 4 2}
    [/variation]
    [variation]
        variation_name=orcbarbarian
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-southorc}
        {I8UNIT_BODY_WALKING_CORPSE_STATS orcishfoot 4 23}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_AXE} axe.png blade 3 2}
    [/variation]
    [variation]
        variation_name=orcberserker
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-orcishberserker}
        {I8UNIT_BODY_WALKING_CORPSE_STATS orcishfoot 4 21}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_CLAWS} claws.png pierce 6 2}
    [/variation]
    [variation]
        variation_name=roc
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-rocrider}
        {I8UNIT_BODY_WALKING_CORPSE_STATS fly 7 22}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_CLAWS} claws-animal.png pierce 4 2}
        [defense]
            mountains=40
        [/defense]
    [/variation]
    [variation]
        variation_name=trollbarbarian
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-troll}
        {I8UNIT_BODY_WALKING_CORPSE_STATS largefoot 4 24}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_FIST} fist-troll.png pierce 5 2}
    [/variation]
    #summoners
    [variation]
        variation_name=summoner
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-summoner}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 19}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"scimitar" scimitar.png blade 5 2}
        [defense]
            sand=60
        [/defense]
    [/variation]
    [variation]
        variation_name=dispeller
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-dispeller}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 20}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_STAFF} quarterstaff.png impact 4 2}
        [defense]
            sand=60
        [/defense]
    [/variation]
    [variation]
        variation_name=carpet
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-carpetrider}
        {I8UNIT_BODY_WALKING_CORPSE_STATS fly 6 16}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"touch" touch-zombie.png impact 3 2}
        [defense]
            cave=70
        [/defense]
    [/variation]
    [variation]
        variation_name=camel
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-camelrider}
        {I8UNIT_BODY_WALKING_CORPSE_STATS mounted 5 20}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"scimitar" scimitar.png blade 4 2}
        [defense]
            sand=60
        [/defense]
    [/variation]
    #Runemasters
    [variation]
        variation_name=dadept
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-dadept}
        {I8UNIT_BODY_WALKING_CORPSE_STATS dwarvishfoot 4 21}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_HAMMER} hammer-dwarven-runic.png impact 6 2}
        [defense]
            mountains=40
        [/defense]
    [/variation]
    [variation]
        variation_name=dwarrior
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-dwarrior}
        {I8UNIT_BODY_WALKING_CORPSE_STATS dwarvishfoot 4 22}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_SWORD} sword-human.png blade 6 2}
        [defense]
            mountains=40
        [/defense]
    [/variation]
    [variation]
        variation_name=parachutist
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-parachutist}
        {I8UNIT_BODY_WALKING_CORPSE_STATS dwarvishfoot 4 18}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_DAGGER} dagger-human.png blade 4 2}
        [defense]
            mountains=40
        [/defense]
    [/variation]
    [variation]
        variation_name=mechanic
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-mechanic}
        {I8UNIT_BODY_WALKING_CORPSE_STATS dwarvishfoot 4 21}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"screwdriver" screwdriver.png pierce 3 2}
        [defense]
            mountains=40
        [/defense]
    [/variation]
    #Sky Kingdom
    [variation]
        variation_name=elementalist
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-elementalist}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 18}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_STAFF} staff-magic.png impact 4 1}
    [/variation]
    [variation]
        variation_name=battlemage
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-enlightened-battlemage}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 19}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"touch" touch-zombie.png impact 3 2}
    [/variation]
    [variation]
        variation_name=diversalmage
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-enlightened-diversalmage}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 18}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_STAFF} staff-magic.png impact 6 1}
    [/variation]
    [variation]
        variation_name=hiddenface
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-hiddenface}
        {I8UNIT_BODY_WALKING_CORPSE_STATS elusivefoot 5 19}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_DAGGER} dagger-human.png blade 2 4}
    [/variation]
    [variation]
        variation_name=mysticmu
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-mysticmu}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 50}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_FIST} touch-undead.png impact 5 10}
    [/variation]
    #Kharos
    [variation]
        variation_name=cleric
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-cleric}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 18}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_STAFF} staff-magic.png impact 4 1}
    [/variation]
    [variation]
        variation_name=sister
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-sister}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 17}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"touch" touch-zombie.png impact 2 1}
    [/variation]
    [variation]
        variation_name=angel
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-childoflight}
        {I8UNIT_BODY_WALKING_CORPSE_STATS fly 6 18}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"touch" touch-zombie.png impact 10 1}
    [/variation]
    [variation]
        variation_name=shielder
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-shielder}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 20}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_SPEAR} spear.png pierce 4 2}
    [/variation]
    [variation]
        variation_name=wwarrior
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-whitewarrior}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 20}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_SWORD} sword-human-short.png pierce 5 2}
    [/variation]
    [variation]
        variation_name=fanatic
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-slicer}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 18}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_STAFF} staff-magic.png impact 4 1}
    [/variation]
    [variation]
        variation_name=banner
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-warbanner}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 30}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"touch" touch-zombie.png impact 10 1}
    [/variation]
    #Tharis
    [variation]
        variation_name=hydra
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-hydra}
        {I8UNIT_BODY_WALKING_CORPSE_STATS naga 4 24}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK (STR_FANGS) fangs.png pierce 5 3}
    [/variation]
    [variation]
        variation_name=disciple
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-disciple}
        {I8UNIT_BODY_WALKING_CORPSE_STATS (I8 defoot) 4 18}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"touch" touch-zombie.png impact 3 1}
    [/variation]
    [variation]
        variation_name=witch
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-witch}
        {I8UNIT_BODY_WALKING_CORPSE_STATS smallfoot 4 18}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK {STR_SPEAR} spear.png pierce 5 2}
    [/variation]
    [variation]
        variation_name=bladedancer
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-bladedancer}
        {I8UNIT_BODY_WALKING_CORPSE_STATS (I8 deelusive) 4 18}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"chakram" chakram.png blade 3 3}
    [/variation]
    [variation]
        variation_name=hunter
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-hunter}
        {I8UNIT_BODY_WALKING_CORPSE_STATS (I8 deelusive) 4 19}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"knives" claws.png blade 4 2}
    [/variation]
    [variation]
        variation_name=darkwarrior
        {I8UNIT_BODY_WALKING_CORPSE_GRAPHICS zombie-darkwarrior}
        {I8UNIT_BODY_WALKING_CORPSE_STATS (I8 defoot) 4 20}
        {I8UNIT_BODY_WALKING_CORPSE_ATTACK _"daggers" dagger-orcish.png blade 4 3}
    [/variation]
[/unit_type]
#endif
