#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_mag_Destroyers_Cyclops_Skeleton
    name= _ "Cyclops Skeleton"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_DEXTROUS}
    {TRAIT_RESILIENT}
    {TRAIT_INTELLIGENT}
    num_traits=2
    {MAGENTA_IS_THE_TEAM_COLOR}
    image="units/destroyers-cyclops/cyclop1.png"
    hitpoints=36
    movement_type=armoredfoot
    movement=5
    experience=65
    level=1
    alignment=neutral
    advances_to=AE_mag_Destroyers_Legendary_Cyclops
    cost=19
    usage=archer
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8."+{SPECIAL_NOTES}
    #die_sound=skeleton-big-die.ogg
    {DEFENSE_ANIM "units/destroyers-cyclops/cyclop1.png" "units/destroyers-cyclops/cyclop1.png" skeleton-hit-1.ogg}
    [resistance]
        impact=80
        blade=110
        pierce=100
        arcane=110
        fire=60
        cold=60
    [/resistance]
    [movement_costs]
        deep_water=2
        shallow_water=2
    [/movement_costs]
    [defense]
        deep_water=90
        shallow_water=80
        fungus=40
    [/defense]
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=head
        description= _ "head"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=5
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=eye
        description= _ "eye"
        icon=attacks/gaze.png
        type=cold
        range=ranged
        damage=15
        number=1
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=eye2
        description= _ "eye"
        icon=attacks/gaze.png
        type=arcane
        range=ranged
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]

    [recruit_anim]
        start_time=0
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die5c.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die5b.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die5a.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die4.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die3.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die2.png"
        [/frame]
        [frame]
            duration=75
            image="units/destroyers-cyclops/cyclop1-die1.png"
        [/frame]
    [/recruit_anim]

    [death]
        start_time=0
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die1.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die2.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die3.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die4.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die5a.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die5b.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die5c.png"
        [/frame]
    [/death]

    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        hits=yes
        start=-100
        [frame]
            duration=200
            image="units/destroyers-cyclops/cyclop1.png"
            sound=mace.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        hits=no
        start=-100
        [frame]
            duration=200
            image="units/destroyers-cyclops/cyclop1.png"
            sound={SOUND_LIST:MISS}
        [/frame]
    [/attack_anim]
#define DESCYCLOP_LASER VARIATION DIR HALO_X HALO_Y IMAGE
    [attack_anim]
        [filter_attack]
            name=eye,eye2
        [/filter_attack]
        direction={DIR}
        [missile_frame]
            begin=-100
            end=100
            image=""
        [/missile_frame]
        [frame]
            begin=-300
            end=-200
            image={IMAGE}
            halo=halo/laser-{VARIATION}-1.png:100
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=-200
            end=-100
            image={IMAGE}
            sound="magic-dark-big.ogg"
            halo=halo/laser-{VARIATION}-2.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=-100
            end=0
            image={IMAGE}
            sound="magic-dark-big.ogg"
            halo=halo/laser-{VARIATION}-3.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=0
            end=100
            image={IMAGE}
            halo=halo/laser-{VARIATION}-4.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=100
            end=200
            image={IMAGE}
            halo=halo/laser-{VARIATION}-5.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=200
            end=300
            image={IMAGE}
            halo=halo/laser-{VARIATION}-2.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
    [/attack_anim]
#enddef
    # The three variations for the north direction:
    {DESCYCLOP_LASER 1 n 0 -39 "units/destroyers-cyclops/cyclop1.png"}
    # The three variations for the south direction:
    {DESCYCLOP_LASER 2 s 0 27 "units/destroyers-cyclops/cyclop1.png"}
    # And so on...
    {DESCYCLOP_LASER 3 ne 27 -26 "units/destroyers-cyclops/cyclop1.png"}
    {DESCYCLOP_LASER 3 nw 27 -26 "units/destroyers-cyclops/cyclop1.png"}
    {DESCYCLOP_LASER 4 se 27 12 "units/destroyers-cyclops/cyclop1.png"}
    {DESCYCLOP_LASER 4 sw 27 12 "units/destroyers-cyclops/cyclop1.png"}
[/unit_type]
