#textdomain wesnoth-Ageless_Era

[race]
    id=AE despair
    male_name= _ "race^AE Despair"
    female_name= _ "race+female^AE Despair"
    plural_name= _ "race^AE Despair"
    num_traits=2
    {AE_ARCHAIC_TRAIT_PHANTOM}
    description= _ "This race is from Archaic Era. It's coding and art were done by doofus-01.
 
As Huric's rule came to a close and the orcs began reclaiming Ukian territory, many of the human forces were slain. Somehow the dead continue to roam the tundra, but unlike ghosts, they are not slaves to practioners of Necromancy. Instead, they are slaves to their own desires for revenge."
    markov_chain_size=2
    {HUMAN_NAMES}
[/race]
[race]
    id=AE despair_wisp
    male_name= _ "race^AE Wisp"
    female_name= _ "race+female^AE Wisp"
    plural_name= _ "race^AE Wisps"
    num_traits=1
    {AE_ARCHAIC_TRAIT_PHANTOM}
    description= _ "This race is from Archaic Era. It's coding and art were done by doofus-01.
 
..."
    #	markov_chain_size=2
    #	{HUMAN_NAMES}
[/race]

[movetype]
    name=AE_arc_despair_foot
    [movement_costs]
        shallow_water=2
        deep_water=3
        reef=2
        swamp_water=2
        flat=1
        sand=2
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=2
        fungus=1
    [/movement_costs]

    [defense]
        shallow_water=60
        deep_water=60
        reef=60
        swamp_water=60
        flat=60
        sand=60
        forest=50
        hills=50
        mountains=50
        village=40
        castle=40
        cave=50
        frozen=60
        fungus=50
    [/defense]

    [resistance]
        blade=80
        pierce=80
        impact=80
        fire=100
        cold=90
        arcane=120
    [/resistance]
[/movetype]

[movetype]
    name=AE_arc_despair_move_Cloak
    [movement_costs]
        shallow_water=1
        deep_water=2
        reef=1
        swamp_water=1
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=1
        fungus=2
        unwalkable=2
        impassable=4
    [/movement_costs]

    [defense]
        shallow_water=50
        deep_water=50
        reef=50
        swamp_water=50
        flat=50
        sand=50
        forest=50
        hills=50
        mountains=50
        village=50
        castle=50
        cave=50
        frozen=50
        fungus=50
        unwalkable=50
        impassable=50
    [/defense]

    [resistance]
        blade=60
        pierce=60
        impact=60
        fire=100
        cold=60
        arcane=130
    [/resistance]
[/movetype]

[movetype]
    name=AE_arc_despair_fighter
    [movement_costs]
        shallow_water=2
        deep_water=3
        reef=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=1
        fungus=2
    [/movement_costs]

    [defense]
        shallow_water=60
        deep_water=60
        reef=50
        swamp_water=50
        flat=60
        sand=60
        forest=40
        hills=50
        mountains=50
        village=40
        castle=40
        cave=60
        frozen=60
        fungus=50
    [/defense]

    [resistance]
        blade=70
        pierce=70
        impact=80
        fire=110
        cold=100
        arcane=120
    [/resistance]
[/movetype]

[movetype]
    name=AE_arc_despair_spirit
    [movement_costs]
        shallow_water=1
        deep_water=1
        reef=1
        swamp_water=1
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=1
        fungus=2
        unwalkable=1
        impassable=2
    [/movement_costs]

    [defense]
        shallow_water=50
        deep_water=50
        reef=50
        swamp_water=50
        flat=50
        sand=50
        forest=50
        hills=50
        mountains=50
        village=40
        castle=40
        cave=40
        frozen=50
        fungus=50
        unwalkable=50
        impassable=50
    [/defense]

    [resistance]
        blade=80
        pierce=80
        impact=80
        fire=100
        cold=90
        arcane=150
    [/resistance]
[/movetype]
