#textdomain wesnoth-Ageless_Era

[race]
    id=AE phantom_wales
    male_name= _ "race^AE Phantom"
    female_name= _ "race+female^AE Phantom"
    plural_name= _ "race^AE Phantom"
    num_traits=2
    {AE_ARCHAIC_TRAIT_PHANTOM}
    description= _ "This race is from Archaic Era. It's coding and art were done by doofus-01.
 
As Huric's rule came to a close and the orcs began reclaiming Ukian territory, many of the human forces were slain. Somehow the dead continue to roam the tundra, but unlike ghosts, they are not slaves to practioners of Necromancy. Instead, they are slaves to their own desires for revenge."
    markov_chain_size=2
    {HUMAN_NAMES}
[/race]
[race]
    id=AE phantom_egypt
    male_name= _ "race^AE Ancient Phantom"
    female_name= _ "race+female^AE Ancient Phantom"
    plural_name= _ "race^AE Ancient Phantom"
    num_traits=2
    {AE_ARCHAIC_TRAIT_PHANTOM}
    description= _ "This race is from Archaic Era. It's coding and art were done by doofus-01.
 
..."
    markov_chain_size=2

    male_names=_  "Abasi, Abayomi, Adio, Adofo, Akhenaten, Akiiki, Amenhotep, Azibo, Baba, Badru, Bakari, Bomani, Chatuluka, Cheops, Chigaru, Dakarai, Darius, Darwishi, Donkor, Edfu, Fadil, Gahigi, Garai, Hamadi, Hanif, Hapu, Hasani, Heru, Horemheb, Idogbe, Ishaq, Jabari, Jumoke, Kek, Khalfani, Khnurun, Lateef, Makalani, Manu, Matsimela, Menkaura"
    female_names=_  "Acenath, Ain, Akila, Anippe, Aziza, Bahiti, Bastet, Bennu, Chione, Dalila, Dendera, Eboni, Eshe, Fukayana, Habibah, Halima, Haqika, Hasina, Hathor, Hatsheput, Heqet, Ife, Jamila, Jendaya, Kakra, Kanika, Kesi, Khepri, Kissa, Lapis, Layla, Lotus, Mafuane, Maibe, Mandisa, Meht Urt, Mert Ekert, Meskhenet, Nathifa, Nefertiti"
[/race]

[race]
    id=AE phantom_spirit
    male_name= _ "race^AE Ancient Spirit"
    female_name= _ "race+female^AE Ancient Spirit"
    plural_name= _ "race^AE Ancient Spirit"
    num_traits=1
    {AE_ARCHAIC_TRAIT_PHANTOM}
    description= _ "This race is from Archaic Era. It's coding and art were done by doofus-01.
 
..."
    markov_chain_size=1
    # temporary names
    male_names=_  "Aha, Bhe, Coh, Dhan, Eth, Fye, Gra, Het, Ish, Khur, Leth, Mahg, Nyth, Oro, Re"
    female_names=_  "Ara, Ba, Cam, Dra, Era, Fea, Goa, Hae, Ira"
[/race]

[movetype]
    name=phantomfoot
    [movement_costs]
        shallow_water=2
        deep_water=2
        reef=2
        swamp_water=1
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=2
        fungus=1
    [/movement_costs]

    [defense]
        shallow_water=50
        deep_water=50
        reef=50
        swamp_water=50
        flat=50
        sand=60
        forest=50
        hills=50
        mountains=50
        village=50
        castle=50
        cave=50
        frozen=60
        fungus=50
    [/defense]

    [resistance]
        blade=90
        pierce=70
        impact=80
        fire=110
        cold=100
        arcane=130
    [/resistance]
[/movetype]

[movetype]
    name=phantom_cloak
    [movement_costs]
        shallow_water=1
        deep_water=2
        reef=1
        swamp_water=1
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=1
        fungus=2
    [/movement_costs]

    [defense]
        shallow_water=60
        deep_water=60
        reef=50
        swamp_water=50
        flat=60
        sand=60
        forest=50
        hills=50
        mountains=50
        village=40
        castle=40
        cave=50
        frozen=50
        fungus=50
    [/defense]

    [resistance]
        blade=90
        pierce=80
        impact=90
        fire=120
        cold=90
        arcane=130
    [/resistance]
[/movetype]

[movetype]
    name=phantom_fighter
    [movement_costs]
        shallow_water=2
        deep_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=1
        frozen=1
        fungus=2
    [/movement_costs]

    [defense]
        shallow_water=60
        deep_water=60
        reef=50
        swamp_water=50
        flat=60
        sand=50
        forest=50
        hills=50
        mountains=50
        village=40
        castle=40
        cave=60
        frozen=60
        fungus=50
    [/defense]

    [resistance]
        blade=80
        pierce=70
        impact=80
        fire=130
        cold=100
        arcane=130
    [/resistance]
[/movetype]

[movetype]
    name=phantom_spirit
    [movement_costs]
        shallow_water=1
        deep_water=1
        reef=1
        swamp_water=1
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=1
        fungus=2
    [/movement_costs]

    [defense]
        shallow_water=50
        deep_water=50
        reef=50
        swamp_water=50
        flat=60
        sand=50
        forest=50
        hills=50
        mountains=50
        village=40
        castle=40
        cave=40
        frozen=60
        fungus=50
    [/defense]

    [resistance]
        blade=80
        pierce=80
        impact=80
        fire=100
        cold=110
        arcane=110
    [/resistance]
[/movetype]
