#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_orcs_Orcish_Grunt
    [base_unit]
        id=Orcish Grunt
    [/base_unit]
    advances_to=Orcish Warrior, AE_arc_orcs_Orcish_Fireline
[/unit_type]
