#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE Stork Rider
    name= _ "Marabou Stork"
    race=goblin
    image="units/orcs/stork-rider.png"
    #    profile="portraits/goblins/wolf-rider.png"
    [standing_anim]
        start_time=-50
        [frame]
            image="units/orcs/stork-rider.png"
            duration=50
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=-50
        terrain_type=Wo,Ww,Ww^Vm,Chs,Chw,Ss
        [frame]
            image="units/orcs/stork-rider.png"
            #            image="units/goblins/wolf-rider-water.png"
            duration=50
        [/frame]
    [/standing_anim]
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=32
    movement_type=naga
    movement=8
    experience=30
    level=1
    alignment=chaotic
    advances_to=AE Stork Master
    undead_variation=mounted
    cost=17
    usage=scout
    description= _ "This unit is from Archaic Era. It's coding and art were done by doofus-01.
 
..."
    die_sound=gryphon-die-2.ogg
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/orcs/stork-rider.png"
        [/frame]
    [/movement_anim]
    {DEFENSE_ANIM "units/orcs/stork-rider.png" "units/orcs/stork-rider.png" gryphon-hit-2.ogg }
    [defense]
        village=50
    [/defense]
    [attack]
        name=beak
        description= _ "beak"
        icon=attacks/beak.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=beak
        [/filter_attack]
        [if]
            hits=no
            [frame]
                begin=-250
                end=-200
                image="units/orcs/stork-rider.png"
                sound=miss-2.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-250
                end=-200
                image="units/orcs/stork-rider.png"
                sound=gryphon-shriek-1.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            image="units/orcs/stork-rider.png"
        [/frame]
        [frame]
            begin=-100
            end=50
            image="units/orcs/stork-rider.png"
        [/frame]
        [frame]
            begin=50
            end=100
            image="units/orcs/stork-rider.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/orcs/stork-rider.png"
        [/frame]
    [/attack_anim]
[/unit_type]
