#textdomain wesnoth-Ageless_Era

# WML gettext helper file to allow for easy inclusion of mainline tstrings that
# are commonly used throughout this campaign, without needing to embed textdomain
# declarations inside other files, which may be confusing and prone to human errors.
# They also shut up a bunch of wmllint warnings on "multiple textdomains"

################################ TEXTDOMAIN "wesnoth-units" ################################
#textdomain wesnoth-units

#define STR_BITE
_"bite" #enddef
#define STR_CLAWS
_"claws" #enddef
#define STR_ENSNARE
_"ensnare" #enddef
#define STR_RAM
_"ram" #enddef
#define STR_SWORD
_ "sword" #enddef
#define STR_AXE
_"axe" #enddef
#define STR_CROSSBOW
_"crossbow" #enddef
#define STR_BERSERK
_"berserker frenzy" #enddef
#define STR_THORNS
_"thorns" #enddef
#define STR_STAFF
_"staff" #enddef
#define STR_ENTANGLE
_"entangle" #enddef
#define STR_FAERIE_FIRE
_"faerie fire" #enddef
#define STR_SCIMITAR
_"scimitar" #enddef
#define STR_FIRE_BREATH
_"fire breath" #enddef
#define STR_FIST
_"fist" #enddef
#define STR_WATER_SPRAY
_"water spray" #enddef
#define STR_DAGGER
_"dagger" #enddef
#define STR_KNIFE
_"knife" #enddef
#define STR_FANGS
_"fangs" #enddef
#define STR_BOW
_"bow" #enddef
#define STR_CRUSH
_"crush" #enddef
#define STR_MORNING_STAR
_"morning star" #enddef
#define STR_FIREBALL
_"fireball" #enddef
#define STR_BATTLE_AXE
_"battle axe" #enddef
#define STR_TENTACLE
_"tentacle" #enddef
#define STR_PINCERS
_"pincers" #enddef
#define STR_WEB
_"web" #enddef
#define STR_TAIL
_"tail" #enddef
#define STR_PLAGUE_STAFF
_"plague staff" #enddef
#define STR_CLUB
_"club" #enddef
#define STR_JAVELIN
_"javelin" #enddef
#define STR_SPEAR
_"spear" #enddef
#define STR_TOUCH
_"touch" #enddef
#define STR_LIGHTNING
_"lightning" #enddef
#define STR_LIGHTBEAM
_"lightbeam" #enddef
#define STR_WAIL
_"wail" #enddef
#define STR_LANCE
_"lance" #enddef
#define STR_SKELETON
_"Skeleton" #enddef
#define STR_BATTLE_AXE
_"battle axe" #enddef
#define STR_SWORD
_"sword" #enddef
#define STR_GREATSWORD
_"greatsword" #enddef
#define STR_SHORT_SWORD
_"short sword" #enddef
#define STR_CLAWS
_"claws" #enddef
#define STR_FANGS
_"fangs" #enddef
#define STR_TENTACLE
_"tentacle" #enddef
#define STR_AXE
_"axe" #enddef
#define STR_BOW
_"bow" #enddef
#define STR_CLUB
_"club" #enddef
#define STR_SPEAR
_"spear" #enddef
#define STR_FIST
_"fist" #enddef
#define STR_CROSSBOW
_"crossbow" #enddef
#define STR_BERSERK_ATTACK_NAME
_"berserker frenzy" #enddef
#define STR_THORNS_ATTACK_NAME
_"thorns" #enddef
#define STR_STAFF_ATTACK_NAME
_"staff" #enddef
# HACK:
#define STR_STAFF
_"staff" #enddef
#define STR_ENTANGLE_ATTACK_NAME
_"entangle" #enddef
#define STR_ENSNARE_ATTACK_NAME
_"ensnare" #enddef
#define STR_FAERIE_FIRE_ATTACK_NAME
_"faerie fire" #enddef
#define STR_GOSSAMER
_"gossamer" #enddef
#define STR_FIREBALL
_"fireball" #enddef
#define STR_JAVELIN
_"javelin" #enddef
#define STR_DAGGER
_"dagger" #enddef
#define STR_TAIL
_"tail" #enddef
#define STR_KNIFE
_"knife" #enddef
#define STR_MORNING_STAR
_"morning star" #enddef
#define STR_NET
_"net" #enddef
#define STR_FIRE_BREATH
_"fire breath" #enddef
#define STR_WATER_SPRAY
_"water spray" #enddef
#define STR_WEB
_"web" #enddef
#define STR_CRUSH
_"crush" #enddef
#define STR_PINCERS
_"pincers" #enddef
#define STR_MUD_GLOB
_"mud glob" #enddef
#define STR_SLAM
_"slam" #enddef
#define STR_RUNIC_HAMMER
_"runic hammer" #enddef
#define STR_TOUCH
_"touch" #enddef
#define STR_PLAGUE_STAFF
_"plague staff" #enddef
#define STR_KICK
_"kick" #enddef
#define STR_LANCE
_"lance" #enddef
#define STR_LIGHTBEAM
_"lightbeam" #enddef
#define STR_SABER
_"saber" #enddef
#define STR_PIKE
_"pike" #enddef
#define STR_HALBERD
_"halberd" #enddef
#define STR_HAMMER
_"hammer" #enddef
#define STR_TORCH
_"torch" #enddef
#define STR_THUNDERSTICK
_"thunderstick" #enddef
#define STR_MAGIC_MISSILE
_"magic missile" #enddef
#define STR_MACE
_"mace" #enddef
