#textdomain wesnoth-Ageless_Era

## | Mercenaries Era Special Notes

#define SPECIAL_NOTES_PLAGUE_HIVE_GNAT
_" Foes who lose their life to this unit will become infested and release a Hive Gnat unless they are standing on a village, or are non living." #enddef

#define SPECIAL_NOTES_PLAGUE_SLAV
_" Foes who are defeated by this unit are taken as slaves unless they can hide in a town. Slavers have little interest in the undead or constructs as they know not how to control them." #enddef

#define SPECIAL_NOTES_CHARM
_ " When this attack is used defensively, this unit takes one third less damage in retaliation." #enddef

#define SPECIAL_NOTES_CONCENTRATED
_ "This unit must concentrate its weapon on the enemy, and its damage increases by 1 with each successful hit." #enddef

#define SPECIAL_NOTES_CURSED
_" This Unit uses a cursed weapon which drains 2 hp of his lifepoints everytime it strikes" #enddef

#define SPECIAL_NOTES_LATCH
_" This unit attaches to enemies when it hits them" #enddef

#define SPECIAL_NOTES_SPORES
_" This unit sprays spores nearby after using this ability." #enddef

#define SPECIAL_NOTES_SUICIDE
_" This Unit dies instantly when it strikes." #enddef

#define SPECIAL_NOTES_AQUATIC
_ "This unit has gills and needs water to survive, if on land without water it loses 4 hp a turn, on land with some water it loses 2 hp a turn." #enddef
