#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Hessian
    name= _ "Hessian"
    race=AE Mercenaries
    image="units/mercenaries/hessian.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=53
    movement_type=mercfootsoldier2
    movement=5
    experience=76
    level=2
    alignment=neutral
    advances_to=AE Mercenary Man_at_Arms,AE Mercenary Soldier_of_Fortune
    cost=27
    usage=fighter
    description= _ "Many mercenaries learn to love their weapons with an undying passion. This leads them to similarly... not die. They've come to learn how to wield many weapons of their trade quite well and are a force to be reckoned with on the battlefield."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "hessian.png" "hessian.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]
    [attack]
        name=spear
        description= _ "spear"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=mace
        description= _ "mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=12
        number=2
    [/attack]
[/unit_type]
