#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Slasher
    name= _ "Slasher"
    race=AE Mercenaries
    image="units/mercenaries/slasher.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=48
    movement_type=merclight2
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=36
    usage=fighter
    description= _ "While many pickpockets spend their money on food to live, some of them spend their money on more luxurious blades to stick into the backs of their prey. These dangerous assassins are called Slashers because of the many slice wounds on their victims, that seem to be from a bowie knife."

    [resistance]
        blade=90
        impact=110
        pierce=130
    [/resistance]
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "slasher.png" "slasher.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=knife
        description= _ "knife"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
[/unit_type]
