#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Hitman
    name= _ "Hitman"
    race=AE Mercenaries
    image="units/mercenaries/hitman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=58
    movement_type=merclight1
    movement=6
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=50
    usage=fighter
    description= _ "While there are many Assassins in the Knalgan alliance, the hitmen in the Mercenary guild are much more brutal. They carry scythes specialized to decapitate their opponents from behind."
    [resistance]
        blade=110
        impact=110
        pierce=130
    [/resistance]
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "hitman.png" "hitman.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=scythe
        description= _ "scythe"
        icon=attacks/scythe.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=knife
        description= _ "knife"
        icon=attacks/dagger-thrown-poison-human.png
        type=blade
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
[/unit_type]
