#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Mercenary Sailer
    name= _ "Sailor"
    race=AE Mercenaries
    image="units/mercenaries/sailor.png"
    ellipse="misc/ellipse"
    hitpoints=38
    movement_type=mercsail
    {MAGENTA_IS_THE_TEAM_COLOR}
    movement=5
    experience=40
    level=1
    alignment=neutral
    advances_to=AE Mercenary Pirate,AE Mercenary Seafarer
    undead_variation=swimmer
    cost=17
    usage=fighter
    description= _ "Sailors are keen in the ocean, though not naturally so like mermen they can still hold their own in the water. They do have one advantage over those fish though, thier ability to attack amphibiously. These salty sailors grew up on land, and therefore have a pair of sealegs and the ability to hold their own without their feet in the water."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "sailor.png" "sailor.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=saber
        description= _ "Sabre"
        icon=attacks/saber-human.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
[/unit_type]
