#textdomain wesnoth-Ageless_Era

{GET_AE_UNITS misc_units/dark_legion}
{GET_AE_UNITS misc_units/steelhive}
{GET_AE_UNITS misc_units/desert-elves}
{GET_AE_UNITS misc_units/yokai}
{GET_AE_UNITS misc_units/frozen}
