#textdomain wesnoth-Archaic_Era

# I may add more unit types, but just this one for now...

[unit_type]
    id=Afflicted Woodsman
    [base_unit]
        id=Woodsman
    [/base_unit]
    hide_help=yes
    [event]
        name=prerecruit
        first_time_only=no # I hate this
        [filter]
            type=Afflicted Woodsman
        [/filter]
        {ARCHAIC_KHTHONIZED (x,y=$x1,$y1)}
    [/event]
[/unit_type]
