#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Swiftfoot
    name= _ "Swiftfoot"
    race=AE primeval
    gender=female
    image="units/primeval/swift.png"
    profile="portraits/swift.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=29
    movement_type=primevalfast
    movement=7
    experience=38
    level=1
    alignment=chaotic
    advances_to=AE Striker, AE Slasher
    cost=14
    usage=scout
    description= _ "This unit is from Archaic Era. It's coding and art were done by doofus-01.
 
The Primeval Swiftfoots are a basic component of the Primeval forces, mostly serving as scouts.
Special Note:" +{SPECIAL_NOTES_REGENERATES}
    die_sound=lich-die.ogg
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=staff
        description= _ "Staff"
        type=impact
        range=melee
        damage=5
        number=3
        icon=attacks/quarterstaff.png
    [/attack]
    {DEFENSE_ANIM "units/primeval/swift-defend.png" "units/primeval/swift-defend.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/primeval/swift-defend.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/primeval/swift-attack.png"
                sound=club.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/primeval/swift-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/primeval/swift-defend.png"
        [/frame]
    [/attack_anim]
[/unit_type]
