#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Slasher
    name= _ "Escort"
    race=AE primeval
    gender=female
    image="units/primeval/slasher.png"
    profile="portraits/protector.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=49
    movement_type=primevalfast
    movement=6
    experience=71
    level=2
    alignment=chaotic
    advances_to=AE Protector
    cost=32
    usage=scout
    description= _ "This unit is from Archaic Era. It's coding and art were done by doofus-01.
 
The Primeval Escorts ...
Special Note:"+{SPECIAL_NOTES_REGENERATES}
    die_sound=lich-die.ogg

    [resistance]
        blade=90
        pierce=90
    [/resistance]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=chakram
        description= _ "Quoit"
        type=blade
        range=ranged
        damage=6
        number=2
        icon=attacks/chakram.png
    [/attack]
    [attack]
        name=glaive
        description= _ "Glaive"
        type=blade
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        icon=attacks/glaive.png
    [/attack]
    {DEFENSE_ANIM "units/primeval/arbiter-defend.png" "units/primeval/arbiter-defend.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    [attack_anim]
        [filter_attack]
            name=chakram
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/chakram.png"
        [/missile_frame]
        [frame]
            begin=-350
            end=-250
            image="units/primeval/arbiter-defend.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-250
                end=50
                # fix this                image="units/primeval/arbiter-ranged.png"
                image="units/primeval/slasher.png"
                sound=throwing-knife.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-250
                end=50
                image="units/primeval/slasher.png"
                sound=throwing-knife-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=glaive
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/primeval/arbiter-defend.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/primeval/arbiter-attack.png"
                sound=sword-1.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/primeval/arbiter-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/primeval/arbiter-defend.png"
        [/frame]
    [/attack_anim]
[/unit_type]
