#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Warrior
    name= _ "Warrior"
    race=AE primeval
    image="units/primeval/warrior.png"
    profile="portraits/dogface.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=64
    movement_type=primevalstrong
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=70
    usage=fighter
    description= _ "This unit is from Archaic Era. It's coding and art were done by doofus-01.
 
The Primeval Warriors ...
Special Note:" {SPECIAL_NOTES_SLOW} {SPECIAL_NOTES_REGENERATES}
    die_sound=lich-die.ogg
    [resistance]
        blade=70
        pierce=90
        impact=70
    [/resistance]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=axe
        description= _ "Axe"
        type=blade
        range=melee
        damage=16
        number=2
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        icon=attacks/BMRaxe.png
    [/attack]
    # fix this
    {DEFENSE_ANIM "units/primeval/warrior.png" "units/primeval/warrior.png" {SOUND_LIST:DRAKE_HIT}}
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        [frame]
            begin=-200
            end=-50
            image="units/primeval/warrior.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=100
                image="units/primeval/warrior.png"
                sound=axe.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=100
                image="units/primeval/warrior.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/primeval/warrior.png"
        [/frame]
    [/attack_anim]
[/unit_type]
