#textdomain wesnoth-Ageless_Era
[unit_type]
    [base_unit]
        id=Troll Whelp
    [/base_unit]
    id=AE_ext_northerns_Troll_Whelp
    advances_to=Troll,Troll Rocklobber,AE_ext_northerns_Troll_Shaman
    #hide_help=yes
    description= _ "This unit is from Extended Era. It's coding and art were done by the Various people who created Extended Era."
[/unit_type]
