#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Magog
    name= _ "Magog"
    race=Infernai
    gender=male
    image="units/fiends/magog.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=53
    movement_type=infernaifoot
    movement=5
    experience=78
    level=2
    alignment=chaotic
    advances_to=AE Infernai Incubus
    die_sound={SOUND_LIST:ORC_DIE}
    cost=29
    usage=archer
    description= _ "The burning magma of the underworld is thousands times hotter than that which comes out of volcanoes on the surface. When a gog has reached maturity it is doused in the boiling lava as a sign of age, this superheated magma burns away the seal on their sin-core allowing them to grow multiple horns."

    [resistance]
        fire=35
        cold=140
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:ORC_HIT} }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-flaming.png
        type=blade
        range=melee
        damage=10
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Fireball
        description= _ "Fireball"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=10
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
