#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Infernai Evil Essence
    name= _ "Evil Essence"
    race=undead
    gender=male
    image="units/fiends/evilessence.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=32
    movement_type=infernaifly
    movement=7
    experience=71
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=wail-long.wav
    cost=35
    usage=scout
    description= _ "
"

    [resistance]
        arcane=120
        blade=50
        impact=50
        pierce=50
        fire=90
        cold=40
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" wail.wav }

    [attack]
        name=Touch
        description= _ "Touch"
        icon=attacks/touch-undead.png
        type=arcane
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=Wail
        description= _ "Wail"
        icon=attacks/wail.png
        type=cold
        range=ranged
        damage=11
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
