#textdomain wesnoth-Ageless_Era

### | Era of Magic Custom RPG Factions

## | Barbarians - RPG

[multiplayer_side]
    id=AE Barbarians
    name= _ "EoMa - Barbarians"
    image="units/barbarians/archer.png~RC(magenta>red)"
    type=AE_mag_Barbarians_Orcish_Warrior
    leader=AE_mag_Barbarians_Cyclops,AE_mag_Barbarians_Orcish_Warrior,AE_mag_Barbarians_Goblin_Runt,AE_mag_Barbarians_Goblin_Warbanner,AE_mag_Barbarians_Goblin_Archer,AE_mag_Barbarians_Roc_Rider,AE_mag_Barbarians_Troll_Sorcerer,AE_mag_Barbarians_Barbarian_Berserker
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dark Blood Alliance - RPG

[multiplayer_side]
    id=AE Dark Blood Alliance
    name= _ "EoMa - Dark Blood Alliance"
    image="units/darkblood/shamanadept.png~RC(magenta>red)"
    type=AE ShamanAdept
    leader=AE Toad,AE Lancer,AE ShamanAdept,AE Shooter,AE Wyvern,AE WyvernLancerRecruit,AE ZSalamander
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Enlightened Ones - RPG

[multiplayer_side]
    id=AE Sky Kingdom
    name= _ "EoMa - Sky Kingdom"
    image="units/enlightened/enlightened-battlemage.png~RC(magenta>red)"
    type=AE enlightened_battlemage
    leader=AE enlightened_battlemage,AE enlightened_subversivemage,AE Elementalist,AE Golem,AE Mu,AE enlightened_hiddenface,AE MagicalEye
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Kharos - RPG

[multiplayer_side]
    id=AE Kharos
    name= _ "EoMa - Kharos"
    image="units/kharos/whitewarrior.png~RC(magenta>red)"
    type=AE Kharos_SunWhitewarrior
    leader=AE Kharos_SunWhitewarrior,AE Kharos_LightAdept,AE Kharos_SunShielder,AE Kharos_SunSlicer,AE Kharos_SunCavalryArcher,AE Kharos_Warbanner,AE Kharos_LightSister
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Runemasters - RPG

[multiplayer_side]
    id=AE Runemasters
    name= _ "EoMa - Runemasters"
    image="units/ancient_dwarves/warrior.png~RC(magenta>red)"
    type=AE_mag_Runemasters_Dwarvish_Warrior
    leader=AE_mag_Runemasters_Striding_Machine,AE_mag_Runemasters_Steam_Ulfserker,AE_mag_Runemasters_Dwarvish_Warrior,AE_mag_Runemasters_Mechanic,AE_mag_Runemasters_Runeadept,AE_mag_Runemasters_Balloon
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Summoners - RPG

[multiplayer_side]
    id=AE Al-Kamija
    name= _ "EoMa - Al Kamija"
    image="units/summoners/rhami.png~RC(magenta>red)"
    type=AE Summoner
    leader=AE Summoner,AE Enchanted,AE Jinn,AE Rhami,AE Elemental_fire,AE Elemental_water,AE CamelRider,AE CarpetRider
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Warlocks - RPG

[multiplayer_side]
    id=AE Tharis
    name= _ "EoMa - Tharis"
    image="units/warlocks/darkpupil.png~RC(magenta>red)"
    type=AE Tharis_Disciple
    leader=AE Tharis_Disciple,AE Tharis_Witch,AE Tharis_Darkwarrior,AE Tharis_Hydra,AE Tharis_Hunter,Vampire Bat,AE Tharis_Bladedancer
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Destroyers - RPG

[multiplayer_side]
    id=AE destroyers
	image="units/destroyers-piranhas/piranha2.png~RC(magenta>red)"
    name=_"EoMa - Destroyers"
    type=AE_Atokpi
    leader=AE_Atokpi,AE_Nightmare,AE_Beast,AE_Omen,AE_Cyclops_Skeleton,AE_Pirafly
    random_leader=AE_Pirafly,AE_Atokpi,AE_Nightmare,AE_Beast,AE_Omen,AE_Cyclops_Skeleton
    recruit=
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter
    [/ai]
[/multiplayer_side]
