#textdomain wesnoth-Ageless_Era

### | Archiac Era Custom RPG Factions

## | Khthon - RPG

[multiplayer_side]
    id=AE Khthon
    name= _ "Archaic - Khthon"
    image=units/khthon/yak.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_khthon_Yak
    leader=AE_arc_khthon_Yak, AE_arc_khthon_Ram, AE_arc_khthon_Timber_Wolf, AE_arc_khthon_Horse
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Phantoms - RPG

[multiplayer_side]
    id=AE Phantom
    name= _ "Archaic - Phantom"
    image=units/phantom/tomb_guard.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_phantom_Tomb_Guard
    leader=AE_arc_phantom_Mummy,AE_arc_phantom_Feather_Dancer,AE_arc_phantom_Tomb_Guard,AE_arc_phantom_Huntress,AE_arc_phantom_Spirit_Dove
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Despair - RPG

[multiplayer_side]
    id=AE Despair
    name= _ "Archaic - Despair"
    image=units/despair/phantomspear.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_despair_Spearman
    leader=AE_arc_despair_Unease,AE_arc_despair_Cloak,AE_arc_despair_Spearman,AE_arc_despair_Rider,AE_arc_despair_Widow
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Primeval - RPG

[multiplayer_side]
    id=AE Primeval
    name= _ "Archaic - Primeval"
    image=units/primeval/slowfoot.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_primeval_Slow_Foot
    leader=AE_arc_primeval_Fighter, AE_arc_primeval_Primevalist_Follower, AE_arc_primeval_Slow_Foot, AE_arc_primeval_Swiftfoot, AE_arc_primeval_Cutter
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | South-Seas - RPG

[multiplayer_side]
    id=AE South-Seas
    name= _ "Archaic - South-Seas"
    image=units/south-seas/seaman.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_south_seas_Seaman
    leader=AE_arc_south_seas_Seaman,AE_arc_south_seas_Lore_Caster,AE_arc_south_seas_Swimmer,AE_arc_south_seas_Arsonist,AE_arc_south_seas_Shoreman
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Ukians - RPG

[multiplayer_side]
    id=AE Ukians
    name= _ "Archaic - Ukians"
    image=units/ukians/regular.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_ukians_Ukian_Regular
    leader=AE_arc_ukians_Ukian_Regular, AE_arc_ukians_Ukian_Runner, AE_arc_ukians_Ukian_Archer, AE_arc_ukians_Dog, AE_arc_ukians_Vassal, AE_arc_ukians_Northern_Fighter
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Northern Orcs - RPG

[multiplayer_side]
    id=AE Northerner Orcs
    name= _ "Archaic - Northern Orcs"
    image="units/orcs/raider.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_arc_orcs_Orcish_Grunt
    leader=Orcish Grunt,Troll Whelp,Wolf Rider,Orcish Archer,Orcish Assassin,Goblin Spearman,AE_arc_orcs_Marabou_Stork, AE_arc_orcs_Orcish_Raider, AE_arc_orcs_Orcish_Rider, Orcish Leader
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
