#textdomain wesnoth-Ageless_Era

### | Imperial Era Custom RPG Factions

## | Arendians - RPG

[multiplayer_side]
    id=AE Arendians
    name= _ "Imper - Arendians"
    image="units/human-arendians/archer.png~TC(1,magenta)"
    type=AE Arendian Archer
    leader=AE Arendian Archer,AE Arendian Bowrider,AE Arendian Druid,AE Arendian Horseman,AE Arendian Swordsman,AE Arendian Falcon
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Cavernei - RPG

[multiplayer_side]
    id=AE Cavernei
    name= _ "Imper - Cavernei"
    image="units/dwarves-cavernei/watcher.png~TC(1,magenta)"
    type=AE Cavernei Guardsman
    leader=AE Cavernei Guardsman,AE Cavernei Fighter,AE Cavernei Thunderer,AE Cavernei Eagle Rider,AE Cavernei Watcher
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Issaelfr - RPG

[multiplayer_side]
    id=AE Issaelfr
    name= _ "Imper - Issaelfr"
    image="units/elves-frost/bladesman.png~TC(1,magenta)"
    type=AE Frost Elf Archer
    leader=AE Frost Elf Archer,AE Frost Elf Bladesman,AE Frost Elf Mistral Magus,AE Frost Elf Yak Rider,AE Seal
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Lavinian Legion - RPG

[multiplayer_side]
    id=AE Lavinian Legion
    name= _ "Imper - Lavinian Legion"
    image="units/human-lavinians/bowman.png~TC(1,magenta)"
    type=AE Lavinian Legionnaire
    leader=AE Lavinian Legionnaire,AE Lavinian Bowman,AE Lavinian Auxiliary,AE Nemidian Horseman,AE Nemidian River Calf,AE Lavinian Skirmisher,AE Lavinian Slinger,AE Lavinian Light Infantryman
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Marauders - RPG

[multiplayer_side]
    id=AE Marauders
    name= _ "Imper - Marauders"
    image="units/human-marauders/axeman.png~TC(1,magenta)"
    type=AE Marauder Warrior
    leader=AE Marauder Warrior,AE Marauder Scout,AE Marauder Axeman,AE Marauder Crusher,AE Marauder Boatsman,AE Marauder Fay
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Orcei Gladiatores - RPG

[multiplayer_side]
    id=AE Orcei Gladiatores
    name= _ "Imper - Orcei Gladiatores"
    image="units/orcs-magni/gallus.png~TC(1,magenta)"
    type=AE Magni Pugnator
    leader=AE Magni Pugnator,AE Magni Gallus,AE Magni Samnis,AE Minuti Piscator,AE Minuti Latronis,AE Minuti River Lizard,AE Minuti Venator,AE Minuti Retiarius,AE Minuti Laquerius,AE Minuti Essedarius
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Sidhe - RPG

[multiplayer_side]
    id=AE Sidhe
    name= _ "Imper - Sidhe"
    image="units/elves-wild/warrior.png~TC(1,magenta)"
    type=AE Wild Elf Fury
    leader=AE Wild Elf Fury,AE Wild Elf Warrior,AE Wild Elf Wanderer,AE Wild Elf Raindancer,AE Sidhe Warrior Spirit,AE Young Bear,AE Wild Elf Hoarfroster
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
