#textdomain wesnoth-Ageless_Era

### | Mercenaries Era Custom RPG Factions

## | Highlanders

[multiplayer_side]
    id=AE HighlandersME
    name= _ "ME - Highlanders"
    image="units/highlanders/nord.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Highlander Nord
    leader=AE Highlander Nord,AE Highlander Drunkard,AE Highlander Giant,AE Highlander Contestant,AE Highlander Pipeman,AE Highlander Forester,AE Highlander Fieldmedic,AE Highlander Valkyrie,AE Highlander Warrior Spirit
    terrain_liked=Aa, Hh, Mnt
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Enchanters

[multiplayer_side]
    id=AE Enchanters
    name= _ "ME - Enchanters"
    image="units/enchanters/enchanter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Enchanter Floating Sword
    leader=AE Enchanter Rune Apprentice,AE Enchanter Armorer,AE Enchanter Cursedsword,AE Enchanter Enchanter,AE Enchanter Reducter,AE Enchanter Hotshot,AE Enchanter Floating Sword
    terrain_liked=hfc
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Avians

[multiplayer_side]
    id=AE Avians
    name= _ "ME - Avians"
    image="units/avians/watchman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Avian Watchman
    leader=AE Avian Grounded,AE Avian Archer,AE Avian Watchman,AE Avian Mother,AE Avian Dart,AE Avian Pigeon,AE Avian Jackdaw, AE Avian Broadwing
    terrain_liked=fmg
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Slavers

[multiplayer_side]
    id=AE Slavers
    name= _ "ME - Slavers"
    image="units/slavers/slaveholder.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Slaver Slaveholder
    leader=AE Slaver Slave,AE Slaver Entertainer,AE Slaver Hawk,AE Slaver Slaveholder,AE Slaver Prodder,AE Slaver Tracker,AE Slaver Mutt
    random_leader=AE Slaver Slave,AE Slaver Entertainer,AE Slaver Hawk,AE Slaver Slaveholder,AE Slaver Prodder,AE Slaver Tracker,AE Slaver Mutt
    terrain_liked=gfh
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Mercenaries

[multiplayer_side]
    id=AE Mercenaries
    name= _ "ME - Mercenaries"
    image="units/mercenaries/mercenary.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Mercenary Mercenary
    leader=AE Mercenary Mercenary,AE Mercenary Rookie,AE Mercenary Hunter,AE Mercenary Brute,AE Mercenary Pickpocket,AE Mercenary Neglect Mage,AE Mercenary Rider,AE Mercenary Sailer
    terrain_liked=gfh
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Equestrians

[multiplayer_side]
    id=AE Equestrians
    name= _ "ME - Equestrians"
    image="units/equestrians/knight.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Equestrian Knight
    leader=AE Equestrian Charger,AE Equestrian Knight,AE Equestrian Magerider,AE Equestrian Pegasus Rider,AE Equestrian Rider,AE Equestrian Searay,AE Equestrian Vagabond
    random_leader=AE Equestrian Bronco,AE Equestrian Charger,AE Equestrian Knight,AE Equestrian Magerider,AE Equestrian Pegasus Rider,AE Equestrian Rider,AE Equestrian Vagabond
    terrain_liked=gfh
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Emperor's Guard

[multiplayer_side]
    id="AE Emperor_s Guard"
    name= _ "ME - Emperor's Guard"
    image="units/emperorguard/samurai.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=empsam
    leader=AE Emperor_s Guard Martial Artist,AE Emperor_s Guard Ninja,AE Emperor_s Guard Ozutsu,AE Emperor_s Guard Ryu,AE Emperor_s Guard Samurai,AE Emperor_s Guard Shuriken Thrower,AE Emperor_s Guard Yumi,AE Emperor_s Guard Mounted Samurai
    terrain_liked=gfh
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Oracles

[multiplayer_side]
    id=AE Oracles
    name= _ "ME - Oracles"
    image="units/oracles/oracle.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Oracle Oracle
    leader=AE Oracle Arbiter,AE Oracle Blindman,AE Oracle Cleric,AE Oracle Disciple,AE Oracle Beholder,AE Oracle Monk,AE Oracle Oracle,AE Oracle Scholar,AE Oracle Wizard, AE Oracle Magnomancer, AE Oracle Sage
    terrain_liked=hfc
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Holy Order

[multiplayer_side]
    id=AE Holyorder
    name= _ "ME - Holy Order"
    image="units/holyorder/officer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Order Officer
    leader=AE Order Aggressor,AE Order Cleric,AE Order Interrogator,AE Order Judiciary,AE Order Mounted Officer,AE Order Officer,AE Order Student,AE Order Lightwisp,AE Order Witchhunter
    terrain_liked=hfc
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | The Cult

[multiplayer_side]
    id=AE Cult
    name= _ "ME - The Cult"
    image="units/cult/recruit.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Cult Recruit
    leader=AE Cult Cultist,AE Cult Exile,AE Cult Freak,AE Cult Lookout,AE Cult Recruit,AE Cult Survivor,AE Cult Sewer Swimmer,AE Cult Waiter
    terrain_liked=Ss
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Fanatics

[multiplayer_side]
    id=AE Fanatics
    name= _ "ME - Fanatics"
    image="units/fanatics/follower.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Fanatic Follower
    leader=AE Fanatic Bladesman,AE Fanatic Sandbow,AE Fanatic Caravan,AE Fanatic Magic Carpet,AE Fanatic Follower,AE Fanatic Genie,AE Fanatic Gossiper,AE Fanatic Streetrat
    terrain_liked=Dd, Ds, Hh
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Tribe

[multiplayer_side]
    id=AE Tribe
    name= _ "ME - Tribalists"
    image="units/tribe/warrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Tribe Warrior
    leader=AE Tribe Boomerang Thrower,AE Tribe Bowman,AE Tribe Cook,AE Tribe Dartsman,AE Tribe Scalper,AE Tribe Shaman,AE Tribe Wallaby,AE Tribe Warrior
    terrain_liked=Ff
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Hive

[multiplayer_side]
    id=AE Hive
    name= _ "ME - Hive"
    image="units/hive/drone.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Hive Ant
    leader=AE Hive Ant,AE Hive Beetle,AE Hive Drone,AE Hive Firefly,AE Hive Gnat,AE Hive Hopper,AE Hive Termite,AE Hive Spider,AE Hive Swarm
    terrain_liked=fmg
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Infernai

[multiplayer_side]
    id=AE Infernai
    name= _ "ME - Infernai"
    image="units/fiends/fiend.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Infernai Demon Dog
    leader=AE Infernai Demon Dog,AE Infernai Hell Dweller,AE Infernai Imp,AE Infernai Fiend,AE Infernai Gog,AE Infernai Ifreet,AE Infernai Pit Fiend,AE Infernai Lost Soul
    terrain_liked=gfh
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Refugees

[multiplayer_side]
    id=AE Refugees
    name= _ "ME - Refugees"
    image="units/refugees/sarissan.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Refugee Sarissan
    leader=AE Refugee Refugee,AE Refugee Cleaner,AE Refugee Courier,AE Refugee Focul,AE Refugee Guard,AE Refugee Rabble,AE Refugee Sarissan,AE Refugee Sentry
    terrain_liked=Cc, Kk, Mnt, Hh
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Blight

[multiplayer_side]
    id=AE Blight
    name= _ "ME - Blight"
    image="units/blight/cadaver.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Blight Cadaver
    leader=AE Blight Charred Zombie,AE Blight Blob,AE Blight Microbe,AE Blight Parasite,AE Blight Infected,AE Blight Cadaver,AE Blight Fetid,AE Blight Host,AE Blight Infected Hound,AE Blight Dark Current
    terrain_liked=Ss
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
