#textdomain wesnoth-Ageless_Era

### | Era of Strife Custom RPG Factions

## | Eventide - RPG

[multiplayer_side]
    id=AE Eventide
    name= _ "EOS - Eventide"
    image=units/eventide/Diu_Bowmistress.png
    type=AE DiuBowmaid
    leader=AE NoctMaceman,AE Swabbie,AE EventideHerbalist,AE Desperado,AE Auxilary
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Triththa - RPG

[multiplayer_side]
    id=AE Triththa
    name= _ "EOS - Triththa"
    image=units/dwarves/ballista.png
    type=AE Dwarvish Smith
    leader=AE_TR Dwarvish Fighter,AE Dwarvish Crossbowman,AE Dwarvish Smith,AE Dwarvish Rusher,AE Dwarvish Shieldman,AE Dwarvish Plainsrider,AE Young Cuttle Fish
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Free Saurians - RPG

[multiplayer_side]
    id=AE Free Saurians
    name= _ "EOS - Free Saurians"
    image=units/saurians/wise.png
    type=AE Saurian Sage
    leader=AE Saurian Sage, AE Saurian Mage, AE Free Saurian Skirmisher, AE Saurian Knife thrower, AE Swamp Saurian, AE Free Spider, AE Saurian Lizard Rider, AE Saurian Trainee,AE Saurian Brave AuxE,AE Saurian Gladiator AuxE
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Eltireans - RPG

[multiplayer_side]
    id=AE Eltireans
    name= _ "EOS - Eltireans"
    image=units/eltireans/fury.png
    type=AE Eltirean Knight Errant
    leader=AE Eltirean Knight Errant,AE Eltirean Glory Seeker,AE Eltirean Elementalist,AE Eltirean Disciple,AE Eltirean Wind Rider,AE Eltirean Ladyofwar
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Minotaurs - RPG

[multiplayer_side]
    id=AE Minotaurs
    name= _ "EOS - Minotaurs"
    image=units/minotaurs/mystic.png
    type=AE Minotaur Shaman
    leader=AE Minotaur Shaman,AE Minotaur Gore,AE Minotaur Behemoth,AE Gnoll,AE Boar Rider,AE Minotaur Cutthroat
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
