#textdomain wesnoth-Ageless_Era

### | Era of Magic Custom RPG Factions

## | Barbarians - RPG

[multiplayer_side]
    id=AE Barbarians
    name= _ "EoMa - Barbarians"
    image="units/barbarians/archer.png~RC(magenta>red)"
    type=AE_mag_Barbarians_Orcish_Warrior
    leader=AE_mag_Barbarians_Cyclops,AE_mag_Barbarians_Orcish_Warrior,AE_mag_Barbarians_Goblin_Runt,AE_mag_Barbarians_Goblin_Warbanner,AE_mag_Barbarians_Goblin_Archer,AE_mag_Barbarians_Roc_Rider,AE_mag_Barbarians_Troll_Sorcerer,AE_mag_Barbarians_Barbarian_Berserker
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dark Blood Alliance - RPG

[multiplayer_side]
    id=AE Dark Blood Alliance
    name= _ "EoMa - Dark Blood Alliance"
    image="units/darkblood/shamanadept.png~RC(magenta>red)"
    type=AE_mag_Darkblood_Shaman_Adept
    leader=AE_mag_Darkblood_Toad,AE_mag_Darkblood_Saurian_Pikeman,AE_mag_Darkblood_Shaman_Adept,AE_mag_Darkblood_Shooter,AE_mag_Darkblood_Wyvern,AE_mag_Darkblood_Wyvern_Rider,AE_mag_Darkblood_Salamander
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Enlightened Ones - RPG

[multiplayer_side]
    id=AE Sky Kingdom
    name= _ "EoMa - Sky Kingdom"
    image="units/enlightened/enlightened-battlemage.png~RC(magenta>red)"
    type=AE_mag_Sky_Kingdom_Battlemage
    leader=AE_mag_Sky_Kingdom_Battlemage,AE_mag_Sky_Kingdom_Subversive_Mage,AE_mag_Sky_Kingdom_Elementalist,AE_mag_Sky_Kingdom_Golem,AE_mag_Sky_Kingdom_Mu,AE_mag_Sky_Kingdom_Hidden_Face,AE_mag_Sky_Kingdom_Magical_Eye
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Kharos - RPG

[multiplayer_side]
    id=AE Kharos
    name= _ "EoMa - Kharos"
    image="units/kharos/whitewarrior.png~RC(magenta>red)"
    type=AE_mag_Kharos_White_Warrior
    leader=AE_mag_Kharos_White_Warrior,AE_mag_Kharos_Adept_of_Light,AE_mag_Kharos_Shielder,AE_mag_Kharos_Slicer,AE_mag_Kharos_Cavalry_Archer,AE_mag_Kharos_War_Banner,AE_mag_Kharos_Sister_of_Light
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Runemasters - RPG

[multiplayer_side]
    id=AE Runemasters
    name= _ "EoMa - Runemasters"
    image="units/ancient_dwarves/warrior.png~RC(magenta>red)"
    type=AE_mag_Runemasters_Dwarvish_Warrior
    leader=AE_mag_Runemasters_Striding_Machine,AE_mag_Runemasters_Steam_Ulfserker,AE_mag_Runemasters_Dwarvish_Warrior,AE_mag_Runemasters_Mechanic,AE_mag_Runemasters_Runeadept,AE_mag_Runemasters_Balloon
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Summoners - RPG

[multiplayer_side]
    id=AE Al-Kamija
    name= _ "EoMa - Al Kamija"
    image="units/summoners/rhami.png~RC(magenta>red)"
    type=AE_mag_Al_Kamija_Novice_Summoner
    leader=AE_mag_Al_Kamija_Novice_Summoner,AE_mag_Al_Kamija_Dimensional_Gate,AE_mag_Al_Kamija_Jinn,AE_mag_Al_Kamija_Rhami,AE_mag_Al_Kamija_Fire_Elemental,AE_mag_Al_Kamija_Water_Elemental,AE_mag_Al_Kamija_Camel_Rider,AE_mag_Al_Kamija_Carpet_Rider
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Warlocks - RPG

[multiplayer_side]
    id=AE Tharis
    name= _ "EoMa - Tharis"
    image="units/warlocks/darkpupil.png~RC(magenta>red)"
    type=AE_mag_Tharis_Disciple
    leader=AE_mag_Tharis_Disciple,AE_mag_Tharis_Witch,AE_mag_Tharis_Dark_Warrior,AE_mag_Tharis_Hydra,AE_mag_Tharis_Dark_Hunter,AE_mag_Tharis_Bladedancer
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Destroyers - RPG

[multiplayer_side]
    id=AE destroyers
    image="units/destroyers-piranhas/piranha2.png~RC(magenta>red)"
    name=_"EoMa - Destroyers"
    type=AE_mag_Destroyers_Atokpi
    leader=AE_mag_Destroyers_Atokpi,AE_mag_Destroyers_Nightmare,AE_mag_Destroyers_Beast,AE_mag_Destroyers_Omen,AE_mag_Destroyers_Cyclops_Skeleton,AE_mag_Destroyers_Pirafly
    random_leader=AE_mag_Destroyers_Pirafly,AE_mag_Destroyers_Atokpi,AE_mag_Destroyers_Nightmare,AE_mag_Destroyers_Beast,AE_mag_Destroyers_Omen,AE_mag_Destroyers_Cyclops_Skeleton
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter
    [/ai]
[/multiplayer_side]
