#textdomain wesnoth-Ageless_Era

### | Battle for Wesnoth RPG Factions

## | Loyalists - RPG

[multiplayer_side]
    id=AE Loyalists
    name= _ "Default - Loyalists"
    image="units/human-loyalists/spearman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Spearman
    leader=Cavalryman,Horseman,Spearman,Fencer,Heavy Infantryman,Bowman,Mage,Merman Fighter
    terrain_liked=Gg, Ww, Wo
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Rebels - RPG

[multiplayer_side]
    id=AE Rebels
    name= _ "Default - Rebels"
    image="units/elves-wood/fighter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Elvish Fighter
    leader=Elvish Fighter,Elvish Archer,Mage,Elvish Shaman,Elvish Scout,Wose,Merman Hunter
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Northerners - RPG

[multiplayer_side]
    id=AE Northerners
    name= _ "Default - Northerners"
    image="units/orcs/grunt.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Orcish Grunt
    leader=Orcish Grunt,Troll Whelp,Wolf Rider,Orcish Archer,Orcish Assassin,Naga Fighter,Goblin Spearman
    terrain_liked=Hh, Ha, Mm, Ss
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Undead - RPG

[multiplayer_side]
    id=AE Undead
    name= _ "Default - Undead"
    image="units/undead-necromancers/adept.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Dark Adept
    leader=Skeleton,Skeleton Archer,Walking Corpse,Ghost,Vampire Bat,Dark Adept,Ghoul
    terrain_liked=Ss, Hh, Ha, Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,fighter,scout,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Knalgan Alliance - RPG

[multiplayer_side]
    id=AE Knalgan Alliance
    name= _ "Default - Knalgan Alliance"
    image="units/dwarves/fighter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Dwarvish Fighter
    leader=Dwarvish Guardsman,Dwarvish Fighter,Dwarvish Ulfserker,Dwarvish Thunderer,Thief,Poacher,Footpad,Gryphon Rider
    terrain_liked=Hh, Ha, Mm
    [ai]
        [aspect]
            id=recruitment_pattern
            [facet]
                value=fighter,fighter,fighter,mixed fighter,archer,scout
            [/facet]
        [/aspect]
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Drakes - RPG

[multiplayer_side]
    id=AE Drakes
    name= _ "Default - Drakes"
    image="units/drakes/burner.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Drake Burner
    leader=Drake Burner,Drake Clasher,Drake Glider,Drake Fighter,Saurian Skirmisher,Saurian Augur
    terrain_liked=Hh, Ha, Ds, Ss
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Khalifate - RPG

#textdomain wesnoth-multiplayer
[multiplayer_side]
    id=AE Khalifate
    name= _"Default - Khalifate"
    image="units/khalifate/jundi.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE jundi
    leader=AE jundi, AE arif, AE khaiyal, AE rami, AE hakim, AE naffat, AE falcon
    terrain_liked=Ss, Hh, Ha, Ww
[/multiplayer_side]
