#textdomain wesnoth-Ageless_Era

### | BEEM Custom RPG Factions

## | Anakes - RPG

[multiplayer_side]
    id=AE Anakes
    name= _ "BEEM - Anakes"
    image="units/anakes/heterodox.png~RC(magenta>red)"
    type=AE Anakes Damned
    leader=AE Anakes Damned,AE Anakes Initiate,AE Anakes Heterodox,AE Anakes Leech Rider,AE Anakes Sniper,AE Anakes Imp,AE Anakes Cursed
    terrain_liked=	Hh,	Mm,	Gg,	Ch
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Calidonians - RPG

[multiplayer_side]
    id=AE Calidonians
    name= _ "BEEM - Calydonians"
    image="units/calydonians/hoplite.png~RC(magenta>red)"
    type=AE Hoplite
    leader=AE Hoplite,AE Teti,AE Prodromoi,AE Dioian Swordsman,AE Peltast,AE Dardanian Warrior
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Wood Warriors - RPG

[multiplayer_side]
    id=AE Wood Warriors
    name= _ "BEEM - Wood Warriors"
    image="units/wood_warriors/golem/giovane_golem.png~RC(magenta>red)"
    type=AE Young_Faun
    leader=AE Explorer_Puck,AE Swamp_Explorer,AE Little_Golem,AE Exiled_Alchemist,AE Carnivore_Plant,AE Young_Bigfoot,AE Young_Faun
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
