#textdomain wesnoth-Ageless_Era

### | Archiac Era Custom RPG Factions

## | Khthon - RPG

[multiplayer_side]
    id=AE Khthon
    name= _ "Archaic - Khthon"
    image=units/khthon/yak.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Yak
    leader=AE Yak, AE Ram, AE Timber Wolf, AE Horse
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Phantoms - RPG

[multiplayer_side]
    id=AE Phantom
    name= _ "Archaic - Phantom"
    image=units/phantom/tomb_guard.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Tomb Guard
    leader=AE Tomb Mummy,AE Tomb Dancer,AE Tomb Guard,AE Tomb Huntress,AE Tomb Spirit Dove
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Despair - RPG

[multiplayer_side]
    id=AE Despair
    name= _ "Archaic - Despair"
    image=units/despair/phantomspear.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Phantom Spearman
    leader=AE Phantom Unease,AE Phantom Cloak,AE Phantom Spearman,AE Phantom Rider,AE Phantom Widow
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Primeval - RPG

[multiplayer_side]
    id=AE Primeval
    name= _ "Archaic - Primeval"
    image=units/primeval/slowfoot.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Slow
    leader=AE Fighter, AE Follower, AE Slow, AE Swiftfoot, AE Cutter
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | South-Seas - RPG

[multiplayer_side]
    id=AE South-Seas
    name= _ "Archaic - South-Seas"
    image=units/south-seas/seaman.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE South_Seas Seaman
    leader=AE South_Seas Seaman,AE South_Seas Caster,AE South_Seas Swimmer,AE South_Seas Arsonist,AE South_Seas Shoreman
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Ukians - RPG

[multiplayer_side]
    id=AE Ukians
    name= _ "Archaic - Ukians"
    image=units/ukians/regular.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Ukian Regular
    leader=AE Ukian Regular, AE Ukian Runner, AE Ukian Archer, AE Ukian Dog, AE Royal Vassal, AE Northern Fighter
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Northern Orcs - RPG

[multiplayer_side]
    id=AE Northerner Orcs
    name= _ "Archaic - Northern Orcs"
    image="units/orcs/raider.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_BMR Orcish Grunt
    leader=Orcish Grunt,Troll Whelp,Wolf Rider,Orcish Archer,Orcish Assassin,Goblin Spearman,AE Stork Rider, AE Orcish Raider, AE Orcish Rider, Orcish Leader
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
