#textdomain wesnoth-Ageless_Era

### | Era of Four Moons Custom RPG Factions

## | Imperialists - RPG

[multiplayer_side]
    id=AE Imperialists
    name= _ "EFM - Imperialists"
    image=units/imperialists/legionnaire.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Legionnaire
    leader=AE Legionnaire, AE Slinger, AE Pelite, AE Standard, AE Hardback, AE Galley, AE Ballista
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Darklanders - RPG

[multiplayer_side]
    id=AE Darklanders
    name= _ "EFM - Darklanders"
    image=units/darklander/malice.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Malice
    leader=AE Malice, AE Tribesman, AE Hurler, AE Beastman, AE JaguarRider, AE Viper, AE Canoe
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Highlanders - RPG

[multiplayer_side]
    id=AE Highlanders
    name= _ "EFM - Highlanders"
    image=units/highlander/witch_doctor.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE WitchDoctor
    leader=AE Brave, AE Hunter, AE LionWarrior, AE Runner, AE WitchDoctor, AE Elephant, AE Hippo
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | SeaStates - RPG

[multiplayer_side]
    id=AE SeaStates
    name= _ "EFM - Sea States"
    image=units/seastates/regimenteer.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Regimenteer
    leader=AE Regimenteer, AE CompositeBowman, AE HorseArcher, AE Rider, AE Alchemist, AE Boatsman,AE PaddleShip, AE Loyalist
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dalefolk - RPG

[multiplayer_side]
    id=AE_Dalefolk
    name= _"EFM - Dalefolk"
    image=units/Dalefolk/wilderman.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_Miner
    leader=AE_Miner, AE_Herder, AE_Rocketeer, AE_Herbalist, AE_Shifter, AE_Raven, AE_Channeler
    terrain_liked=Rd
    [ai]
        recruitment_pattern=scout,archer,fighter,healer,mixed fighter,archer,fighter,fighter,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Freemen - RPG

[multiplayer_side]
    id=AE_Freemen
    name= _"EFM - Freemen"
    image=units/Freemen/Sultan.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_Aristocrat
    leader=AE_Aristocrat,AE_SandWalker,AE_CamelRider,AE_Wanderer,AE_Muezzin,AE_Roc,AE_Chanter
    terrain_liked=Rd
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Pygmies - RPG

[multiplayer_side]
    id=AE_Pygmies
    name= _"EFM - Pygmies"
    image=units/Pygmies/saber_cat.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_Knat
    leader=AE_Knat,AE_Piper,AE_Puma,AE_SpiderRider,AE_Crocodile,AE_SwampWitch
    terrain_liked=Rd
    [ai]
        recruitment_pattern=scout,archer,fighter,archer,archer,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Whites - RPG

[multiplayer_side]
    id=AE_Whites
    name= _"EFM - Whites"
    image=units/Whites/storm_queen.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_WhiteWarrior
    leader=AE_WhiteWarrior,AE_BowGirl,AE_StormChild,AE_StormGuard,AE_TerrorRider,AE_Warder,AE_WhiteScout,AE_LongBoat
    terrain_liked=Rd
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,archer,fighter
    [/ai]
[/multiplayer_side]
