#textdomain wesnoth-Ageless_Era

### | Era of Myths Custom RPG Factions

## | Celestials - RPG

[multiplayer_side]
    id=AE Celestials
    name= _ "EOM - Celestials"
    image="units/celestials/messenger.png"
    type=AE Celestial Messenger
    leader=AE Celestial Messenger,AE Celestial Light_Spirit,AE Celestial Crusader,AE Celestial Legionnaire,AE Celestial Wizard,AE Celestial Zealot
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Devlings - RPG

[multiplayer_side]
    id=AE Devlings
    name= _ "EOM - Devlings"
    image="units/devlings/nailers.png"
    type=AE Devling Cursers
    leader=AE Devling Flappers, AE Devling Sneak, AE Devling Cursers, AE Overgrown Devling, AE Devling Nailers
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Elementals - RPG

[multiplayer_side]
    id=AE Elementals
    name= _ "EOM - Elementals"
    image="units/elementals/animated-rock.png"
    type=AE Animated Rock
    leader=AE Unicorn,AE Tidal,AE Animated Rock,AE Magic Servant,AE Vine Beast,AE Brazier Creation
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Therians - RPG

[multiplayer_side]
    id=AE Therians
    name= _ "EOM - Therians"
    image="units/shifters/guard.png~TC(1,magenta)"
    type=AE Therian Guard
    leader=AE Leopard Therian,AE Falcon Therian,AE Serpent Therian,AE Therian Apprentice,AE Therian Monk,AE Therian Guard
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Vampires - RPG

[multiplayer_side]
    id=AE Vampires
    name= _ "EOM - Vampires"
    image="units/vampires/Female/succubus.png"
    type=AE Fledgeling
    leader=AE Succubus,AE gargoyle,AE Blood Hulk,AE Fledgeling,AE Blood Apprentice,AE Thin Blood,AE Bloodborn
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Warg - RPG

[multiplayer_side]
    id=AE Wargs
    name= _ "EOM - The Warg"
    image="units/wargs/werewolf.png"
    type=AE Warrior_Wolf
    leader=AE Stalker,AE Wolf Cub,AE Shapeshifter,AE Young Bear,AE Blackfur,AE Fire Sprite,AE Warrior_Wolf
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Windsong - RPG

[multiplayer_side]
    id=AE Windsong
    name= _ "EOM - Windsong"
    image="units/windsong/scribe.png~TC(1,magenta)"
    type=AE Scribe
    leader=AE Scribe,AE Seeker,AE Weaver,AE Gatekeeper,AE Courier,AE Sky_Shard
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
