#textdomain wesnoth-Ageless_Era

[unit_type]
    id=Blood Manipulator Bat
    name= _ "Blood Manipulator (Bat)"
    [base_unit]
        id=Vampiric Blood Bat
    [/base_unit]

    gender=male

    cost=38
    hitpoints=36
    experience=40
    advances_to=Sangel Bat
    hide_help=true

    [abilities]
        {ABILITY_VAMPIRE_TRANSFORMATION}
    [/abilities]

    {VAMPIRE_INFO_VARIATION ("Blood Manipulator") units/vampires/blood-manipulator.png}
[/unit_type]

[unit_type]
    id=Vampire Duelist Bat
    name= _ "Duelist (Bat)"
    [base_unit]
        id=Vampiric Blood Bat
    [/base_unit]

    cost=27
    hitpoints=48
    experience=86
    advances_to=Sword Dancer Bat
    hide_help=true

    [abilities]
        {ABILITY_VAMPIRE_TRANSFORMATION}
    [/abilities]

    [female]
        name= _ "female^Duelist (Bat)"
    [/female]

    {VAMPIRE_INFO_VARIATION ("Vampire Duelist") units/vampires/duelist.png}
    {VAMPIRE_INFO_FEM_VARIATION units/vampires/duelist+female.png}
[/unit_type]

[unit_type]
    id=Vampire Noble Bat
    name= _ "Noble (Bat)"
    [base_unit]
        id=Vampiric Blood Bat
    [/base_unit]

    cost=31
    hitpoints=50
    experience=87
    advances_to=Sire Bat
    hide_help=true

    [abilities]
        {ABILITY_VAMPIRE_TRANSFORMATION}
    [/abilities]

    [female]
        name= _ "female^Noble (Bat)"
        advances_to=Mistress Bat
    [/female]

    {VAMPIRE_INFO_VARIATION ("Vampire Noble") units/vampires/noble.png}
    {VAMPIRE_INFO_FEM_VARIATION units/vampires/noble+female.png}
[/unit_type]
