#textdomain wesnoth-Ageless_Era

[unit_type]
    id=Fledgeling Bat
    name= _ "Fledgeling (Bat)"
    [base_unit]
        id=True Vampire Bat
    [/base_unit]

    hitpoints=36
    experience=40
    advances_to=Vampire Noble Bat,Vampire Duelist Bat
    hide_help=true

    [abilities]
        {ABILITY_VAMPIRE_TRANSFORMATION}
    [/abilities]

    [female]
        name= _ "female^Fledgeling (Bat)"
    [/female]

    {VAMPIRE_INFO_VARIATION ("Fledgeling") units/vampires/fledgeling.png}
    {VAMPIRE_INFO_FEM_VARIATION units/vampires/fledgeling+female.png}
[/unit_type]

[unit_type]
    id=Blood Apprentice Bat
    name= _ "Blood Apprentice (Bat)"
    [base_unit]
        id=True Vampire Bat
    [/base_unit]

    hitpoints=27
    experience=50
    advances_to=Blood Manipulator Bat
    hide_help=true

    [abilities]
        {ABILITY_VAMPIRE_TRANSFORMATION}
    [/abilities]

    {VAMPIRE_INFO_VARIATION ("Blood Apprentice") units/vampires/blood-apprentice.png}
[/unit_type]
