#textdomain wesnoth-Ageless_Era

[unit_type]
    id=Methusalem Bat
    name= _ "Methusalem (Bat)"
    [base_unit]
        id=Vampiric Dread Bat
    [/base_unit]

    gender=male

    hitpoints=95
    experience=150
    hide_help=true

    [abilities]
        {ABILITY_VAMPIRE_TRANSFORMATION}
    [/abilities]

    {VAMPIRE_INFO_VARIATION ("Methusalem") units/vampires/methusalem.png}
[/unit_type]

[unit_type]
    id=Duchess Bat
    name= _ "female^Duchess (Bat)"
    [base_unit]
        id=Vampiric Dread Bat
    [/base_unit]

    gender=female

    hitpoints=95
    experience=150
    hide_help=true

    [abilities]
        {ABILITY_VAMPIRE_TRANSFORMATION}
    [/abilities]

    {VAMPIRE_INFO_VARIATION ("Duchess") units/vampires/duchess.png}
[/unit_type]
