#textdomain wesnoth-Ageless_Era

[unit_type]
    id=Sangel Bat
    name= _ "Sangel (Bat)"
    [base_unit]
        id=Vampiric Dread Bat
    [/base_unit]

    gender=male

    cost=50
    hitpoints=50
    hide_help=true

    [abilities]
        {ABILITY_VAMPIRE_TRANSFORMATION}
    [/abilities]

    {VAMPIRE_INFO_VARIATION ("Sangel") units/vampires/sangel.png}
[/unit_type]

[unit_type]
    id=Sword Dancer Bat
    name= _ "Sword Dancer (Bat)"
    [base_unit]
        id=Vampiric Dread Bat
    [/base_unit]

    cost=44
    hitpoints=68
    hide_help=true

    [abilities]
        {ABILITY_VAMPIRE_TRANSFORMATION}
    [/abilities]

    [female]
        name= _ "female^Sword Dancer (Bat)"
    [/female]

    {VAMPIRE_INFO_VARIATION ("Sword Dancer") units/vampires/sword-dancer.png}
    {VAMPIRE_INFO_FEM_VARIATION units/vampires/sword-dancer+female.png}
[/unit_type]

[unit_type]
    id=Sire Bat
    name= _ "Sire (Bat)"
    [base_unit]
        id=Vampiric Dread Bat
    [/base_unit]

    gender=male

    cost=42
    hitpoints=66
    experience=100
    advances_to=Methusalem Bat
    hide_help=true

    [abilities]
        {ABILITY_VAMPIRE_TRANSFORMATION}
    [/abilities]

    {VAMPIRE_INFO_VARIATION ("Sire") units/vampires/sire.png}
[/unit_type]

[unit_type]
    id=Mistress Bat
    name= _ "female^Mistress (Bat)"
    [base_unit]
        id=Vampiric Dread Bat
    [/base_unit]

    gender=female

    cost=42
    hitpoints=66
    experience=100
    advances_to=Duchess Bat
    hide_help=true

    [abilities]
        {ABILITY_VAMPIRE_TRANSFORMATION}
    [/abilities]

    {VAMPIRE_INFO_VARIATION ("Mistress") units/vampires/mistress.png}
[/unit_type]
