#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE lightshifter
    name= _ "Steel Lightshifter"
    advances_to=null
    {AMLA_DEFAULT}
    level=0
    cost=8
    hitpoints=15
    experience=135
    usage=mixed fighter
    image="units/steelhive/lightshifter.png"
    description= _ "This unit is from the Steelhive faction. It's coding and art were done by Zerovirus and melinath.
 
The Lightshifters can disguise themselves as any Steelhive unit, confusing our troops. Be wary!"
    movement=4

    alignment=neutral
    race=steelhive
    gender=female
    movement_type=steelhive_fly
    {MAGENTA_IS_THE_TEAM_COLOR}
    {STEELHIVE_SOUND:DIE}
    {STEELHIVE_SOUND:HIT}

    [attack]
        name=collide
        description= _ "collide"
        icon="attacks/collide.png"
        type=impact
        range=melee
        damage=2
        number=1
    [/attack]

    [attack]
        name=light ray
        description= _ "light ray"
        icon="attacks/weld.png"
        type=arcane
        range=ranged
        damage=3
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=light ray
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                sound={STEELHIVE_SOUND:LIGHT_RAY}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                sound={STEELHIVE_SOUND:LIGHT_RAY_MISS}
            [/frame]
        [/else]
    [/attack_anim]

    [event]
        name=recruit
        first_time_only=no
        [filter]
            type=AE lightshifter
        [/filter]
        {VARIABLE unit.variables.lightshifter 1}
        {VARIABLE unit.variables.true_max_hitpoints $unit.max_hitpoints}
        {VARIABLE unit.variables.true_level $unit.level}
        [set_variables]
            name=unit.variables.true_attack
            to_variable=unit.attack
        [/set_variables]
        [unstore_unit]
            variable=unit
        [/unstore_unit]
        [set_menu_item]
            id=AE lightshifter_shift
            description= _ "Shift"
            #needs_select=yes
            [show_if]
                [have_unit]
                    x,y=$x1,$y1
                    [filter_wml]
                        [variables]
                            lightshifter="1"
                        [/variables]
                    [/filter_wml]
                    side=$side_number
                [/have_unit]
            [/show_if]
            [command]
                [store_unit]
                    [filter]
                        x,y=$x1,$y1
                    [/filter]
                    variable=lightshifter_store
                [/store_unit]
                [message]
                    speaker=$lightshifter_store.id
                    message=_"How should I disguise myself?"
                    [option]
                        message="&"+"misc/cancel.png~TC($lightshifter_store.side,magenta)"+"="+_"Stay as you are"
                    [/option]
                    [option]
                        message="&"+"misc/leader-crown.png"+"="+_"Masquerade as a leader"
                        [show_if]
                            [variable]
                                name=lightshifter_store.overlays
                                equals=$empty
                            [/variable]
                        [/show_if]
                        [command]
                            [unit_overlay]
                                x,y=$x1,$y1
                                image=misc/leader-crown.png
                            [/unit_overlay]
                        [/command]
                    [/option]
                    [option]
                        message="&"+"misc/leader-crown.png"+"="+"Stop the masquerade"
                        [show_if]
                            [variable]
                                name=lightshifter_store.overlays
                                equals="misc/leader-crown.png"
                            [/variable]
                        [/show_if]
                        [command]
                            [remove_unit_overlay]
                                x,y=$x1,$y1
                                image=misc/leader-crown.png
                            [/remove_unit_overlay]
                        [/command]
                    [/option]
                    {SHIFTOPTION (AE lightshifter) ("Revert to your true form") lightshifter}
                    {SHIFTOPTION (AE oculus) ("Take a Steel Oculus's form") oculus}
                    {SHIFTOPTION (AE sparkgazer) ("Take a Steel Sparkgazer's form") sparkgazer}
                    {SHIFTOPTION (AE boltstriker) ("Take a Steel Boltstriker's form") boltstriker}
                    {SHIFTOPTION (AE slasher) ("Take a Steel Slasher's form") slasher}
                    {SHIFTOPTION (AE bladewhirler) ("Take a Steel Bladewhirler's form") bladewhirler}
                    {SHIFTOPTION (AE vector) ("Take a Steel Vector's form") vector}
                    {SHIFTOPTION (AE vorpal) ("Take a Steel Vorpal's form") vorpal}
                    {SHIFTOPTION (AE fideliant) ("Take a Steel Fideliant's form") fideliant}
                    {SHIFTOPTION (AE amniote) ("Take a Steel Amniote's form") amniote}
                    {SHIFTOPTION (AE choriote) ("Take a Steel Choriote's form") choriote}
                    {SHIFTOPTION (AE cybercone) ("Take a Steel Cybercone's form") cybercone}
                    {SHIFTOPTION (AE cybercore) ("Take a Steel Cybercore's form") cybercore}
                    {SHIFTOPTION (AE drone) ("Take a Steel Drone's form") drone}
                    {SHIFTOPTION (AE scout) ("Take a Steel Scout's form") scout}
                    {SHIFTOPTION (AE recon) ("Take a Steel Recon's form") recon}
                    {SHIFTOPTION (AE welder) ("Take a Steel Welder's form") welder}
                    {SHIFTOPTION (AE repairer) ("Take a Steel Repairer's form") repairer}
                    {SHIFTOPTION (AE sentient) ("Take a Steel Sentient's form") sentient}
                [/message]
                {CLEAR_VARIABLE lightshifter_store}
				[if]
					[variable]
						name=change_to
						equals=$empty
					[/variable]
					[then]
						{VARIABLE change_to (defined_value_to_be_empty)}
					[/then]
				[/if]
                [switch]
					variable=change_to	
                    [case]
                        value=defined_value_to_be_empty
						{CLEAR_VARIABLE change_to}
                    [/case]
                    [else]
                        {STEELHIVE_SOUND:TRANSFORM}
                        [fire_event]
                            name=transform
                            [primary_unit]
                                x,y=$x1,$y1
                            [/primary_unit]
                        [/fire_event]
                    [/else]
                [/switch]
            [/command]
        [/set_menu_item]
    [/event]

    [event]
        name=attack
        first_time_only=no
        [filter]
            [filter_wml]
                [variables]
                    lightshifter="1"
                [/variables]
            [/filter_wml]
        [/filter]
        {VARIABLE unit.variables.fake_type $unit.type}
        {VARIABLE change_to (AE lightshifter)}
        [unstore_unit]
            variable=unit
        [/unstore_unit]
        [fire_event]
            name=transform
            [primary_unit]
                x,y=$x1,$y1
            [/primary_unit]
        [/fire_event]
    [/event]

    [event]
        name=attack end
        first_time_only=no
        [filter]
            [filter_wml]
                [variables]
                    lightshifter="1"
                [/variables]
            [/filter_wml]
        [/filter]
        [if]
            [variable]
                name=unit.hitpoints
                greater_than=0
            [/variable]
            [then]
                {VARIABLE change_to $unit.variables.fake_type}
                [fire_event]
                    name=transform
                    [primary_unit]
                        x,y=$x1,$y1
                    [/primary_unit]
                [/fire_event]
            [/then]
        [/if]
    [/event]

    [event]
        name=attack
        first_time_only=no
        [filter_second]
            [filter_wml]
                [variables]
                    lightshifter="1"
                [/variables]
            [/filter_wml]
        [/filter_second]
        {VARIABLE second_unit.variables.fake_type $second_unit.type}
        {VARIABLE change_to (AE lightshifter)}
        [unstore_unit]
            variable=second_unit
        [/unstore_unit]
        [fire_event]
            name=transform
            [primary_unit]
                x,y=$x2,$y2
            [/primary_unit]
        [/fire_event]
    [/event]

    [event]
        name=attack end
        first_time_only=no
        [filter_second]
            [filter_wml]
                [variables]
                    lightshifter="1"
                [/variables]
            [/filter_wml]
        [/filter_second]
        [if]
            [variable]
                name=second_unit.hitpoints
                greater_than=0
            [/variable]
            [then]
                {VARIABLE change_to $second_unit.variables.fake_type}
                [fire_event]
                    name=transform
                    [primary_unit]
                        x,y=$x2,$y2
                    [/primary_unit]
                [/fire_event]
            [/then]
        [/if]
    [/event]

    [event]
        name=transform
        first_time_only=no
		[if]
			[variable]
				name=change_to
				equals=$empty
			[/variable]
			[then]
				{VARIABLE change_to (AE lightshifter)}
			[/then]
		[/if]
        [unit]
            type=$change_to
            x,y=recall,recall
            id=AE testunit
        [/unit]
        [store_unit]
            [filter]
                id=AE testunit
            [/filter]
            kill=yes
            variable=change_to
        [/store_unit]
        [if]
            [variable]
                name=unit.type
                equals=AE lightshifter
            [/variable]
            [then]
                {VARIABLE unit.variables.experience $unit.experience}
            [/then]
        [/if]
        {VARIABLE unit.type $change_to.type}
        {VARIABLE unit.level $change_to.level}
        {VARIABLE unit.max_experience $change_to.max_experience}
        [if]
            [variable]
                name=unit.type
                equals=AE lightshifter
            [/variable]
            [then]
                {VARIABLE unit.experience $unit.variables.experience}
            [/then]
            [else]
                {VARIABLE unit.experience 0}
            [/else]
        [/if]
        {VARIABLE hitpointdiff $unit.max_hitpoints}
        {VARIABLE_OP hitpointdiff sub $unit.hitpoints}
        {VARIABLE unit.max_hitpoints $change_to.max_hitpoints}
        {VARIABLE unit.hitpoints $change_to.max_hitpoints}
        {VARIABLE_OP unit.hitpoints sub $hitpointdiff}
        {CLEAR_VARIABLE hitpointdiff}
        [set_variables]
            name=unit.attack
            mode=replace
            to_variable=change_to.attack
        [/set_variables]
        [if]
            [variable]
                name=unit.type
                equals="AE cybercone"
            [/variable]
            [or]
                [variable]
                    name=unit.type
                    equals="AE cybercore"
                [/variable]
            [/or]
            [then]
                [set_variables]
                    name=unit.abilities.leadership
                    mode=replace
                    [value]
                        id=AE fake_leadership
                        name= _ "broadcast"
                        female_name= _ "female^broadcast"
                        description= _ "Broadcast:
This unit transmits commands from the central core, making nearby units more effective in battle.

Adjacent own units of equal or lower level will do 25% more damage times the difference in their levels plus one in battle."
                    [/value]
                [/set_variables]
            [/then]
            [else]
                {CLEAR_VARIABLE unit.abilities.leadership}
            [/else]
        [/if]
        [switch]
            variable=unit.type
            [case]
                value="AE welder"
                {CLEAR_VARIABLE unit.abilities.heals}
                [set_variables]
                    name=unit.abilities.repairs
                    mode=replace
                    [value]
                        id=AE fake_weld
                        name= _ "repairs +4"
                        female_name= _ "female^repairs +4"
                        description= _ "Repairs +4:
This unit repairs adjacent allied machines at the beginning of our turn."
                    [/value]
                [/set_variables]
            [/case]
            [case]
                value="AE repairer"
                {CLEAR_VARIABLE unit.abilities.heals}
                [set_variables]
                    name=unit.abilities.repairs
                    mode=replace
                    [value]
                        id=AE fake_weld
                        name= _ "repairs +8,self repair"
                        female_name= _ "female^repairs +8,self repair"
                        description= _ "Repairs +8:
This unit repairs adjacent allied machines at the beginning of our turn.

Self repair:
Allows the unit to repair itself at the beginning of our turn."
                    [/value]
                [/set_variables]
            [/case]
            [else]
                {CLEAR_VARIABLE unit.abilities.repairs}
            [/else]
        [/switch]
        [if]
            [variable]
                name=unit.type
                equals=AE drone
            [/variable]
            [or]
                [variable]
                    name=unit.type
                    equals=AE scout
                [/variable]
            [/or]
            [or]
                [variable]
                    name=unit.type
                    equals=AE recon
                [/variable]
            [/or]
            [then]
                {CLEAR_VARIABLE unit.abilities.hides}
                [set_variables]
                    name=unit.abilities.submerge
                    mode=replace
                    [value]
                        id=AE fake_steelhive_submerge
                        name= _ "submerge"
                        female_name= _ "female^submerge"
                        description= _ "Submerge:
This unit can dive beneath even the shallowest water, remaining undetected by its enemies.

Enemy units cannot see this unit while it is in water, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
                        name_inactive= _ "submerge"
                        female_name_inactive= _ "female^submerge"
                        description_inactive= _ "Submerge:
This unit can dive beneath even the shallowest water, remaining undetected by its enemies.

Enemy units cannot see this unit while it is in water, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
                    [/value]
                [/set_variables]
            [/then]
            [else]
                {CLEAR_VARIABLE unit.abilities.submerge}
            [/else]
        [/if]
        [if]
            [variable]
                name=unit.type
                equals=AE recon
            [/variable]
            [then]
                {CLEAR_VARIABLE unit.abilities.hides}
                [set_variables]
                    name=unit.abilities.nightstalk
                    mode=replace
                    [value]
                        id=AE fake_nightstalk
                        name= _ "nightstalk"
                        female_name= _ "nightstalk"
                        description= _ "Nightstalk:
The unit becomes invisible during night.

Enemy units cannot see this unit at night, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
                        name_inactive= _ "nightstalk"
                        female_name_inactive= _ "female^nightstalk"
                        description_inactive= _ "Nightstalk:
The unit becomes invisible during night.

Enemy units cannot see this unit at night, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
                    [/value]
                [/set_variables]
            [/then]
            [else]
                {CLEAR_VARIABLE unit.abilities.nightstalk}
            [/else]
        [/if]
        [unstore_unit]
            variable=unit
        [/unstore_unit]
        {CLEAR_VARIABLE change_to}
    [/event]
    [event]
        name=select
        first_time_only=no
        [filter]
            [filter_wml]
                [variables]
                    lightshifter="1"
                [/variables]
            [/filter_wml]
        [/filter]
        [unstore_unit]
            variable=unit
            text=_"lightshifter"
            green=255
        [/unstore_unit]
        {STEELHIVE_SOUND:TRANSFORM}
    [/event]
[/unit_type]
