#wmllint: no translatables

[unit_type]
    [base_unit]
        id=Orcish Assassin
    [/base_unit]
    id=Orcish Assassin_EoC
    advances_to=Orcish Slayer_EoC
[/unit_type]

[unit_type]
    [base_unit]
        id=Orcish Slayer
    [/base_unit]
    id=Orcish Slayer_EoC
    advances_to=Orcish Nightblade
    experience=75
[/unit_type]

[unit_type]
    [base_unit]
        id=Orcish Grunt
    [/base_unit]
    id=Orcish Grunt_EoC
    advances_to=Orcish Warrior,Orcish Raider
[/unit_type]
