#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_tribe_Archer
    name= _ "Archer"
    race=AE_mrc_tribe_race
    gender=male
    image="units/tribe/archer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=42
    movement_type=AE_mrc_tribe_tribefoot
    movement=6
    experience=71
    level=2
    alignment=neutral
    advances_to=AE_mrc_tribe_Native
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=28
    usage=archer
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
        blade=110
    [/resistance]

    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description= _ "Fist"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=4
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bow
        description= _ "Bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=7
        number=5
        [specials]
        [/specials]
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
