#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Tribe Wallaby
    name= _ "Wallaby"
    race=monster
    gender=male
    image="units/tribe/wallaby.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=28
    movement_type=tribewally
    movement=8
    experience=32
    level=1
    alignment=neutral
    advances_to=AE Tribe Kangaroo
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=16
    usage=scout
    description= _ "
"

    [resistance]
        arcane=90
        fire=120
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Kick
        description= _ "Kick"
        icon=attacks/claws-animal.png
        type=impact
        range=melee
        damage=8
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
