#textdomain wesnoth-Ageless_Era

### | Feudal Era Custom RPG Factions

## | Aragwaithi - RPG

[multiplayer_side]
    id=AE Aragwaithi
    name= _ "Feudal - Aragwaithi"
    image=units/human-aragwaithi/swordman.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Aragwaithi Spearman
    leader=AE Aragwaithi Archer,AE Aragwaithi Swordsman,AE Aragwaithi Spearman,AE Aragwaithi Warlock,AE Aragwaithi Scout, AE Aragwaithi Eagle Rider
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Ceresian League - RPG

[multiplayer_side]
    id=AE Ceresians
    name= _ "Feudal - Ceresian League"
    image=units/human-ceresians/corporal.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Ceresian Corporal
    leader=AE Ceresian Corporal,AE Ceresian Yeoman,AE Ceresian Crossbowman,AE Ceresian Squire,AE Ceresian Cavalryman,AE Ceresian Acolyte,AE Ceresian Novice
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer,healer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Clockwork Dwarves - RPG

[multiplayer_side]
    id=AE Clockwork Dwarves
    name= _ "Feudal - Clockwork Dwarves"
    image="units/dwarves-clockwork/soldier.png~TC(1,magenta)"
    type=AE Clockwork Soldier
    leader=AE Clockwork Triggerman,AE Clockwork Soldier,AE Clockwork Wanderer,AE Clockwork Greaser,AE Clockwork Contraption,AE Clockwork Wooden Bird
    [ai]
        recruitment_pattern=archer,fighter,fighter,healer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | High Elves - RPG

[multiplayer_side]
    id=AE High Elves
    name= _ "Feudal - High Elves"
    image="units/elves-high/archer.png~TC(1,magenta)"
    type=AE High Elven Faerie Warrior
    leader=AE High Elven Archer,AE High Elven Charger,AE High Elven Sorceress,AE High Elven Faerie Warrior,AE High Elven Spearman,AE High Elven Horse Archer,AE High Elven Charger
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Orcish Khaganates - RPG

[multiplayer_side]
    id=AE Orcish Khaganates
    name= _ "Feudal - Orcish Khaganates"
    image="units/orcs-khaganate/warrior.png~TC(1,magenta)"
    type=AE Khaganate Warrior
    leader=AE Khaganate Warrior,AE Khaganate Shieldbearer,AE Khaganate Herder,AE Khaganate Hunter,AE Khaganate Spearhead
    [ai]
        recruitment_pattern=fighter,fighter,scout,defender,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
