#textdomain wesnoth-Ageless_Era

### | Era of Myths Custom RPG Factions

## | Celestials - RPG

[multiplayer_side]
    id=AE_side_myh_celestials
    name= _ "EOM - Celestials"
    image="units/celestials/messenger.png"
    type=AE_myh_celestials_Messenger
    leader=AE_myh_celestials_Messenger,AE_myh_celestials_Light_Spirit,AE_myh_celestials_Crusader,AE_myh_celestials_Legionnaire,AE_myh_celestials_Wizard,AE_myh_celestials_Zealot
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Devlings - RPG

[multiplayer_side]
    id=AE_side_myh_devlings
    name= _ "EOM - Devlings"
    image="units/devlings/nailers.png"
    type=AE_myh_devilings_Cursers
    leader=AE_myh_devilings_Flappers, AE_myh_devilings_Sneak, AE_myh_devilings_Cursers, AE_myh_devilings_Overgrown_Devling, AE_myh_devilings_Nailers
    random_leader=AE_myh_devilings_Flappers, AE_myh_devilings_Cursers, AE_myh_devilings_Overgrown_Devling, AE_myh_devilings_Nailers
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Therians - RPG

[multiplayer_side]
    id=AE_side_myh_therians
    name= _ "EOM - Therians"
    image="units/shifters/guard.png~TC(1,magenta)"
    type=AE_myh_therians_Guard
    leader=AE_myh_therians_Therian_Cat,AE_myh_therians_Falcon_Therian,AE_myh_therians_Serpent_Therian,AE_myh_therians_Apprentice,AE_myh_therians_Monk,AE_myh_therians_Guard
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Vampires - RPG

[multiplayer_side]
    id=AE_side_myh_vampires
    name= _ "EOM - Vampires"
    image="units/vampires/Female/succubus.png"
    type=AE_myh_vampires_Fledgeling
    leader=AE_myh_vampires_Succubus,AE_myh_vampires_Gargoyle,AE_myh_vampires_Blood_Hulk,AE_myh_vampires_Fledgeling,AE_myh_vampires_Blood_Apprentice,AE_myh_vampires_Thin_Blood,AE_myh_vampires_Bloodborn
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Warg - RPG

[multiplayer_side]
    id=AE_side_myh_wargs
    name= _ "EOM - Wargs"
    image="units/wargs/werewolf.png"
    type=AE_myh_wargs_Warrior_Wolf
    leader=AE_myh_wargs_Stalker,AE_myh_wargs_Wolf_Cub,AE_myh_wargs_Shapeshifter,AE_myh_wargs_Blackfur,AE_myh_wargs_Fire_Sprite,AE_myh_wargs_Warrior_Wolf
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Windsong - RPG

[multiplayer_side]
    id=AE_side_myh_windsong
    name= _ "EOM - Windsong"
    image="units/windsong/scribe.png~TC(1,magenta)"
    type=AE_myh_windsong_Scribe
    leader=AE_myh_windsong_Scribe,AE_myh_windsong_Seeker,AE_myh_windsong_Weaver,AE_myh_windsong_Gatekeeper,AE_myh_windsong_Courier,AE_myh_windsong_Sky_Shard
    random_leader=AE_myh_windsong_Scribe,AE_myh_windsong_Seeker,AE_myh_windsong_Weaver,AE_myh_windsong_Gatekeeper,AE_myh_windsong_Courier
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
