#textdomain wesnoth-Ageless_Era

### | Era of Chaos Custom Default Factions

## | Aragwaithi - Heros

[multiplayer_side]
    id=Aragwaithi_RPG
    name= _"Aragwaithi"
    image="units/human-aragwaithi/spearman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Aragwaith Spearman
    leader="Aragwaith Archer,Aragwaith Scout,Aragwaith Swordsman,Aragwaith Spearman,Aragwaith Witch,Aragwaith Eagle Rider"
    terrain_liked=Gg, Dd
    [ai]
        recruitment_pattern=fighter,fighter,archer,fighter,scout,healer,scout
    [/ai]
[/multiplayer_side]


#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Chaos Empire - Heros

[multiplayer_side]
    id=Chaos_Empire_RPG
    name= _"Chaos Empire"
    image="units/demons/regular.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Chaos Invoker
    leader=Chaos Invader,Chaos Invoker,Chaos Bowman,Chaos Gunner,Chaos Headhunter,Chaos Raider,Chaos Hound,Shaxthal Drone,Shaxthal Runner Drone,Demon,Imp
    terrain_liked=Gg
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,archer,scout,mixed fighter,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Elementals - Heros

[multiplayer_side]
    id=Elementals_RPG
    name= _"Elementals"
    image=units/human-magi/mage.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Summoner Initiate
    leader=Brazier Imp,Elemental Wisp,Ethereal Orb,Ice Cub,Kobold,Salamander,Shockbird,Sylph,Undine,Vine Leaper,Summoner Initiate
    terrain_liked=Gg
    [ai]
        recruitment_pattern=fighter,scout,mixed fighter,mixed fighter,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Quenoth elves - Default

[multiplayer_side]
    id=Quenoth Elves_RPG
    name= _"Quenoth Elves"
    image="units/elves-quenoth/hunter.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Quenoth Hunter
    leader=Quenoth Hunter,Quenoth Lurker,Quenoth Archer,Quenoth Mystic,Quenoth Horseman,Merman Fighter,Merman Hunter,Mermaid Initiate
    terrain_liked=Dd
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Sylvians - Default

[multiplayer_side]
    id=Sylvans_RPG
    name= _"Sylvans"
    image="units/elves-wood/acolyte.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Elvish Acolyte
    leader=Elvish Fighter,Elvish Archer,Faerie Sprite,Dusk Faerie,Elvish Warrior Spirit,Elvish Scout,Elvish Acolyte
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,archer,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Wild Humans - Default

[multiplayer_side]
    id=Wild_Humans_RPG
    name= _"Wild Humans"
    image="units/human-wild/archer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Wild Archer
    leader=Wild Soldier,Wild Archer,Wild Horseman,Wolf_EoC,Bandit Fighter,Rogue Mage,Thug,Footpad,Thief,Poacher,Naga Guardian,Spearman
    terrain_liked=Dd
    [ai]
        recruitment_pattern=fighter,archer,archer,fighter,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
