#textdomain wesnoth-Ageless_Era

### | Extended Era Custom RPG Factions

## | Loyalist - RPG

[multiplayer_side]
    id=AE LoyalistsEE
    name= _ "EE - Loyalists"
    image="units/human-loyalists/lieutenant.png~RC(magenta>red)"
    type=Sergeant
    leader=Cavalryman,Horseman,Spearman,Fencer,Heavy Infantryman,Bowman,Mage,Sergeant,Peasant,Merman Fighter,Merman Hunter,Mermaid Initiate
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Sylvans - RPG

[multiplayer_side]
    id=AE Sylvans
    name= _ "EE - Sylvans"
    image="units/elves-wood/captain.png~RC(magenta>red)"
    type=Elvish Fighter
    leader=Elvish Fighter,Elvish Archer,AE Sprite,Elvish Shaman,Elvish Scout,AE Wose,Merman Fighter,Merman Hunter,Mermaid Initiate
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dwarves - RPG

[multiplayer_side]
    id=AE Dwarves
    name= _ "EE - Dwarves"
    image="units/dwarves/steelclad.png~RC(magenta>red)"
    type=AE Dwarvish Fighter
    leader=Dwarvish Guardsman,AE Dwarvish Fighter,Dwarvish Ulfserker,AE Dwarvish Thunderer,Dwarvish Scout,AE Dwarvish Gyrocopter,AE Dwarvish Steamwheel
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Outlaws - RPG

[multiplayer_side]
    id=AE Outlaws
    name= _ "EE - Outlaws"
    image="units/human-outlaws/rogue.png~RC(magenta>red)"
    type=Thief
    leader=Thief,Poacher,Footpad,Thug,AE Outlaw Brigand,AE Outlaw Rogue Mage,Ruffian,Young Ogre,AE Naga Fighter,AE Naga Hunter
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Northerners - RPG

[multiplayer_side]
    id=AE NorthernersEE
    name= _ "EE - Northerners"
    image="units/orcs/warrior.png~RC(magenta>red)"
    type=Orcish Grunt
    leader=Orcish Grunt,AE Troll Whelp,Wolf Rider,Orcish Archer,Orcish Assassin,Goblin Spearman,AE Orcish Shaman,AE Naga Fighter,AE Naga Guardian,AE Naga Hunter,AE Orcish Leader
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Undead - RPG

[multiplayer_side]
    id=AE UndeadEE
    name= _ "EE - Undead"
    image=units/undead-necromancers/adept.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Dark Adept
    leader=AE Skeleton,Skeleton Archer,Walking Corpse,Ghost,Vampire Bat,Ghoul,AE Dark Adept
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Chaos - RPG

[multiplayer_side]
    id=AE Chaos
    name= _ "EE - Chaos"
    image="units/chaos/magus.png~RC(magenta>red)"
    type=AE Chaos Invoker
    leader=AE Chaos Hound,AE Lesser Daemon,AE Lesser Mutation,AE Chaos Invader,AE Chaos Invoker,AE Chaos Headhunter,AE Lesser Crab
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
#define UNUSED
    ## | Kalifa - RPG

    [multiplayer_side]
        id=AE Kalifa
        name= _ "EE - Kalifa"
        image="units/human-kalifa/ahadath.png~RC(magenta>red)"
        type=AE Kalifa Ekim
        leader=AE Kalifa Falcon,AE Kalifa Ahadath,AE Kalifa Karadis,AE Kalifa Ghulam,AE Kalifa Rami,AE Kalifa Amir,AE Kalifa Ekim
        [ai]
            recruit_pattern=archer, mixed fighter, fighter,fighter,healer, scout
        [/ai]
    [/multiplayer_side]
#enddef
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dark Elves - RPG

[multiplayer_side]
    id=AE Dark Elves
    name= _ "EE - Dark Elves"
    image="units/elves-dark/captain.png~RC(magenta>red)"
    type=AE Dark Elf Fighter
    leader=AE Dark Elf Fighter,AE Dark Elf Hunter,AE Dark Elf Wizard,AE Dark Elf Lizard Rider,AE Dark Elf Enchantress,AE Dark Elf Noble,Vampire Bat,AE_ext_dark_elves_Ice_Wyrm
    terrain_liked=Ss,Hh,Ha,Ww,Uu
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
