#textdomain wesnoth-Ageless_Era

### | Archiac Era Custom RPG Factions

## | Khthon - RPG

[multiplayer_side]
    id=AE Khthon
    name= _ "Archaic - Khthon"
    image=units/khthon/yak.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Yak
    leader=Yak, Ram, Timber Wolf, Horse, Toad, Terrapin, Brown Duck
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Phantoms - RPG

[multiplayer_side]
    id=AE Phantom
    name= _ "Archaic - Phantom"
    image=units/phantom/tomb_guard.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Tomb Guard
    leader=Tomb Dancer,Tomb Guard,Tomb Huntress,Spirit Dove, Tomb Shade
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Despair - RPG

[multiplayer_side]
    id=AE Despair
    name= _ "Archaic - Despair"
    image=units/despair/phantomspear.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Phantom Spearman
    leader=Phantom Unease,Phantom Cloak,Phantom Spearman,Phantom Rider,Phantom Statue, Phantom Widow
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Primeval - RPG

[multiplayer_side]
    id=AE Primeval
    name= _ "Archaic - Primeval"
    image=units/primeval/slowfoot.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Primeval Slow
    leader=Primevalist Fighter, Primevalist Follower, Primeval Slow, Primeval Swiftfoot, Primeval Cutter, Primeval Velite
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | South-Seas - RPG

[multiplayer_side]
    id=AE South-Seas
    name= _ "Archaic - South-Seas"
    image=units/south-seas/seaman.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=SouthSeas Seaman
    leader=SouthSeas Seaman, SouthSeas Swimmer, SouthSeas Caster, SouthSeas Arsonist, SouthSeas Shoreman,SouthSeas Albatross
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Ukians - RPG

[multiplayer_side]
    id=AE Ukians
    name= _ "Archaic - Ukians"
    image=units/ukians/regular.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Ukian Regular
    leader=Ukian Regular, Ukian Runner, Ukian Archer, Ukian Dog, Royal Vassal, Northern Fighter, Ukian Seal
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Northern Orcs - RPG

[multiplayer_side]
    id=AE Northerner Orcs
    name= _ "Archaic - Northern Orcs"
    image="units/orcs/raider.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Orcish Rider
    leader=Orcish Slinger,Rat Rider,Orcish Drifter,Orcish Rider,Archaic_Goblin,Orcish Serf
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Menagerie

[multiplayer_side]
    id=Archaic_Menagerie
    name= _ "Archaic - Menagerie"
    image=units/menagerie/lunar-stinkbug.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Tower Ladyboy
    leader=Tower Ladyboy, Wind_Daemon_1, Tri_Mech_Drone, Tri_Blue_Novice, Blue_Lizard, Lunar Bug, Lunar Goo, Tri_Mech_Scout
    terrain_liked=Ds,Ff,Hh,Uu,Rd
[/multiplayer_side]


#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
