#textdomain wesnoth-Ageless_Era

### | Custom RPG Factions

## | Yokai - RPG

[multiplayer_side]
    id=AE Yokai
    name= _ "AE - Yokai"
    image="units/yokai/feyborn.png~RC(magenta>red)"
    type=AE Feyborn
    leader=AE Weaver Maiden,AE Sproutling,AE Nymph,AE Pixie,AE Poltergeist,AE Feyborn,AE Weaver Matron,AE Weaver Widow,AE Lamia,AE Faerie,AE Nixie,AE Rebel Swarm,AE Surgler Swarm,AE Mandragora,AE Spriggan

    terrain_liked=Gs^Fp,Aa^Fpa,Hh,Ha,Ss,Uu,Ww
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dark Legion - RPG

[multiplayer_side]
    id=AE Dark Legion
    name= _ "AE - Dark Legion"
    image="units/human-dark/sword-longswordsman.png~TC(1,magenta)"
    type=AE_Dark Soldier
    leader=AE_Dark Soldier,AE_Dark Spearman,AE_Dark Trooper,AE_Dark Bowman,AE_Dark Raider, Naga Fighter
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Desert Elves - RPG

[multiplayer_side]
    id=AE Desert Elves
    name= _ "AE - Desert Elves"
    image="units/elves-desert/sentinel.png~RC(magenta>red)"

    type=AE Desert Fighter
    leader=AE Desert Hunter,AE Desert Archer,AE Desert Fighter,AE Desert Scout,AE Desert Shaman,AE Kalifa Elder Falcon
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Steelhive  - RPG

[multiplayer_side]
    id=AE Steelhive
    name= _ "AE - Steelhive"
    image=units/steelhive/slasher.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE slasher
    leader=AE slasher,AE oculus,AE drone,AE cybercore,AE sentient,AE welder,AE_Steelhive_Larva
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Frozen - RPG

[multiplayer_side]
    id=AE Frozen
    name= _ "AE - Frozen"
    image="units/frozen/frost_fighter.png~RC(magenta>red)"
    type=AE_agl_frozen_frost_fighter
    leader=AE_agl_frozen_frost_student,AE_agl_frozen_ice_golem,AE_agl_frozen_frost_spearman,AE_agl_frozen_flying_golem,AE_agl_frozen_frost_fighter,AE_agl_frozen_frost_rider
[/multiplayer_side]
