#textdomain wesnoth-Ageless_Era

### | Era of the Future Custom RPG Factions

## | Brungar - RPG

[multiplayer_side]
    id=AE Brungar
    name= _ "EotF - Brungar"
    image=units/Brungar/Baby_Sea_Turtle.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Baby Sea Turtle
    leader=AE Undecided Student,AE Alligator Rider,AE Dwarvish Hunter,AE Baby Sea Turtle,AE Amateur Tamer,AE Crab,AE Council Member,AE Harpoonier
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Welkin - RPG

[multiplayer_side]
    id=AE Welkin
    name= _ "EotF - Welkin"
    image=units/Welkin/Flyer.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Flyer
    leader=AE Flyer,AE Luna Protector,AE Flurry,AE Moonlight Glider,AE Sage,AE Neophyte,AE Guardian of Day,AE Star Shooter
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
