#textdomain wesnoth-Ageless_Era

### | Custom RPG Factions

## | Yokai - RPG

[multiplayer_side]
    id=AE_side_agl_yokai
    name= _ "AE - Yokai"
    image="units/yokai/feyborn.png~RC(magenta>red)"
    type=AE_agl_yokai_Feyborn
    leader=AE_agl_yokai_Weaver_Maiden,AE_agl_yokai_Sproutling,AE_agl_yokai_Nymph,AE_agl_yokai_Pixie,AE_agl_yokai_Poltergeist,AE_agl_yokai_Feyborn,AE_agl_yokai_Lamia,AE_agl_yokai_Faerie,AE_agl_yokai_Nixie,AE_agl_yokai_Rebel_Swarm,AE_agl_yokai_Surgler_Swarm,AE_agl_yokai_Mandragora,AE_agl_yokai_Spriggan
    random_leader=AE_agl_yokai_Weaver_Maiden,AE_agl_yokai_Nymph,AE_agl_yokai_Poltergeist,AE_agl_yokai_Feyborn,,AE_agl_yokai_Lamia

    terrain_liked=Gs^Fp,Aa^Fpa,Hh,Ha,Ss,Uu,Ww
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dark Legion - RPG

[multiplayer_side]
    id=AE_side_agl_darklegion
    name= _ "AE - Dark Legion"
    image="units/human-dark/sword-longswordsman.png~TC(1,magenta)"
    type=AE_agl_dark_legion_Soldier
    leader=AE_agl_dark_legion_Soldier,AE_agl_dark_legion_Spearman,AE_agl_dark_legion_Trooper,AE_agl_dark_legion_Bowman,AE_agl_dark_legion_Raider
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Desert Elves - RPG

[multiplayer_side]
    id=AE_side_agl_desertelves
    name= _ "AE - Desert Elves"
    image="units/elves-desert/sentinel.png~RC(magenta>red)"
	{MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_agl_desert_elves_Fighter
    leader=AE_agl_desert_elves_Hunter,AE_agl_desert_elves_Archer,AE_agl_desert_elves_Fighter,AE_agl_desert_elves_Scout,AE_agl_desert_elves_Shaman
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Steelhive  - RPG

[multiplayer_side]
    id=AE_side_agl_steelhive
    name= _ "AE - Steelhive"
    image=units/steelhive/slasher.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_agl_steelhive_Slasher
    leader=AE_agl_steelhive_Slasher,AE_agl_steelhive_Oculus,AE_agl_steelhive_Drone,AE_agl_steelhive_Cybercore,AE_agl_steelhive_Sentient,AE_agl_steelhive_Welder,AE_agl_steelhive_Larva
    random_leader=AE_agl_steelhive_Slasher,AE_agl_steelhive_Oculus,AE_agl_steelhive_Drone,AE_agl_steelhive_Larva
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Frozen - RPG

[multiplayer_side]
    id=AE_side_agl_frozen
    name= _ "AE - Frozen"
    image="units/frozen/frost_fighter.png~RC(magenta>red)"
    type=AE_agl_frozen_frost_fighter
    leader=AE_agl_frozen_frost_student,AE_agl_frozen_ice_golem,AE_agl_frozen_frost_spearman,AE_agl_frozen_flying_golem,AE_agl_frozen_frost_fighter,AE_agl_frozen_frost_rider
[/multiplayer_side]
