#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_myh_wargs_Warrior_Warg
    name= _ "Warrior Warg"
    race=AE_myh_wargs
    image="units/wargs/warrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=52
    movement_type=AE_myh_wargs_wolffoot
    movement=6
    experience=72
    level=2
    alignment=chaotic
    advances_to=AE_myh_wargs_Fenrir,AE_myh_wargs_Pack_Leader,AE_myh_wargs_Moon_Blade
    cost=30
    usage=fighter
    description= _ "This unit is from The Era of Myths. Its coding and art were done by JW, Velensk, and many others.
 
The Warg who have proven themselves worthy of the name are a force to be reckoned with when defending their homeland."
    {DEFENSE_ANIM "units/wargs/warrior.png" "units/wargs/warrior.png" ugg.wav}

    [attack]
        name=claws
        description= _ "sword"
        type=blade
        range=melee
        damage=11
        number=3
        icon=attacks/sword-human.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="units/wargs/warrior.png"
            sound=wolf-bite.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
