#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_highlanders_Woodsman
    name= _ "Woodsman"
    race=AE_mrc_highlanders_race
    gender=male
    image="units/highlanders/woodsman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=AE_mrc_highlanders_woodfoot
    movement=6
    experience=85
    level=2
    alignment=neutral
    advances_to=AE_mrc_highlanders_Gamekeeper
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=30
    usage=archer
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
        blade=100
        impact=100
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Axe
        description= _ "Axe"
        icon=attacks/axe.png
        type=blade
        range=melee
        damage=10
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Hatchet
        description= _ "Hatchet"
        icon=attacks/hatchet.png
        type=blade
        range=ranged
        damage=9
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bow
        description= _ "Bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=7
        number=4
        [specials]
        [/specials]
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
