#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Highlander Pilferer
    name= _ "Pilferer"
    race=AE Highlanders
    gender=male
    image="units/highlanders/pilferer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=55
    movement_type=plunderfoot
    movement=6
    experience=80
    level=2
    alignment=neutral
    advances_to=AE Highlander Plunderer
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=32
    usage=fighter
    description= _ "
"

    [resistance]
        fire=90
        impact=80
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Axe
        description= _ "Axe"
        icon=attacks/axe.png
        type=blade
        range=melee
        damage=7
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Torch
        description= _ "Torch"
        icon=attacks/torch.png
        type=fire
        range=melee
        damage=9
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Hatchet
        description= _ "Hatchet"
        icon=attacks/hatchet.png
        type=blade
        range=ranged
        damage=5
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
