#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Highlander Viking
    name= _ "Viking"
    race=AE Highlanders
    gender=male
    image="units/highlanders/viking.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=vikingfoot
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=36
    usage=fighter
    description= _ "
"

    [resistance]
        cold=60
    [/resistance]

    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Axe
        description= _ "Axe"
        icon=attacks/axe.png
        type=blade
        range=melee
        damage=12
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Hatchet
        description= _ "Hatchet"
        icon=attacks/hatchet.png
        type=blade
        range=ranged
        damage=10
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
