#textdomain wesnoth-Ageless_Era

### | Era of Magic Custom Factions - Heroes

## | Summoners - Heroes

[multiplayer_side]
    id=AE_side_mag_alkamija
    name= "EoMa - " + _ "Al-Kamija"
    image="units/summoners/horhami.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Al_Kamija_Grand_Summoner
    leader=AE_mag_Al_Kamija_Grand_Summoner,AE_mag_Al_Kamija_Heavy_Summoner,AE_mag_Al_Kamija_Neutral_Summoner,AE_mag_Al_Kamija_Wonderful_Jinn,AE_mag_Al_Kamija_Great_Efreeti,AE_mag_Al_Kamija_Ho_rhami,AE_mag_Al_Kamija_DharmaRhami,AE_mag_Al_Kamija_Water_God,AE_mag_Al_Kamija_Fire_God,AE_mag_Al_Kamija_Earth_God,AE_mag_Al_Kamija_Air_God

    recruit=AE_mag_Al_Kamija_RhamiKai,AE_mag_Al_Kamija_RhamiDatu,AE_mag_Al_Kamija_Rhami,AE_mag_Al_Kamija_Jinn,AE_mag_Al_Kamija_Great_Jinn,AE_mag_Al_Kamija_Heavy_Camel_Rider,AE_mag_Al_Kamija_Dimensional_Gate_2,AE_mag_Al_Kamija_Dimensional_Gate,AE_mag_Al_Kamija_Water_Elemental,AE_mag_Al_Kamija_Fire_Elemental,AE_mag_Al_Kamija_Efreeti,AE_mag_Al_Kamija_Carpet_Rider,AE_mag_Al_Kamija_Summoner,AE_mag_Al_Kamija_Novice_Summoner,AE_mag_Al_Kamija_Carpet_Master,AE_mag_Al_Kamija_Camel_Rider,AE_mag_Al_Kamija_Water_Avatar,AE_mag_Al_Kamija_Fire_Avatar

    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,mixed fighter,archer,archer,scout,scout,scout,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Barbarians - Heroes

[multiplayer_side]
    id=AE_side_mag_barbarians
    name= "EoMa - " + _ "Barbarians"
    image="units/barbarians/greatbarbarian.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Barbarians_Barbarian_Lord
    leader=AE_mag_Barbarians_Barbarian_Lord,AE_mag_Barbarians_Ancient_Cyclops,AE_mag_Barbarians_Raging_Cyclops

    recruit=AE_mag_Barbarians_Troll_Warbanner,AE_mag_Barbarians_Troll_Sorcerer,AE_mag_Barbarians_Troll_Fire_Wizard,AE_mag_Barbarians_Roc_Rider,AE_mag_Barbarians_Roc_Master,AE_mag_Barbarians_Orcish_Warrior,AE_mag_Barbarians_Orcish_Warbanner,AE_mag_Barbarians_Blood_Warrior,AE_mag_Barbarians_Barbarian_Berserker,AE_mag_Barbarians_Barbarian,AE_mag_Barbarians_Goblin_Warrior,AE_mag_Barbarians_Goblin_Warbanner,AE_mag_Barbarians_Goblin_Sniper,AE_mag_Barbarians_Goblin_Runt,AE_mag_Barbarians_Goblin_Rouser,AE_mag_Barbarians_Goblin_Kamikaze,AE_mag_Barbarians_Goblin_Hunter,AE_mag_Barbarians_Goblin_Assassin,AE_mag_Barbarians_Goblin_Archer,AE_mag_Barbarians_Mighty_Cyclops,AE_mag_Barbarians_Fire_Cyclops,AE_mag_Barbarians_Cyclops_Breaker,AE_mag_Barbarians_Cyclops

    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dark Blood Alliance - Heroes

[multiplayer_side]
    id=AE_side_mag_darkblood
    name= "EoMa - " + _ "Dark Blood Alliance"
    image="units/darkblood/mystic.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Darkblood_Mystic
    leader=AE_mag_Darkblood_Mystic,AE_mag_Darkblood_Swamp_Mage,AE_mag_Darkblood_Chaos_Wyvern,AE_mag_Darkblood_Chaos_Rider,AE_mag_Darkblood_Dreadnaught,AE_mag_Darkblood_Double_Ranged_Toad,AE_mag_Darkblood_Mystical_Toad

    recruit=AE_mag_Darkblood_Wyvern_Rider,AE_mag_Darkblood_Wyvern_Tamer,AE_mag_Darkblood_Great_Wyvern,AE_mag_Darkblood_Wyvern,AE_mag_Darkblood_Toad,AE_mag_Darkblood_Shooter,AE_mag_Darkblood_Shamanistic_Toad,AE_mag_Darkblood_Shaman_Adept,AE_mag_Darkblood_Clan_Leader,AE_mag_Darkblood_Salamander,AE_mag_Darkblood_Ranged_Toad,AE_mag_Darkblood_Saurian_Pikeman,AE_mag_Darkblood_Green_Salamander,AE_mag_Darkblood_Blue_Salamander,AE_mag_Darkblood_Black_Salamander,AE_mag_Darkblood_Great_Pikeman,AE_mag_Darkblood_Corrupted_Shaman,AE_mag_Darkblood_Crossbowman,AE_mag_Darkblood_Battle_Toad
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter,scout,healer,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Destroyers - Heroes

[multiplayer_side]
    id=AE_side_mag_destroyers
    image="units/destroyers-omens/abaddon.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    name= "EoMa - " + _ "Destroyers"
    type=AE_mag_Destroyers_Obliterator
    leader=AE_mag_Destroyers_Obliterator,AE_mag_Destroyers_Atokpi_General,AE_mag_Destroyers_Apocalypse,AE_mag_Destroyers_Bone_Giant
    random_leader=AE_mag_Destroyers_Obliterator,AE_mag_Destroyers_Atokpi_General,AE_mag_Destroyers_Apocalypse,AE_mag_Destroyers_Bone_Giant
    recruit=AE_mag_Destroyers_Pirafly,AE_mag_Destroyers_Atokpi,AE_mag_Destroyers_Nightmare,AE_mag_Destroyers_Beast,AE_mag_Destroyers_Omen,AE_mag_Destroyers_Cyclops_Skeleton,AE_mag_Destroyers_Pirania_Monstruosa,AE_mag_Destroyers_Atokpi_Samurai,AE_mag_Destroyers_Mara,AE_mag_Destroyers_Bone_Golem,AE_mag_Destroyers_Punisher,AE_mag_Destroyers_Legendary_Cyclops
    [ai]
        recruitment_pattern=scout,warrior,warrior,archer,archer,mixed fighter,mixed fighter
    [/ai]
[/multiplayer_side]

## | Kharos - Heroes

[multiplayer_side]
    id=AE_side_mag_kharos
    name= "EoMa - " + _ "Kharos"
    image="units/kharos/platinumwarrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Kharos_Plantium_Warrior
    leader=AE_mag_Kharos_Plantium_Warrior,AE_mag_Kharos_Golden_Warrior,AE_mag_Kharos_Sun_Guardian,AE_mag_Kharos_Prophet_of_Light,AE_mag_Kharos_Mistress_of_Light,AE_mag_Kharos_Kharos_War_Banner
    random_leader=AE_mag_Kharos_Plantium_Warrior,AE_mag_Kharos_Golden_Warrior,AE_mag_Kharos_Sun_Guardian,AE_mag_Kharos_Prophet_of_Light,AE_mag_Kharos_Mistress_of_Light

    recruit=AE_mag_Kharos_War_Banner,AE_mag_Kharos_White_Warrior,AE_mag_Kharos_Slicer,AE_mag_Kharos_Silver_Warrior,AE_mag_Kharos_Shielder,AE_mag_Kharos_Revenger,AE_mag_Kharos_Protector,AE_mag_Kharos_Sun_Follower,AE_mag_Kharos_Fanatic,AE_mag_Kharos_Elemental_Archer,AE_mag_Kharos_Heavy_Cavalry_Archer,AE_mag_Kharos_Cavalry_Archer,AE_mag_Kharos_Brown_Warrior,AE_mag_Kharos_Sister_of_Light,AE_mag_Kharos_Inspired,AE_mag_Kharos_Cleric,AE_mag_Kharos_Child_of_Light,AE_mag_Kharos_Adept_of_Light

    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,healer,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Runemasters - Heroes

[multiplayer_side]
    id=AE_side_mag_runemasters
    name= "EoMa - " + _ "Runemasters"
    image="units/ancient_dwarves/runewarrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Runemasters_Dwarvish_Rune_Warrior
    leader=AE_mag_Runemasters_Dwarvish_Rune_Warrior,AE_mag_Runemasters_Rune_Artist,AE_mag_Runemasters_Pacificator,AE_mag_Runemasters_Mechanical_Dragon

    recruit=AE_mag_Runemasters_Dwarvish_Warrior,AE_mag_Runemasters_Technician,AE_mag_Runemasters_Dwarvish_Tank,AE_mag_Runemasters_Steam_Ulfserker,AE_mag_Runemasters_Steamcopter,AE_mag_Runemasters_Steam_Berserker,AE_mag_Runemasters_Striding_Machine,AE_mag_Runemasters_Runesmith,AE_mag_Runemasters_Runeadept,AE_mag_Runemasters_Red_Ulfserker,AE_mag_Runemasters_Parachutist,AE_mag_Runemasters_Mechanic,AE_mag_Runemasters_Dwarvish_Heavy_Warrior,AE_mag_Runemasters_Heavy_Balloon,AE_mag_Runemasters_Balloon

    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Sky Kingdom - Heroes

[multiplayer_side]
    id=AE_side_mag_skykingdom
    name= "EoMa - " + _ "Sky Kingdom"
    image="units/enlightened/enlightened-mastermage.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Sky_Kingdom_Mastermage
    leader=AE_mag_Sky_Kingdom_Mastermage,AE_mag_Sky_Kingdom_Master_of_Water,AE_mag_Sky_Kingdom_Master_of_Fire,AE_mag_Sky_Kingdom_Master_of_Air,AE_mag_Sky_Kingdom_Shadowmage,AE_mag_Sky_Kingdom_Abyss_Mage,AE_mag_Sky_Kingdom_Golden_Mage

    recruit=AE_mag_Sky_Kingdom_War_Mage,AE_mag_Sky_Kingdom_Subversive_Mage,AE_mag_Sky_Kingdom_Sorcerer,AE_mag_Sky_Kingdom_Mystical_Warrior,AE_mag_Sky_Kingdom_Mu,AE_mag_Sky_Kingdom_Magical_Eye,AE_mag_Sky_Kingdom_Mage_of_Water,AE_mag_Sky_Kingdom_Mage_of_Fire,AE_mag_Sky_Kingdom_Mage_of_Air,AE_mag_Sky_Kingdom_Hidden_Face,AE_mag_Sky_Kingdom_Golem_boss,AE_mag_Sky_Kingdom_Golem,AE_mag_Sky_Kingdom_Elementalist,AE_mag_Sky_Kingdom_Deadly_Eye,AE_mag_Sky_Kingdom_Black_Mage,AE_mag_Sky_Kingdom_Battlemage,AE_mag_Sky_Kingdom_Sculptor

    music=""
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Warlocks - Heroes

[multiplayer_side]
    id=AE_side_mag_tharis
    name= "EoMa - " + _ "Tharis"
    image="units/warlocks/masterofwar.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mag_Tharis_General
    leader=AE_mag_Tharis_General,AE_mag_Tharis_Great_Warlock,AE_mag_Tharis_Blademaster,AE_mag_Tharis_Matriarch_of_Darkness,AE_mag_Tharis_Matriarch_of_Emptiness,AE_mag_Tharis_Cold_Matriarch,AE_mag_Tharis_Chaos_Hydra

    recruit=AE_mag_Tharis_Witch,AE_mag_Tharis_Sworddancer,AE_mag_Tharis_Dark_Slayer,AE_mag_Tharis_Dark_Witch,AE_mag_Tharis_Hydra,AE_mag_Tharis_Dark_Hunter,AE_mag_Tharis_Great_Hunter,AE_mag_Tharis_Dark_Warrior,AE_mag_Tharis_Disciple,AE_mag_Tharis_Raging_Hydra,AE_mag_Tharis_Dark_Wizard,AE_mag_Tharis_Commander,AE_mag_Tharis_Bladedancer,AE_mag_Tharis_Dark_Assassin,Vampire Bat,Dread Bat,Blood Bat
    terrain_liked=gcs
    [ai]
        recruitment_pattern=archer,archer,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
