#textdomain wesnoth-Ageless_Era

### | BEEM Custom Factions - Heroes

## | Anakes - Heroes

[multiplayer_side]
    id=AE Anakes Heroes
    name= _ "BEEM - Anakes"
    image="units/anakes/wizard.png~RC(magenta>red)"
    type=AE Anakes Archdaemon
    leader= AE Anakes Archdaemon,AE Anakes Massacrer,AE Anakes Apostate,AE Anakes Wizard,AE Anakes Dark Prophet,AE Anakes Terrorbow,AE Anakes Fiend,AE Anakes Alastor
    recruit=AE Anakes Damned,AE Anakes Initiate,AE Anakes Heterodox,AE Anakes Leech Rider,AE Anakes Sniper,AE Anakes Imp,AE Anakes Cursed,AE Anakes Daemon,AE Anakes Slaughterer,AE Anakes Heretic,AE Anakes Spellcaster,AE Anakes Hierophant,AE Anakes Sharp Eye,AE Anakes Devil,AE Anakes Stormbringer

    terrain_liked=   Hh,   Mm,   Gg,   Ch
    [ai]
        recruitment_pattern=fighter,fighter,scout,scout,archer,archer,mixed fighter,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Calydonians - Heroes

[multiplayer_side]
    id=AE Calydonians Heroes
    name= _ "BEEM - Calydonians"
    image="units/calydonians/strategos.png~RC(magenta>red)"
    type=AE Strategos
    leader=AE Strategos,AE Diarch,AE Cretan Toxotes,AE Dardanian Ravager
    recruit=AE Hoplite,AE Teti,AE Prodromoi,AE Dioian Swordsman,AE Tassiarch,AE Polemarch,AE Toxotes,AE Dardanian Pillager,AE Dioian Veteran,AE Peltast,AE Dardanian Warrior,AE Veteran Peltast,AE Gymnet,AE Gymnet
    terrain_liked=   Hh,   Mm,   Gg,   Ch
    [ai]
        recruitment_pattern=fighter,fighter,scout,scout,archer,archer,mixed_fighter,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Wood Warriors - Heroes

[multiplayer_side]
    id=AE Wood Warriors Heroes
    name= _ "BEEM - Wood Warriors"
    image="units/wood_warriors/golem/golem_distruttore.png~RC(magenta>red)"
    type=AE Wildrats_Knight
    leader=AE Wildrats_Knight,AE Terrible_Bigfoot,AE Legendary_Sorcerer,AE Faun_Sniper,AE Faun_Overlord,AE Destroyer_Golem
    recruit=AE Young_Faun,AE Young_Bigfoot,AE Woods_Druid,AE Swamp_Explorer,AE Rats_Knight,AE Predator_Rats_Knight,AE Little_Golem,AE Golem_Wood_Defender,AE Faun_Sharpshooter,AE Faun_Captain,AE Fatal_Tangle,AE Explorer_Puck,AE Exiled_Alchemist,AE Carnivore_Plant,AE Bigfoot,AE Amphibians_Rider

    terrain_liked=Gg, Ww, Wo
    [ai]
        recruitment_pattern=fighter,scout,fighter,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
