#textdomain wesnoth-Ageless_Era

### | Era of the Future Custom Factions - Heroes

## | Welkins - Heroes

[multiplayer_side]
    id=AE Welkin Heroes
    name= _ "EotF - Welkin"
    image=units/Welkin/Mentor.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Talon Hero
    leader="AE Deadeye,AE Solar Empyrean,AE Battle Seer,AE Doyen,AE Thoths Bulwark,AE Tornado,AE High Pyroation,AE Welkin Lord,AE Astral Ranger"

    recruit=AE Battle Sage,AE Elder Sage,AE Grand Flyer,AE Twilight Slayer,AE Whirlwind,AE Flyer,AE Pyroation,AE Quickdraw,AE Neophyte,AE Shadow Raider,AE Sage,AE Sentinel of the Moon,AE Golden Guard,AE Star Shooter,AE Guardian of Day,AE Talon Warrior,AE Flurry,AE Midnight Stalker,AE Moonlight Glider,AE Luna Protector,AE Mentor

    [ai]
        recruitment_pattern=fighter,fighter,scout,mixed_fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Brungar - Heroes

[multiplayer_side]
    id=AE Brungar Heroes
    name= _ "EotF - Brungar"
    image=units/Brungar/Expert_Tamer.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Expert Tamer
    leader=AE High Council Member,AE Dwarvish HuntsMaster,AE Toxin Specialist,AE Practitioner,AE Wave Master,AE Harpoon Guard,AE Crystal Master,AE Giant Sea Turtle,AE Giant Crab

    recruit=AE Wave Rider,AE Undecided Student,AE Sting Ray,AE Sea Turtle,AE Overgrown Crab,AE Ocean Apprentice,AE Ice Apprentice,AE Herbicider,AE Herbalist,AE Harpoonier,AE Harpoon Specialist,AE Experienced Tamer,AE Dwarvish Huntsman,AE Dwarvish Hunter,AE Crocodile Rider,AE Crab,AE Council Member,AE Council Elder,AE Baby Sea Turtle,AE Apothecary,AE Amateur Tamer,AE Alligator Rider

    [ai]
        recruitment_pattern=fighter,fighter,scout,mixed_fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
