#textdomain wesnoth-Ageless_Era

### | Era of Chaos Custom Default Factions

## | Aragwaithi - Heros

[multiplayer_side]
    id=Aragwaithi_AoH
    name= _"Aragwaithi"
    image="units/human-aragwaithi/ancient-banner.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Aragwaith Captain
    leader=Aragwaith Captain,Aragwaith Shield Guard,Aragwaith Swordsmaster,Aragwaith Greatbow,Aragwaith Slayer,Aragwaith Sorceress,Aragwaith Guardian
    random_leader=Aragwaith Captain,Aragwaith Shield Guard,Aragwaith Swordsmaster,Aragwaith Greatbow,Aragwaith Slayer,Aragwaith Sorceress,Aragwaith Guardian
    recruit="Aragwaith Archer,Aragwaith Strongbow,Aragwaith Scout,Aragwaith Lancer,Aragwaith Swordsman,Aragwaith Guard,Aragwaith Longswordsman,Aragwaith Spearman,Aragwaith Flagbearer,Aragwaith Pikeman,Aragwaith Witch,Aragwaith Wizard,Aragwaith Eagle Rider,Aragwaith Eagle Master"
    terrain_liked=Gg, Dd
    [ai]
        recruitment_pattern=fighter,fighter,archer,fighter,scout,healer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Chaos Empire - Heros

[multiplayer_side]
    id=Chaos_Empire_AoH
    name= _"Chaos Empire"
    image="units/demons/lord.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Chaos Lorekeeper
    leader=Chaos Lorekeeper,Chaos Razerman,Hell Guardian,Chaos Arbalestier,Chaos Heavy Longbowman,Chaos Sharpshooter,Shaxthal Stormblade,Demon Warrior,Demon Shapeshifter,Demon Spelldancer,Demon Stormtide,Gutwrencher Imp
    recruit=Chaos Invader,Chaos Invoker,Chaos Bowman,Chaos Gunner,Chaos Headhunter,Chaos Raider,Chaos Hound,Dark Knight,Doom Guard,Chaos Magus,Chaos Crossbowman,Chaos Longbowman,Chaos Marksman,Chaos Marauder,Chaos Cavalier,Chaos Pillager,Demonic Hound,Shaxthal Drone,Shaxthal Runner Drone,Demon,Imp,Shaxthal Assault Drone,Shaxthal Sentry Drone,Shaxthal Rayblade,Demon Grunt,Demon Shapeshifter,Demon Zephyr,Blood Imp,Shaxthal Protector Drone
    terrain_liked=Gg
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,archer,scout,mixed fighter,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Elementals - Heros

[multiplayer_side]
    id=Elementals_AoH
    name= _"Elementals"
    image=units/human-magi/silver-mage.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Master of Earth,Master of Fire,Master of Water,Master of Wind
    recruit=Brazier Imp,Furnace Beast,Elemental Wisp,Ethereal Orb,Ethereal Serpent,Ice Cub,Ice Claw,Kobold,Stone Giant,Salamander,Fire Ask,Shockbird,Stormbird,Sylph,Zephyr,Undine,Nymph,Vine Leaper,Vine Beast,Summoner Initiate,Summoner of Wind,Summoner of Water,Summoner of Fire,Summoner of Earth
    terrain_liked=Gg
    [ai]
        recruitment_pattern=fighter,scout,mixed fighter,mixed fighter,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Quenoth elves - Default

[multiplayer_side]
    id=Quenoth Elves_AoH
    name= _"Quenoth Elves"
    image="units/elves-quenoth/marshal.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Quenoth Chieftain
    leader=Quenoth Chieftain,Quenoth Ravager,Quenoth Assassin,Quenoth Sharpshooter,Quenoth Blazebow,Quenoth Sun Priestess,Quenoth Moon Priestess,Quenoth High Priestess
    recruit=Quenoth Hunter,Quenoth Warrior,Quenoth Captain,Quenoth Lurker,Quenoth Stalker,Quenoth Seeker,Quenoth Archer,Quenoth Marksman,Quenoth Flarebow,Quenoth Mystic,Quenoth Sun Enchantress,Quenoth Moon Enchantress,Quenoth Life Mage,Quenoth Horseman,Quenoth Rider,Merman Fighter,Merman Warrior,Merman Hunter,Merman Spearman,Merman Netcaster,Mermaid Initiate,Mermaid Enchantress,Mermaid Priestess
    terrain_liked=Dd
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,healer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Sylvians - Default

[multiplayer_side]
    id=Sylvans_AoH
    name= _"Sylvans"
    image="units/faeries/dryad.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Elvish Marshal
    leader=Elvish Marshal,Elvish Champion,Elvish Avenger,Elvish Sharpshooter,Faerie Dryad,Faerie Spirit,Elvish Mystic,Nightshade Fire,Elvish Forefather
    recruit=Elvish Fighter,Elvish Archer,Faerie Sprite,Dusk Faerie,Elvish Warrior Spirit,Elvish Scout,Elvish Acolyte,Elvish Captain,Elvish Hero,Elvish Ranger,Elvish Marksman,Fire Faerie,Elvish Ascetic,Night Nymph,Elvish Ancestor,Elvish Rider
    terrain_liked=Ff, Fa, Ss, Ww
    [ai]
        recruitment_pattern=fighter,archer,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Wild Humans - Default

[multiplayer_side]
    id=Wild_Humans_AoH
    name= _"Wild Humans"
    image="units/human-wild/crusher.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Wild Crusher
    leader=Wild Crusher,Bandit Ambusher,Wild Noble,Wild Crossbowman,Wild Forester,Demon Wolf,Shadow Lord,Highwayman,Assassin,Ranger,Huntsman,Royal Guard,Halberdier,Javelineer
    recruit=Wild Soldier,Wild Archer,Wild Horseman,Wolf_EoC,Bandit Fighter,Wild Noble,Wild Smasher,Wild Knight,Dark Rider,Wild Crossbowman,Wild Forester,Bandit Ambusher,Dread Wolf,Rogue Mage,Thug,Footpad,Thief,Poacher,Shadow Mage,Bandit,Outlaw,Rogue,Trapper,Naga Warden,Naga Guardian,Spearman,Swordsman,Pikeman,Javelineer
    terrain_liked=Dd
    [ai]
        recruitment_pattern=fighter,archer,archer,fighter,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
