#textdomain wesnoth-Ageless_Era

### | Archiac Era Custom Factions - Heroes

## | Khthon - Heroes

[multiplayer_side]
    id=Archaic_Khthon
    name= _ "Archaic - Khthon"
    image=units/khthon/ophis-magnum.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Ophis-Magnum
    leader=Hypergusa, Orthrus, Katoblepon-Magnum
    recruit=Yak, Ophis, Ram, Pyradalon, Katoblepon, Timber Wolf, Prokyon, Horse, Pegusa, Afflicted Woodsman, Terrapin, Snapper
    terrain_liked=Aa,Ff,Hh,Ha,Rd
    #	[ai]
    #		recruitment_pattern=fighter,fighter,scout,archer,healer
    #	[/ai]
[/multiplayer_side]


#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Phantom - Heroes

[multiplayer_side]
    id=Archaic_Phantom
    name= _ "Archaic - Phantom"
    image=units/phantom/mummy-king.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Tomb Protector
    leader=Mummy King, Tomb Master
    recruit="Tomb Mummy, Mummy Unbound,Tomb Dancer,Tomb Wing,Tomb Guard,Tomb Sentinel,Tomb Huntress,Tomb Archer,
Spirit Dove,Tomb Shade"
    terrain_liked=Ds,Ff,Hh,Uu,Rd
    #	[ai]
    #		recruitment_pattern=fighter,fighter,scout,archer,healer
    #	[/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Primeval - Heroes

[multiplayer_side]
    id=Archaic_Primeval
    name= _ "Archaic - Primeval"
    image=units/primeval/warrior.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Primeval Warrior
    leader=Primeval Firewheel, Primeval Hektor, Primeval Protector
    recruit="Primevalist Fighter, Primevalist Fanatic, Primevalist Follower, Primeval Slow, Primeval Dogface,
Primeval Driver, Primeval Swiftfoot, Primeval Slasher, Primeval Striker, Primeval Cutter, Primeval Ironwheel" 
    terrain_liked=Aa,Ff,Hh,Ha,Rd
    #	[ai]
    #		recruitment_pattern=fighter,fighter,scout,archer,healer
    #	[/ai]
[/multiplayer_side]


#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | South Seas - Heroes

[multiplayer_side]
    id=Archaic_South-Seas
    name= _ "Archaic - South-Seas"
    image=units/south-seas/wolf.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=South-Seas Seawolf
    leader=South-Seas Sea-Scourge, South-Seas Deck-Master, South-Seas Sky-Caller
    recruit="South-Seas Seaman, South-Seas Rover, South-Seas Able-Seaman, South-Seas Swimmer, South-Seas Diver,
South-Seas Caster, South-Seas Zephyrist, South-Seas Seahag, South-Seas Arsonist, South-Seas Demolitionist, 
South-Seas Shoreman, South-Seas Salvager"
    terrain_liked=Ds,Ff,Hh,Ww,Rd
    #	[ai]
    #		recruitment_pattern=fighter,fighter,scout,archer,healer
    #	[/ai]
[/multiplayer_side]


#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Despair - Heroes

[multiplayer_side]
    id=Archaic_Despair
    name= _ "Archaic - Despair"
    image=units/despair/phantomslayer.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Phantom Master
    leader=Phantom Slayer, Phantom Banshee, Phantom Armor
    recruit="Phantom Unease,Phantom Cloak,Phantom Shadow,Phantom Spearman,Phantom Soldier,Phantom Rider,
Phantom Horseman,Phantom Dullohan,Phantom Statue, Phantom Stone,Phantom Widow,Phantom Midnight,Phantom White"
    terrain_liked=Ds,Ff,Hh,Uu,Rd
    #	[ai]
    #		recruitment_pattern=fighter,fighter,scout,archer,healer
    #	[/ai]
[/multiplayer_side]


#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Ukians - Heroes

[multiplayer_side]
    id=Archaic_Ukians
    name= _ "Archaic - Ukians"
    image=units/ukians/subcommander.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Ukian Subcommander
    leader=Ukian Flareman, Ukian Witch, Ukian Deadeye, Royal Constable, Northern Elite
    recruit="Ukian Regular, Ukian Signalman, Ukian Veteran, Ukian Runner, Ukian Courrier,
Ukian Archer, Ukian Seeress, Ukian Hawkeye, Ukian Dog, Ukian Harrier, Royal Vassal, Northern Fighter, Northern Soldier"
    terrain_liked=Aa,Ai,Aa^Fpa,Ha,Ff
    # figure this out at some point...
    #	[ai]
    #		recruitment_pattern=fighter,fighter,scout,archer,healer
    #	[/ai]
[/multiplayer_side]


#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Northern Orcs - Heroes

[multiplayer_side]
    id=Northern_Orcs
    name= _"Archaic - Northern Orcs"
    image="units/orcs/warrior.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Orcish Terror
    leader=Orcish Warlord,Troll Warrior,Troll Rocklobber,Orcish Slurbow,Orcish Slayer
    recruit="Archaic_Orcish Grunt,Orcish Warrior, Orcish Fireline, Troll Whelp, Troll, Wolf Rider, Goblin Knight,
Orcish Archer, Orcish Crossbowman, Orcish Assassin,Orcish Rider,Orcish Cavalry,Goblin Spearman,Orcish Raider, Orcish Marader, Stork Rider"
    terrain_liked=Hh, Ha, Mm, Ss
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Menagerie - Heroes

[multiplayer_side]
    id=Archaic_Menagerie
    name= _"Archaic - Menagerie"
    image="units/"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Tri_Blue_Engineer
    leader=Tri_Blue_Engineer,Tri_Azure_Mage,Tri_Mech_Sentinel,Wind_Daemon_3
    recruit=Tower Ladyboy, Wind_Daemon_1, Tri_Mech_Drone, Tri_Blue_Novice, Blue_Lizard, Lunar Bug, Lunar Goo, Tri_Mech_Scout,Tower Servant,Tower Captain,Tower Watchman,Tower Dancer,Tower Madam,Tri_Mech_Seeker,Tri_Mech_Cyclops,Lunar Eye,Lunar Mouth,Lunar Slime,Lunar Stinkbug,Lunar Mantis,Lunar Ripper,Wind_Daemon_2,Tri_Mech_Defender,Tri_Blue_Mage,Tri_Blue_Machinist,Blue_Unicorn,Blue_Drake
    terrain_liked=Ds,Ff,Hh,Uu,Rd
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
