#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Refugee Focul
    name= _ "Focul"
    race=AE Refugees
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    gender=male
    image="units/refugees/focul.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=32
    movement_type=refugeefoot
    movement=5
    experience=48
    level=1
    alignment=lawful
    advances_to=AE Refugee Arsonist
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=16
    usage=archer
    description= _ "
"

    [resistance]
        fire=80
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Greek
        description= _ "Greek Fire"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_ARSON}
        [/specials]
    [/attack]
[/unit_type]
