#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Refugee Arsonist
    name= _ "Arsonist"
    race=AE Refugees
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    gender=male
    image="units/refugees/arsonist.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=refugeefoot
    movement=5
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=30
    usage=archer
    description= _ "
"

    [resistance]
        fire=60
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Greek
        description= _ "Greek Fire"
        icon=attacks/fireball.png
        type=fire
        range=melee
        damage=4
        number=6
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Greek
        description= _ "Greek Fire"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_ARSON}
        [/specials]
    [/attack]
[/unit_type]
