#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Refugee Maceman
    name= _ "Maceman"
    race=AE Refugees
    gender=male
    image="units/refugees/maceman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=53
    movement_type=refugeefoot
    movement=6
    experience=69
    level=2
    alignment=neutral
    advances_to=AE Refugee Greeter
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=26
    usage=fighter
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Mace
        description= _ "Mace"
        icon=attacks/mace.png
        type=impact
        range=melee
        damage=7
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Rock
        description= _ "Sling"
        icon=attacks/sling.png
        type=impact
        range=ranged
        damage=7
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
