#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Refugee Hoplite
    name= _ "Hoplite"
    race=AE Refugees
    gender=male
    image="units/refugees/hoplite.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=55
    movement_type=refugeefoot
    movement=5
    experience=75
    level=2
    alignment=lawful
    advances_to=AE Refugee Phalanx,AE Refugee Linebacker
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=26
    usage=fighter
    description= _ "
"

    [resistance]
        pierce=90
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Spear
        description= _ "Sarissa"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=13
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_GROUPING}
        [/specials]
    [/attack]
    [attack]
        name=Sword
        description= _ "Gladius"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_GROUPING}
        [/specials]
    [/attack]
    [attack]
        name=Spear
        description= _ "Sarissa"
        icon=attacks/spear.png
        type=pierce
        range=ranged
        damage=10
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
