#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Refugee Protector
    name= _ "Protector"
    race=AE Refugees
    gender=male
    image="units/refugees/protector.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=65
    movement_type=refugeefoot
    movement=5
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=17
    usage=fighter
    description= _ "
"

    [resistance]
        blade=90
        impact=80
        pierce=80
    [/resistance]

    [abilities]
        {ABILITY_BLOCK}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Spear
        description= _ "Sarissa"
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_GROUPING}
        [/specials]
    [/attack]
    [attack]
        name=Shield
        description= _ "Shieldbash"
        icon=attacks/rectangular-shield.png
        type=impact
        range=melee
        damage=20
        number=1
        [specials]
            {WEAPON_SPECIAL_GROUPING}
        [/specials]
    [/attack]
    [attack]
        name=Spear
        description= _ "Sarissa"
        icon=attacks/spear.png
        type=pierce
        range=ranged
        damage=10
        number=1
        [specials]
        [/specials]
    [/attack]
[/unit_type]
