#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Aragwaithi Guard
    name= _ "Guard"
    race=AE Aragwaithi
    image="units/human-aragwaithi/guard.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=aragwaithfoot
    [resistance]
        pierce=80
        blade=80
        impact=90
    [/resistance]
    movement=4
    experience=64
    level=2
    alignment=lawful
    advances_to=AE Aragwaithi Shield Guard
    cost=27
    usage=fighter
    description= _ "Chosen from the toughest Swordsmen, Guards willingly forgo some of thier mobility for the advantages of armor. Whether in ceremonial posts during peace, or on the battlefield in times of war, their role is always the same: defending the Warlock nobilty."
    {DEFENSE_ANIM_FILTERED "units/human-aragwaithi/guard-defend-s.png" "units/human-aragwaithi/guard.png" {SOUND_LIST:HUMAN_HIT} (direction=s)}
    {DEFENSE_ANIM_FILTERED "units/human-aragwaithi/guard-defend-e.png" "units/human-aragwaithi/guard.png" {SOUND_LIST:HUMAN_HIT} (direction=se,sw)}
    {DEFENSE_ANIM_FILTERED "units/human-aragwaithi/guard-defend-n.png" "units/human-aragwaithi/guard.png" {SOUND_LIST:HUMAN_HIT} (direction=n,ne,nw)}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [death]
        start_time=0
        [frame]
            duration=200
            image="units/human-aragwaithi/guard-die-1.png"
        [/frame]
        [frame]
            duration=200
            image="units/human-aragwaithi/guard-die-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/human-aragwaithi/guard-die-3.png"
        [/frame]
        [frame]
            duration=200
            image="units/human-aragwaithi/guard-die-4.png"
        [/frame]
        [frame]
            duration=200
            image="units/human-aragwaithi/guard-die-5.png"
        [/frame]
        [frame]
            duration=200
            image="units/human-aragwaithi/guard-die-6.png"
        [/frame]
    [/death]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=12
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        direction=s
        start_time=-100
        [if]
            hits=yes
            [frame]
                duration=150
                image="units/human-aragwaithi/guard-attack-1-s.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=150
                image="units/human-aragwaithi/guard-attack-1-s.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/human-aragwaithi/guard-attack-2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        # TODO
        direction=se,sw,ne,nw,n
        start_time=-150
        [frame]
            duration=50
            image="units/human-aragwaithi/guard-attack-1.png"
        [/frame]
        [frame]
            duration=50
            image="units/human-aragwaithi/guard-attack-2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=75
                image="units/human-aragwaithi/guard-attack-3.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=75
                image="units/human-aragwaithi/guard-attack-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=75
            image="units/human-aragwaithi/guard-defend-2.png"
        [/frame]
    [/attack_anim]
[/unit_type]
