#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Aragwaithi Swordsman
    name= _ "Swordsman"
    race=AE Aragwaithi
    image="units/human-aragwaithi/swordman.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=32
    movement_type=aragwaithfoot
    movement=5
    experience=39
    level=1
    alignment=neutral
    advances_to=AE Aragwaithi Guard,AE Aragwaithi Longswordsman
    cost=14
    usage=fighter
    description= _ "While the Aragwaithi are slight of body, they are also fast and nimble. These abilites, coupled with the intensive training given to the Aragwaith military, make for superb swordsmen. Swordsmen are clad in light chain mail - the better to resist the blades of their enemies."
    {STANDING_ANIM_DIRECTIONAL "units/human-aragwaithi/swordman.png" "units/human-aragwaithi/swordman-n.png"}
    [defend]
        start_time=-150
        [frame]
            duration=1
            image="units/human-aragwaithi/swordman.png"
        [/frame]
        [frame]
            duration=149
            image="units/human-aragwaithi/swordman-defend-1.png"
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=1
                image="units/human-aragwaithi/swordman-defend-1.png"
                sound={SOUND_LIST:HUMAN_HIT}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=1
                image="units/human-aragwaithi/swordman-defend-1.png"
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/human-aragwaithi/swordman-defend-2.png"
        [/frame]
        [frame]
            duration=50
            image="units/human-aragwaithi/swordman-defend-3.png"
        [/frame]
    [/defend]
    die_sound={SOUND_LIST:HUMAN_DIE}
    [death]
        start_time=0
        [frame]
            duration=200
            image="units/human-aragwaithi/swordman-die1.png"
        [/frame]
        [frame]
            duration=200
            image="units/human-aragwaithi/swordman-die2.png"
        [/frame]
        [frame]
            duration=200
            image="units/human-aragwaithi/swordman-die3.png"
        [/frame]
        [frame]
            duration=200
            image="units/human-aragwaithi/swordman-die4.png"
        [/frame]
    [/death]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-300
            end=-250
            image="units/human-aragwaithi/swordman-attack-1.png"
        [/frame]
        [frame]
            begin=-250
            end=-200
            image="units/human-aragwaithi/swordman-attack-2.png"
        [/frame]
        [frame]
            begin=-200
            end=-150
            image="units/human-aragwaithi/swordman-attack-3.png"
        [/frame]
        [frame]
            begin=-150
            end=-100
            image="units/human-aragwaithi/swordman-attack-3.png"
        [/frame]
        [frame]
            begin=-100
            end=-50
            image="units/human-aragwaithi/swordman-attack-5.png"
            [if]
                hits=yes
                [frame]
                    begin=-50
                    end=0
                    image="units/human-aragwaithi/swordman-attack-6.png"
                    sound={SOUND_LIST:SWORD_SWISH}
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    begin=-50
                    end=0
                    image="units/human-aragwaithi/swordman-attack-6.png"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/else]
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/human-aragwaithi/swordman-attack-7.png"
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/human-aragwaithi/swordman-attack-8.png"
        [/frame]    [/attack_anim]
    [/unit_type]
