#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Fighter
    name= _ "Primevalist Fighter"
    race=AE primevalist_human
    image="units/primeval/fighter.png"
    profile="portraits/primevalist_fighter.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=smallfoot
    movement=6
    experience=42
    level=1
    alignment=chaotic
    advances_to=AE Fanatic, AE Shield
    cost=13
    usage=mixed fighter
    description= _ "This unit is from Archaic Era. It's coding and art were done by doofus-01.
 
The primevalists are mostly angry young men. The Dark Messiah told them what they needed to hear to pick up a sword and attack their fellow humans in some misguided attempt to please the Primevals. Upon joining the movement, each fighter and follower is given a tattoo that is supposed to ward off evil spirits."
    [resistance]
        cold=90
    [/resistance]
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/primeval/fighter.png" "units/primeval/fighter-defend.png" {SOUND_LIST:HUMAN_HIT}}
    [attack]
        name=sword
        description= _ "Sword"
        type=blade
        range=melee
        damage=8
        number=2
        icon=attacks/sword-human.png
    [/attack]
    [attack]
        name=curse
        description= _ "Curse"
        type=cold
        range=ranged
        damage=3
        number=2
        icon=attacks/curse.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-250
            end=-150
            image="units/primeval/fighter-defend.png"
        [/frame]
        [frame]
            begin=-150
            end=-50
            image="units/primeval/fighter-attack1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="units/primeval/fighter-attack2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=50
                image="units/primeval/fighter-attack2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=100
            image="units/primeval/fighter.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=curse
        [/filter_attack]
        [if]
            hits=yes
            [missile_frame]
                begin=-150
                end=0
                image="projectiles/darkmissile-n.png"
                image_diagonal="projectiles/darkmissile-ne.png"
            [/missile_frame]
            [frame]
                begin=-250
                end=-125
                #                image="units/primeval/fighter-ranged-1.png"
                image="units/primeval/fighter.png"
                sound=magic-dark.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [missile_frame]
                begin=-150
                end=0
                image="projectiles/darkmissile-n.png"
                image_diagonal="projectiles/darkmissile-ne.png"
            [/missile_frame]
            [frame]
                begin=-250
                end=-125
                image="units/primeval/fighter.png"
                sound=magic-dark-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-125
            end=25
            image="units/primeval/fighter.png"
        [/frame]
        [frame]
            begin=25
            end=50
            image="units/primeval/fighter.png"
        [/frame]
    [/attack_anim]
[/unit_type]
