#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_primeval_Primeval_Brightshield
    name= _ "Primeval Brightshield"
    race=AE primevalist_human
    image="units/primeval/guard.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=62
    movement_type=armoredfoot
    movement=4
    experience=80
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=25
    usage=fighter
    description= _ "This unit is from Archaic Era. It's coding and art were done by doofus-01.
 
These fighters play a supporting role, stoically absorbing damage so that their more hot tempered commrads survive long enough to accomplish their goals. Their armour disipates heat and cold and energy blasts, so they have higher than average resistance to fire, cold, and arcane damage."
    [resistance]
        cold=60
        fire=60
        arcane=50
    [/resistance]
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/primeval/guard.png" "units/primeval/guard.png" {SOUND_LIST:HUMAN_HIT}}
    [attack]
        name=sword
        description= _ "Sword"
        type=blade
        range=melee
        damage=7
        number=3
        icon=attacks/sword-human.png
    [/attack]
    # this is a mess, fix this
    #    [event]
    #	name=attacker_hits
    #	first_time_only=no
    #	[filter_second]
    #	  type=Primevalist Shield
    #	[/filter_second]
    #	[store_unit]
    #	    [filter]
    #		x,y=$x1,$y1
    #	    [/filter]
    #	    kill=no
    #	    variable=flash_temp
    #	[/store_unit]
    #	[set_variable]
    #	name=testmagic
    #	value=$flash_temp.attack[1].specials.chance_to_hit.id
    #	[/set_variable]
    #	[if]
    #	    [variable]
    #		name=testmagic
    #		equals=magical
    #	    [/variable]
    #	[then]
    #	[set_variable]
    #	name=flashdmg
    #	value=$flash_temp.attack[1].damage
    #	[/set_variable]
    #	[unstore_unit]
    #	variable=flash_temp
    #	find_vacant=no
    #	red,green,blue=255,0,0
    #	text="$flashdmg"
    #	[/unstore_unit]
    #	[object]
    #	silent=yes
    #	duration=forever
    #	    [filter]
    #		x,y=$x1,$y1
    #	    [/filter]
    #	    [effect]
    #		apply_to=hitpoints
    #		increase=-$flashdmg
    #	    [/effect]
    #	[/object]
    #	[/then]
    #	[/if]
    #	{CLEAR_VARIABLE testmagic}
    #	{CLEAR_VARIABLE flashdmg}
    #	{CLEAR_VARIABLE flash_temp}
    #    [/event]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-50
            image="units/primeval/guard.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="units/primeval/guard.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-50
                end=50
                image="units/primeval/guard.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/primeval/guard.png"
        [/frame]
    [/attack_anim]
[/unit_type]
