#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Oracle Psychic
    name= _ "Psychic"
    race=AE Oracles
    gender=male
    image="units/oracles/psychic.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=40
    movement_type=savantfoot
    movement=6
    experience=60
    level=2
    alignment=neutral
    advances_to=AE Oracle Omniscient
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=36
    usage=mixedfighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Staff
        description= _ "Staff"
        icon=attacks/druidstaff.png
        type=impact
        range=melee
        damage=10
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
