#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Oracle Omniscient
    name= _ "Omniscient"
    race=AE Oracles
    gender=male
    image="units/oracles/omniscient.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=53
    movement_type=omniscientfoot
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=48
    usage=mixedfighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}

    [resistance]
    [/resistance]

    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_3}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Staff
        description= _ "Staff"
        icon=attacks/druidstaff.png
        type=impact
        range=melee
        damage=13
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
