#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Oracle Magnomancer
    name= _ "Magnomancer"
    race=AE Oracles
    gender=male
    image="units/oracles/magnetmancer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=28
    movement_type=disciplefoot
    movement=4
    experience=72
    level=1
    alignment=neutral
    advances_to=AE Oracle Gravitymancer,AE Oracle Scrapshifter
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=17
    usage=mixedfighter
    description= _ "
"+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}

    [resistance]
        pierce=80
        blade=80
        impact=80
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Metalshardsb
        description= _ "Metalshards"
        icon=attacks/dagger-thrown-human.png
        type=blade
        range=ranged
        damage=3
        number=8
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Metalshards
        description= _ "Metalshards"
        icon=attacks/dagger-thrown-human.png
        type=pierce
        range=ranged
        damage=4
        number=6
        [specials]
        [/specials]
    [/attack]
[/unit_type]
