#textdomain wesnoth-Ageless_Era

### | Era of Magic Custom Factions - Heroes

## | Barbarians - Heroes

[multiplayer_side]
    id=AE Barbarians Heroes
    name= _ "EoMa - Barbarians"
    image="units/barbarians/greatbarbarian.png~RC(magenta>red)"

    type=AE_mag_Barbarians_Barbarian_Lord
    leader=AE_mag_Barbarians_Barbarian_Lord,AE_mag_Barbarians_Ancient_Cyclops,AE_mag_Barbarians_Raging_Cyclops

    recruit=AE_mag_Barbarians_Troll_Warbanner,AE_mag_Barbarians_Troll_Sorcerer,AE_mag_Barbarians_Troll_Fire_Wizard,AE_mag_Barbarians_Roc_Rider,AE_mag_Barbarians_Roc_Master,AE_mag_Barbarians_Orcish_Warrior,AE_mag_Barbarians_Orcish_Warbanner,AE_mag_Barbarians_Blood_Warrior,AE_mag_Barbarians_Barbarian_Berserker,AE_mag_Barbarians_Barbarian,AE_mag_Barbarians_Goblin_Warrior,AE_mag_Barbarians_Goblin_Warbanner,AE_mag_Barbarians_Goblin_Sniper,AE_mag_Barbarians_Goblin_Runt,AE_mag_Barbarians_Goblin_Rouser,AE_mag_Barbarians_Goblin_Kamikaze,AE_mag_Barbarians_Goblin_Hunter,AE_mag_Barbarians_Goblin_Assassin,AE_mag_Barbarians_Goblin_Archer,AE_mag_Barbarians_Mighty_Cyclops,AE_mag_Barbarians_Fire_Cyclops,AE_mag_Barbarians_Cyclops_Breaker,AE_mag_Barbarians_Cyclops

    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dark Blood Alliance - Heroes

[multiplayer_side]
    id=AE Darkblood Heroes
    name= _ "EoMa - Dark Blood Alliance"
    image="units/darkblood/mystic.png~RC(magenta>red)"

    type=AE Mystic
    leader=AE Mystic,AE DamnedShaman,AE WyvernChaos,AE ChaosRider,AE DrednaughtRecruit,AE RangedToadDouble,AE MysticalToadRecruit

    recruit=AE WyvernLancerRecruit,AE WyvernGreatLancerRecruit,AE WyvernGreat,AE Wyvern,AE Toad,AE Shooter,AE ShamanisticToadRecruit,AE ShamanAdept,AE Clan Leader,AE ZSalamander,AE RangedToadRecruit,AE Lancer,AE SalamanderGreen,AE SalamanderBlue,AE SalamanderBlack,AE GreatLancer,AE DarkShaman,AE Crossbowman,AE BattleToadRecruit
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter,scout,healer,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Sky Kingdom - Heroes

[multiplayer_side]
    id=AE Sky_Kingdom Heroes
    name= _ "EoMa - Sky Kingdom"
    image="units/enlightened/enlightened-mastermage.png~RC(magenta>red)"

    type=AE enlightened_mastermage
    leader=AE enlightened_mastermage,AE enlightened_master_of_water,AE enlightened_master_of_fire,AE enlightened_master_of_air,AE enlightened_shadowmage,AE enlightened_abyssmage,AE enlightened_goldenmage

    recruit=AE enlightened_spellsword,AE enlightened_subversivemage,AE enlightened_archmage,AE enlightened_mysticwarrior,AE Mu,AE MagicalEye,AE enlightened_mage_of_water,AE enlightened_mage_of_fire,AE enlightened_mage_of_air,AE enlightened_hiddenface,AE Golem_boss,AE Golem,AE Elementalist,AE DeadlyEye,AE enlightened_blackmage,AE enlightened_battlemage,AE_Sculptor

    music=""
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Kharos - Heroes

[multiplayer_side]
    id=AE Kharos Heros
    name= _ "EoMa - Kharos"
    image="units/kharos/platinumwarrior.png~RC(magenta>red)"

    type=AE Kharos_SunPlatinumwarrior
    leader=AE Kharos_SunPlatinumwarrior,AE Kharos_SunGoldenwarrior,AE Kharos_SunGuardian,AE Kharos_LightProphetoflight,AE Kharos_LightMistress,AE Kharos_WarbannerKharos

    recruit=AE Kharos_Warbanner,AE Kharos_SunWhitewarrior,AE Kharos_SunSlicer,AE Kharos_SunSilverwarrior,AE Kharos_SunShielder,AE Kharos_SunRevenger,AE Kharos_SunProtector,AE Kharos_SunFollower,AE Kharos_SunFanatic,AE Kharos_SunCavalryArcherII,AE Kharos_SunCavalryArcherHeavy,AE Kharos_SunCavalryArcher,AE Kharos_SunBrownwarrior,AE Kharos_LightSister,AE Kharos_LightInspired,AE Kharos_LightCleric,AE Kharos_LightChild,AE Kharos_LightAdept

    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,healer,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Runemasters - Heroes

[multiplayer_side]
    id=AE Runemasters Heroes
    name= _ "EoMa - Runemasters"
    image="units/ancient_dwarves/runewarrior.png~RC(magenta>red)"

    type=AE_mag_Runemasters_Dwarvish_Rune_Warrior
    leader=AE_mag_Runemasters_Dwarvish_Rune_Warrior,AE_mag_Runemasters_Rune_Artist,AE_mag_Runemasters_Pacificator,AE_mag_Runemasters_Mechanical_Dragon

    recruit=AE_mag_Runemasters_Dwarvish_Warrior,AE_mag_Runemasters_Technician,AE_mag_Runemasters_Dwarvish_Tank,AE_mag_Runemasters_Steam_Ulfserker,AE_mag_Runemasters_Steamcopter,AE_mag_Runemasters_Steam_Berserker,AE_mag_Runemasters_Striding_Machine,AE_mag_Runemasters_Runesmith,AE_mag_Runemasters_Runeadept,AE_mag_Runemasters_Red_Ulfserker,AE_mag_Runemasters_Parachutist,AE_mag_Runemasters_Mechanic,AE_mag_Runemasters_Dwarvish_Heavy_Warrior,AE_mag_Runemasters_Heavy_Balloon,AE_mag_Runemasters_Balloon

    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Summoners - Heroes

[multiplayer_side]
    id=AE Al-Kamija Heroes
    name= _ "EoMa - Al-Kamija"
    image="units/summoners/horhami.png~RC(magenta>red)"

    type=AE SummonerIII
    leader=AE SummonerIII,AE SummonerHeavy,AE Masterofbalance,AE Jinn_Wonderful,AE EfreetiGreat,AE HoRhami,AE DharmaRhami,AE God_water,AE God_fire,AE God_earth,AE God_air

    recruit=AE RhamiKai,AE RhamiDatu,AE Rhami,AE Jinn,AE Jinn_Great,AE HeavyCamelRider,AE Enchanted2,AE Enchanted,AE Elemental_water,AE Elemental_fire,AE Efreeti,AE CarpetRider,AE SummonerII,AE Summoner,AE CarpetMaster,AE CamelRider,AE Avatar_water,AE Avatar_fire

    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,mixed fighter,archer,archer,scout,scout,scout,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Warlocks - Heroes

[multiplayer_side]
    id=AE Tharis Heroes
    name= _ "EoMa - Tharis"
    image="units/warlocks/masterofwar.png~RC(magenta>red)"

    type=AE Tharis_Commander_in_chief
    leader=AE Tharis_Commander_in_chief,AE Tharis_Greatwarlock,AE Tharis_Blademaster,AE_mag_Tharis_Matriarch_of_Darkness,AE_mag_Tharis_Matriarch_of_Emptiness,AE Tharis_ColdMatriarch,AE Tharis_Chaoshydra

    recruit=AE Tharis_Witch,AE Tharis_Sworddancer,AE Tharis_Slayer,AE_mag_Tharis_Dark_Witch,AE Tharis_Hydra,AE Tharis_Hunter,AE Tharis_GreatHunter,AE Tharis_Darkwarrior,AE Tharis_Disciple,AE Tharis_Deephydra,AE Tharis_Darkwizard,AE Tharis_Commander,AE Tharis_Bladedancer,AE Tharis_Assassin,Vampire Bat,Dread Bat,Blood Bat
    terrain_liked=gcs
    [ai]
        recruitment_pattern=archer,archer,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Destroyers - Heroes

[multiplayer_side]
    id=AE destroyers
	image="units/destroyers-omens/abaddon.png~RC(magenta>red)"
    name=_"EoMa - Destroyers"
    type=AE_Obliterator
    leader=AE_Obliterator,AE_Atokpi_General,AE_Apocalypse,AE_Bone_Giant
    random_leader=AE_Obliterator,AE_Atokpi_General,AE_Apocalypse,AE_Bone_Giant
    recruit=AE_Pirafly,AE_Atokpi,AE_Nightmare,AE_Beast,AE_Omen,AE_Cyclops_Skeleton,AE_Pirania_Monstruosa,AE_Atokpi_Samurai,AE_Mara,AE_Bone_Golem,AE_Punisher,AE_Legendary_Cyclops
    [ai]
        recruitment_pattern=scout,warrior,warrior,archer,archer,mixed fighter,mixed fighter
    [/ai]
[/multiplayer_side]
