#textdomain wesnoth-Ageless_Era

### | Imperial Era Custom Factions - Heroes

## | Arendians - Heroes

[multiplayer_side]
    id=AE Arendians Heroes
    name= _ "Imper - Arendians"
    image=units/human-arendians/arrow-wind.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Arendian Arrow Wind
    leader=AE Arendian Arrow Wind,AE Arendian Battlear,AE Arendian Hero,AE Arendian Slayer,AE Arendian Warlock
    recruit=AE Arendian Archer,AE Arendian Bowrider,AE Arendian Druid,AE Arendian Horseman,AE Arendian Swordsman,AE Arendian Bowknight,AE Arendian Chief,AE Arendian Feather Bow,AE Arendian Hunter,AE Arendian Mounted Warrior,AE Arendian Shaman,AE Arendian Wanderer,AE Arendian Warrior,AE Arendian Falcon,AE Arendian Falcon Lord
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Cavernei- Heroes

[multiplayer_side]
    id=AE Cavernei Heroes
    name= _ "Imper - Cavernei"
    image=units/dwarves-cavernei/lord.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Cavernei Lord
    leader=AE Cavernei Lord,AE Cavernei Dragonguard,AE Cavernei Sentinel,AE Cavernei Monitor,AE Cavernei Runemaster

    recruit=AE Cavernei Watcher,AE Cavernei Thunderguard,AE Cavernei Thunderer,AE Cavernei Steelclad,AE Cavernei Stalwart,AE Cavernei Observer,AE Cavernei Guardsman,AE Cavernei Fighter,AE Cavernei Eagle Rider,AE Cavernei Eagle Master

    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

[event]
    name=new turn
    [store_unit]
        [filter]
            canrecruit=yes
        [/filter]
        variable=counttemp
    [/store_unit]
    [set_variable]
        name=temp
        value=0
    [/set_variable]
    [while]
        [variable]
            name=counttemp.length
            greater_than="$temp"
        [/variable]
        [do]
            [set_variable]
                name=temp
                add=1
            [/set_variable]
            [store_side]
                side=$temp
                variable=sidetemp
            [/store_side]
            [if]
                [have_unit]
                    side=$temp
                    type=AE Cavernei Lord,AE Cavernei Dragonguard,AE Cavernei Sentinel
                [/have_unit]
                [then]
                    [set_variable]
                        name=sidetemp.income
                        increase=2
                    [/set_variable]
                    [modify_side]
                        side=$temp
                        income=$sidetemp.income
                    [/modify_side]
                [/then]
            [/if]
        [/do]
    [/while]
    [clear_variable]
        name=counttemp
    [/clear_variable]
    [clear_variable]
        name=sidetemp
    [/clear_variable]
    [clear_variable]
        name=temp
    [/clear_variable]
[/event]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Issaelfr - Heroes

[multiplayer_side]
    id=AE Issaelfr Heroes
    name= _ "Imper - Issaelfr"
    image="units/elves-frost/ice-roamer.png~TC(1,magenta)"
    type=AE Frost Elf Ice Dancer
    leader=AE Frost Elf Borealis,AE Frost Elf Alpine Ranger,AE Frost Elf Glaive Master,AE Frost Elf Ice Dancer,AE Frost Elf Mistral Cryomancer,AE Frost Elf Mistral Rime Castellan,AE Elder Seal
    recruit=AE Frost Elf Archer,AE Frost Elf Bladesman,AE Frost Elf Mistral Magus,AE Frost Elf Yak Rider,AE Seal,AE Frost Elf Gelus,AE Frost Elf Mountaineer,AE Frost Elf Glaivier,AE Frost Elf Ice Roamer,AE Frost Elf Mistral Glacialist,AE Frost Elf Mistral Rime Keeper,AE Frost Elf Yak Knight,AE Fleet Seal
    terrain_liked=ghHS
    [ai]
        recruitment_pattern=fighter,mixed fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Lavinian Legion - Heroes

[multiplayer_side]
    id=AE Lavinian Legion Heroes
    name= _ "Imper - Lavinian Legion"
    image=units/human-lavinians/centurion.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Lavinian Centurion
    leader=AE Lavinian Centurion,AE Lavinian Praetorian Guard,AE Lavinian Aquilifer
    recruit=AE Lavinian Legionnaire,AE Lavinian Bowman,AE Lavinian Auxiliary,AE Nemidian Horseman,AE Nemidian River Calf,AE Nemidian Claimant,AE Nemidian River Horse,AE Lavinian Decurion,AE Lavinian Propugnator,AE Lavinian Signifer,AE Lavinian Siege Archer,AE Lavinian Ballista,AE Lavinian Light Infantryman,AE Lavinian Slinger,AE Lavinian Skirmisher
    [ai]
        recruitment_pattern=fighter,mixed fighter,fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Marauders - Heroes

[multiplayer_side]
    id=AE Marauders Heroes
    name= _ "Imper - Marauders"
    image=units/human-marauders/lord.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Marauder Lord
    leader=AE Marauder Lord,AE Marauder Scorcher,AE Marauder Woodsman,AE Marauder Galdra,AE Marauder Valkyrie
    recruit=AE Marauder Warrior,AE Marauder Scout,AE Marauder Axeman,AE Marauder Crusher,AE Marauder Boatsman,AE Marauder Fay,AE Marauder Jarl,AE Marauder Pillager,AE Marauder Mauler,AE Marauder Hunter,AE Marauder Raider,AE Marauder Mounted Axeman,AE Marauder Sailor,AE Marauder Seeress,AE Marauder Shieldmaiden
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Orcei Gladiatores - Heroes

[multiplayer_side]
    id=AE Orcei Gladiatores Heroes
    name= _ "Imper - Orcei Gladiatores"
    image=units/orcs-magni/brutal-paegniarius.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Magni Brutal Paegniarius
    leader=AE Magni Brutal Paegniarius,AE Magni Feral Bestiarius,AE Magni Murmillo Leonis,AE Magni Provocator Leonis,AE Magni Dimacherius Fortis,AE Magni Hoplomachus Fortis,AE Magni Secutor Leonis,AE Magni Thraex Paratus
    recruit=AE Magni Pugnator,AE Magni Paegniarius,AE Magni Bestiarius,AE Magni Gallus,AE Magni Murmillo,AE Magni Provocator,AE Magni Dimacherius,AE Magni Samnis,AE Magni Hoplomachus,AE Magni Secutor,AE Magni Thraex,AE Minuti Piscator,AE Minuti Retiarius,AE Minuti Laquerius,AE Minuti Latronis,AE Minuti Venator,AE Minuti Essedarius
    [ai]
        recruitment_pattern=fighter,fighter,fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Sidhe - Heroes

[multiplayer_side]
    id=AE Sidhe Heroes
    name= _ "Imper - Sidhe"
    image=units/elves-wild/thunderblade.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Wild Elf Thunderblade
    leader=AE Wild Elf Shadowdancer,AE Wild Elf Tempest,AE Wild Elf Thunderblade,AE Wild Elf Blizzardlord,AE Wild Elf Wardancer,AE Wild Elf Warsinger,AE Wild Elf Windrunner,AE Sidhe Forefather

    recruit=AE Wild Elf Windlasher,AE Wild Elf Bladespinner,AE Wild Elf Wildblade,AE Wild Elf Warrior,AE Wild Elf Warmage,AE Wild Elf Wanderer,AE Wild Elf Veiledblade,AE Wild Elf Tracker,AE Wild Elf Snowdancer,AE Wild Elf Raindancer,AE Wild Elf Hoarfroster,AE Wild Elf Herald,AE Wild Elf Fury,AE Sidhe Warrior Spirit,AE Sidhe Ancestor
    [ai]
        recruitment_pattern=fighter,fighter,fighter,scout,archer,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
