#textdomain wesnoth-Ageless_Era

### | Era of Four Moons Custom Factions - Heroes

## | Imperialist - Heroes

[multiplayer_side]
    id=AE Imperialist Heroes
    name= _"EFM - Imperialists"
    image=units/imperialists/primus.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Primus
    leader=AE Primus,AE Praetorion,AE Gargantaur,AE Equite,AE_Phalanx

recruit=AE Legionnaire,AE Slinger,AE Hardback,AE Pelite,AE Standard,AE_Sapper,AE Galley,AE Ballista,AE Stalwart,AE ShockTroop,AE Velite,AE Centurion,AE RockRider,AE Ballista,AE Trireme,AE Spiker,AE Flinger,AE_Hoplite
    terrain_liked=Rd
    [ai]
recruitment_pattern=fighter,fighter,archer,scout,archer,scout,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Highlanders - Heroes

[multiplayer_side]
    id= AE Highlander Heroes
    name= _"EFM - Highlanders"
    image=units/highlander/oliephant.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE HighlanderChief
    leader=AE HighlanderChief,AE ManHunter,AE SpiritWielder,AE LionMaster,AE LionMaverick


recruit=AE Brave,AE Hunter,AE Runner,AE LionWarrior,AE WitchDoctor,AE Elephant,AE Hippo,AE HighlanderWarrior,AE Prowler,AE LionAdept,AE LionRenegade,AE Strider,AE efm Shaman,AE Warlock,AE Oliephant, AE Hippopotamus
    terrain_liked=Rd
    [ai]
recruitment_pattern=fighter,fighter,archer,healer,archer,scout,fighter
    [/ai]
[/multiplayer_side]


#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Darklanders - Heroes

[multiplayer_side]
    id=AE Darklander Heroes
    name= _"EFM - Darklanders"
    image=units/darklander/judgement.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Vengence
    leader=AE Vengence,AE DarklanderGuard,AE Whisper


recruit=AE Tribesman,AE Hurler,AE Beastman,AE JaguarRider,AE Viper,AE Malice,AE Canoe,AE DarklanderMilitia,AE efm Stalker,AE Serpent,AE Wrath,AE Guerrilla,AE Wasp,AE CheetahRider,AE LeopardRider,AE PantherRider,AE Catamaran
    terrain_liked=Rd
    [ai]
recruitment_pattern=fighter,fighter,archer,scout,archer,scout,fighter
    [/ai]
[/multiplayer_side]


#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Darklanders - Heroes

[multiplayer_side]
    id=AE SeaState Heroes
    name= _"EFM - Sea States"
    image=units/seastates/merchant_lord.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE MerchantLord
    leader=AE MerchantLord,AE HouseGuard,AE EliteBowman,AE Liegeman

recruit=AE Regimenteer,AE Loyalist,AE CompositeBowman,AE Rider,AE HorseArcher,AE Alchemist,AE Boatsman,AE PaddleShip,AE Retainer,AE VeteranBowman,AE Sagiharii,AE Raider,AE Concoctionist,AE Doctor,AE Turtle,AE PaddleWarship,AE Vassal
    terrain_liked=Rd
    [ai]
recruitment_pattern=scout,archer,fighter,fighter,archer,fighter
    [/ai]
[/multiplayer_side]


#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dalefolk - Heroes

[multiplayer_side]
    id=AE_Dalefolk
    name= _"EFM - Dalefolk"
    image=units/Dalefolk/wilderman.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_Conduit
    leader=AE_Battery,AE_Conduit

    recruit= AE_Miner, AE_Herder, AE_Rocketeer, AE_Herbalist, AE_Shifter, AE_Raven, AE_Channeler, AE_Foreman, AE_Delver, AE_Mountaineer, AE_Wilderman, AE_Beacon, AE_Mediator, AE_Bombadier, AE_Mynah, AE_Botanist
    terrain_liked=Rd
    [ai]
recruitment_pattern=scout,archer,fighter,healer,mixed fighter,archer,fighter,fighter,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Freemen - Heroes

[multiplayer_side]
    id=AE_Freemen
    name= _"EFM - Freemen"
    image=units/Freemen/Sultan.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_Sultan
    leader=AE_Sultan,AE_Caliph,AE_Immortal,AE_Mullah,AE_Sheik,AE_Goun

    recruit=AE_Aristocrat,AE_SandWalker,AE_CamelRider,AE_Wanderer,AE_Muezzin,AE_Roc,AE_Chanter,AE_Amir,AE_Vizier,AE_Mehariste,AE_SandRider,AE_Mufti,AE_Nomad,AE_Howler,AE_FreemanGuardsman
    terrain_liked=Rd
    [ai]
recruitment_pattern=fighter,fighter,archer,scout,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Pygmies - Heroes

[multiplayer_side]
    id=AE_Pygmies
    name= _"EFM - Pygmies"
    image=units/Pygmies/saber_cat.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_SaberCat
    leader=AE_SaberCat,AE_Sorceress,AE_LizardEye

    recruit=AE_Knat,AE_Piper,AE_Puma,AE_SpiderRider,AE_Crocodile,AE_SwampWitch,AE_Fly,AE_Charmer,AE_Mudfoot,AE_Stinger,AE_Lynx,AE_GreatSpider,AE_WebSpitter,AE_GrandCrocodile,AE_ToadBreath,AE_Wyrd
    terrain_liked=Rd
    [ai]
recruitment_pattern=scout,archer,fighter,archer,archer,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Whites - Heroes

[multiplayer_side]
    id=AE_Whites
    name= _"EFM - Whites"
    image=units/Whites/storm_queen.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_Thane
    leader=AE_Thane,AE_StormLady,AE_BowLady,AE_Sentinal,AE_Balladier

    recruit=AE_WhiteWarrior,AE_BowGirl,AE_StormChild,AE_StormGuard,AE_TerrorRider,AE_Warder,AE_WhiteScout,AE_LongBoat,AE_HouseCarl,AE_Keeper,AE_Huntress,AE_HeartGuard,AE_Vigilante,AE_WhiteRaider,AE_TerrorStrider,AE_DragonProw,AE_Bard,AE_Guardian
    terrain_liked=Rd
    [ai]
recruitment_pattern=fighter,fighter,archer,scout,archer,fighter
    [/ai]
[/multiplayer_side]