#textdomain wesnoth-Ageless_Era

### | Feudal Era Custom Factions - Heroes

## | Aragwaithi - Heroes

[multiplayer_side]
    id=AE Aragwaithi Heroes
    name= _ "Feudal - Aragwaithi"
    image=units/human-aragwaithi/swordmaster.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Aragwaithi Swordmaster
    leader=AE Aragwaithi Swordmaster,AE Aragwaithi Shield Guard,AE Aragwaithi Guardian,AE Aragwaithi Sorcerer
    recruit=AE Aragwaithi Archer,AE Aragwaithi Swordsman,AE Aragwaithi Spearman,AE Aragwaithi Warlock,AE Aragwaithi Scout,AE Aragwaithi Guard,AE Aragwaithi Longswordsman,AE Aragwaithi Pikeman,AE Aragwaithi Wizard,AE Aragwaithi Lancer,AE Aragwaithi Eagle Rider,AE Aragwaithi Eagle Master,AE Aragwaithi Strongbow
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Ceresians- Heroes

[multiplayer_side]
    id=AE Ceresians League Heroes
    name= _ "Feudal - Ceresian League"
    image="units/human-ceresians/knight-commander.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Ceresian Condottiero
    leader=AE Ceresian Condottiero,AE Ceresian Champion,AE Ceresian Rodelero,AE Ceresian Master Arbalestier,AE Ceresian Monsignor,AE Ceresian Cavaliero,AE Ceresian Knight Commander,AE Ceresian Pellegrino, AE Knight Raetian,AE Ceresian Halberdier

    recruit=AE Ceresian Yeoman,AE Ceresian Crossbowman,AE Ceresian Squire,AE Ceresian Cavalryman,AE Ceresian Acolyte,AE Ceresian Novice,AE Ceresian Pikeman,AE Ceresian Mounted Infantryman,AE Ceresian Arbalestier,AE Ceresian Mounted Crossbowman,AE Ceresian Man_at_Arms,AE Ceresian Espadachino,AE Ceresian Knight Errant,AE Ceresian Stradioto,AE Ceresian Deacon,AE Ceresian Order Knight,AE Ceresian Monk,AE Ceresian Corporal,AE Ceresian Lieutenant
    terrain_liked=Gs,Hh,Rr,Ww
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer,healer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Clockwork Dwarves - Heroes

[multiplayer_side]
    id=AE Clockwork Dwarves Heroes
    name= _ "Feudal - Clockwork Dwarves"
    image=units/dwarves-clockwork/general.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Clockwork General
    leader=AE Clockwork General,AE Clockwork Gas Baron,AE Clockwork Artillery,AE Clockwork Itinerant,AE Clockwork Blazer,
    recruit=AE Clockwork Triggerman,AE Clockwork Soldier,AE Clockwork Wanderer,AE Clockwork Greaser,AE Clockwork Contraption,AE Clockwork Wooden Bird,AE Clockwork Marshal,AE Clockwork Miasmist,AE Clockwork Gunner,AE Clockwork Rambler,AE Clockwork Oiler,AE Clockwork Golem,AE Clockwork Steel Eagle
    [ai]
        recruitment_pattern=archer,fighter,fighter,healer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | High Elves - Heroes

[multiplayer_side]
    id=AE High Elves Heroes
    name= _ "Feudal - High Elves"
    image=units/elves-high/fouchardier.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE High Elven Fouchardier
    leader=AE High Elven Tireur dElite,AE High Elven Sylph,AE High Elven Sylvanus,AE High Elven Fouchardier,AE High Elven Aegis,AE High Elven Chevauleger,AE High Elven Cataphract,AE High Elven Escrimeur,AE High Elven Gendarme,AE High Elven Voltigeur

    recruit=AE High Elven Archer,AE High Elven Charger,AE High Elven Horse Archer,AE High Elven Sorceress,AE High Elven Faerie Warrior,AE High Elven Spearman,Mermaid Initiate,AE High Elven Cavalier,AE High Elven Chasseur,AE High Elven Coutillier,AE High Elven Cuirassier,AE High Elven Enchantress,AE High Elven Feyblade,AE High Elven Lancier,AE High Elven Savari,AE High Elven Schiltron,AE High Elven Shieldbearer,Mermaid Enchantress,Mermaid Priestess
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Orcish Khaganates - Heroes

[multiplayer_side]
    id=AE Orcish Khaganates Heroes
    name= _ "Feudal - Orcish Khaganates"
    image=units/orcs-khaganate/juggernaut.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Khaganate Khan
    leader=AE Khaganate Khan,AE Khaganate Master,AE Khaganate Pariah,AE Khaganate Stoic,AE Khaganate Massif,AE Khaganate Skewer
    random_leader=AE Khaganate Khan,AE Khaganate Master,AE Khaganate Pariah,AE Khaganate Massif,AE Khaganate Skewer
    recruit=AE Khaganate Warrior,AE Khaganate Bladesman,AE Khaganate Spearman,AE Khaganate Shieldbearer,AE Khaganate Rigid,AE Khaganate Herder,AE Khaganate Drover,AE Khaganate Outcast,AE Khaganate Hunter,AE Khaganate Spearhead,AE Khaganate Flanker,AE Khaganate Striker,AE Khaganate Juggernaut,AE Khaganate Vanguard,
    terrain_liked=Ss,Hh,Ha,Ww
    [ai]
        recruitment_pattern=fighter,fighter,scout,defender,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
