#textdomain wesnoth-Ageless_Era

### | Ageless Era Custom Factions - Heroes

## | Desert Elves - Heroes

[multiplayer_side]
    id=AE Desert Elves Heroes
    name= _ "UtBS - Desert Elves"
    image="units/elves-desert/prowler.png~RC(magenta>red)"
    type=AE Desert Prowler
    leader=AE Desert Prowler,AE Desert Marshal,AE Desert Champion,AE Desert Sharpshooter,AE Desert Avenger,AE Desert Outrider,AE Desert Shyde

    recruit=AE Desert Sentinel,AE Desert Scout,AE Desert Rider,AE Desert Ranger,AE Desert Marksman,AE Desert Hunter,AE Desert Horseman,AE Desert Hero,AE Desert Fighter,AE Desert Druid,AE Desert Captain,AE Desert Archer,AE Desert Shaman,AE Kalifa Elder Falcon,AE Kalifa Falcon

    [ai]
        recruitment_pattern=archer,mixed fighter,mixed fighter,fighter,healer,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Yokai - Heroes

[multiplayer_side]
    id=AE Yokai Heroes
    name= _ "AE - Yokai"
    image="units/yokai/medusa_witch.png~RC(magenta>red)"
    type=AE Nine_Tailed Fox
    leader=AE Nine_Tailed Fox,AE Medusa Witch,AE Lamia Naitaka,AE Elder Leshi

    recruit=AE Leshi,AE Kodama,AE Nymph,AE Greater Spriggan,AE Spriggan,AE Mandragora,AE Sproutling,AE Moving Fortress,AE Surgler Swarm,AE Rebel Swarm,AE Swarm Spawn,AE Nixie,AE Faerie,AE Pixie,AE Medusa,AE Lamia Warrior,AE Weaver Matriarch,AE Lamia,AE Weaver Widow,AE Weaver Matron,AE Weaver Maiden,AE Tengu,AE Kitsune,AE Feyborn Witch,AE Feyborn,AE Phantom,AE Onryo,AE Banshee,AE Poltergeist

    terrain_liked=Gs^Fp,Aa^Fpa,Hh,Ha,Ss,Uu,Ww
    [ai]
        recruitment_pattern=scout,mixed fighter,defender,defender,fighter,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Dark Legion - Heroes

[multiplayer_side]
    id=AE Dark Legion Heroes
    name= _ "AE - Dark Legion"
    image="units/human-dark/sword-champion.png"
    type=AE_Dark Champion

    leader=AE_Dark Champion,AE_Dark Warrior,AE_Dark Terror,AE_Dark Advanced Crossbowman,AE_Dark Heavy Longbowman,AE_Dark Elite Gunner,AE_Dark Deathmaster,AE_Dark Cavalier

    recruit=Naga Fighter,AE_Dark Trooper,AE_Dark Spearman,AE_Dark Soldier,AE_Dark Raider,AE_Dark Pillager,AE_Dark Longswordsman,AE_Dark Longbowman,AE_Dark Gunner,AE_Dark Guardian,AE_Dark Bowman,AE_Dark Berserker,Naga Warrior,AE_Dark Crusher,AE_Dark Halberdier,AE_Dark Knight,AE_Dark Crossbowman
    terrain_liked=Gg,
    [ai]
        recruitment_pattern=fighter,mixed fighter,archer,archer,fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
