#textdomain wesnoth-Ageless_Era

### | Archiac Era Custom Factions - Heroes

## | Khthon - Heroes

[multiplayer_side]
    id=AE Khthon Heroes
    name= _ "Archaic - Khthon"
    image="units/Khthon/katoblepon-magnum.png~RC(magenta>red)"
    type=AE Katoblepon_Magnum
    leader=AE Katoblepon_Magnum,AE Hypergusa,AE Orthrus,AE Ophis_Magnum

    recruit=AE Yak,AE Timber Wolf,AE Ram,AE Pyradalon,AE Prokyon,AE Pegusa,AE Ophis,AE Nightmare,AE Katoblepon,AE Horse,AE Arctic Wolf,AE Afflicted Woodsman,AE Terrapin,AE Snapper

    terrain_liked=Aa,Ai,Aa^Fpa,Ha
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Phantom - Heroes

[multiplayer_side]
    id=AE Phantom Heroes
    name= _ "Archaic - Phantom"
    image=units/phantom/mummy-king.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Mummy King
    leader=AE Mummy King,AE Tomb Protector,AE Tomb Master,AE Tomb HighArcher

    recruit=AE Tomb Wing,AE Tomb Sentinel,AE Tomb Mummy,AE Mummy Unbound,AE Tomb Huntress,AE Tomb Guard,AE Tomb Dancer,AE Tomb Archer,AE Tomb Spirit Jay,AE Tomb Spirit Dove,AE Tomb Stalker

    terrain_liked=Ds,Ff,Hh,Uu,Rd
    #	[ai]
    #		recruitment_pattern=fighter,fighter,scout,archer,healer
    #	[/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Primeval - Heroes

[multiplayer_side]
    id=AE Primeval Heroes
    name= _ "Archaic - Primeval"
    image=units/Primeval/warrior.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Warrior

    leader=AE Warrior,AE Giant,AE Protector,AE Gyrepacter,AE Firewheel,AE Aerowheel,AE Prior,AE Leader

    recruit=AE Shield,AE Monk,AE Follower,AE Fighter,AE Fanatic,AE Celebrant,AE Swiftfoot,AE Striker,AE Slasher,AE Ironwheel,AE Hektor,AE Slow,AE Driver,AE Dogface,AE Cutter

    terrain_liked=Aa,Ai,Rd
    #   [ai]
    #      recruitment_pattern=fighter,fighter,scout,archer,healer
    #   [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | South Seas - Heroes

[multiplayer_side]
    id=AE South-Seas Heroes
    name= _ "Archaic - South-Seas"
    image=units/south-seas/wolf.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE South_Seas Seawolf

    leader=AE South_Seas Seawolf,AE South_Seas Spitfire,AE South_Seas Sky-Caller,AE South_Seas Sea-Scourge,AE South_Seas Marine,AE South_Seas Deck-Master,AE South_Seas Wrecker

    recruit=AE South_Seas Zephyrist,AE South_Seas Swimmer,AE South_Seas Seahag,AE South_Seas Rover,AE South_Seas Diver,AE South_Seas Demolitionist,AE South_Seas Caster,AE South_Seas Arsonist,AE South_Seas Able-Seaman,AE South_Seas Seaman,AE South_Seas Salvager,AE South_Seas Shoreman

    terrain_liked=Ds,Ff,Hh,Ww,Rd
    #	[ai]
    #		recruitment_pattern=fighter,fighter,scout,archer,healer
    #	[/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Despair - Heroes

[multiplayer_side]
    id=AE Despair Heroes
    name= _ "Archaic - Despair"
    image="units/despair/phantomofficer.png~RC(magenta>red)"
    type=AE Phantom Officer
    leader=AE Phantom Officer,AE Phantom Slayer,AE Phantom Master,AE Phantom Banshee

    recruit=AE Phantom Unease,AE Phantom Widow,AE Phantom White,AE Phantom Stone,AE Phantom Statue,AE Phantom Spearman,AE Phantom Soldier,AE Phantom Shadow,AE Phantom Rider,AE Phantom Midnight,AE Phantom Horseman,AE Phantom Fright,AE Phantom Dullohan,AE Phantom Cloak

    terrain_liked=Ds,Ff,Hh,Uu,Rd
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Ukians - Heroes

[multiplayer_side]
    id=AE Ukians Heroes
    name= _ "Archaic - Ukians"
    image="units/Ukians/subcommander.png~RC(magenta>red)"
    type=AE Ukian Subcommander

    leader=AE Ukian Subcommander,AE Ukian Witch,AE Ukian Flareman,AE Ukian Deadeye,AE Ukian Commando, AE Northern Elite, AE Royal Constable

    recruit=AE Ukian Veteran,AE Ukian Signalman,AE Ukian Runner,AE Ukian Seeress,AE Ukian Regular,AE Ukian Officer,AE Ukian Hawkeye,AE Ukian Dog, AE Ukian Courrier,AE Ukian Attack Dog,AE Ukian Archer, AE Northern Soldier, AE Royal Vassal, AE Royal Sheriff, AE Northern Ranger, AE Northern Fighter,AE Ukian Harrier

    terrain_liked=Aa,Ai,Aa^Fpa,Ha
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Northern Orcs - Heroes

[multiplayer_side]
    id=AE Northern Orcs Heroes
    name= _ "Archaic - Northern Orcs"
    image="units/orcs/terror.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=Orcish Warlord
    leader=Orcish Warlord,Orcish Sovereign,AE Orcish Firebreather,AE Orcish Terror,AE Orcish Destrier,Troll Warrior,Orcish Slurbow,Orcish Slayer

    recruit=AE_BMR Orcish Grunt,Orcish Warrior,Troll Whelp,Troll,Troll Rocklobber,Wolf Rider,Goblin Knight,Goblin Pillager,Orcish Archer,Orcish Crossbowman,Orcish Assassin,Orcish Slayer,Goblin Spearman,Goblin Impaler,Goblin Rouser,AE Stork Rider,AE Stork Master,AE Orcish Raider,AE Orcish Rider,AE Orcish Maurader,AE Orcish Fireline,AE Orcish Cavalry, Orcish Leader,Orcish Ruler
    terrain_liked=Hh, Ha, Mm, Ss
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
