#textdomain wesnoth-Ageless_Era

### | Mercenaries Era Custom Hero Factions

## | Highlanders

[multiplayer_side]
    id=AE HighlandersME Heroes
    name= _ "ME - Highlanders"
    image="units/highlanders/wildman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Highlander Highlander
    leader=AE Highlander Highlander,AE Highlander Thor,AE Highlander Behemoth,AE Highlander Plunderer,AE Highlander Warpipe
    random_leader=AE Highlander Highlander,AE Highlander Thor,AE Highlander Behemoth,AE Highlander Plunderer,AE Highlander Warpipe
    recruit=AE Highlander Hatchet Thrower,AE Highlander Lumberjack,AE Highlander Woodsman,AE Highlander Stonethrower,AE Highlander Barfighter,AE Highlander Sober,AE Highlander Amputator,AE Highlander Combatmedic,AE Highlander Hulk,AE Highlander Valkyrie Warrior,AE Highlander Barbarian,AE Highlander Pilferer,AE Highlander Viking,AE Highlander Bagplayer,AE Highlander Valhallan,AE Highlander Nord,AE Highlander Drunkard,AE Highlander Giant,AE Highlander Contestant,AE Highlander Pipeman,AE Highlander Forester,AE Highlander Fieldmedic,AE Highlander Valkyrie,AE Highlander Warrior Spirit
    terrain_liked=Aa, Hh, Mnt
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Enchanters

[multiplayer_side]
    id=AE Enchanters Heroes
    name= _ "ME - Enchanters"
    image="units/enchanters/fabricator.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Enchanter Rune Mage
    leader=AE Enchanter Arcane Rune Splicer,AE Enchanter Cold Rune Splicer,AE Enchanter Ice Rune Improver,AE Enchanter Rune Mage,AE Enchanter Rune Purist,AE Enchanter Stockpiler,AE Enchanter Devilhand,AE Enchanter Powermad,AE Enchanter Sellsoul,AE Enchanter Fabricator,AE Enchanter Crystalbow,AE Enchanter Incinerator
    random_leader=AE Enchanter Arcane Rune Splicer,AE Enchanter Cold Rune Splicer,AE Enchanter Ice Rune Improver,AE Enchanter Rune Mage,AE Enchanter Rune Purist,AE Enchanter Stockpiler,AE Enchanter Devilhand,AE Enchanter Powermad,AE Enchanter Sellsoul,AE Enchanter Fabricator,AE Enchanter Crystalbow,AE Enchanter Incinerator
    recruit=AE Enchanter Forge,AE Enchanter Cursedhand,AE Enchanter Sacrificer,AE Enchanter Arsenal,AE Enchanter Elemental Rune Interpreter,AE Enchanter Arcane Rune Transcriber,AE Enchanter Featherlite,AE Enchanter Clearbow,AE Enchanter Blazier,AE Enchanter Rune Apprentice,AE Enchanter Magic Sword,AE Enchanter Possessed Sword,AE Enchanter Shifting Sword,AE Enchanter Armorer,AE Enchanter Cursedsword,AE Enchanter Enchanter,AE Enchanter Reducter,AE Enchanter Hotshot,AE Enchanter Floating Sword
    terrain_liked=Ss
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,fighter,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Avians

[multiplayer_side]
    id=AE Avians Heroes
    name= _ "ME - Avians"
    image="units/avians/wingedbaron.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Avian Skylord
    leader=AE Avian Bowflurry,AE Avian Eagle Eye,AE Avian Razorwing,AE Avian Shell,AE Avian Dradnought,AE Avian Winged Baron,AE Avian Steelbeak
    random_leader=AE Avian Bowflurry,AE Avian Eagle Eye,AE Avian Razorwing,AE Avian Shell,AE Avian Dradnought,AE Avian Winged Baron,AE Avian Steelbeak
    recruit=AE Avian Skylord,AE Avian Skyterror,AE Avian Nestguard,AE Avian Bladewing,AE Avian Savior,AE Avian Ironbeak,AE Avian Hawkeye,AE Avian Sitter,AE Avian Daredevil,AE Avian Divebomber,AE Avian Crow,AE Avian Owl,AE Avian Floater,AE Avian Egglayer,AE Avian Dove,AE Avian Hummingbird,AE Avian Sparrow,AE Avian Grounded,AE Avian Archer,AE Avian Watchman,AE Avian Mother,AE Avian Dart,AE Avian Pigeon,AE Avian Jackdaw, AE Avian Broadwing
    terrain_liked=fmg
    [ai]
        recruitment_pattern=Fighter,Fighter,Scout,Healer,Archer,Scout,Fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Slavers

[multiplayer_side]
    id=AE Slavers Heroes
    name= _ "ME - Slavers"
    image="units/slavers/slavemaster.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Slaver Master
    leader=AE Slaver Freedman,AE Slaver Master,AE Slaver Stalker,AE Slaver Abuser
    random_leader=AE Slaver Freedman,AE Slaver Master,AE Slaver Stalker,AE Slaver Abuser
    recruit=AE Slaver Overseer,AE Slaver Subjugater,AE Slaver Punisher,AE Slaver Trailer,AE Slaver Provoker,AE Slaver Entrancer,AE Slaver Farmhand,AE Slaver Miner,AE Slaver Courtesan,AE Slaver Pursuer,AE Slaver Maneater,AE Slaver Retriever,AE Slaver Shouldermount,AE Slaver Hawk,AE Slaver Slaveholder,AE Slaver Prodder,AE Slaver Tracker,AE Slaver Mutt
    terrain_liked=gfh
    [ai]
        recruitment_pattern=scout,fighter,archer,fighter,healer,fighter,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Mercenaries

[multiplayer_side]
    id=AE Mercenaries
    name= _ "ME - Mercenaries"
    image="units/mercenaries/battlemage.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Mercenary Battlemage
    leader=AE Mercenary Slayer,AE Mercenary Soldier_of_Fortune,AE Mercenary Collector,AE Mercenary Sniper,AE Mercenary Protecter,AE Mercenary Hitman,AE Mercenary Battlemage,AE Mercenary Black Mage,AE Mercenary Corsair,AE Mercenary Mariner,AE Mercenary Pirate Captain
    random_leader=AE Mercenary Slayer,AE Mercenary Soldier_of_Fortune,AE Mercenary Collector,AE Mercenary Sniper,AE Mercenary Protecter,AE Mercenary Hitman,AE Mercenary Battlemage,AE Mercenary Black Mage,AE Mercenary Corsair,AE Mercenary Mariner,AE Mercenary Pirate Captain
    recruit=AE Mercenary Hessian,AE Mercenary Mankiller,AE Mercenary Guard,AE Mercenary Bouncer,AE Mercenary Tracer,AE Mercenary Cutthroat,AE Mercenary Isolated Mage,AE Mercenary Warrior Mage,AE Mercenary Scavenger,AE Mercenary Tracer,AE Mercenary Seeker,AE Mercenary Maneuverer,AE Mercenary Pirate,AE Mercenary Seafarer,AE Mercenary Mercenary,AE Mercenary Hunter,AE Mercenary Brute,AE Mercenary Pickpocket,AE Mercenary Neglect Mage,AE Mercenary Rider,AE Mercenary Sailer
    terrain_liked=gfh
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,scout,mixedfighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Equestrians

[multiplayer_side]
    id=AE Equestrians Heroes
    name= _ "ME - Equestrians"
    image="units/equestrians/templar.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Equestrian Templar
    leader=AE Equestrian Templar,AE Equestrian Jockey,AE Equestrian Roamer,AE Equestrian Silver Pegasus
    random_leader=AE Equestrian Templar,AE Equestrian Jockey,AE Equestrian Roamer,AE Equestrian Silver Pegasus
    recruit=AE Equestrian Equestrian,AE Equestrian Champion,AE Equestrian Paladin,AE Equestrian Mageknight,AE Equestrian Troubadour,AE Equestrian Nomad,AE Equestrian Bronco,AE Equestrian Crasher,AE Equestrian Bull,AE Equestrian Charger,AE Equestrian Knight,AE Equestrian Magerider,AE Equestrian Pegasus Rider,AE Equestrian Rider,AE Equestrian Searay,AE Equestrian Vagabond
    terrain_liked=gfh
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,scout,mixedfighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Emperor's Guard

[multiplayer_side]
    id=AE Emperor_s Guard Heroes
    name= _ "ME - Emperor's Guard"
    image="units/emperorguard/daimyo.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type="AE Emperor_s Guard Shogun"
    leader=AE Emperor_s Guard Shogun,AE Emperor_s Guard Shadow Ninja,AE Emperor_s Guard Shinobi,AE Emperor_s Guard Imperial Guard,AE Emperor_s Guard Tsuwamono,AE Emperor_s Guard Elite Kyu
    random_leader=AE Emperor_s Guard Shogun,AE Emperor_s Guard Shadow Ninja,AE Emperor_s Guard Shinobi,AE Emperor_s Guard Imperial Guard,AE Emperor_s Guard Tsuwamono,AE Emperor_s Guard Elite Kyu
    recruit=AE Emperor_s Guard Samurai Captain,AE Emperor_s Guard Ninja Warrior,AE Emperor_s Guard Ninja Assassin,AE Emperor_s Guard Monofu,AE Emperor_s Guard Bushi,AE Emperor_s Guard Musha,AE Emperor_s Guard Starshower,AE Emperor_s Guard Kyu,AE Emperor_s Guard Kyushu,AE Emperor_s Guard Tatsu,AE Emperor_s Guard Martial Artist,AE Emperor_s Guard Ninja,AE Emperor_s Guard Ozutsu,AE Emperor_s Guard Ryu,AE Emperor_s Guard Samurai,AE Emperor_s Guard Shuriken Thrower,AE Emperor_s Guard Yumi,AE Emperor_s Guard Mounted Samurai
    terrain_liked=gfh
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,scout,mixedfighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Oracles

[multiplayer_side]
    id=AE Oracles Heroes
    name= _ "ME - Oracles"
    image="units/oracles/seer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Oracle Seer
    leader=AE Oracle Seer,AE Oracle Bishop,AE Oracle Judgementor,AE Oracle Sorcerer,AE Oracle Quietus,AE Oracle Omniscient,AE Oracle Telekinetic,AE Oracle Alchemist,AE Oracle Enlightened
    random_leader=AE Oracle Seer,AE Oracle Bishop,AE Oracle Judgementor,AE Oracle Sorcerer,AE Oracle Quietus,AE Oracle Omniscient,AE Oracle Telekinetic,AE Oracle Alchemist,AE Oracle Enlightened
    recruit=AE Oracle Prophet,AE Oracle Clergyman,AE Oracle Theurgist,AE Oracle Warlock,AE Oracle Magus,AE Oracle Necromantic,AE Oracle Psychic,AE Oracle Gravitymancer,AE Oracle Guru,AE Oracle Scrapshifter,AE Oracle Evileye,AE Oracle Arbiter,AE Oracle Blindman,AE Oracle Cleric,AE Oracle Disciple,AE Oracle Beholder,AE Oracle Monk,AE Oracle Oracle,AE Oracle Scholar,AE Oracle Wizard, AE Oracle Magnomancer, AE Oracle Sage
    terrain_liked=hfc
    [ai]
        recruitment_pattern=fighter,scout,fighter,mixedfighter,archer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Holy Order

[multiplayer_side]
    id=AE Holyorder Heroes
    name= _ "ME - Holy Order"
    image="units/holyorder/supremejudge.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Order Supreme
    leader=AE Order Paladin,AE Order Archbishop,AE Order Pope,AE Order Torturer,AE Order Supreme,AE Order Law,AE Order Order,AE Order Peacekeeper,AE Order Ballast,AE Order Wisdomkeeper,AE Order Purifier
    random_leader=AE Order Paladin,AE Order Archbishop,AE Order Pope,AE Order Torturer,AE Order Supreme,AE Order Law,AE Order Order,AE Order Peacekeeper,AE Order Ballast,AE Order Wisdomkeeper,AE Order Purifier
    recruit=AE Order Justice,AE Order Listener,AE Order Twilight,AE Order Holy Spirit,AE Order Judgementor,AE Order Mage,AE Order Scholar,AE Order Priest,AE Order Demonslayer,AE Order Inquisition,AE Order Crusader,AE Order Aggressor,AE Order Cleric,AE Order Interrogator,AE Order Judiciary,AE Order Mounted Officer,AE Order Officer,AE Order Student,AE Order Lightwisp,AE Order Witchhunter
    terrain_liked=hfc
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixedfighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | The Cult

[multiplayer_side]
    id=AE Cult Heroes
    name= _ "ME - The Cult"
    image="units/cult/inhuman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Cult Mutant
    leader=AE Cult Cleaner,AE Cult Executioner,AE Cult Condemned,AE Cult Montrosity,AE Cult Beacon,AE Cult Mutant,AE Cult Subverter,AE Cult Remnant,AE Cult Waylayer
    random_leader=AE Cult Cleaner,AE Cult Executioner,AE Cult Condemned,AE Cult Montrosity,AE Cult Beacon,AE Cult Mutant,AE Cult Subverter,AE Cult Remnant,AE Cult Waylayer
    recruit=AE Cult Rebel,AE Cult Overt,AE Cult Lonewolf,AE Cult Sentry,AE Cult Sewer Slider,AE Cult Transformation,AE Cult Covert,AE Cult Lurker,AE Cult Banished,AE Cult Miscreation,AE Cult Outlaster,AE Cult Cultist,AE Cult Exile,AE Cult Freak,AE Cult Lookout,AE Cult Recruit,AE Cult Survivor,AE Cult Sewer Swimmer,AE Cult Waiter
    terrain_liked=Ss
    [ai]
        recruitment_pattern=fighter,fighter,scout,heavy,heavy,mixedfighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Fanatics

[multiplayer_side]
    id=AE Fanatics Heroes
    name= _ "ME - Fanatics"
    image="units/fanatics/fearmonger.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Fanatic Fearmonger
    leader=AE Fanatic Zealblade,AE Fanatic Fearmonger,AE Fanatic Sandskulker,AE Fanatic Fanatic,AE Fanatic Propagand
    random_leader=AE Fanatic Zealblade,AE Fanatic Fearmonger,AE Fanatic Sandskulker,AE Fanatic Fanatic,AE Fanatic Propagand
    recruit=AE Fanatic Devoted,AE Fanatic Camel Rider,AE Fanatic Mindless,AE Fanatic Master Genie,AE Fanatic Prowler,AE Fanatic Warrior,AE Fanatic Ambusher,AE Fanatic Terrorist,AE Fanatic Misinformant,AE Fanatic Thief,AE Fanatic Bladesman,AE Fanatic Sandbow,AE Fanatic Caravan,AE Fanatic Magic Carpet,AE Fanatic Follower,AE Fanatic Genie,AE Fanatic Gossiper,AE Fanatic Streetrat
    terrain_liked=Dd, Ds, Hh
    [ai]
        recruitment_pattern=fighter,fighter,scout,fighter,archer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Tribe

[multiplayer_side]
    id=AE Tribe Heroes
    name= _ "ME - Tribalists"
    image="units/tribe/voodoodoctor.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Tribe Voodoo Doctor
    leader=AE Tribe Native,AE Tribe Slayer,AE Tribe Executioner,AE Tribe Voodoo Doctor,AE Tribe Chieftain,AE Tribe Indigenous
    random_leader=AE Tribe Native,AE Tribe Slayer,AE Tribe Executioner,AE Tribe Voodoo Doctor,AE Tribe Chieftain,AE Tribe Indigenous
    recruit=AE Tribe Tribalist,AE Tribe Kangaroo,AE Tribe Canoe,AE Tribe Fishing Boat,AE Tribe Endemic,AE Tribe Decapitator,AE Tribe Archer,AE Tribe Hunter,AE Tribe Medicineman,AE Tribe Witchdoctor,AE Tribe Boomerang Thrower,AE Tribe Bowman,AE Tribe Cook,AE Tribe Dartsman,AE Tribe Rowboat,AE Tribe Scalper,AE Tribe Shaman,AE Tribe Wallaby,AE Tribe Warrior
    terrain_liked=Ff
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,archer,heavy,scout,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Hive

[multiplayer_side]
    id=AE Hive Heroes
    name= _ "ME - Hive"
    image="units/hive/overmind.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Hive Overmind
    leader=AE Hive Bull Ant,AE Hive Hercules,AE Hive Tick,AE Hive Overmind,AE Hive Regal,AE Hive Gargantuan
    random_leader=AE Hive Bull Ant,AE Hive Hercules,AE Hive Tick,AE Hive Overmind,AE Hive Regal,AE Hive Gargantuan
    recruit=AE Hive Queen,AE Hive Wasp,AE Hive Lanterbug,AE Hive Mantis,AE Hive Skipper,AE Hive Glider,AE Hive Trapdoor Spider,AE Hive Infest,AE Hive Prince,AE Hive Lanterbug,AE Hive Stag,AE Hive Flea,AE Hive Termite Soldier,AE Hive Soldier Ant,AE Hive Tarantula,AE Hive Fire Ant,AE Hive Ant,AE Hive Beetle,AE Hive Drone,AE Hive Firefly,AE Hive Gnat,AE Hive Hopper,AE Hive Termite,AE Hive Spider,AE Hive Swarm
    terrain_liked=fmg
    [ai]
        recruitment_pattern=fighter,fighter,archer,mixedfighter,healer
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Infernai

[multiplayer_side]
    id=AE Infernai Heroes
    name= _ "ME - Infernai"
    image="units/fiends/sadist.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Infernai Sadist
    leader=AE Infernai Infernal Troglodyte,AE Infernai Sadist,AE Infernai Bloodbather,AE Infernai Devil,AE Infernai Horned One,AE Infernai Incubus,AE Infernai Ifreet Sultan,AE Infernai Pit Master
    random_leader=AE Infernai Infernal Troglodyte,AE Infernai Sadist,AE Infernai Bloodbather,AE Infernai Devil,AE Infernai Horned One,AE Infernai Incubus,AE Infernai Ifreet Sultan,AE Infernai Pit Master
    recruit=AE Infernai Demon,AE Infernai Hell Hound,AE Infernai Archfiend,AE Infernai Familiar,AE Infernai Sadist,AE Infernai Evil Essence,AE Infernai Magog,AE Infernai Pit Lord,AE Infernai Tormentor,AE Infernai Master Ifreet,AE Infernai Troglodyte,AE Infernai Demon Dog,AE Infernai Hell Dweller,AE Infernai Imp,AE Infernai Fiend,AE Infernai Gog,AE Infernai Ifreet,AE Infernai Pit Fiend,AE Infernai Lost Soul
    terrain_liked=gfh
    [ai]
        recruitment_pattern=fighter,fighter,fighter,archer,scout,mixedfighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Refugees

[multiplayer_side]
    id=AE Refugees Heroes
    name= _ "ME - Refugees"
    image="units/refugees/phalanx.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Refugee Phalanx
    leader=AE Refugee Roadclearer,AE Refugee Spire,AE Refugee Greeter,AE Refugee Linebacker,AE Refugee Phalanx,AE Refugee Protector,AE Refugee Deadeye
    random_leader=AE Refugee Roadclearer,AE Refugee Spire,AE Refugee Greeter,AE Refugee Linebacker,AE Refugee Phalanx,AE Refugee Protector,AE Refugee Deadeye
    recruit=AE Refugee Refugee,AE Refugee Purifier,AE Refugee Messenger,AE Refugee Arsonist,AE Refugee Stonewall,AE Refugee Gatekeeper,AE Refugee Trireme,AE Refugee Maceman,AE Refugee Defender,AE Refugee Hoplite,AE Refugee Javelineer,AE Refugee Sniper,AE Refugee Cleaner,AE Refugee Courier,AE Refugee Focul,AE Refugee Guard,AE Refugee Longboat,AE Refugee Rabble,AE Refugee Sarissan,AE Refugee Sentry
    terrain_liked=Cc, Kk, Mnt, Hh
    [ai]
        recruitment_pattern=fighter,fighter,fighter,heavy,archer,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Blight

[multiplayer_side]
    id=AE Blight Heroes
    name= _ "ME - Blight"
    image="units/blight/flesh-eater.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE_mrc_Blight_Flesh_Eater
    leader=AE_mrc_Blight_Blighted,AE_mrc_Blight_Flesh_Eater,AE_mrc_Blight_Dreadbones,AE_mrc_Blight_Putrid
    random_leader=AE_mrc_Blight_Blighted,AE_mrc_Blight_Flesh_Eater,AE_mrc_Blight_Dreadbones,AE_mrc_Blight_Putrid
    recruit=AE_mrc_Blight_Charred_Zombie,AE_mrc_Blight_Slime,AE_mrc_Blight_Ooze,AE_mrc_Blight_Plagued,AE_mrc_Blight_Zombie,AE_mrc_Blight_Mutilated_Corpse,AE_mrc_Blight_Dismembered,AE_mrc_Blight_Rancid,AE_mrc_Blight_Spore_Hive,AE_mrc_Blight_Undead_Hound,AE_mrc_Blight_Blacktide,AE_mrc_Blight_Fleshpool,AE_mrc_Blight_Blob,AE_mrc_Blight_Microbe,AE_mrc_Blight_Parasite,AE_mrc_Blight_Infected,AE_mrc_Blight_Cadaver,AE_mrc_Blight_Fetid,AE_mrc_Blight_Host,AE_mrc_Blight_Infected_Hound,AE_mrc_Blight_Dark_Current
    terrain_liked=Ss
    [ai]
        recruitment_pattern=fighter,fighter,scout,archer,fighters
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
