#textdomain wesnoth-Ageless_Era

### | Era of Strife Custom Factions - Heroes

## | Eltireans - Heros

[multiplayer_side]
    id=AE Eltireans Heroes
    name= _ "EOS - Eltireans"
    image=units/eltireans/mistress.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Eltirean Raging Mistress
    leader=AE Eltirean Raging Mistress,AE Eltirean Guardian of the Sun,AE Eltirean Infernal Master,AE Eltirean Hydromonger,AE Eltirean Sky Captain,AE Eltirean Frostwalker,AE Eltirean Destroyer

    recruit=AE Eltirean Knight Errant,AE Eltirean Glory Seeker,AE Eltirean Elementalist,AE Eltirean Disciple,AE Eltirean Wind Rider,AE Eltirean Ladyofwar,AE Eltirean Fury,AE Eltirean Temptress,AE Eltirean Knight of the Sun,AE Eltirean Pyromancer,AE Eltirean Hydromancer,AE Eltirean Patrol Captain,AE Eltirean Calmblade,AE Eltirean Crusher,AE Eltirean Wind Strider,AE Eltirean Bishop,AE Eltirean Lightbringer
    terrain_liked=Dd^Vda,Rd,Dd,Gs^Ft,Dd^Vdt
    [ai]
        recruitment_pattern=fighter,archer,fighter,archer,healer,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Eventide - Heros

[multiplayer_side]
    id=AE Eventide Heroes
    name= _ "EOS - Eventide"
    image=units/eventide/Diu_Keenshot.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE DiuKeenshot
    leader=AE DiuKeenshot,AE NoctGuardian,AE EventidePoisoner
    recruit=AE DiuBowmaid,AE NoctMaceman,AE Swabbie,AE EventideHerbalist,AE Desperado,AE Auxilary,AE DiuBowMistress,AE ArcaneArcher,AE NoctMacelord,AE Dreadlord,AE EventideAlchemist,AE Madcap,AE Lineman,AE Mariner

    terrain_liked=Dd^Vda,Rd,Dd,Gs^Ft,Dd^Vdt
    [ai]
        recruitment_pattern=fighter,fighter,archer,fighter,mixed fighter,archer,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Minotaurs - Heros

[multiplayer_side]
    id=AE Minotaurs Heroes
    name= _ "EOS - Minotaurs"
    image=units/minotaurs/elder.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Minotaur Elder
    leader=AE Minotaur Elder,AE Minotaur Executioner,AE Minotaur Overlord,AE Gnoll Sharpeye
    recruit=AE Minotaur Shaman,AE Minotaur Gore,AE Minotaur Behemoth,AE Gnoll,AE Minotaur Cutthroat,AE Minotaur Rouser,AE Minotaur Savage,AE Minotaur Warlock,AE Minotaur Mystic,AE Gnoll Sharpshooter,AE Minotaur Ancient Behemoth,AE Boar Rider,AE Boar Knight,AE Minotaur Slayer
    terrain_liked=Gs^Fp, Gg, Hh, Mm, Md
    [ai]
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,mixed fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Free Saurians - Heros

[multiplayer_side]
    id=AE Free Saurians Heroes
    name= _ "EOS - Free Saurians"
    image=units/saurians/holy.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Saurian Holy
    leader=AE Saurian Holy,AE Saurian Shockfrost,AE Saurian Hero,AE Saurian Assassin,AE Swamp Warrior,AE Swamp Margrave
    random_leader=AE Saurian Holy,AE Saurian Shockfrost,AE Saurian Hero, AE Swamp Warrior,AE Saurian Assassin
    recruit=AE Saurian Sage, AE Saurian Mage, AE Free Saurian Skirmisher, AE Saurian Knife thrower, AE Swamp Saurian, AE Free Spider, AE Saurian Lizard Rider, AE Saurian Trainee, AE Saurian Mystic, AE Saurian Healer, AE Saurian Frosty, AE Saurian Elementalist, AE Saurian Warrior, AE Saurian Killer, AE Swamp Fighter,AE Swamp Guard,AE Free Tarantula,AE Saurian Lizard Master
    [ai]
        recruitment_pattern=fighter,healer,scout,fighter,archer,mixed fighter,trainee,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Triththa - Heroes

[multiplayer_side]
    id=AE Triththa Heroes
    name= _ "EOS - Triththa"
    image=units/dwarves/ballista.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=AE Dwarvish Runemaster
    leader=Dwarvish Lord,AE Dwarvish Runewarrior,AE Dwarvish Arblaster,AE Dwarvish Repeater,AE Dwarvish Runemaster,AE Dwarvish Linebreaker,AE Dwarvish Defender
    recruit=AE Dwarvish Smith,AE Dwarvish Shieldman,AE Dwarvish Rusher,AE Dwarvish Runefighter,AE Dwarvish Runesmith,AE Dwarvish Plainsrider,AE Dwarvish Guard,AE Dwarvish Crossbowman,AE Dwarvish Compounder,AE Dwarvish Charger,AE Dwarvish Ballista,AE Dwarvish Armorer,AE Cuttle Fish,AE Young Cuttle Fish,Dwarvish Steelclad,AE_TR Dwarvish Fighter

    terrain_liked=Hh, Ha, Mm
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
