#textdomain wesnoth-Ageless_Era

### | Era of Myths Custom Factions - Heroes

## | Celestials - Heroes

[multiplayer_side]
    id=AE Celestials Heroes
    name= _ "EOM - Celestials"
    image="units/celestials/herald.png"
    type=AE Celestial Herald
    leader=AE Celestial Herald,AE Celestial Divine_Champion,AE Celestial Holy_Sentinel,AE Celestial Sentinel,AE Celestial Sage,AE Celestial Prophet,AE Celestial Sicarius
    recruit=AE Celestial Messenger,AE Celestial Light_Spirit,AE Celestial Lantern_Archon,AE Celestial Crusader,AE Celestial Legionnaire,AE Celestial Wizard,AE Celestial Zealot,AE Celestial Claimant,AE Celestial Divine_Knight,AE Celestial Protector,AE Celestial Keeper,AE Celestial Great_Wizard,AE Celestial Mystic,AE Celestial Militant,AE Celestial Quester
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,archer,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Devlings - Heroes

[multiplayer_side]
    id=AE Devlings Heroes
    name= _ "EOM - Devlings"
    image="units/devlings/abusers.png"
    type=AE Devling Abusers
    leader=AE Devling Chief,AE Devling Hero,AE Devling Abusers
    recruit=AE Devling Soldier,AE Devling Warrior,AE Devling Blasphemists,AE Devling Lurker,AE Devling Flyers,AE Devling Spikers,AE Devling Flappers,AE Devling Sneak,AE Devling Cursers,AE Overgrown Devling,AE Devling Nailers
    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## Elementals - Heroes

[multiplayer_side]
    id=AE Elementals Heroes
    name= _ "EOM - Elementals"
    image="units/elementals/fireghost.png"
    type=AE Fire Ghost
    leader=AE Fire Ghost,AE Tempest Spirit,AE Djinn,AE Ice Shell,AE Lava Beast

    recruit=AE Unicorn,AE Tidal,AE Magic Servant,AE Wind Herder,AE Vine Beast,AE Brazier Creation,AE Fire Wisp,AE Vine Tiger,AE Undine,AE Ice Crab,AE Zephyr,AE Rock Golem,AE Living Furnace,AE Silver Unicorn,AE Thunderbird
    terrain_liked=FHS
    [ai]
        recruitment_pattern=fighter,scout,mixed fighter,mixed fighter,scout,fighter
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Therians - Heroes

[multiplayer_side]
    id=AE Therians Heroes
    name= _ "EOM - Therians"
    image="units/shifters/panther.png~TC(1,magenta)"
    type=AE Panther
    leader=AE Therian_Ranger,AE Aura Master,AE Panther,AE Tiger,AE King Cobra,AE Spitting Cobra
    recruit=AE Leopard Therian,AE Falcon Therian,AE Serpent Therian,AE Therian_Hunter,AE Therian Monk,AE Therian Guard,AE Therian_Tracker,AE Aura Monk,AE Therian Defender,AE Jaguar Therian,AE Cobra,AE Sandskipper,AE Sea Snake

    terrain_liked=gcs
    [ai]
        recruitment_pattern=fighter,fighter,mixed fighter,fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Vampires - Heroes

[multiplayer_side]
    id=AE Vampires Heroes
    name= _ "EOM - Vampires"
    image="units/vampires/sire.png"
    type=AE Sire
    leader=AE Sire,AE Duchess,AE Sword Dancer,AE Sangel,AE Twilight Walker,AE Day Hunter
    recruit=AE marlgoyle,AE gargoyle,AE Blood Hulk,AE Fledgeling,AE Blood Apprentice,AE Thin Blood,AE Vampire Bat,AE Bloodborn,AE Duelist,AE Noble,AE Flesh Artisan,AE Blood Manipulator,AE Blood Bat,AE Half Blood,AE Succubus,AE Mistress
    terrain_liked=FHS
    [ai]
        recruitment_pattern=fighter,scout,mixed fighter,fighter,archer,fighter,tank
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Warg - Heroes

[multiplayer_side]
    id=AE Warg Heroes
    name= _ "EOM - The Warg"
    image="units/wargs/moon_blade.png"
    type=AE Moon Blade
    leader=AE Fenrir,AE Pack Leader,AE Moon Blade,AE Fire Sprite3,AE Wolfling
    recruit=AE Warrior_Wolf,AE Stalker,AE Wolf Cub,AE Shapeshifter,AE Fire Sprite,AE Fire Sprite2,AE Warrior Warg,AE Rabid Wolf,AE Wolf,AE Changeling,AE Blackfur,AE Black_Hunter,AE Water_Dryad,AE Water_Nymph,AE Bear,AE Young Bear
    terrain_liked=FHS
    [ai]
        recruitment_pattern=fighter,scout,fighter,archer,scout,fighter,tank
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

## | Windsong - Heroes

[multiplayer_side]
    id=AE Windsong Heroes
    name= _ "EOM - Windsong"
    image="units/windsong/ascendant.png~TC(1,magenta)"
    type=AE Ascendant
    leader=AE Arbiter,AE Runeforger,AE Oathkeeper,AE Harbinger,AE Stormbringer,AE Farstrider,AE Herald,AE Ascendant,AE Dreadnought

    recruit=AE Savant,AE Scribe,AE Heretic,AE Lorekeeper,AE Gatekeeper,AE Skyrunner,AE Pathfinder,AE Seeker,AE Prophetess,AE Envoy,AE Weaver,AE Sky_Crystal,AE Sky_Shard,AE Reaver,AE Emissary,AE Courier
    terrain_liked=Aa, Ha, Ww
    [ai]
        recruitment_pattern=mixed fighter,archer,scout,fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#
