#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Slime
    name= _ "Slime"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/slime.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=24
    movement_type=AE_mrc_blobfoot
    movement=4
    experience=40
    level=1
    alignment=chaotic
    advances_to=AE_mrc_Blight_Ooze
    die_sound=squishy-hit.wav
    cost=19
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"The blob's viscous and unconstrained body offers it many potential paths of evolution, and the slime is only its most common form. As these creatures grow, their mass doubles, and they boast far stronger attacks that turn them into fearsome foes in every aspect. It is a topic of debate among magi as to why these curious creatures become ever more robust under cover of night.
 
Special notes: This unit's attack can absorb the bodies of living units and replenish its own health by draining it from others."

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" squishy-hit.wav }

    [attack]
        name=Absorb
        description= _ "Absorb"
        icon=attacks/waterspray.png
        type=impact
        range=melee
        damage=13
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {AE_WEAPON_SPECIAL_ABSORB}
        [/specials]
    [/attack]
    [attack]
        name=Dissolve
        description= _ "Dissolve"
        icon=attacks/waterspray.png
        type=fire
        range=melee
        damage=15
        number=1
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
