#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Bacterium
    name= _ "Bacterium"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/bacterium.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=20
    movement_type=AE_mrc_microbefoot
    movement=6
    experience=29
    level=1
    alignment=chaotic
    advances_to=null
    {AMLA_DISEASE}
    die_sound=hiss-big.wav
    cost=5
    usage=fighter
    description= _ "
"

    [resistance]
        fire=120
        cold=120
        arcane=80
    [/resistance]

    [abilities]
        {ABILITY_AE_BACTERIA_SPREAD}
        {ABILITY_REGENERATES}
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Infect
        description= _ "Infect"
        icon=attacks/wail.png
        type=impact
        range=melee
        damage=1
        number=6
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
[/unit_type]
