#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Putrid
    name= _ "Putrid"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/putrid.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=70
    movement_type=AE_mrc_zombieheavy
    movement=4
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=ghoul-hit.wav
    cost=21
    usage=fighter
    description= _ "
"

    [resistance]
        impact=70
        pierce=50
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" ghoul-hit.wav }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-undead.png
        type=blade
        range=melee
        damage=25
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=Touch
        description= _ "Touch"
        icon=attacks/touch-zombie.png
        type=impact
        range=melee
        damage=13
        number=3
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE_mrc_Blight_Infected)}
        [/specials]
    [/attack]
[/unit_type]
