#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Hive Fire Ant
    name= _ "Fire Ant"
    race=Hive
    gender=male
    image="units/hive/fireant.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=hivefoot
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=hiss-big.wav
    cost=29
    usage=fighter
    description= _ "
"

    [resistance]
        fire=110
        blade=90
        impact=110
        pierce=90
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Bite
        description= _ "Bite"
        icon=attacks/fangs-spider.png
        type=blade
        range=melee
        damage=7
        number=4
        [specials]
        [/specials]
    [/attack]

    [attack]
        name=Sting
        description= _ "Sting"
        icon=attacks/sting.png
        type=fire
        range=melee
        damage=13
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=Acidspray
        description= _ "Acidspray"
        icon=attacks/waterspray.png
        type=fire
        range=ranged
        damage=4
        number=4
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
[/unit_type]
