#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Hive Lanterbug
    name= _ "Lanternbug"
    race=Hive
    gender=male
    image="units/hive/lanternbug.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=hivelightfly
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=hiss-big.wav
    cost=32
    usage=fighter
    description= _ "
"

    [resistance]
        arcane=80
        fire=30
        impact=130
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Tackle
        description= _ "Tackle"
        icon=attacks/rock_thrown.png
        type=impact
        range=melee
        damage=7
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Flash
        description= _ "Flash"
        icon=attacks/lightbeam.png
        type=arcane
        range=ranged
        damage=10
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
