#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Hive Skipper
    name= _ "Skipper"
    race=Hive
    gender=male
    image="units/hive/skipper.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=hivehop
    movement=8
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=hiss-big.wav
    cost=35
    usage=scout
    description= _ "
"

    [resistance]
        fire=120
        blade=80
        impact=100
        pierce=70
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Tackle
        description= _ "Tackle"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=10
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Charge
        description= _ "Charge"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=20
        number=1
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
[/unit_type]
