#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Hive Gargantuan
    name= _ "Gargantuan"
    race=Hive
    gender=male
    image="units/hive/gargantuan.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=65
    movement_type=hivefoot
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=hiss-big.wav
    cost=18
    usage=archer
    description= _ "
"

    [resistance]
        fire=120
        blade=90
        impact=100
        pierce=90
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Bite
        description= _ "Bite"
        icon=attacks/fangs-spider.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]

    [attack]
        name=Web
        description= _ "Web"
        icon=attacks/web.png
        type=impact
        range=ranged
        damage=7
        number=5
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
[/unit_type]
