#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Refugee Refugee
    name= _ "Refugee"
    race=AE Refugees
    gender=male
    image="units/refugees/refugee.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse-nozoc"
    hitpoints=16
    movement_type=refugeefoot
    movement=5
    experience=17
    level=0
    alignment=neutral
    advances_to=AE Refugee Sentry,AE Refugee Sarissan,AE Refugee Rabble
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=8
    usage=fighter
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description= _ "Fist"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=3
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Rock
        description= _ "Rock"
        icon=attacks/rock_thrown.png
        type=impact
        range=ranged
        damage=4
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
