#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Refugee Courier
    name= _ "Courier"
    race=AE Refugees
    gender=male
    image="units/refugees/courier.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=35
    movement_type=refugeehorse
    movement=8
    experience=43
    level=1
    alignment=neutral
    advances_to=AE Refugee Messenger
    die_sound=horse-die.ogg
    cost=18
    usage=scout
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HORSE_HIT} }

    [attack]
        name=Sword
        description= _ "Sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=5
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bow
        description= _ "Bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=6
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
