#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_refugees_Messenger
    name= _ "Messenger"
    race=AE_mrc_refugees_race
    gender=male
    image="units/refugees/messenger.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=48
    movement_type=AE_mrc_refugees_refugeehorse
    movement=9
    experience=70
    level=2
    alignment=neutral
    advances_to=AE_mrc_refugees_Envoy
    die_sound=horse-die.ogg
    cost=34
    usage=scout
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HORSE_HIT} }

    [attack]
        name=Sword
        description= _ "Sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bow
        description= _ "Bow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=7
        number=4
        [specials]
        [/specials]
    [/attack]
    {AE_ME_GENERIC_RANGED_ANIM}
[/unit_type]
