#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Refugee Roadclearer
    name= _ "Roadclearer"
    race=AE Refugees
    gender=male
    image="units/refugees/roadclearer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=66
    movement_type=refugeeheavy
    movement=4
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=20
    usage=fighter
    description= _ "
"

    [resistance]
        blade=40
        fire=110
        impact=80
        pierce=80
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Broadsword
        description= _ "Sword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=17
        number=3
        [specials]
            {WEAPON_SPECIAL_CLEAVE (Broadsword)}
        [/specials]
    [/attack]
    {WEAPON_SPECIAL_CLEAVE_EVENT (Broadsword)}
[/unit_type]
