#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_refugees_Spire
    name= _ "Spire"
    race=AE_mrc_refugees_race
    gender=male
    image="units/refugees/spire.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=78
    movement_type=AE_mrc_refugees_refugeewall
    movement=3
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=40
    usage=fighter
    description={AE_MRC_UNIT_NOTICE}+"
"

    [resistance]
        blade=60
        cold=110
        fire=120
        impact=40
        pierce=40
    [/resistance]

    [abilities]
    [/abilities]

    #{DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Sword
        description={STR_SWORD}
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=20
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=Sword
        [/filter_attack]
        start_time=-300
        [frame]
            duration=400
            image="units/refugees/spire.png"
            sound=sword-1.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
