#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Refugee Longboat
    name= _ "Longboat"
    race=mechanical
    gender=male
    image="units/refugees/longboat.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=60
    movement_type=refugeeboat
    movement=6
    experience=55
    level=1
    alignment=neutral
    advances_to=AE Refugee Trireme
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=20
    usage=scout
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=Greek Fire
        description= _ "Greek Fire"
        icon=attacks/fireball.png
        type=fire
        range=melee
        damage=5
        number=5
        [specials]
            {WEAPON_SPECIAL_ARSON}
        [/specials]
    [/attack]
    [attack]
        name=Ballista
        description= _ "Ballista"
        icon=attacks/ballista.png
        type=pierce
        range=ranged
        damage=11
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
