#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Refugee Rabble
    name= _ "Rabble"
    race=AE Refugees
    gender=male
    image="units/refugees/rabble.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=34
    movement_type=refugeefoot
    movement=6
    experience=40
    level=1
    alignment=neutral
    advances_to=AE Refugee Maceman
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=14
    usage=fighter
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Club
        description= _ "Club"
        icon=attacks/club-small.png
        type=impact
        range=melee
        damage=4
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Rock
        description= _ "Rock"
        icon=attacks/rock_thrown.png
        type=impact
        range=ranged
        damage=5
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
