#textdomain wesnoth-Ageless_Era

### | Magni

## | Magni Races

[race]
    id=AE magni
    num_traits=2
    markov_chain_size=2
    male_name= _ "race^AE Magnus"
    female_name= _ "race+female^AE Magna"
    plural_name= _ "race^AE Magni"
    description= _ "This race is from Imperial Era. It's coding and art were done by Turin and Various others.
 
The term 'Orcei Gladiatores' originally referred only to those Orcs captured by the Lavinians for use in gladiatorial combat. In time, though, as various gladiators escaped or won their freedom and shared their training with free Orcs who had never been enslaved, this term came to be applied to all of those orcs who wield the weapons of the Coliseum. The Gentes Orcorum lived during the Age of the Empire."
    {ORCEI_NAMES}
[/race]

## | Magni Movement Types

[movetype]
    name=magnifoot
    #for the Magni Pugnator, Gallus and Samnis trees
    [movement_costs]
        deep_water=100
        shallow_water=3
        swamp_water=3
        flat=1
        sand=1
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable=100
        impassable=100
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        swamp_water=80
        flat=60
        sand=60
        forest=50
        hills=40
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        impassable=10
        fungus=40
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=90
    [/resistance]
[/movetype]
[movetype]
    name=magniarmoredfoot
    #for the Magni Hoplomachus branch
    [movement_costs]
        deep_water=100
        shallow_water=4
        swamp_water=4
        flat=1
        sand=1
        forest=2
        hills=1
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        unwalkable=100
        impassable=100
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=90
        shallow_water=90
        swamp_water=90
        flat=70
        sand=70
        forest=60
        hills=50
        mountains=50
        village=50
        castle=50
        cave=70
        frozen=90
        impassable=10
        fungus=40
    [/defense]
    [resistance]
        blade=80
        pierce=80
        impact=90
        fire=110
        cold=100
        arcane=90
    [/resistance]
[/movetype]
