#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Blight Ooze
    name= _ "Ooze"
    race=Blight
    gender=male
    image="units/blight/ooze.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=40
    movement_type=blobfoot
    movement=4
    experience=71
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=squishy-hit.wav
    cost=35
    usage=fighter
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" squishy-hit.wav }

    [attack]
        name=Absorb
        description= _ "Absorb"
        icon=attacks/waterspray.png
        type=impact
        range=melee
        damage=20
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {PK_WEAPON_SPECIAL_WEAKEN}
            {PK_WEAPON_SPECIAL_ABSORB}
        [/specials]
    [/attack]
    [attack]
        name=Dissolve
        description= _ "Dissolve"
        icon=attacks/waterspray.png
        type=fire
        range=melee
        damage=22
        number=1
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    {PK_WEAPON_SPECIAL_ABSORB_EVENT5 (AE Blight Ooze)}
[/unit_type]
