#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Blight Infested
    name= _ "Infested"
    race=Blight
    gender=male
    image="units/blight/infested.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=32
    movement_type=blightfoot
    movement=5
    experience=38
    level=1
    alignment=chaotic
    advances_to=AE Blight Plagued
    die_sound={SOUND_LIST:ZOMBIE_WEAK_HIT}
    cost=8
    usage=fighter
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:ZOMBIE_WEAK_HIT} }

    [attack]
        name=Touch
        description= _ "Touch"
        icon=attacks/touch-zombie.png
        type=impact
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Blight Infected)}
        [/specials]
    [/attack]
[/unit_type]
