#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Flesh_Eater
    name= _ "Flesh-Eater"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/flesh-eater.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=74
    movement_type=AE_mrc_zombiefoot
    movement=5
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:ZOMBIE_HIT}
    cost=8
    usage=fighter
    description= _ "
"

    [resistance]
        impact=80
        pierce=90
    [/resistance]

    [abilities]
        {ABILITY_FEEDING}
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:ZOMBIE_HIT} }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-undead.png
        type=blade
        range=melee
        damage=11
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Bite
        description= _ "Bite"
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
[/unit_type]
