#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Blight Leech
    name= _ "Leech"
    race=Blight
    gender=male
    image="units/blight/leech.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=32
    movement_type=microbefoot
    movement=6
    experience=57
    level=1
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=hiss-big.wav
    cost=10
    usage=fighter
    description= _ "
"

    [resistance]
        blade=70
        pierce=70
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Bite
        description= _ "bite"
        icon=attacks/fangs.png
        type=blade
        range=melee
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Blight Parasite)}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
[/unit_type]
