#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Blight Mutilated Corpse
    name= _ "Mutilated Corpse"
    race=Blight
    gender=male
    image="units/blight/mutilatedcorpse.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=61
    movement_type=zombiefoot
    movement=4
    experience=82
    level=2
    alignment=chaotic
    advances_to=AE Blight Dreadbones
    die_sound={SOUND_LIST:ZOMBIE_WEAK_HIT}
    cost=28
    usage=fighter
    description= _ "
"

    [resistance]
        arcane=150
        fire=30
        blade=50
        pierce=60
        impact=110
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:ZOMBIE_WEAK_HIT} }

    [attack]
        name=Bone
        description= _ "Bone Thrust"
        icon=attacks/claws-undead.png
        type=pierce
        range=melee
        damage=11
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
