#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Dismembered
    name= _ "Dismembered"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/dismembered.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=60
    movement_type=AE_mrc_zombieheavy
    movement=4
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=ghoul-hit.wav
    cost=30
    usage=fighter
    description= _ "
"

    [resistance]
        blade=60
        impact=90
        pierce=40
    [/resistance]

    [abilities]
        {PK_ABILITY_GRAVEROBBER}
    [/abilities]

    {DEFENSE_ANIM "" "" ghoul-hit.wav }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-undead.png
        type=blade
        range=melee
        damage=15
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Touch
        description= _ "Touch"
        icon=attacks/touch-zombie.png
        type=impact
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE_mrc_Blight_Infected)}
        [/specials]
    [/attack]
[/unit_type]
