#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Blight Host
    name= _ "Host"
    race=Blight
    gender=male
    image="units/blight/host.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=30
    movement_type=hostfoot
    movement=4
    experience=35
    level=1
    alignment=chaotic
    advances_to=AE Blight Spore Hive
    die_sound=hiss-big.wav
    cost=16
    usage=archer
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Spores
        description= _ "Spores"
        icon=attacks/thorns.png
        type=pierce
        range=ranged
        damage=1
        number=12
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE Blight Seeded)}
        [/specials]
    [/attack]
[/unit_type]
