#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Spore_Hive
    name= _ "Spore Hive"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/sporehive.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=AE_mrc_hostfoot
    movement=4
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=hiss-big.wav
    cost=28
    usage=archer
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
        {PK_ABILITY_SPOREMIST}
    [/abilities]

    {DEFENSE_ANIM "" "" hiss.wav }

    [attack]
        name=Spores
        description= _ "Spores"
        icon=attacks/thorns.png
        type=pierce
        range=ranged
        damage=2
        number=15
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (AE_mrc_Blight_Seeded)}
        [/specials]
    [/attack]
[/unit_type]
