#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE Blight Infected Hound
    name= _ "Infected Hound"
    race=Blight
    gender=male
    image="units/blight/crawler.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=34
    movement_type=crawlerfoot
    movement=8
    experience=42
    level=1
    alignment=chaotic
    advances_to=AE Blight Undead Hound
    die_sound=ghoul-hit.wav
    cost=18
    usage=scout
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" ghoul-hit.wav }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-undead.png
        type=blade
        range=melee
        damage=5
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Tackle
        description= _ "Tackle"
        icon=attacks/rock_thrown.png
        type=impact
        range=melee
        damage=10
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
[/unit_type]
