#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_mrc_Blight_Undead_Hound
    name= _ "Undead Hound"
    race=AE_mrc_Blight
    gender=male
    image="units/blight/creeper.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=AE_mrc_crawlerfoot
    movement=9
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    die_sound=ghoul-hit.wav
    cost=40
    usage=scout
    description= _ "
"

    [resistance]
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" ghoul-hit.wav }

    [attack]
        name=Claws
        description= _ "Claws"
        icon=attacks/claws-undead.png
        type=blade
        range=melee
        damage=7
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Tackle
        description= _ "Tackle"
        icon=attacks/rock_thrown.png
        type=impact
        range=melee
        damage=16
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
[/unit_type]
