#textdomain wesnoth-Era_of_Four_Moons

[unit_type]
    id=AE_Sapper
    name= _ "Sapper"
    race=AE imperialists
    ignore_race_traits=yes
    image="units/imperialists/sapper.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=14
    movement_type=smallfoot
    movement=5
    experience=100
    level=0
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=8
    usage=fighter
    description= _ "The sappers are all slaves who have been given the opportunity to die honorably. The legions rarely run short on volunteers as many of the conquered people were proud folk who would rather die in battle than be a servant for the rest of their lives. It is not unknown for free citizens to take the role too if they feel sufficiently disgraced. Note: Their attack reduces their targets current hitpoints by the % of their current defense.(Capped at 20 damage) (Example: a thirty hitpoint unit standing on 50% defense terrain attacked by a sapper would take 15 damage)."

    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [resistance]
        arcane=80
        fire=200
    [/resistance]

    [attack]
        name=suicide
        description=_"light the fuse"
        type=fire
        range=sapper
        damage=0
        number=1
        icon=attacks/fireball.png
        [specials]
            {WEAPON_SPECIAL_SAPPER}
        [/specials]
    [/attack]

    [standing_anim]
        [frame]
            image="units/imperialists/sapper.png"
            duration=150
        [/frame]
        [frame]
            image="units/imperialists/sapper1.png"
            duration=150
        [/frame]
        [frame]
            image="units/imperialists/sapper2.png"
            duration=150
        [/frame]
        [frame]
            image="units/imperialists/sapper3.png"
            duration=150
        [/frame]
    [/standing_anim]

    [event]
        name=attack
        first_time_only=no
        [filter]
            type=AE_Sapper
        [/filter]

#define SAPPERQUERY DEFENSE RESULT
    [if]
        [have_unit]
            x,y=$x2,$y2
            defense={DEFENSE}
        [/have_unit]
        [then]
            [set_variable]
                name=targetDefense
                value={RESULT}
            [/set_variable]
        [/then]
    [/if]
#enddef

        {SAPPERQUERY 0 .8}
        {SAPPERQUERY 5 .05}
        {SAPPERQUERY 10 .1}
        {SAPPERQUERY 15 .15}
        {SAPPERQUERY 20 .2}
        {SAPPERQUERY 25 .25}
        {SAPPERQUERY 30 .3}
        {SAPPERQUERY 35 .35}
        {SAPPERQUERY 40 .4}
        {SAPPERQUERY 45 .45}
        {SAPPERQUERY 50 .5}
        {SAPPERQUERY 55 .55}
        {SAPPERQUERY 60 .6}
        {SAPPERQUERY 65 .65}
        {SAPPERQUERY 70 .7}
        {SAPPERQUERY 75 .75}
        {SAPPERQUERY 80 .8}
        {SAPPERQUERY 85 .85}
        {SAPPERQUERY 90 .9}
        [sound]
            name=fuse.ogg
        [/sound]
        [delay]
            time=3800
        [/delay]
        [store_unit]
            [filter]
                x,y=$x2,$y2
            [/filter]
            variable=sapperTarget
        [/store_unit]
        [set_variable]
            name=temp
            to_variable=sapperTarget.hitpoints
        [/set_variable]
        [set_variable]
            name=temp
            multiply=$targetDefense
        [/set_variable]
        [set_variable]
            name=BOOMdamage
            to_variable=sapperTarget.hitpoints
        [/set_variable]
        [set_variable]
            name=BOOMdamage
            sub=$temp
        [/set_variable]
        [if]
            [variable]
                name=BOOMdamage
                greater_than=20
            [/variable]
            [then]
                [set_variable]
                    name=BOOMdamage
                    value=20
                [/set_variable]
            [/then]
        [/if]
        [set_variable]
            name=sapperTarget.hitpoints
            sub=$BOOMdamage
        [/set_variable]
        [unstore_unit]
            variable=sapperTarget
            text= _ "Boom!"
        [/unstore_unit]
        [kill]
            x,y=$x1,$y1
        [/kill]
        [sound]
            name=explosion.ogg
        [/sound]
    [/event]

    [event]
        name=start
        {VARIABLE targetDefense .5}
        {VARIABLE temp 0}
    [/event]
[/unit_type]
