#textdomain wesnoth-Ageless_Era

[help]
    [topic]
        id=traits_obedient
        title= _ "Obedient"
        text= _ "Obedient units require no upkeep costs, but have 10% less hp and take 10% more experience than usual to advance." + _"

Obedient units are completely submissive to their superiors.  Following their every order without pause, obedient units require no upkeep costs to be paid to them.  In their submission however, these units neglect their health and become weaker as well as losing some mental acuity."
    [/topic]
[/help]
