#textdomain wesnoth-Ageless_Era

## | General/Unsorted Special Notes

#define SPECIAL_NOTES_DREAD
_" The dread attack of this unit, when used offensively scare the defender, lowering the damage of his retaliation." #enddef

#define SPECIAL_NOTES_INSPIRE
_"The ability of this unit to inspire its allies enables adjacent units of the same side to deal more damage in combat, though this only applies to units of lower level." #enddef

#define SPECIAL_NOTES_INSPIRES
_" Inspires increases the perceived time of day in adjacent areas." #enddef

#define SPECIAL_NOTES_COUNTER
_" Whenever this unit attacks with its counter attack defensively, it will always have at least 60% chance to hit." #enddef

#define SPECIAL_NOTES_DEFEND_ONLY
_" One attack of this unit can only be used to defend." #enddef

#define SPECIAL_NOTES_DISTRACT
_" This unit is capable of distracting opponents, allowing friendly units to trespass their Zones of Control and move unhindered around them." #enddef

##define SPECIAL_NOTES_MASSIVESTRIKE
#    _" The ranged attacks of this unit deal massive damage, but always have a low chance of hitting an opponent." ##enddef

#define SPECIAL_NOTES_PROTECTION
_" The importance of this unit motivates friendly units next to it to defend better, taking less damage in combat, though this only applies to units of lower level." #enddef

##define SPECIAL_NOTES_SYLVAN_SPARK
#    _" This unit regenerates in forest, which allows it to heal, through not as much as stationed in a village." ##enddef

#define SPECIAL_NOTES_TERROR
_" The terror skill of this unit scare ennemy units next to it so they deal less damage in combat, though this only applies to units of lower or equal level." #enddef

#define SPECIAL_NOTES_RALLY
_" Rally gives a bonus to surrounding units if this unit has made an attack this turn, or, on defending, on its previous turn." #enddef

#define SPECIAL_NOTES_RAGE
_" Whenever its rage attack is used, this unit will push the attack for several rounds longer than normal." #enddef

#define SPECIAL_NOTES_FORMATION
_" This unit works well with other units who can move in formation. When adjacent to such units, this unit will take reduced damage from physical attacks." #enddef
