#textdomain wesnoth-Ageless_Era

# | Era of Myths Special Notes

#define SPECIAL_NOTES_HEAL_3
_" This unit will heal allies by 3 HP at the beginning of its turns. In addition, this ability will inhibit the effects of poison." #enddef

#define SPECIAL_NOTES_FORESTHOME
_" Whenever this unit is in a forested area, it will regenerate 3 HP per turn." #enddef

#define SPECIAL_NOTES_MTNHOME
_" Whenever this unit is in a mountainous area, it will regenerate 3 HP per turn." #enddef

#define SPECIAL_NOTES_DESERTHOME
_" Whenever this unit is in desert-like area, it will regenerate 3 HP per turn." #enddef

#define SPECIAL_NOTES_WATERHOME
_" Whenever this unit is in an aquatic area, it will regenerate 3 HP per turn." #enddef

#define SPECIAL_NOTES_DAUNTLESS
_" The steadiness of this unit reduces damage from some attacks, but only while attacking." #enddef
