#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_Guardian
    name= _ "Guardian"
    race=AE_white
    image="units/Whites/guardian.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=42
    movement_type=elusivefoot
    movement=5
    experience=74
    level=2
    alignment=neutral
    advances_to=AE_Sentinal
    cost=24
    usage=fighter
    description= _ "This unit is from The Era of Four Moons. It's coding was done by Velensk and art by L. Shelby.
In the absence of a thane there will usually be at least a few men who put it upon themselves to maintain order and law in a village."
    {DEFENSE_ANIM "units/Whites/guardian.png" "units/Whites/guardian.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=human

    [resistance]
        cold=90
        arcane=80
    [/resistance]

    [attack]
        name=staff
        description=_"staff"
        type=impact
        range=melee
        damage=5
        number=5
        icon=attacks/quarterstaff.png
        [specials]
            {WEAPON_SPECIAL_COUNTER}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/Whites/guardian.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/Whites/guardian.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/Whites/guardian.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/Whites/guardian.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/Whites/guardian.png"
        [/frame]
    [/attack_anim]

[/unit_type]
