#textdomain wesnoth-Ageless_Era

[unit_type]
    id=AE_arc_south_seas_Shoreman
    name= _ "Shoreman"
    gender=male
    race=AE south_seas_human
    image="units/south-seas/shoreman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {DEFENSE_ANIM "units/south-seas/shoreman-defend2.png" "units/south-seas/shoreman-defend1.png" {SOUND_LIST:HUMAN_HIT} }
    #    profile=portraits/seaman.png
    hitpoints=38
    movement_type=AE_arc_southfoot
    movement=6
    experience=32
    level=1
    alignment=neutral
    advances_to=AE_arc_south_seas_Salvager
    cost=15
    usage=fighter
    description= _ "..."
    die_sound={SOUND_LIST:HUMAN_DIE}
    #    [resistance]
    #        impact=100
    #    [/resistance]
    [attack]
        name=lash
        description= _"Lash"
        icon=attacks/whip.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=rope
        description= _"Rope"
        icon=attacks/whip.png
        type=impact
        range=melee
        damage=5
        number=2
        [specials]
            {AE_ARCHAIC_WEAPON_SPECIAL_TIE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-175
            end=-75
            image="units/south-seas/shoreman-defend1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/south-seas/shoreman-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/south-seas/shoreman-attack.png"
                sound=staff.wav
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/south-seas/shoreman-defend1.png"
        [/frame]
    [/attack_anim]
    {AE_ARCHAIC_WEAPON_TIE_EVENTS}
[/unit_type]
