[unit_type]
    id=AE_mag_Al_Kamija_Fire_Avatar
    name= _ "Fire Avatar"
    race=AE_mag_Al_Kamija_magical_race
    image="units/summoners/avatar-fire1.png"
    #halo=halo/smallfire-aura.png
    hitpoints=48
    movement_type=fly
    movement=5
    experience=70
    level=2
    alignment=neutral
    advances_to=AE_mag_Al_Kamija_Fire_God
    cost=28
    usage=fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
After fire consumes enough fuel-flesh, bones, wood, iron, even entire landscapes-it will unavoidably grow into something far more sinister in shape and body. It is a dreadful sight to behold the fire avatar as it takes flight with its fiery wings, casting a blazing light on earth and man. The magic within its body has honed, granting the avatar a magical potency in its fire-wrought claws. Only dauntless summoners are able to lead such devastating beings in war without fear of being reduced to ashes."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ILLUMINATES}+{SPECIAL_NOTES_MAGICAL}
    #die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_ILLUMINATES}
        {ABILITY_AE_FIRE}
    [/abilities]
    [resistance]
        cold=120
        fire=10
        pierce=80
        blade=80
        arcane=120
        impact=90
    [/resistance]
    [movement_costs]
        #deep_water=99
        #shallow_water=99
    [/movement_costs]
    [defense]
        lava=50
        cave=50
    [/defense]
    [standing_anim]
        [frame]
            begin=0
            end=100
            image="units/summoners/avatar-fire1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/summoners/avatar-fire2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/summoners/avatar-fire3.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/summoners/avatar-fire2.png"
        [/frame]
    [/standing_anim]
    [defend]
        #hits=miss
        [frame]
            begin=-125
            end=-42
            image="units/summoners/avatar-fire1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/summoners/avatar-fire2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/summoners/avatar-fire3.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/summoners/avatar-fire2.png"
        [/frame]
    [/defend]
    [death]
        start_time=0
        [frame]
            duration=100
            image="units/summoners/avatar-fire-die1.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/avatar-fire-die2.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/avatar-fire-die3.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/avatar-fire-die4.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/avatar-fire-die5.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/avatar-fire-die6.png"
        [/frame]
    [/death]
    #[resistance]
    #fire=10
    #[/resistance]
    [attack]
        name=burning fist
        description= _ "burning fist"
        icon=attacks/claws-flaming.png
        type=fire
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=burning fist
        [/filter_attack]
        #hits=no
        [frame]
            begin=-250
            end=-200
            image="units/summoners/avatar-fire1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/summoners/avatar-fire2.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/summoners/avatar-fire3.png"
            sound=fire.wav
        [/frame]
        [frame]
            begin=100
            end=175
            image="units/summoners/avatar-fire2.png"
        [/frame]
        [frame]
            begin=175
            end=250
            image="units/summoners/avatar-fire1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
