[unit_type]
    id=AE_mag_Al_Kamija_DharmaRhami
    name= _ "DharmaRhami"
    race=AE_mag_Al_Kamija_magical_race
    image="units/summoners/dharmarhami-1.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=60
    movement_type=smallfoot
    movement=5
    experience=110
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=warrior
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Dharma'rhamis are inflamed with blood-red skin, ornamented in trinkets and carrying a spear with their other two blades. Their appearances grant them the assumption of being hot-tempered in combat, but outwards they are calm and judicious, fighting with no lust for bloodshed. Still, they are driven with a mysterious intent for vengeance in the summoners' ranks. Just as keen with their weaponry as their lesser beings, opposition will crushed by a Dharma'rhami with brutal force and tactics."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_SLOW}
    #{DEFENSE_ANIM "units/summoners/dharmarhami-attack-2.png" "units/summoners/dharmarhami-attack-1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    #die_sound=yeti-die.ogg
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [resistance]
        blade=80
        pierce=80
        impact=80
        fire=90
        cold=110
        arcane=120
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=126
            image="units/summoners/dharmarhami-1.png"
        [/frame]
    [/defend]
    [defend]
        hits=hit
        [frame]
            begin=-126
            end=-125
            image="units/summoners/dharmarhami-1.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/summoners/dharmarhami-hit1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/summoners/dharmarhami-hit2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/summoners/dharmarhami-hit1.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/summoners/dharmarhami-1.png"
        [/frame]
    [/defend]
    [idle_anim]
        start_time=0
        [frame]
            duration=100
            image="units/summoners/dharmarhami-attack-a1.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/dharmarhami-attack-a2.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/dharmarhami-attack-a3.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/dharmarhami-attack-a4.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/dharmarhami-attack-a3.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/dharmarhami-attack-a2.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/dharmarhami-attack-a1.png"
        [/frame]
    [/idle_anim]
    [standing_anim]
        [frame]
            duration=150
            image="units/summoners/dharmarhami-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/summoners/dharmarhami-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/summoners/dharmarhami-3.png"
        [/frame]
    [/standing_anim]
    [attack]
        name=swords
        description= _ "scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=trident
        description= _ "divine spear"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=16
        number=2
        [specials]
            #{WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=head
        description= _ "tackle"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=12
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=firecup
        description= _ "cup of fire"
        icon=attacks/firecup.png
        type=fire
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=swords
        [/filter_attack]
        hits=yes
        [frame]
            begin=-300
            end=-180
            image="units/summoners/dharmarhami-attack-a1.png"
        [/frame]
        [frame]
            begin=-180
            end=-60
            image="units/summoners/dharmarhami-attack-a2.png"
        [/frame]
        [frame]
            begin=-60
            end=60
            image="units/summoners/dharmarhami-attack-a3.png"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
        [frame]
            begin=60
            end=180
            image="units/summoners/dharmarhami-attack-a4.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=swords
        [/filter_attack]
        hits=no
        [frame]
            begin=-300
            end=-180
            image="units/summoners/dharmarhami-attack-a1.png"
        [/frame]
        [frame]
            begin=-180
            end=-60
            image="units/summoners/dharmarhami-attack-a2.png"
        [/frame]
        [frame]
            begin=-60
            end=60
            image="units/summoners/dharmarhami-attack-a3.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=60
            end=180
            image="units/summoners/dharmarhami-attack-a4.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=trident
        [/filter_attack]
        hits=yes
        [frame]
            begin=-180
            end=-60
            image="units/summoners/dharmarhami-attack-b1.png"
        [/frame]
        [frame]
            begin=-60
            end=60
            image="units/summoners/dharmarhami-attack-b2.png"
            sound=spear.ogg
        [/frame]
        [frame]
            begin=60
            end=180
            image="units/summoners/dharmarhami-attack-b1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=trident
        [/filter_attack]
        hits=no
        [frame]
            begin=-180
            end=-60
            image="units/summoners/dharmarhami-attack-b1.png"
        [/frame]
        [frame]
            begin=-60
            end=60
            image="units/summoners/dharmarhami-attack-b2.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=60
            end=180
            image="units/summoners/dharmarhami-attack-b1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=firecup
        [/filter_attack]
        missile_start_time=-120
        [missile_frame]
            duration=50
            image="halo/firewave-n1.png"
            image_diagonal="halo/firewave-1.png"
            offset=0.0~0.2
            sound=fire.wav
        [/missile_frame]
        [missile_frame]
            duration=50
            image="halo/firewave-n2.png"
            image_diagonal="halo/firewave-2.png"
            offset=0.2~0.4
        [/missile_frame]
        [missile_frame]
            duration=50
            image="halo/firewave-n3.png"
            image_diagonal="halo/firewave-3.png"
            offset=0.4~0.6
        [/missile_frame]
        [missile_frame]
            duration=50
            image="halo/firewave-n4.png"
            image_diagonal="halo/firewave-4.png"
            offset=0.6~0.8
        [/missile_frame]
        [missile_frame]
            duration=50
            image="halo/firewave-n5.png"
            image_diagonal="halo/firewave-5.png"
            offset=0.8~1.0
        [/missile_frame]
        [frame]
            begin=-180
            end=-60
            image="units/summoners/dharmarhami-ranged-1.png"
        [/frame]
        [frame]
            begin=-60
            end=60
            image="units/summoners/dharmarhami-ranged-2.png"
        [/frame]
        [frame]
            begin=60
            end=180
            image="units/summoners/dharmarhami-ranged-3.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        hits=yes
        [frame]
            begin=-300
            end=-180
            image="units/summoners/dharmarhami-attack-c1.png"
        [/frame]
        [frame]
            begin=-180
            end=-60
            image="units/summoners/dharmarhami-attack-c1.png"
        [/frame]
        [if]
            hits=hit
            [frame]
                begin=-60
                end=60
                image="units/summoners/dharmarhami-hit1.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=miss
            [frame]
                begin=-60
                end=60
                image="units/summoners/dharmarhami-hit1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=60
            end=180
            image="units/summoners/dharmarhami-attack-c1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
