[unit_type]
    id=AE_mag_Al_Kamija_Efreeti
    name= _ "Efreet"
    race=AE_mag_Al_Kamija_magical_race
    image="units/summoners/efreeti2.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    #halo=halo/white-cleric-aura.png
    hitpoints=48
    movement_type=fly
    movement=7
    experience=100
    level=2
    alignment=neutral
    advances_to=AE_mag_Al_Kamija_Great_Efreeti
    cost=38
    usage=archer
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Cataclysmic by nature, efreets are jinns who have rejected most, if not all, of their inner desires to learn. Efreets, for profound reasons beyond the comprehension of their peers, search to cause destruction in their conquests. To this, their magical bodies have sunken into a crimson-reddish hue, tempering their magic with fire's touch. In battles, efreets bask in razing and laying waste to whatever their blazes can reach."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    #{DEFENSE_ANIM "units/summoners/efreeti2.png" "units/summoners/efreeti1.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [movement_anim]
        [frame]
            begin=0
            end=100
            image="units/summoners/efreeti-move.png"
        [/frame]
    [/movement_anim]
    [movement_anim]
        direction=n
        [frame]
            begin=0
            end=100
            image="units/summoners/efreeti2.png"
        [/frame]
    [/movement_anim]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=0
            image="units/summoners/efreeti-attack-magic4.png"
            offset=0.0~-0.5
        [/frame]
        [frame]
            begin=0
            end=125
            image="units/summoners/efreeti-move.png"
            offset=-0.5~0.0
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/summoners/efreeti2.png"
        [/frame]
    [/defend]
    [defend]
        hits=yes
        [frame]
            begin=-126
            end=-125
            image="units/summoners/efreeti1.png"
        [/frame]
        [frame]
            begin=-125
            end=-40
            image="units/summoners/efreeti-hit1.png"
            offset=0.0~-0.05
        [/frame]
        [frame]
            begin=-40
            end=0
            image="units/summoners/efreeti-hit2.png"
            offset=-0.05~-0.1
        [/frame]
        [frame]
            begin=0
            end=40
            image="units/summoners/efreeti-hit2.png"
            offset=-0.1~-0.05
        [/frame]
        [frame]
            begin=40
            end=125
            image="units/summoners/efreeti-hit1.png"
            offset=-0.05~0.0
        [/frame]
        [frame]
            begin=40
            end=125
            image="units/summoners/efreeti1.png"
        [/frame]
    [/defend]
    [defense]
        deep_water=80
        shallow_water=80
        swamp_water=80
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        unwalkable=80
        impassable=10
        fungus=50
    [/defense]
    [resistance]
        blade=80
        impact=90
        pierce=90
        arcane=120
        fire=60
    [/resistance]
    [standing_anim]
        [frame]
            begin=0
            end=200
            image="units/summoners/efreeti1.png"
        [/frame]
        [frame]
            begin=200
            end=400
            image="units/summoners/efreeti2.png"
        [/frame]
        [frame]
            begin=400
            end=600
            image="units/summoners/efreeti3.png"
        [/frame]
        [frame]
            begin=600
            end=800
            image="units/summoners/efreeti2.png"
        [/frame]
    [/standing_anim]
    [death]
        [frame]
            begin=0
            end=100
            image="units/summoners/efreeti-die-1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/summoners/efreeti-die-2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/summoners/efreeti-die-3.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/summoners/efreeti-die-4.png"
        [/frame]
        [frame]
            begin=400
            end=700
            image="units/summoners/jinn-die-5.png"
        [/frame]
    [/death]
    [attack]
        name=touch
        description={STR_TOUCH}
        icon=attacks/touch-faerie.png
        type=fire
        range=melee
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=magic
        description= _ "magic"
        icon=attacks/magic-efreeti.png
        type=fire
        range=ranged
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=-200
            image="units/summoners/efreeti1.png"
        [/frame]
        [frame]
            begin=-200
            end=-50
            image="units/summoners/efreeti-attack-magic4.png"
        [/frame]
        [frame]
            begin=-50
            end=150
            image="units/summoners/efreeti-attack-magic4.png"
            sound=dagger-swish.wav
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/summoners/efreeti-attack-magic4.png"
        [/frame]
        [frame]
            begin=225
            end=275
            image="units/summoners/efreeti1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=-200
            image="units/summoners/efreeti1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/summoners/efreeti-attack-magic4.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/summoners/efreeti-attack-magic4.png"
            sound=dagger-swish.wav
        [/frame]
        [frame]
            begin=100
            end=175
            image="units/summoners/efreeti-attack-magic4.png"
        [/frame]
        [frame]
            begin=175
            end=250
            image="units/summoners/efreeti1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=magic
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=-125
            image="halo/magicefreeti-n-1.png"
            image_diagonal="halo/magicefreeti-ne-1.png"
            offset=0.5
        [/missile_frame]
        [missile_frame]
            begin=-125
            end=-75
            image="halo/magicefreeti-n-2.png"
            image_diagonal="halo/magicefreeti-ne-2.png"
            offset=0.5
        [/missile_frame]
        [missile_frame]
            begin=-75
            end=0
            image="halo/magicefreeti-n-3.png"
            image_diagonal="halo/magicefreeti-ne-3.png"
            offset=0.5
        [/missile_frame]
        [frame]
            begin=-475
            end=-400
            image="units/summoners/efreeti-attack-magic1.png"
        [/frame]
        [frame]
            begin=-400
            end=-300
            image="units/summoners/efreeti-attack-magic2.png"
        [/frame]
        [frame]
            begin=-300
            end=-200
            image="units/summoners/efreeti-attack-magic3.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=0
                image="units/summoners/efreeti-attack-magic4.png"
                sound=lightning-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=0
                image="units/summoners/efreeti-attack-magic4.png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
            image="units/summoners/efreeti1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
