[unit_type]
    id=AE_mag_Al_Kamija_Fire_Elemental
    name= _ "Fire Elemental"
    race=AE_mag_Al_Kamija_magical_race
    image="units/summoners/elemental-fire1.png"
    #halo=halo/smallfire-aura.png
    hitpoints=36
    movement_type=smallfoot
    movement=5
    experience=35
    level=1
    alignment=neutral
    advances_to=AE_mag_Al_Kamija_Fire_Avatar
    cost=16
    usage=fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Fire is a dangerous manifestation of nature's destruction. While adept users of magic can craft fire from nothing but thin air, there is nothing more terrible than an actual materialization of living flame and fury. Its fiery form visible in pitch darkness, the fire elemental is but an entity of arcane magic summoned from the Abyss, almost always brought out for intent of war. From the moment the elemental is brought into this world, it burns bright with mindlessness and follows the orders of its summoner until its very extinguishing."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ILLUMINATES}+{SPECIAL_NOTES_MAGICAL}    
    #die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_ILLUMINATES}
        #{ABILITY_AE_FIRE}
    [/abilities]
    [resistance]
        cold=120
        fire=10
        pierce=90
        arcane=120
    [/resistance]
    [movement_costs]
        deep_water=99
        shallow_water=99
    [/movement_costs]
    [defense]
        lava=20
        cave=60
    [/defense]
    [recruit_anim]
        [frame]
            begin=0
            end=100
            image="halo/recruit-a-1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="halo/recruit-a-2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="halo/recruit-a-3.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="halo/recruit-a-4.png"
        [/frame]
        [frame]
            begin=400
            end=500
            image="halo/recruit-a-5.png"
        [/frame]
        [frame]
            begin=500
            end=600
            image="halo/recruit-a-6.png"
            sound=flame-big-miss.ogg
        [/frame]
        [frame]
            begin=600
            end=700
            image="halo/recruit-a-7.png"
        [/frame]
        [frame]
            begin=700
            end=800
            image="halo/recruit-a-8.png"
        [/frame]
        [frame]
            begin=800
            end=900
            image="halo/recruit-a-9.png"
        [/frame]
        [frame]
            begin=900
            end=1000
            image="halo/recruit-a-10.png"
        [/frame]
        [frame]
            begin=1000
            end=1100
            image="halo/recruit-a-11.png"
        [/frame]
        [frame]
            begin=1100
            end=1200
            image="halo/recruit-a-12.png"
        [/frame]
        [frame]
            begin=1200
            end=1300
            image="halo/recruit-a-13.png"
        [/frame]
    [/recruit_anim]
    [standing_anim]
        [frame]
            begin=0
            end=100
            image="units/summoners/elemental-fire1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/summoners/elemental-fire2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/summoners/elemental-fire3.png"
        [/frame]
    [/standing_anim]
    [defend]
        [frame]
            begin=-125
            end=-42
            image="units/summoners/elemental-fire1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/summoners/elemental-fire2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/summoners/elemental-fire3.png"
        [/frame]
    [/defend]
    #[resistance]
    #fire=10
    #[/resistance]
    [death]
        [frame]
            begin=0
            end=100
            image="units/summoners/elemental-fire-die-1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/summoners/elemental-fire-die-2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/summoners/elemental-fire-die-3.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/summoners/elemental-fire-die-4.png"
        [/frame]
    [/death]
    [attack]
        name=burning fist
        description= _ "burning fist"
        icon=attacks/claws-flaming.png
        type=fire
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=burning fist
        [/filter_attack]
        #hits=no
        [frame]
            begin=-250
            end=-200
            image="units/summoners/elemental-fire1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/summoners/elemental-fire2.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/summoners/elemental-fire3.png"
            sound=fire.wav
        [/frame]
        [frame]
            begin=100
            end=175
            image="units/summoners/elemental-fire2.png"
        [/frame]
        [frame]
            begin=175
            end=250
            image="units/summoners/elemental-fire1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
