[unit_type]
    id=AE_mag_Al_Kamija_Air_God
    name= _ "Air God"
    race=AE_mag_Al_Kamija_magical_race
    image="units/summoners/god-air1.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=fly
    movement=7
    experience=120
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=50
    usage=scout
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Men fear the wind - what can be a gentle zephyr in the afternoon can turn into a twister in the evening. Wind and storm can turn the staunchest man into a rag doll dancing in the sky, lightning will then shoot him down back to earth. Yet air gods have much more to be feared, for they ride upon their own wind and bring about disasters at a mere order. Gods of the air are nigh immune to physical assault with bodies that appear almost identical to an actual storm.

Summoners believe that even the heavens quake upon the sight of this great nimbus of raging thunder and rain living in the skies, extending calamity to wherever the eye of its storm gazes."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_ARCANE}
    #die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_REGENERATES}
    [/abilities]
    [resistance]
        blade=50
        pierce=50
        impact=50
        fire=100
        cold=100
        arcane=10
    [/resistance]
    [standing_anim]
        [frame]
            begin=0
            end=100
            image="units/summoners/god-air1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/summoners/god-air2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/summoners/god-air3.png"
        [/frame]
    [/standing_anim]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=-125
            image="units/summoners/god-air1.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/summoners/god-air2.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/summoners/god-air3.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/summoners/god-air2.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/summoners/god-air3.png"
        [/frame]
    [/defend]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=-125
            image="units/summoners/god-air1.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/summoners/god-air2.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/summoners/god-air3.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/summoners/god-air2.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/summoners/god-air3.png"
        [/frame]
    [/defend]
    [attack]
        name=hurricane
        description= _ "hurricane"
        icon=attacks/dark-missile.png
        type=impact
        range=melee
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=small thunder
        description= _ "thunder"
        icon=attacks/lightning.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        damage=12
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hurricane
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=-200
            image="units/summoners/god-air2.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/summoners/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/summoners/god-air-attack-staff-2.png"
            sound=lightning-miss.ogg
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/summoners/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/summoners/god-air1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=hurricane
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=-200
            image="units/summoners/god-air3.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/summoners/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/summoners/god-air-attack-staff-2.png"
            sound=lightning-miss.ogg
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/summoners/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/summoners/god-air2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=small thunder
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=0
            image="halo/magicgreat-n-1.png"
            image_diagonal="halo/magicgreat-ne-1.png"
            #halo=halo/mage-halo1.png,halo/mage-halo2.png,halo/mage-halo3.png,halo/mage-halo4.png,halo/mage-halo5.png
            #halo_x,halo_y=7,-17
        [/missile_frame]
        [frame]
            begin=-400
            end=-350
            image="units/summoners/god-air-attack-staff-1.png"
        [/frame]
        [frame]
            begin=-350
            end=-200
            image="units/summoners/god-air-attack-staff-2.png"
            #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
            #halo_x,halo_y=6,-19
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-200
                end=0
                image="units/summoners/god-air-attack-staff-1.png"
                #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
                #halo_x,halo_y=6,-19
                sound=lightning-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-200
                end=0
                image="units/summoners/god-air-attack-staff-2.png"
                #halo=halo/mage-preparation-halo1.png,halo/mage-preparation-halo2.png,halo/mage-preparation-halo3.png,halo/mage-preparation-halo4.png,halo/mage-preparation-halo5.png,halo/mage-preparation-halo6.png,halo/mage-preparation-halo7.png
                #halo_x,halo_y=6,-19
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=0
            end=50
            image="units/summoners/god-air-attack-staff-1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
