[unit_type]
    id=AE_mag_Al_Kamija_Earth_God
    name= _ "Earth God"
    race=AE_mag_Al_Kamija_magical_race
    image="units/summoners/god-earth.png"
    hitpoints=90
    movement_type=mountainfoot
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=50
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Earth gods are simply gargantuan: one raised fist can shake the very foundations of the land. Many tales have been told about the work of such gods who lumber across the earth, so great in size that entire villages are dwarfed by their presence. Bulwarks against the strongest swords, lances, and spells, packing enough force to pulverize dozens in a single downward strike, and continuously regenerating their stony bodies, earth gods are no easy feat to bring down-or even force back."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}+{SPECIAL_NOTES_REGENERATES}
    #die_sound={SOUND_LIST:HUMAN_DIE}
    usage=fighter
    {DEFENSE_ANIM "units/summoners/god-earth.png" "units/summoners/god-earth.png" silence.ogg }
    [resistance]
        blade=60
        pierce=60
        impact=100
        fire=60
        cold=60
        arcane=100
    [/resistance]
    [defense]
        deep_water=70
        shallow_water=70
        swamp_water=70
        flat=60
        sand=60
        forest=60
        hills=40
        mountains=40
        village=40
        castle=50
        cave=40
        frozen=60
        unwalkable=40
        impassable=40
        fungus=60
    [/defense]
    [abilities]
        {ABILITY_REGENERATES}
        {ABILITY_STEADFAST}
    [/abilities]
    [defend]
        hits=yes
        [frame]
            begin=-126
            end=-125
            image="units/summoners/god-earth.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/summoners/god-earth-hit1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/summoners/god-earth-hit2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/summoners/god-earth-hit3.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/summoners/god-earth.png"
        [/frame]
    [/defend]
    [death]
        [frame]
            begin=0
            end=150
            image="units/summoners/god-earth-hit1.png"
        [/frame]
        [frame]
            begin=150
            end=300
            image="units/summoners/god-earth-hit2.png"
        [/frame]
        [frame]
            begin=300
            end=450
            image="units/summoners/god-earth-hit3.png"
        [/frame]
        [frame]
            begin=450
            end=600
            image="units/summoners/god-earth-die1.png"
        [/frame]
        [frame]
            begin=600
            end=750
            image="units/summoners/god-earth-die2.png"
        [/frame]
        [frame]
            begin=750
            end=900
            image="units/summoners/god-earth-die3.png"
        [/frame]
        [frame]
            begin=900
            end=1000
            image="units/summoners/god-earth-die4.png"
        [/frame]
        [frame]
            begin=1000
            end=1100
            image="units/summoners/god-earth-die5.png"
        [/frame]
        [frame]
            begin=1100
            end=1200
            image="units/summoners/god-earth-die6.png"
        [/frame]
        [frame]
            begin=1200
            end=1300
            image="units/summoners/god-earth-die7.png"
        [/frame]
        [frame]
            begin=1300
            end=1400
            image="units/summoners/god-earth-die8.png"
        [/frame]
        [frame]
            begin=1400
            end=1500
            image="units/summoners/god-earth-die9.png"
        [/frame]
        [frame]
            begin=1500
            end=1600
            image="units/summoners/god-earth-die10.png"
        [/frame]
    [/death]
    [attack]
        name=hit
        description= _ "hit"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=14
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hit
        [/filter_attack]
        [frame]
            begin=-750
            end=-600
            image="units/summoners/god-earth-attack1.png"
        [/frame]
        [frame]
            begin=-600
            end=-450
            image="units/summoners/god-earth-attack2.png"
        [/frame]
        [frame]
            begin=-450
            end=-300
            image="units/summoners/god-earth-attack3.png"
        [/frame]
        [frame]
            begin=-300
            end=-150
            image="units/summoners/god-earth-attack4.png"
        [/frame]
        [frame]
            begin=-150
            end=0
            image="units/summoners/god-earth-attack5.png"
            sound=explosion.ogg
        [/frame]
        [frame]
            begin=0
            end=100
            image="units/summoners/god-earth-attack6.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/summoners/god-earth-attack7.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/summoners/god-earth-attack8.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/summoners/god-earth-attack9.png"
        [/frame]
        [frame]
            begin=400
            end=500
            image="units/summoners/god-earth-attack4.png"
        [/frame]
        [frame]
            begin=500
            end=600
            image="units/summoners/god-earth-attack1.png"
        [/frame]
        [frame]
            begin=600
            end=700
            image="units/summoners/god-earth.png"
        [/frame]
    [/attack_anim]
    [event]
        name=attacker_hits
        first_time_only=no
        [filter]
            type=AE_mag_Al_Kamija_Earth_God
        [/filter]
        {QUAKE silence.ogg}
    [/event]
    [event]
        name=die
        first_time_only=no
        [filter]
            type=AE_mag_Al_Kamija_Earth_God
        [/filter]
        {PLACE_IMAGE "units/summoners/god-earth-die10.png" $x1 $y1}
    [/event]
[/unit_type]
