[unit_type]
    id=AE_mag_Al_Kamija_Fire_God
    name= _ "Fire God"
    race=AE_mag_Al_Kamija_magical_race
    image="units/summoners/fire-god-1.png"
    #halo=halo/smallfire-aura.png
    hitpoints=66
    movement_type=fly
    movement=6
    experience=150
    level=3
    {AMLA_DEFAULT}
    alignment=neutral
    advances_to=null
    cost=50
    usage=fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Upon reaching the pinnacle of its conflagration, the elemental has utterly become a moving inferno, a god of its own respect. Even the summoners who have bought such legends from the Abyss tremble at the sight of the flying phoenix aflame, its massive wings sending sparks and embers downwards onto the far-below ground. Growing brighter and stronger with every foe fed into its flames, the fire god appears as a miniature sun in the darkest of nights. Everything in its marked path is set ablaze."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ILLUMINATES}+{SPECIAL_NOTES_MAGICAL}
    #die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_ILLUMINATES}
        {ABILITY_AE_FIRE}
    [/abilities]
    [resistance]
        cold=110
        fire=10
        pierce=70
        blade=60
        arcane=120
        impact=90
    [/resistance]
    [movement_costs]
        #deep_water=99
        #shallow_water=99
    [/movement_costs]
    [defense]
        lava=50
    [/defense]
    [standing_anim]
        [frame]
            begin=0
            end=100
            image="units/summoners/fire-god-1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/summoners/fire-god-2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/summoners/fire-god-3.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/summoners/fire-god-2.png"
        [/frame]
        [frame]
            begin=400
            end=500
            image="units/summoners/fire-god-1.png"
        [/frame]
        [frame]
            begin=500
            end=600
            image="units/summoners/fire-god-attack.png"
        [/frame]
    [/standing_anim]
    [defend]
        #hits=miss
        [frame]
            begin=-125
            end=-42
            image="units/summoners/fire-god-1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/summoners/fire-god-2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/summoners/fire-god-3.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/summoners/fire-god-2.png"
        [/frame]
    [/defend]
    #[resistance]
    #fire=10
    #[/resistance]
    [death]
        [frame]
            begin=0
            end=100
            image="units/summoners/fire-god-die1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/summoners/fire-god-die2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/summoners/fire-god-die3.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/summoners/fire-god-die4.png"
        [/frame]
        [frame]
            begin=400
            end=500
            image="units/summoners/fire-god-die5.png"
        [/frame]
    [/death]
    [attack]
        name=burning fist
        description= _ "burning fist"
        icon=attacks/claws-flaming.png
        type=fire
        range=melee
        damage=9
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=burning fist
        [/filter_attack]
        #hits=no
        [frame]
            begin=-250
            end=-200
            image="units/summoners/fire-god-1.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/summoners/fire-god-3.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/summoners/fire-god-attack.png"
            sound=fire.wav
        [/frame]
        [frame]
            begin=100
            end=175
            image="units/summoners/fire-god-3.png"
        [/frame]
        [frame]
            begin=175
            end=250
            image="units/summoners/fire-god-2.png"
        [/frame]
    [/attack_anim]
[/unit_type]
