[unit_type]
    id=AE_mag_Al_Kamija_RhamiDatu
    name= _ "RhamiDatu"
    race=AE_mag_Al_Kamija_magical_race
    image="units/summoners/rhamidatu-1.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=AE_mag_Al_Kamija_DharmaRhami
    cost=32
    usage=warrior
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Embellished in a body of gilded-gold, and always seen with a trinket of elemental fire dangling from one hand, Rhami'datus have become eagle-eyed, slicing incisively with their killing edges. Rhami'datus have learned to wield fire, turning them into the pyromancers of the summoners, second to fire elementals but far more intelligent.

Most of these Rhamis are promoted into commanding positions, though some prefer entering frays alongside their companions, fulfilling their roles as ardent avengers for the dead."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_MAGICAL}
    #{DEFENSE_ANIM "units/summoners/rhamidatu-attack-2.png" "units/summoners/rhamidatu-attack-1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    #die_sound=yeti-die.ogg
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [resistance]
        blade=80
        pierce=80
        impact=80
        fire=90
        cold=110
        arcane=120
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=126
            image="units/summoners/rhamidatu-1.png"
        [/frame]
    [/defend]
    [defend]
        hits=hit
        [frame]
            begin=-126
            end=-125
            image="units/summoners/rhamidatu-1.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/summoners/rhamidatu-hit1.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/summoners/rhamidatu-hit2.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/summoners/rhamidatu-hit1.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/summoners/rhamidatu-1.png"
        [/frame]
    [/defend]
    [idle_anim]
        start_time=0
        [frame]
            duration=100
            image="units/summoners/rhamidatu-attack-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/rhamidatu-attack-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/rhamidatu-attack-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/rhamidatu-attack-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/rhamidatu-attack-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/rhamidatu-attack-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/rhamidatu-attack-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/rhamidatu-attack-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/summoners/rhamidatu-attack-1.png"
        [/frame]
    [/idle_anim]
    [standing_anim]
        [frame]
            duration=150
            image="units/summoners/rhamidatu-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/summoners/rhamidatu-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/summoners/rhamidatu-3.png"
        [/frame]
    [/standing_anim]
    [attack]
        name=swords
        description= _ "swords"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=8
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=firecup
        description= _ "cup of fire"
        icon=attacks/firecup.png
        type=fire
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=swords2
        [/filter_attack]
        hits=yes
        [frame]
            begin=-180
            end=-60
            image="units/summoners/rhamidatu-attack-5.png"
        [/frame]
        [frame]
            begin=-60
            end=60
            image="units/summoners/rhamidatu-attack-2.png"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
        [frame]
            begin=60
            end=180
            image="units/summoners/rhamidatu-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=swords2
        [/filter_attack]
        hits=no
        [frame]
            begin=-180
            end=-60
            image="units/summoners/rhamidatu-attack-5.png"
        [/frame]
        [frame]
            begin=-60
            end=60
            image="units/summoners/rhamidatu-attack-2.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=60
            end=180
            image="units/summoners/rhamidatu-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=swords
        [/filter_attack]
        hits=yes
        [frame]
            begin=-120
            end=-60
            image="units/summoners/rhamidatu-attack-1.png"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
        [frame]
            begin=-60
            end=0
            image="units/summoners/rhamidatu-attack-2.png"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
        [frame]
            begin=0
            end=60
            image="units/summoners/rhamidatu-attack-3.png"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
        [frame]
            begin=60
            end=120
            image="units/summoners/rhamidatu-attack-4.png"
        [/frame]
        [frame]
            begin=120
            end=180
            image="units/summoners/rhamidatu-attack-5.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=swords
        [/filter_attack]
        hits=no
        [frame]
            begin=-120
            end=-60
            image="units/summoners/rhamidatu-attack-1.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=-60
            end=0
            image="units/summoners/rhamidatu-attack-2.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=0
            end=60
            image="units/summoners/rhamidatu-attack-3.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=60
            end=120
            image="units/summoners/rhamidatu-attack-4.png"
        [/frame]
        [frame]
            begin=120
            end=180
            image="units/summoners/rhamidatu-attack-5.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=firecup
        [/filter_attack]
        missile_start_time=-120
        [missile_frame]
            duration=50
            image="halo/firewave-n1.png"
            image_diagonal="halo/firewave-1.png"
            offset=0.0~0.2
            sound=fire.wav
        [/missile_frame]
        [missile_frame]
            duration=50
            image="halo/firewave-n2.png"
            image_diagonal="halo/firewave-2.png"
            offset=0.2~0.4
        [/missile_frame]
        [missile_frame]
            duration=50
            image="halo/firewave-n3.png"
            image_diagonal="halo/firewave-3.png"
            offset=0.4~0.6
        [/missile_frame]
        [missile_frame]
            duration=50
            image="halo/firewave-n4.png"
            image_diagonal="halo/firewave-4.png"
            offset=0.6~0.8
        [/missile_frame]
        [missile_frame]
            duration=50
            image="halo/firewave-n5.png"
            image_diagonal="halo/firewave-5.png"
            offset=0.8~1.0
        [/missile_frame]
        [frame]
            begin=-180
            end=-60
            image="units/summoners/rhamidatu-ranged-1.png"
        [/frame]
        [frame]
            begin=-60
            end=60
            image="units/summoners/rhamidatu-ranged-2.png"
        [/frame]
        [frame]
            begin=60
            end=180
            image="units/summoners/rhamidatu-ranged-3.png"
        [/frame]
    [/attack_anim]
[/unit_type]
