[unit_type]
    id=AE_mag_Al_Kamija_Summons_Master
    name= _ "Summons master"
    race=AE_mag_Al_Kamija_human_race
    image="units/summoners/summonerIV.png"
    #halo="halo/mega-circle.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=65
    movement_type=smallfoot
    movement=5
    experience=150
    level=4
    alignment=lawful
    advances_to=null
    cost=60
    {AMLA_DEFAULT}
    usage=mixed fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
Few men in all of history have ever embraced the veiled mystery that comes naturally with the title of the Fourth Degree. These are men who can wield the entire power of the Abyss with their right arm and the complete devastation of summoning magic with their left. A summons master has attained the culmination of all summoning arts crafted and comprehended in history.

Encircling a summons master is his magnum opus: the megacircle. The circle teems with magicks of all imaginations—magicks to empower, mend, bless, cure, destroy, create, and remake. Within the vast and mystic megacircle, the air itself screams as elementals burst forth from their world into this one through the circle's unearthly inscriptions. Men within the master's circle are invested with supernatural gifts, their wounds closing by the aid of pure magic and their strength jumping twofold. Towers of heavenly light shriek into the skies from the megacircle's symbols, obliterating all within range.

All around the summons master, miracles occur. Ruin is wrought."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_LEADERSHIP}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_HEALS}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    {DEFENSE_ANIM "units/summoners/summonerIV-attack-magic1.png" "units/summoners/summonerIVa.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [abilities]
        {ABILITY_AE_MEGACIRCLE}
        {ABILITY_AE_SUMMON_LEVEL4}
    [/abilities]
    [standing_anim]
        start_time=0
        [frame]
            duration=100
            image="units/summoners/summonerIVa.png"
            layer=30
        [/frame]
    [/standing_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=200
            image="units/summoners/summonerIV-attack-magic1.png"
        [/frame]
        [frame]
            duration=800
            image="units/summoners/summonerIV-attack-magic2.png"
        [/frame]
        [frame]
            duration=150
            image="units/summoners/summonerIV-attack-magic1.png"
        [/frame]
    [/idle_anim]
    [healing_anim]
        start_time=0
        [frame]
            duration=200
            image="units/summoners/summonerIV-attack-heal1.png"
        [/frame]
        [frame]
            duration=300
            image="units/summoners/summonerIV-attack-heal2.png"
        [/frame]
        [frame]
            duration=150
            image="units/summoners/summonerIV-attack-heal1.png"
        [/frame]
    [/healing_anim]
    [attack]
        name=magical scimitar
        description= _ "magical scimitar"
        icon=attacks/scimitar2.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=magical scimitar
        description={STR_HAMMER}
        icon=attacks/hammer-troll.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    [attack]
        name=circle of destruction
        description= _ "circle of destruction"
        icon=attacks/circle-destr.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_AE_CIRCLE}
        [/specials]
        damage=18
        number=1
    [/attack]
    [attack]
        name=incantation of power
        description= _ "incantation of power"
        icon=attacks/circle-advance.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=50
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=magical scimitar
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=-200
            image="units/summoners/summonerIVa.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/summoners/summonerIV-attack-1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/summoners/summonerIV-attack-2.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/summoners/summonerIV-attack-1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/summoners/summonerIVa.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=magical scimitar
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=-200
            image="units/summoners/summonerIVa.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/summoners/summonerIV-attack-1.png"
        [/frame]
        [frame]
            begin=-100
            end=100
            image="units/summoners/summonerIV-attack-2.png"
            sound=dagger-swish.wav
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/summoners/summonerIV-attack-1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/summoners/summonerIVa.png"
        [/frame]
    [/attack_anim]

    # The three variations for the north direction:
    {ELDER_MAGE_LIGHTNING_REDCIRCLES 1 n 0 -36}
    # The three variations for the south direction:
    {ELDER_MAGE_LIGHTNING_REDCIRCLES 2 s 0 36}
    # And so on...
    {ELDER_MAGE_LIGHTNING_REDCIRCLES 4 ne 27 -18}
    {ELDER_MAGE_LIGHTNING_REDCIRCLES 4 nw 27 -18}
    {ELDER_MAGE_LIGHTNING_REDCIRCLES 3 se 27 18}
    {ELDER_MAGE_LIGHTNING_REDCIRCLES 3 sw 27 18}

    # The three variations for the north direction:
    {ELDER_MAGE_LIGHTNING_CIRCLE 1 n 0 -430}
    # The three variations for the south direction:
    {ELDER_MAGE_LIGHTNING_CIRCLE 1 s 0 -326}
    # And so on...
    {ELDER_MAGE_LIGHTNING_CIRCLE 1 ne 54 -404}
    {ELDER_MAGE_LIGHTNING_CIRCLE 1 nw 54 -404}
    {ELDER_MAGE_LIGHTNING_CIRCLE 1 se 54 -352}
    {ELDER_MAGE_LIGHTNING_CIRCLE 1 sw 54 -352}
[/unit_type]
