#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE Emperor_s Guard Kyushuryu"
    name= _ "Kyushuryu"
    race=AE Emperors Guard
    gender=male
    image="units/emperorguard/kyushuryu.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=69
    movement_type=samuraifoot
    movement=5
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=17
    usage=archer
    description= _ "
"

    [resistance]
        blade=100
        pierce=100
        impact=100
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Fist
        description= _ "Fist"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=7
        number=4
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Kyushu
        description= _ "Kyushu"
        icon=attacks/dragonstaff.png
        type=pierce
        range=ranged
        damage=40
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Kyushuryu
        description= _ "Kyushuryu"
        icon=attacks/dragonstaff.png
        type=fire
        range=ranged
        damage=5
        number=10
        [specials]
        [/specials]
    [/attack]
[/unit_type]
