#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE Emperor_s Guard Tsuwamono"
    name= _ "Tsuwamono"
    race=AE Emperors Guard
    gender=male
    image="units/emperorguard/Tsuwamono.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=74
    movement_type=samuraifoot
    movement=5
    experience=100
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=18
    usage=fighter
    description= _ "
"

    [resistance]
        pierce=80
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Naginata
        description= _ "Naginata"
        icon=attacks/glaive.png
        type=blade
        range=melee
        damage=12
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=Yumi
        description= _ "Yumi"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=14
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
