#textdomain wesnoth-Ageless_Era

[unit_type]
    id="AE Emperor_s Guard Kyu"
    name= _ "Kyu"
    race=AE Emperors Guard
    gender=male
    image="units/emperorguard/kyu.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=52
    movement_type=samuraifoot
    movement=5
    experience=74
    level=2
    alignment=lawful
    advances_to="AE Emperor_s Guard Elite Kyu"
    die_sound={SOUND_LIST:HUMAN_DIE}
    cost=25
    usage=archer
    description= _ "
"

    [resistance]
        blade=100
    [/resistance]

    [abilities]
    [/abilities]

    {DEFENSE_ANIM "" "" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=Wakizashi
        description= _ "Wakizashi"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=7
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Yumi
        description= _ "Yumi"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=10
        number=3
        [specials]
        [/specials]
    [/attack]
[/unit_type]
