[unit_type]
    id=AE_mag_Darkblood_Chosen_of_Forest
    name= _ "Chosen of Forest"
    race=lizard
    image="units/darkblood/chosenofforest.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=62
    movement_type=lizard
    movement=6
    experience=150
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=saurian
    cost=100
    usage=scout
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SLOW}
    die_sound=hiss-die.wav
    #{DEFENSE_ANIM "units/saurians/skirmisher-defend.png" "units/saurians/skirmisher.png" hiss-hit.wav }
    [abilities]
        {ABILITY_AE_ULTRACURES}
    [/abilities]
    [healing_anim]
        start_time=-300
        [frame]
            duration=50
            halo=halo/saurian-magic-halo-1.png
        [/frame]
        [frame]
            duration=60
            halo=halo/saurian-magic-halo-2.png
        [/frame]
        [frame]
            duration=70
            halo=halo/saurian-magic-halo-3.png
        [/frame]
        [frame]
            duration=80
            halo=halo/saurian-magic-halo-4.png
        [/frame]
        [frame]
            duration=90
            halo=halo/saurian-magic-halo-5.png
        [/frame]
        [frame]
            duration=100
            halo=halo/saurian-magic-halo-6.png
        [/frame]
        [frame]
            duration=100
            halo=halo/saurian-magic-halo-7.png
        [/frame]
    [/healing_anim]
    [idle_anim]
        start_time=0
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic1.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic2.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic3.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic4.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic5.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic6.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic7.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic8.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic9.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic10.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic9.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic8.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic7.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic6.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic5.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic4.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic3.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic2.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/chosenofforest-magic1.png"
        [/frame]
    [/idle_anim]
    [attack]
        name=claws
        description={STR_CLAWS}
        range=melee
        type=blade
        damage=6
        number=2
        icon=attacks/claws-drake.png
    [/attack]
    [attack]
        name=missile
        description= _ "waterball"
        range=ranged
        type=cold
        damage=9
        number=5
        icon=attacks/iceball.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=entangle
        description={STR_ENTANGLE}
        type=impact
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=6
        number=4
        range=ranged
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image="units/darkblood/chosenofforest-melee.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/darkblood/chosenofforest-melee.png"
                sound=claws.ogg
            [/frame]
        [/if]
        [else]
            [frame]
                begin=50
                end=100
                image="units/darkblood/chosenofforest-melee.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        start_time=-1000
        [frame]
            duration=100
            image="units/darkblood/chosenofforest-magic1.png"
        [/frame]
        [frame]
            duration=100
            image="units/darkblood/chosenofforest-magic2.png"
        [/frame]
        [frame]
            duration=100
            image="units/darkblood/chosenofforest-magic3.png"
        [/frame]
        [frame]
            duration=100
            image="units/darkblood/chosenofforest-magic4.png"
        [/frame]
        [frame]
            duration=100
            image="units/darkblood/chosenofforest-magic5.png"
        [/frame]
        [frame]
            duration=100
            image="units/darkblood/chosenofforest-magic6.png"
        [/frame]
        [frame]
            duration=100
            image="units/darkblood/chosenofforest-magic7.png"
        [/frame]
        [frame]
            duration=100
            image="units/darkblood/chosenofforest-magic8.png"
        [/frame]
        [frame]
            duration=100
            image="units/darkblood/chosenofforest-magic9.png"
        [/frame]
        [frame]
            duration=100
            image="units/darkblood/chosenofforest-magic10.png"
        [/frame]
        [frame]
            duration=50
            image="units/darkblood/chosenofforest-magic9.png"
        [/frame]
        [frame]
            duration=50
            image="units/darkblood/chosenofforest-magic8.png"
        [/frame]
        [frame]
            duration=50
            image="units/darkblood/chosenofforest-magic7.png"
        [/frame]
        [frame]
            duration=50
            image="units/darkblood/chosenofforest-magic6.png"
        [/frame]
        [frame]
            duration=50
            sound=magic-faeriefire.ogg
            image="units/darkblood/chosenofforest-magic5.png"
        [/frame]
        [frame]
            duration=50
            image="units/darkblood/chosenofforest-magic4.png"
        [/frame]
        [frame]
            duration=50
            image="units/darkblood/chosenofforest-magic3.png"
        [/frame]
        [frame]
            duration=50
            image="units/darkblood/chosenofforest-magic2.png"
        [/frame]
        [frame]
            duration=50
            image="units/darkblood/chosenofforest-magic1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
