#textdomain wesnoth-Ageless_Era
[unit_type]
    id=AE_mag_Darkblood_Salamander
    name= _ "Salamander"
    race=AE_mag_Darkblood_salamander_race
    image="units/darkblood/salamander.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=38
    movement_type=smallfoot
    movement=5
    experience=40
    level=1
    alignment=chaotic
    advances_to=AE_mag_Darkblood_Green_Salamander,AE_mag_Darkblood_Black_Salamander,AE_mag_Darkblood_Blue_Salamander
    cost=16
    usage=fighter
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}
    die_sound=hiss-die.wav
    #{DEFENSE_ANIM "units/saurians/skirmisher-defend.png" "units/saurians/skirmisher.png" hiss-hit.wav }
    [abilities]
        {ABILITY_AE_SWAMPAMBUSH}
    [/abilities]
    [movement_costs]
        deep_water=3
        shallow_water=1
        swamp_water=1
        flat=1
        sand=2
        forest=2
        hills=1
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=60
        swamp_water=40
        reef=60
        flat=50
        sand=60
        forest=50
        hills=50
        mountains=40
        village=50
        castle=50
        cave=50
        frozen=60
        fungus=60
    [/defense]
    [movement_anim]
        start_time=0
        [frame]
            duration=100
            image="units/darkblood/salamander-moving1.png"
        [/frame]
        [frame]
            duration=100
            image="units/darkblood/salamander-moving2.png"
        [/frame]
    [/movement_anim]
    [attack]
        name=blade
        description= _ "wrist blade"
        range=melee
        type=blade
        damage=5
        number=3
        icon=attacks/dagger-orcish.png
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=blade
        [/filter_attack]
        start_time=-200
        [frame]
            duration=75
            image="units/darkblood/salamander-moving1.png"
        [/frame]
        [frame]
            duration=75
            image="units/darkblood/salamander-moving2.png"
        [/frame]
        [if]
            hit=hits
            [frame]
                duration=100
                image="units/darkblood/salamander-attack.png"
                sound=dagger-swish.ogg
            [/frame]
        [/if]
        [else]
            [frame]
                duration=100
                image="units/darkblood/salamander-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=75
            image="units/darkblood/salamander-moving1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
