[unit_type]
    id=AE_mag_Darkblood_Great_Wyvern
    name= _ "Great Wyvern"
    race=monster
    image="units/darkblood/greatwyvern.png"
    hitpoints=64
    movement_type=fly
    movement=7
    experience=118
    level=2
    alignment=chaotic
    advances_to=AE_mag_Darkblood_Chaos_Wyvern
    cost=36
    usage=scout
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
."
    #die_sound={SOUND_LIST:GRYPHON_DIE}
    ignore_race_traits=yes
    num_traits=3
    {TRAIT_FEARLESS_MUSTHAVE}
    {TRAIT_STRONG}
    {TRAIT_RESILIENT}

    {TRAIT_QUICK}
    [abilities]
    [/abilities]
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=90
    [/resistance]
    [attack]
        name=fangswyv
        description={STR_FANGS}
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_AE_SWALLOW}
        [/specials]
    [/attack]
    [attack]
        name=tackle
        description= _ "tackle"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=scream
        description= _ "scream"
        icon=attacks/fangs.png
        type=cold
        range=ranged
        damage=6
        number=2
    [/attack]
    [movement_anim]
        [frame]
            begin=0
            end=100
            image="units/darkblood/greatwyvern-moving.png"
        [/frame]
    [/movement_anim]
    [attack_anim]
        [filter_attack]
            name=fangswyv
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/darkblood/greatwyvern-attack1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/darkblood/greatwyvern-attack2.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/darkblood/greatwyvern-attack2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=100
            image="units/darkblood/greatwyvern.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=scream
        [/filter_attack]
        [missile_frame]
        [/missile_frame]
        [frame]
            begin=-200
            end=200
            image="units/darkblood/greatwyvern-attack1.png"
            sound=hiss-hit.wav
        [/frame]
    [/attack_anim]
[/unit_type]
