[unit_type]
    id=AE_mag_Darkblood_Wyvern_Tamer
    name= _ "Wyvern Tamer"
    race=lizard
    image="units/darkblood/wyverngreatlancer.png"
    hitpoints=56
    movement_type=fly
    movement=8
    experience=126
    level=2
    alignment=chaotic
    advances_to=AE_mag_Darkblood_Chaos_Rider
    cost=34
    usage=scout
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
."+{SPECIAL_NOTES}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_CHARGE}
    #die_sound={SOUND_LIST:GRYPHON_DIE}
    [abilities]
        #{ABILITY_I8_SEPARATETOAD2}
    [/abilities]
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=90
    [/resistance]
    [attack]
        name=fangswyv
        description={STR_FANGS}
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_AE_SWALLOW}
        [/specials]
    [/attack]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=10
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [standing_anim]
        [frame]
            begin=0
            end=150
            image="units/darkblood/wyverngreatlancer.png"
        [/frame]
        [frame]
            begin=150
            end=300
            image="units/darkblood/wyverngreatlancer-standing2.png"
        [/frame]
        [frame]
            begin=300
            end=450
            image="units/darkblood/wyverngreatlancer-standing3.png"
        [/frame]
        [frame]
            begin=450
            end=600
            image="units/darkblood/wyverngreatlancer-standing2.png"
        [/frame]
    [/standing_anim]
[/unit_type]
