[unit_type]
    id=AE_mag_Darkblood_Wyvern
    name= _ "Wyvern"
    race=monster
    image="units/darkblood/wyvern.png"
    hitpoints=40
    movement_type=fly
    movement=7
    experience=60
    level=1
    alignment=chaotic
    advances_to=AE_mag_Darkblood_Great_Wyvern
    cost=22
    usage=scout
    description= _ "This unit is from The Era of Magic. Its coding and art were done by inferno8.
 
From the marshy lands of the Great Bog hail the bloodthirsty Wyverns. These majestic beasts of prey, which are said to be the offspring of the great Dragons of old, are captured by the Dark Blood saurians, which use them as shock troopers of sorts. They are subjected to torture by fire, making them even more crazed and bloodthirsty than Nature intended, and released upon the Tribe's multiple enemies."
    #die_sound={SOUND_LIST:GRYPHON_DIE}
    num_traits=3
    ignore_race_traits=yes
    {TRAIT_FEARLESS_MUSTHAVE}
    {TRAIT_STRONG}
    {TRAIT_RESILIENT}
    {TRAIT_INTELLIGENT}
    {TRAIT_QUICK}
    [abilities]
    [/abilities]
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=90
    [/resistance]
    [attack]
        name=fangswyv
        description={STR_FANGS}
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_AE_SWALLOW}
        [/specials]
    [/attack]
    [attack]
        name=tackle
        description= _ "tackle"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=9
        number=2
    [/attack]
    [movement_anim]
        [frame]
            begin=0
            end=100
            image="units/darkblood/wyvern-moving.png"
        [/frame]
    [/movement_anim]
    [attack_anim]
        [filter_attack]
            name=fangswyv
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/darkblood/wyvern-attack1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/darkblood/wyvern-attack2.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/darkblood/wyvern-attack2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=100
            image="units/darkblood/wyvern.png"
        [/frame]
    [/attack_anim]
[/unit_type]
